<div class="topfirstwidget m-b-30">
  <form class="wizard" [formGroup]="concessionForm" (keyup)="updateConcessionModel()" (change)="updateConcessionModel()" novalidate autocomplete="off">
    <!-- <div class=""> -->
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <span class="input input--hoshi" [ngClass]="{ 'has-error': !opMonthsValid }" *ngIf="commissionType === 'months'">
            <label class="text-size"><b>Owner Paid Commission</b></label>
            <input type="text" class="input__field input__field--hoshi" id="form-op_months"
                    formControlName="op_months" (keyup)="validateOpMonths($event)" value="0">
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                   for="form-op_months"></label>
          </span>
          <span *ngIf="!opMonthsValid" class="help-inline concessiontxt">
            Invalid value for OP months! Allowed values are: 0, 0.5, 1, 1.5 and 2.<br/>
          </span>
          <span class="concessiontxt" *ngIf="showOpMonthsText() && opMonthsValid">
              {{ (+concessionForm.get('op_months').value * price) | currency:'USD':'symbol':'1.0-0' }}
          </span>
          <span style="height: 17px"
                *ngIf="commissionType !== 'amount' && !showOpMonthsText()">&nbsp;<!-- PADDING --></span>
          <span class="input input--hoshi" *ngIf="commissionType === 'amount'">
            <label class="text-size"><b>Owner Paid Commission</b></label>
            <input type="text" class="input__field input__field--hoshi" id="form-op_amount"
                   formControlName="op_amount">
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                   for="form-op_amount"></label>
          </span>
          <span style="height: 17px"
                *ngIf="commissionType === 'amount' && concessionForm.get('op_amount').value === '0'">&nbsp;<!-- PADDING --></span>
          <span class="concessiontxt" *ngIf="commissionType === 'amount' && concessionForm.get('op_amount').value !== '0'">
            {{ concessionForm.get('op_amount').value | currency:'USD':'symbol':'1.0-0' }}
          </span>
        </div>
        <div class="col-md-6 col-xs-6">
          <span class="input input--hoshi">
            <label class="text-size invisible"><b>Owner Paid Commission</b></label>
            <select class="input__field input__field--hoshi"
                    (change)="toggleCommissionType($event)"
                    [(ngModel)]="commissionType"
                    [ngModelOptions]="{standalone: true}">
              <option [value]="'amount'">Fixed amount</option>
              <option [value]="'months'">Months</option>
            </select>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                   for="form-op_amount"></label>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="input input--hoshi">
              <div class="btn-group paddingcustom">
                <button type="button" class="btn-andor btn btn-sm btn-primary"
                        [ngClass]="{ 'active': concessionForm.get('and_or').value === 'and' }"
                        (click)="setAndOr('and')">
                  And
                </button>
                <button type="button" class="btn-andor btn btn-sm btn-primary"
                        [ngClass]="{ 'active': concessionForm.get('and_or').value === 'or' }"
                        (click)="setAndOr('or')">
                  Or
                </button>
              </div>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 col-md-4">
          <span class="input input--hoshi">
            <label class="text-size"><b>Free Months</b></label>
            <select class="input__field input__field--hoshi" id="form-free_months"
                    formControlName="free_months">
              <option *ngFor="let value of getFreeMonths()">{{ value }}</option>
            </select>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                   for="form-free_months"></label>
            </span>
        </div>
        <div class="col-xs-2 col-md-4 middlelabel">
          on a lease for
        </div>
        <div class="col-xs-5 col-md-4">
        <span class="input input--hoshi">
          <label class="text-size"><b>Months Lease</b></label>
          <select class="input__field input__field--hoshi" id="form-free_on_lease"
                  formControlName="free_on_lease">
            <option *ngFor="let value of getMonthsLease()">{{ value }}</option>
          </select>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                 for="form-free_on_lease"></label>
          </span>
        </div>
      </div>
    <!-- </div> -->
  </form>
  <div class="concessiontxt" *ngIf="opMonthsValid">
    {{ concessionText }} <br/>
    <span *ngIf="netEffectivePrice && netEffectivePrice > 0">{{ netEffectivePrice | currency:'USD':'symbol':'1.0-0' }} Net effective</span>
  </div>
</div>
