.concessiontxt {
  color: #c60c06;
}

.invisible {
  opacity: 0;
}

.middlelabel {
  padding: 1.5em 0;
  text-align: center;
}

.size-inline {
  width: initial;
}

button.btn-primary.active {
  background-color: #41bcde !important;
}

button.btn-andor {
  margin-bottom: 0;
}