<div class="col-md-12">
  <div class="header searchresultheading">
    <h2 *ngIf="model.ad_type === 'rental'">Trends <strong>Rentals</strong></h2>
    <h2 *ngIf="model.ad_type === 'sale'">Trends <strong>Sales</strong></h2>
  </div>

  <div class="panel searchformpage firststepbg popupwizard firststepp" *ngIf="formOptions && statsOptions">
    <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && search()" (click)="changeForm()"
          (keyup.enter)="enterEvent($event)" (keyup)="changeForm()">
      <div class="topfirstwidget">
        <div class="searchelements">
          <div class="col-md-12 m-b-10 m-t-10">
            <div class="btnactive">

              <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <label class="fullwidth text-size">Beds</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let bedroom of formOptions.bedrooms"
                          [ngClass]="{active: model.bedrooms === bedroom}"
                          (click)="model.bedrooms = model.bedrooms === bedroom ? null: bedroom"><a
                    href="javascript:void(0)">{{ bedroom }}</a></button>
                </div>
              </div>

              <div class="form-group col-lg-3 col-sm-6">
                <label class="fullwidth text-size">Baths</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let bathroom of formOptions.bathrooms"
                          [ngClass]="{active: model.bathrooms === bathroom.toString()}"
                          (click)="model.bathrooms = model.bathrooms === bathroom.toString() ? null : bathroom.toString()"
                  ><a href="javascript:void(0)">{{ bathroom }}</a></button>
                </div>
              </div>


              <div class="form-group col-lg-3 col-sm-6">
                <label class="fullwidth text-size">Pets</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let pet of formOptions.pets"
                          [ngClass]="{active: model.pets === pet}"
                          (click)="model.pets = model.pets === pet ? null : pet"
                  ><a href="javascript:void(0)">{{ pet }}</a></button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="searchelements">
          <div class="col-md-12 m-b-10">
            <div class="btnactive">

              <div class="form-group col-md-4">
                <label class="neighborhoodblock text-size">Price</label>
                <div class="cityleft">
                  <div class="input input--hoshi">
                    <input class="input__field input__field--hoshi" name="min_price" id="min_price"
                           [(ngModel)]="model.min_price" currencyMask [options]="priceMaskConfig"
                    />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                           for="min_price"></label>
                  </div>
                </div>

                <span class="cityto m-t-10">to</span>

                <div class="cityright">
                  <div class="input input--hoshi">
                    <input class="input__field input__field--hoshi" name="max_price" id="max_price"
                           [(ngModel)]="model.max_price" currencyMask [options]="priceMaskConfig"/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                           for="max_price"></label>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="fullwidth text-size">Building Type</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary"
                          [ngClass]="{ active: model.building_type.indexOf('') > -1 }"
                          (click)="setBuildingType('')"
                  ><a href="javascript:void(0)">All</a></button>
                  <button type="button" class="btn btn-primary" *ngFor="let building_type of formOptions.building_type"
                          [ngClass]="{ active: model.building_type.indexOf(building_type) > -1 }"
                          (click)="setBuildingType(building_type)"
                  ><a href="javascript:void(0)">{{ building_type }}</a></button>
                </div>
              </div>


              <div class="form-group col-md-4">
                <label class="fullwidth text-size">Furnished</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let furnished of formOptions.furnished"
                          [ngClass]="{active: model.furnished === furnished}"
                          (click)="model.furnished = model.furnished === furnished ? null : furnished"
                  ><a href="javascript:void(0)">{{ furnished }}</a></button>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12 m-t-10">
            <div class="btnactive">
              <tabset>
                <tab *ngFor="let borough of formOptions.boroughs" [heading]="borough.name">
                  <div *ngIf="borough && borough.neighborhoods.length" class="col-sm-12">
                    <span class="neighborhood-item" *ngFor="let neighborhood of borough.neighborhoods">
                      <label class="pos-rel dis-inline text-nowrap">
                        <input name="neighborhoods" appIcheck type="checkbox"
                               [checked]="neighborhood.selected"
                               (checked)="neighborhood.selected = true;changeForm()"
                               (unchecked)="neighborhood.selected = false;changeForm()"
                               [value]="neighborhood.abbreviation">
                        <span>{{ neighborhood.name }}</span>
                      </label>
                    </span>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>

          <div class="col-md-12 m-t-10">
            <div class="btnactive">

              <div class="form-group col-md-12 col-lg-6 srch">
                <label class="fullwidth text-size">Amenities</label>

                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let amenity of formOptions.amenities"
                          [ngClass]="{active: model.amenities.indexOf(amenity) > -1}"
                          (click)="setAmenitities(amenity)"
                  ><a href="javascript:void(0)">{{ amenity }}</a></button>
                </div>

              </div>

              <div class="form-group col-lg-3 col-sm-6">
                <label class="fullwidth text-size">Fee Structure</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let fee of formOptions.fee_structure"
                          [ngClass]="{active: model.fee_structure === fee}"
                          (click)="model.fee_structure = model.fee_structure === fee ? null : fee"
                  ><a href="javascript:void(0)">{{ fee }}</a></button>
                </div>
              </div>

              <div class="form-group col-lg-3 col-sm-6">
                <label class="fullwidth text-size">Exposures</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let exposure of formOptions.exposures"
                          [ngClass]="{ active: model.exposures.indexOf(exposure) > -1 }"
                          (click)="setExposure(exposure)"
                  ><a href="javascript:void(0)">{{ exposure }}</a></button>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12 m-t-10">
            <div class="btnactive">

              <div class="form-group col-md-12 col-lg-6 srch">
                <label class="fullwidth text-size">Other</label>

                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let other of formOptions.other"
                          [ngClass]="{active: model.other.indexOf(other) > -1}"
                          (click)="setOther(other)"
                  ><a href="javascript:void(0)">{{ other }}</a></button>
                </div>

              </div>

              <div class="form-group col-md-12 col-lg-6 srch">
                <label class="fullwidth text-size">Ownership</label>

                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary"
                          *ngFor="let ownership of formOptions.ownership[model.ad_type]"
                          [ngClass]="{active: model.ownership.indexOf(ownership) > -1}"
                          (click)="setOwnership(ownership)"
                  ><a href="javascript:void(0)">{{ ownership }}</a></button>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-12 m-b-10">
            <div class="btnactive">

              <div class="form-group col-md-4">
                <label class="text-size">Search</label>
                <div class="input input--hoshi">
                  <input class="form-control form-white" placeholder="Search..." type="text"
                         name="search_text" (change)="changeForm()" [(ngModel)]="model.search">
                </div>
              </div>

              <div class="form-group col-lg-4 col-md-4 col-sm-12">
                <label class="fullwidth text-size">Company</label>
                <div>
                  <ng-select
                    [(ngModel)]="model.company_name"
                    [dropdownPosition]="'bottom'"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [selectOnTab]="true"
                    [markFirst]="false"
                    placeholder="Company name"
                    name="company_name"
                    [items]="search_companies"
                    [multiple]="true"
                    [loading]="companies_to_loading"
                    [typeahead]="companiesToTypeahead"
                    bindLabel="name"
                    bindValue="value"
                    [addTag]="false"
                  >
                  </ng-select>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="text-size">Ratings</label>
                <div class="col-md-12">
                  <rating name="rating" [(ngModel)]="model.ratings" [max]="5"></rating>
                  <span tooltip="Clear rating" class="text-danger" *ngIf="model.ratings"><i
                    (click)="model.ratings = ''" class="fa fa-minus-circle"></i></span>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="searchelements">
          <div class="col-md-12 m-b-10">
            <div class="form-group col-md-12 text-left">
              <div class="dis-inline-b">
                <div class="input input--hoshi m-r-30">
                  <label>
                    <input name="annotation" type="checkbox" appIcheck value="1" [ngModel]="model.annotation_mode"
                           [checked]="model.annotation_mode"
                           (checked)="setAnotationMode();changeForm()"
                           (unchecked)="model.annotation_mode = 0;changeForm()">
                    Annotation
                  </label>
                </div>
              </div>
              <div class="dis-inline-b">
                <div class="input input--hoshi m-r-30">
                  <label>
                    <input name="advertising_mode" type="checkbox" appIcheck value="1"
                           [ngModel]="model.advertising_mode"
                           [checked]="model.advertising_mode"
                           (checked)="setAdvertisingMode();changeForm()"
                           (unchecked)="model.advertising_mode = 0;changeForm()">
                    Eligible for advertising
                  </label>
                </div>
              </div>
              <div class="dis-inline-b">
                <div class="input input--hoshi m-r-30">
                  <label>
                    <input name="has_concession" type="checkbox" appIcheck value="1" [ngModel]="model.has_concession"
                           [checked]="model.has_concession"
                           (checked)="model.has_concession = 1;changeForm()"
                           (unchecked)="model.has_concession = null;changeForm()">
                    With Concession
                  </label>
                </div>
              </div>
              <div class="dis-inline-b">
                <div class="input input--hoshi m-r-20">
                  <label>
                    <input name="has_photos" type="checkbox" appIcheck value="1" [ngModel]="model.has_photos"
                           [checked]="model.has_photos"
                           (checked)="model.has_photos = 1;changeForm()"
                           (unchecked)="model.has_photos = null;changeForm()">
                    Has photos
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 text-right" style="padding-right: 380px" *ngIf="model.annotation_mode">
              <div class="dis-inline-b" *ngFor="let pbcv_status of pbcv_statuses">
                <div class="input input--hoshi m-r-30 m-b-20">
                  <label>
                    <input name="pbcv_status" appIcheck type="radio"
                           [checked]="pbcv_status.selected"
                           (checked)="pbcv_status.selected = true;changeForm()"
                           (unchecked)="pbcv_status.selected = false;changeForm()"
                           [value]="pbcv_status.value">
                    <span>{{ pbcv_status.label }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="searchelements">
          <div class="col-md-12 m-b-10 m-t-10">
            <div class="btnactive">
              <div class="form-group col-sm-6">
                <label class="fullwidth text-size">Period</label>
                <div class="btn-group buttons-list">
                  <button type="button" class="btn btn-primary" *ngFor="let period of statsOptions.period_options"
                          [ngClass]="{active: model.period_type === period.period_type}"
                          (click)="model.period_type = period.period_type"
                  ><a href="javascript:void(0)">{{ period.name }}</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="searchelements">
          <hr />
            <div class="col-md-6">
              <div class="col-xs-12">
                <label class="fullwidth text-size">Distributions</label>
              </div>
              <div class="col-sm-6" *ngFor="let distribution of statsOptions.trends.distributions">
                <span class="display-option-item">
                  <label class="pos-rel dis-inline">
                    <input name="distributions" appIcheck type="checkbox"
                          [checked]="distribution.selected"
                          (checked)="distribution.selected = true;changeForm()"
                          (unchecked)="distribution.selected = false;changeForm()"
                          [value]="distribution.id">
                    <span>{{ distribution.label }}</span>
                  </label>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-xs-12">
                <label class="fullwidth text-size">Segments</label>
              </div>
              <div class="col-sm-6" *ngFor="let segment of statsOptions.trends.segments">
                <span class="display-option-item">
                  <label class="pos-rel dis-inline">
                    <input name="segments" appIcheck type="checkbox"
                          [checked]="segment.selected"
                          (checked)="segment.selected = true;changeForm()"
                          (unchecked)="segment.selected = false;changeForm()"
                          [value]="segment.id">
                    <span>{{ segment.label }}</span>
                  </label>
                </span>
              </div>
              <div class="col-xs-12" *ngIf="show_companies_filter">
                <label class="fullwidth text-size">Companies</label>
                <div>
                  <ng-select
                    [(ngModel)]="model.selectedCompanies"
                    [dropdownPosition]="'bottom'"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [selectOnTab]="true"
                    [markFirst]="false"
                    placeholder="Select companies"
                    name="selectedCompanies"
                    [items]="selected_search_companies"
                    [multiple]="true"
                    [loading]="selected_companies_to_loading"
                    [typeahead]="selectedCompaniesToTypeahead"
                    bindLabel="name"
                    bindValue="value"
                    [addTag]="false"
                  >
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-12" *ngIf="show_neighborhoods_filter">
                <label class="fullwidth text-size">Neighborhoods</label>
                <div>
                  <ng-select
                    [(ngModel)]="model.selectedNeighborhoods"
                    [dropdownPosition]="'bottom'"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [selectOnTab]="true"
                    [markFirst]="false"
                    placeholder="Select neighborhoods"
                    name="selectedNeighborhoods"
                    [items]="selected_neighborhoods"
                    [multiple]="true"
                    [loading]="selected_neighborhoods_to_loading"
                    [typeahead]="selectedNeighborhoodsToTypeahead"
                    bindLabel="name"
                    bindValue="value"
                    [addTag]="false"
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="searchelements submit-section">
            <div class="col-md-12 m-b-10">
              <div class="form-group col-md-12 text-right">
                <div class="dis-inline-b">
                  <a class="btn btn-large btn-primary m-r-30" [attr.href]="search_link"
                    (click)="search($event)">Apply</a>
                  <button class="btn btn-large btn-default" type="button" (click)="resetFilter()">Reset</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
  <div class="panel searchformpage firststepbg popupwizard firststepp" *ngIf="chartGroups.length || tables.length" id="trendsData">
    <div class="chart-group" *ngFor="let chartGroup of chartGroups">
      <div class="col-xs-12">
        <h2 class="text-center">{{chartGroup.title}}</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12 col-md-6 m-b-20 chart-col" *ngFor="let chart of chartGroup.charts">
            <label>
              {{chart.name}}
            </label>
            <div>
              <ngx-charts-line-chart
                [yAxisTickFormatting]="chart.currencyFormatting ? formatPriceValue : undefined"
                [scheme]="colorScheme"
                [results]="chart.data"
                [xAxis]="true"
                [yAxis]="true"
                [autoScale]="true"
                [legend]="chart.legend"
              >
              </ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tables-container" *ngIf="tables.length">
      <div class="col-xs-12">
        <h2 class="text-center">Grid views</h2>
      </div>
      <div class="col-md-6 m-b-20" *ngFor="let table of tables">
        <label>
          {{table.name}}
        </label>
        <div class="dis-inline-b fullwidth">
          <div class="table-responsive">
            <table class="table table-hover table-striped dataTable">
              <thead>
                <tr>
                  <th></th>
                  <th *ngFor="let column of table.columns">{{column}}</th>
                </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr *ngFor="let row of table.rows">
                  <td *ngFor="let item of row">
                    <a href={{generateLink(item.list)}} *ngIf="item.list">{{ item.label }}</a>
                    <span *ngIf="!item.list">{{ item.label }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<app-loader [loading]="searching || !formOptions"></app-loader>
