<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div class="bg-light-purple">
  <section>
    <app-sidenav></app-sidenav>

    <div class="main-content">
      <app-header></app-header>

      <div class="page-content page-app mailbox">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </div>
  </section>
</div>
<app-quickview></app-quickview>
