<div class="col-md-12">

  <div class="header searchresultheading">
    <h2>Building <strong>Details</strong> &mdash; {{ building? building.address : ''}}</h2>
  </div>

    <div class="panel lrexchange p-20">
      <div class="panel-content nav-scroll" *ngIf="building">

        <tabset class="nav nav-tabs">
          <tab heading="Building details">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 p-0">
                  <div>
                    <div class="col-md-4 p-0"><strong>Building type</strong></div>
                    <div class="col-md-8">{{ building.building_type }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Ownership</strong></div>
                    <div class="col-md-8">{{ building.ownership }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Pets</strong></div>
                    <div class="col-md-8">{{ building.pet_policy }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Built</strong></div>
                    <div class="col-md-8">{{ building.year_built }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Floors</strong></div>
                    <div class="col-md-8">{{ building.floors }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Units total</strong></div>
                    <div class="col-md-8">{{ building.units_total }}&nbsp;</div>
                  </div>
                  <div *ngIf="building.management_company">
                    <div class="col-md-4 p-0"><strong>Management company</strong></div>
                    <div class="col-md-8">
                      <span *ngFor="let item of building.management_company | keysPipe ">
                        <b>{{ item.key | capitaliseFirst }}</b>:&nbsp;{{ item.value }}&nbsp;<br>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 p-0">
                  <div>
                    <div class="col-md-4 p-0"><strong>Address</strong></div>
                    <div class="col-md-8">{{ building.address }}<span *ngIf="building.building_name">, aka {{ building.building_name | capitaliseFirst:true:true }}</span></div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Neighborhood</strong></div>
                    <div class="col-md-8">{{ building.neighborhood }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Cross streets</strong></div>
                    <div class="col-md-8">{{ building.streets }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>City</strong></div>
                    <div class="col-md-8">{{ building.address2 }}&nbsp;</div>
                  </div>
                  <div>
                    <div class="col-md-4 p-0"><strong>Source</strong></div>
                    <div class="col-md-8">{{ building.source_id }} at {{ building.time_created | appDateFormat:'full' }}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 p-l-0 p-t-10">
                  <strong>Amenities:</strong> {{ building.amenities.join(', ') }}
                </div>
                <div class="col-md-12 p-l-0 p-t-10">
                  <strong>Description:</strong> {{ building.description }}
                </div>
              </div>
            </div>
          </tab>
          <tab [heading]="'Rentals (' + rentListingsCount() + ')'">
            <div class="panel-content">

              <div class="pull-right" *ngIf="building.rentals.length">
                <div class="btn-group">
                  <label class="btn btn-warning" [tooltip]="'Display ' + listingsCount('rentals', 0) + ' inactive listings'" *ngIf="rental_active_listings"
                         (click)="rental_active_listings = 0">Inactive ({{ listingsCount('rentals', 0) }})</label>
                  <label class="btn btn-success" [tooltip]="'Display ' + listingsCount('rentals', 1) + ' active listings'" *ngIf="!rental_active_listings"
                         (click)="rental_active_listings = 1">Active ({{ listingsCount('rentals', 1) }})</label>
                </div>
              </div>

              <div class="table-responsive">
              <div *ngIf="!building.rentals.length" class="text-center">No Listings</div>
              <table *ngIf="building.rentals.length" class="table table-hover dataTable">
                <thead>
                <tr>
                  <th>Apt</th>
                  <th>Beds</th>
                  <th>Baths</th>
                  <th>Price</th>
                  <th>Fee Structure, Company</th>
                  <th>Size</th>
                  <th>Dom</th>
                  <th>Photos</th>
                  <th></th>
                  <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let l of building.rentals">
                  <ng-container *ngIf="l.active === rental_active_listings">
                    <td style="cursor: pointer;" [routerLink]="['/listing', l.advertisement_id, 'details']"><a>{{ l.unit }}</a></td>
                    <td>{{ l.getBedroomsText(false, true) }}</td>
                    <td>{{ l.bathrooms }}</td>
                    <td><app-listing-price [item]="l"></app-listing-price></td>
                    <td>{{ l.access_type_info }}</td>
                    <td>{{ l.size | number:'.0' }}</td>
                    <td>{{ l.dom }}</td>
                    <td>
                          <span *ngIf="l.photos_count" [appListingGallery]="l">{{ l.photos_count }}
                            <span *ngIf="l.photos_count === 1"> photo</span>
                            <span *ngIf="l.photos_count > 1"> photos</span>
                          </span>
                      <span *ngIf="!l.photos_count">No photo</span>
                    </td>
                    <td>
                      <span *ngIf="l.has_360s" class="badge bold label-360">360</span>
                      <span *ngIf="l.has_floorplan" class="badge bold label-floorplan" [appListingGallery]="l" [gallery-index-by-url]="l.photo_floorplan.path">Floorplan</span>
                      <span class="badge bold " *ngIf="l.ribbon" [ngStyle]="{ 'background-color': l.ribbon.color }">
                        {{ l.ribbon.text | capitaliseFirst }}
                      </span>
                    </td>
                    <td class="text-right actions">
                      <a class="editss btn btn-sm btn-default" [routerLink]="'/listing/' + l.advertisement_id + '/edit'" tooltip="Edit listing"><i
                        class="icon-note"></i></a>
                      <div class="btn-group delete-listing m-l-5" dropdown placement="top"
                           (onShown)="loadingDeleteReason('rental')">
                        <button dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                aria-controls="dropdown-dropup" tooltip="Remove from market">
                          <i *ngIf="!l.deleting" class="icons-office-52"></i>
                          <span *ngIf="l.deleting"
                                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                          <li *ngIf="!delete_reasons.length">Loading...</li>
                          <li *ngFor="let reason of delete_reasons" role="menuitem">
                            <a (click)="deleteListing(l, reason)" class="dropdown-item">{{ reason.label }}</a></li>
                        </ul>
                      </div>
                    </td>
                  </ng-container>
                </tr>
                </tbody>
              </table>
              </div>
            </div>
          </tab>
          <tab [heading]="'Sales (' + saleListingsCount() + ')'">
            <div class="panel-content">
              <div class="pull-right" *ngIf="building.sales.length">
                <div class="btn-group">
                  <label class="btn btn-warning" [tooltip]="'Display ' + listingsCount('sales', 0) + 'inactive listings'" *ngIf="sale_active_listings"
                         (click)="sale_active_listings = 0">Inactive ({{ listingsCount('sales', 0) }})</label>
                  <label class="btn btn-success" [tooltip]="'Display ' + listingsCount('sales', 1) + 'active listings'" *ngIf="!sale_active_listings"
                         (click)="sale_active_listings = 1">Active ({{ listingsCount('sales', 1) }})</label>
                </div>
              </div>
              <div class="table-responsive">
                <div *ngIf="!building.sales.length" class="text-center">No Listings</div>
                <table *ngIf="building.sales.length" class="table table-hover dataTable">
                  <thead>
                  <tr>
                    <th>Apt</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Price</th>
                    <th>Monthly Cost</th>
                    <th>Fee Structure, Company</th>
                    <th>Size</th>
                    <th>Dom</th>
                    <th>Photos</th>
                    <th></th>
                    <th class="text-right">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let l of building.sales">
                    <ng-container *ngIf="l.active === sale_active_listings">
                      <td><a [routerLink]="['/listing', l.advertisement_id, 'details']">{{ l.unit }}</a></td>
                      <td>{{ l.getBedroomsText(false, true) }}</td>
                      <td>{{ l.bathrooms }}</td>
                      <td><app-listing-price [item]="l"></app-listing-price></td>
                      <td *ngIf="building.ownership === 'Condo'">
                        {{ l.cc + l.monthly | currency:'USD':'symbol-narrow':'1.0-2' }}
                      </td>
                      <td *ngIf="building.ownership !== 'Condo'">
                        {{ l.cc | currency:'USD':'symbol-narrow':'1.0-2' }}
                      </td>
                      <td>{{ l.access_type_info }}</td>
                      <td>{{ l.size | number:'.0' }}</td>
                      <td>{{ l.dom }}</td>
                      <td>
                        <span *ngIf="l.photos_count" [appListingGallery]="l">{{ l.photos_count }}
                          <span *ngIf="l.photos_count === 1"> photo</span>
                          <span *ngIf="l.photos_count > 1"> photos</span>
                        </span>
                        <span *ngIf="!l.photos_count">No photo</span>
                      </td>
                      <td>
                        <span *ngIf="l.has_360s" class="badge bold label-360">360</span>
                        <span *ngIf="l.has_floorplan" class="badge bold label-floorplan" [appListingGallery]="l" [gallery-index-by-url]="l.photo_floorplan.path">Floorplan</span>
                        <span class="badge bold" *ngIf="l.ribbon" [ngStyle]="{ 'background-color' : l.ribbon.color }">{{ l.ribbon.text | capitaliseFirst }}</span>
                      </td>
                      <td class="text-right actions">
                        <a class="editss btn btn-sm btn-default" [routerLink]="'/listing/' + l.advertisement_id + '/edit'" tooltip="Edit listing"><i
                          class="icon-note"></i></a>
                        <div class="btn-group delete-listing m-l-5" dropdown placement="top"
                             (onShown)="loadingDeleteReason('sale')">
                          <button dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                  aria-controls="dropdown-dropup" tooltip="Remove from market">
                            <i *ngIf="!l.deleting" class="icons-office-52"></i>
                            <span *ngIf="l.deleting"
                                  class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li *ngIf="!delete_reasons.length">Loading...</li>
                            <li *ngFor="let reason of delete_reasons" role="menuitem">
                              <a (click)="deleteListing(l, reason)" class="dropdown-item">{{ reason.label }}</a></li>
                          </ul>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
</div>
<app-loader [loading]="loading"></app-loader>
