<div class="col-md-12">
  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2>My <strong>Clients</strong></h2>

      </div>
    </div>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" id="DataTables_Table_0"
                 role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr role="row">
              <!-- Personal -->
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Status</th>
              <th>Search info</th>
              <th>Created</th>
              <!-- Search data -->
              <th>Listings (new 3 days)</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of getActiveClients()" class="cursor-pointer"
                [routerLink]="'/client/' + client.user_id + '/details'"
                [ngStyle]="{'background-color': client.deleted === 1 ? '#dedede' : '#fff'}">
              <td>{{ client.name }}</td>
              <td style="max-width: 8%;">{{ client.phone }}</td>
              <td style="max-width: 8%;"><a class="cursor-pointer" appMailPopup [email]="client.email">{{ client.email }}</a></td>
              <td style="max-width: 2%;">
                <strong class="badge bold" *ngIf="client.status" [ngStyle]="{ 'background-color' : client.status_color }">
                  {{ client.status | capitaliseFirst:true }}
                </strong>
                <strong class="badge bold" *ngIf="!client.status" style="background-color: darkgray;">
                  N/A
                </strong>
              </td>
              <td style="max-width: 10%;" *ngIf="client.search_info" (click)="performSearch(client)" [title]="client.search_info">
                {{ client.search_info | ellipsis:'words':5 }}
              </td>
              <td *ngIf="!client.search_info">
                <a class="btn btn-primary btn-xs" (click)="createSearch(client, $event)">Create search</a>
              </td>
              <td *ngIf="client.time_created" class="">{{ client.time_created * 1000 | date:'MM/dd/yy' }}</td>
              <td *ngIf="!client.time_created" class="">Unknown</td>
              <td class="number">{{ client.search_counts.total | number:'2.' }} ({{ client.search_counts['3'] }})</td>
              <td class="clients-actionbtns">
                <a [href]="" class="regular-action editss btn btn-xs btn-primary" *ngIf="client.search_id" (click)="performSearch(client)">
                  <i class="icon-eye" style="padding-right: 0;" tooltip="Perform search"></i>
                </a>
                <a [href]="" class="regular-action editss btn btn-xs btn-primary" (click)="createNewDeal(client)">
                  <i class="fas fa-signature" style="padding-right: 0;" tooltip="Create deal"></i>
                </a>
                <a [href]="" class="suspend-action editss btn btn-xs btn-primary" *ngIf="client.search_id && !client.search_suspended" (click)="suspendSearch(client, $event)">
                  <i class="fa fa-check-square"></i>&nbsp;Notifications On
                </a>
                <a [href]="" class="suspend-action editss btn btn-xs btn-default" *ngIf="client.search_id && client.search_suspended" (click)="unsuspendSearch(client, $event)">
                  <i class="fa fa-square-o"></i>&nbsp;Notifications Off
                </a>
                <a [href]="" class="regular-action editss btn btn-xs btn-danger" tooltip="Delete client" *ngIf="!client.deleted" (click)="deleteClient(client, $event)">
                  <i class="icons-office-52" style="padding-right: 0;"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="clients.length < total"
               class="text-center">
            <button class="btn btn-primary" (click)="loadMore()">Load more</button>
          </div>
          <div class="row lengthinfo">
            <div class="col-md-6">
              <div class="dataTables_info" role="status" aria-live="polite">
                Showing entries 1 through {{ clients.length }} out of {{ total }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
