th.separate, td.separate {
	border-right: 2px solid #ddd;
}

td.number {
  text-align: right;
  padding-right: 5em;
}

.clients-actionbtns {
  text-align: right;
}

.clients-actionbtns > .suspend-action {
  margin: 0 2px;
}

.lengthinfo {
  width: 100%;
}
