<div>
  <div class="rightsearchresulttab cardcolor">
    <div class="info">
      <div class="p-8 description">
        <div class="title h3 mb-0 t-ellipsis">
          <a container="body" [tooltip]="item.address + ', ' + item.unit"
             [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.address }}, {{ item.unit }}</a>
        </div>
        <div class="subtitle p secondary-text">{{ item.ownership }}</div>
        <div class="subtitle p secondary-text">
          <app-listing-price [item]="item"></app-listing-price>
          <span class="pull-right">{{ item.getBedroomsText(true) }} / {{ item.bathrooms }} ba</span></div>
        <div class="subtitle p secondary-text">{{ item.building_type }}</div>
        <div class="subtitle p secondary-text t-ellipsis">{{ item.access_type_info }}</div>
      </div>

      <div *ngIf="!readonly">
        <div class="p-8">
          <i class="fa fa-trash trashmargin cursor-pointer" *ngIf="!item.sent" (click)="removeItem()"
             tooltip="Remove from saved listings" placement="right" container="body"></i>
          <i class="glyphicon glyphicon-comment trashmargin not-implemented" tooltip="Not implemented"
             container="body"></i>
          <i class="fa fa-user trashmargin not-implemented" tooltip="Not implemented" container="body"></i>
          <i class="fa fa-calendar-o not-implemented" tooltip="Not implemented" container="body"></i>
        </div>
      </div>
    </div>

    <div class="media rightcolumnimage pos-rel">
      <span *ngIf="!item.sent && !readonly">
      <input type="checkbox" class="pos-abs" appIcheck (checked)="selectItem()" [checked]="is_checked"
             [(ngModel)]="item.checked"
             (unchecked)="unselectItem()">
      </span>
      <img class="image" [ngClass]="{'cursor-pointer': !readonly}" [src]="item.getFirstPhotoUrl()" (click)="toogleItem()" appListingImage="">
      <div class="label-list">
        <span *ngIf="item.ribbon" class="ribbon cursor-pointer" (click)="toogleItem()"
              [ngStyle]="{background: item.ribbon.color}">{{ item.ribbon.text | capitaliseFirst }}</span>
        <span *ngIf="item.has_360" class="label-360">360</span>
        <span *ngIf="item.advertised" class="label-advertised">Advertised</span>
      </div>
    </div>
  </div>
</div>
