.media {
  min-height: 120px;

  img{
    width: 100%;
    background-size: cover !important;
  }

  /deep/ .icheckbox_minimal-blue {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
  }
}

.info{
  display: flex;
  flex-direction: column;
  min-height: 120px;

  .description{
    flex-grow: 1;
  }
}
