<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Edit <strong>Deal</strong></h2>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10" *ngIf="deal">
      <form class="wizard" data-style="sea" role="form" method="post" [formGroup]="dealForm" (submit)="save(is_supervisor)" novalidate>
        <div class="dis-inline-b fullwidth">
          <div class="panel panel-primary">
            <div class="panel-heading">Basic info</div>
            <div class="panel-body" formGroupName="basic_info" *ngIf="deal">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">Deal status</label>
                    <select class="form-control"
                            [(ngModel)]="deal.status"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="!is_supervisor"
                            [attr.readonly]="is_supervisor ? null : true"
                            (change)="onStatusChange($event)">
                        <option value="draft">Draft</option>
                        <option value="pending_review">Pending review</option>
                        <option value="deal_submitted">Deal submitted</option>
                        <option value="pending_op">Pending OP</option>
                        <option value="pending_commission_check">Pending commission check</option>
                        <option value="payment_sent">Payment sent</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Agent name</label>
                    <input class="form-control" type="text" formControlName="agent_name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Date</label>
                    <input class="form-control" type="date" formControlName="date">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Deal no.</label>
                    <input class="form-control" type="number" formControlName="deal_no">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Address</label>
                    <ng-select
                      [formControlName]="'apt_address'"
                      [dropdownPosition]="'bottom'"
                      [closeOnSelect]="true"
                      [hideSelected]="true"
                      [selectOnTab]="true"
                      [markFirst]="true"
                      placeholder="Address"
                      [items]="autofills.basic_info.apt_address.values"
                      [multiple]="false"
                      [loading]="autofills.basic_info.apt_address.loading"
                      [typeahead]="autofills.basic_info.apt_address.typeahead"
                      bindLabel="name"
                      bindValue="value"
                      [addTag]="autofills.basic_info.apt_address.create"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Apt.</label>
                    <input type="text" formControlName="apt_unit" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Price</label>
                    <input class="form-control" type="text" placeholder="$ " formControlName="apt_price" currencyMask [options]="priceMaskConfig">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Management</label>
                    <ng-select
                      [formControlName]="'management'"
                      [dropdownPosition]="'bottom'"
                      [closeOnSelect]="true"
                      [hideSelected]="true"
                      [selectOnTab]="true"
                      [markFirst]="true"
                      placeholder="Company name"
                      name="company_name"
                      [items]="autofills.basic_info.management.values"
                      [multiple]="false"
                      [loading]="autofills.basic_info.management.loading"
                      [typeahead]="autofills.basic_info.management.typeahead"
                      bindLabel="name"
                      bindValue="value"
                      [addTag]="autofills.basic_info.management.create"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Lease start</label>
                    <input class="form-control" type="date" formControlName="lease_start">
                  </div>
                </div>
                <div class="col-md-4">
                  &nbsp;
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Client name</label>
                    <ng-select
                      [formControlName]="'client_name'"
                      [dropdownPosition]="'bottom'"
                      [closeOnSelect]="true"
                      [hideSelected]="true"
                      [selectOnTab]="true"
                      [markFirst]="true"
                      placeholder="Client name"
                      [items]="autofills.basic_info.client_name.values"
                      [multiple]="false"
                      [loading]="autofills.basic_info.client_name.loading"
                      [typeahead]="autofills.basic_info.client_name.typeahead"
                      (change)="autofills.basic_info.client_name.on_select($event)"
                      bindLabel="name"
                      bindValue="value"
                      [addTag]="autofills.basic_info.client_name.create"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Phone</label>
                    <input class="form-control" type="text" formControlName="client_phone">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Email</label>
                    <input class="form-control" type="email" formControlName="client_email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">Roommates</label>
                    <input class="form-control" type="text" formControlName="roommates">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Paperwork</div>
            <div class="panel-body" formGroupName="paperwork" *ngIf="deal">
              <div class="row">
                <div class="col-md-3">
                  <div class="col-md-6">Lease page 1:</div>
                  <div class="col-md-6">
                    <label class="upload-button inline-i">
                      <input type="file" class="dis-none" #lease (change)="onUploadOutput(lease.files, 'lease_pages')">
                      <a target="_blank" *ngIf="deal.deal_sheet.paperwork.lease_pages.value"
                         [href]="deal.deal_sheet.paperwork.lease_pages.url">
                        {{ deal.deal_sheet.paperwork.lease_pages.filename }}
                      </a>&nbsp;
                      <i class="fa fa-pencil cursor-pointer c-primary" [tooltip]="deal.deal_sheet.paperwork.lease_pages.value ? 'Update lease page 1' : 'Upload lease page 1'"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-6">Lease page 2:</div>
                  <div class="col-md-6">
                    <label class="upload-button inline-i">
                      <input type="file" class="dis-none" #lease2 (change)="onUploadOutput(lease2.files, 'lease_pages_2')">
                      <a target="_blank" *ngIf="deal.deal_sheet.paperwork.lease_pages_2.value"
                         [href]="deal.deal_sheet.paperwork.lease_pages_2.url">
                        {{ deal.deal_sheet.paperwork.lease_pages_2.filename }}
                      </a>&nbsp;
                      <i class="fa fa-pencil cursor-pointer c-primary" [tooltip]="deal.deal_sheet.paperwork.lease_pages_2.value ? 'Update lease page 2' : 'Upload lease page 2'"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-6">DOS:</div>
                  <div class="col-md-6">
                    <label class="upload-button inline-i">
                      <input type="file" class="dis-none" #dos (change)="onUploadOutput(dos.files, 'dos')">
                      <a target="_blank" *ngIf="deal.deal_sheet.paperwork.dos.value"
                         [href]="deal.deal_sheet.paperwork.dos.url">
                        {{ deal.deal_sheet.paperwork.dos.filename }}
                      </a>&nbsp;
                      <i class="fa fa-pencil cursor-pointer c-primary" [tooltip]="deal.deal_sheet.paperwork.dos.value ? 'Update DOS' : 'Upload DOS'"></i>
                    </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-6">Commission check:</div>
                  <div class="col-md-6">
                    <label class="upload-button inline-i">
                      <input type="file" class="dis-none" #commission (change)="onUploadOutput(commission.files, 'commission_check')">
                      <a target="_blank" *ngIf="deal.deal_sheet.paperwork.commission_check.value"
                         [href]="deal.deal_sheet.paperwork.commission_check.url">
                        {{ deal.deal_sheet.paperwork.commission_check.filename }}
                      </a>&nbsp;
                      <i class="fa fa-pencil cursor-pointer c-primary" [tooltip]="deal.deal_sheet.paperwork.commission_check.value ? 'Update commission check' : 'Upload commission check'"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Commissions</div>
            <div class="panel-body" formArrayName="commissions" *ngIf="deal">
              <div class="row">
                <div class="col-md-12 m-b-10">
                  <div class="dis-inline-b fullwidth">
                    <div class="table-responsive">
                      <table class="table table-hover dataTable">
                        <thead>
                        <tr>
                          <th>Description</th>
                          <th>Fee</th>
                          <th>OP</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let commission of commissions.controls; index as i" [formGroupName]="i">
                            <td class="form-label">
                              {{ commission.get('description').value }}
                            </td>
                            <td>
                              <input class="form-control" type="text"
                                     [placeholder]="commission.get('deducts').value? '- $ ' : '$ '"
                                     currencyMask [options]="getCommissionPriceMaskConfig(commission.value)"
                                     formControlName="fee">
                            </td>
                            <td>
                              <input class="form-control" type="text"
                                     [placeholder]="commission.get('deducts').value? '- $ ' : '$ '"
                                     currencyMask [options]="getCommissionPriceMaskConfig(commission.value)"
                                     formControlName="op">
                            </td>
                          </tr>
                          <tr>
                            <td>Commission due to agent</td>
                            <td>
                              <input class="form-control" type="text"
                                     [value]="getCommissionSum('fee')" readonly>
                            </td>
                            <td>
                              <input class="form-control" type="text"
                                     [value]="getCommissionSum('op')" readonly>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
          </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Funds</div>
            <div class="panel-body">
              <div class="col-md-12">
                <div class="p-t-20" formGroupName="funds" *ngIf="deal">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="funds-status">Funds&nbsp;
                        <div class="btn-group">
                          <span class="btn btn-default"
                                (click)="dealForm.get('funds.paid').patchValue(true)"
                                [ngClass]="{'active': dealForm.get('funds.paid').value }">have been</span>
                          <span class="btn btn-default"
                                (click)="dealForm.get('funds.paid').patchValue(false)"
                                [ngClass]="{'active': !dealForm.get('funds.paid').value }">will be</span>
                        </div>
                        paid by:
                      </label>
                    </div>
                  </div>
                  <div class="row" formArrayName="methods">
                    <div class="col-md-4" *ngFor="let method of fund_methods.controls; index as j" [formGroupName]="j">
                      <span class="method-item">
                        <label class="pos-rel dis-inline text-nowrap">
                          <input type="checkbox" formControlName="checked">
                          &nbsp;{{ method.get('label').value }}
                        </label>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <hr>
                    </div>
                    <div class="col-md-12">
                      Have you already given or deposited funds to PocketBroker?&nbsp;
                      <div class="btn-group">
                          <span class="btn btn-sm btn-default"
                                (click)="dealForm.get('funds.funds_previously_deposited').patchValue(true)"
                                [ngClass]="{'active': dealForm.get('funds.funds_previously_deposited').value }">Yes</span>
                      <span class="btn btn-sm btn-default"
                            (click)="dealForm.get('funds.funds_previously_deposited').patchValue(false)"
                            [ngClass]="{'active': !dealForm.get('funds.funds_previously_deposited').value }">No</span>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-primary m-b-0 row">
            <div class="panel-content m-t-10 m-l-20 m-r-20 action-btns">
              <button [disabled]="loading" type="submit" class="btn btn-lg btn-success"
                      [tooltip]="is_supervisor ? 'Update deal' : 'Save and submit deal for review'">
                {{ is_supervisor ? 'Save' : 'Submit' }}
              </button>
              <button type="button" class="btn btn-lg btn-primary" *ngIf="!is_supervisor"
                      tooltip="Save current changes as a draft"
                      (click)="save()">Save draft
              </button>
              <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                      (click)="cancel()">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
