<div class="col-md-12">
  <div class="header searchresultheading">
    <h2><strong>Performance</strong> &mdash; {{ type === 'rental' ? 'Rentals' : 'Sales' }}</h2>
  </div>

  <div class="panel searchformpage firststepbg popupwizard firststepp" *ngIf="charts.response_times && charts.inquiry_count">
    <form [formGroup]="filterForm" (submit)="initCharts()">
      <div class="col-md-12">
        <h3>Apply filters</h3>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Time</label>
          <select formControlName="since" class="form-control">
            <option [value]="'last_week'">Last week</option>
            <option [value]="'last_month'">Last month</option>
            <option [value]="'last_year'">Last year</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Agent</label>
          <select formControlName="agent_id" class="form-control">
            <option [value]="'-1'">All agents</option>
            <option *ngFor="let agent of agent_options" [value]="agent.user_id">{{ agent.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Provider</label>
          <select formControlName="provider" class="form-control">
            <option [value]="'no_test'">Any provider except for test inquiries</option>
            <option [value]="'all'">Any provider</option>
            <option [value]="'rent_hop_inquiry'">RentHop</option>
            <option [value]="'street_easy_inquiry'">StreetEasy</option>
            <option [value]="'test_inquiry'">Test inquiries</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
    <div class="chart-group">
      <div class="col-xs-12">
        <h2 class="text-center">Inquiries/Listing</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12 m-b-20 chart-col">
            <label>
              Inquiries/Listing
            </label>
            <div>
              <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="charts.inquiry_count.data"
                [xAxis]="true"
                [yAxis]="true"
                [autoScale]="true"
                [legend]="charts.inquiry_count.legend"
              >
              </ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart-group">
      <div class="col-xs-12">
        <h2 class="text-center">Response Time/Listing</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12 m-b-20 chart-col">
            <label>
              Response time/Listing
            </label>
            <div>
              <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="charts.response_times.data"
                [xAxis]="true"
                [yAxis]="true"
                [yAxisTicks]="responseTimeYAxisValues"
                [yAxisTickFormatting]="formatAsTime"
                [legend]="charts.response_times.legend"
                [autoScale]="true"
              >
                <ng-template #tooltipTemplate let-model="model">
                  <div style="padding: 0.45em 0.5em;">
                    {{ model.series }} • {{ model.name }} <br>
                    <span style="font-size: 1.2em">{{ formatAsTime(model.value, true) }}</span>
                  </div>
                </ng-template>
                <ng-template #seriesTooltipTemplate let-model="model">
                  <div style="padding: 0.35em 0.5em">
                    <div *ngFor="let item of model">
                      <div style="width: 12px; height: 12px; margin: 2px 4px 2px 0; border-radius: 3px; display: inline-block;" [style.background-color]="item.color">&nbsp;</div> {{ item.series }}: {{ formatAsTime(item.value, true) }}
                    </div>
                  </div>
                </ng-template>
              </ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-loader [loading]="loading"></app-loader>
