<div class="menu-title">Navigation</div>
<ul class="nav nav-sidebar">
  <ng-container *ngFor="let item of menuList">
    <li *ngIf="shouldShow(item)"
        (mouseenter)="item._mouseenter = true" (mouseleave)="item._mouseenter = false"
        [ngClass]="{ 'nav-active' : (router.url === item.url || item._mouseenter) , 'nav-hover': item._mouseenter, 'nav-parent': item.children}">
      <a *ngIf="!item.children && item.url" (click)="navigate(item)"><i [class]="item.icon"></i><span>{{ item.label }}</span></a>
      <a *ngIf="!item.children && !item.url" (click)="item.action? item.action(): null"><i [class]="item.icon"></i><span>{{ item.label }}</span></a>
      <a *ngIf="item.children" (click)="toogleItem(item)"><i [class]="item.icon"></i><span>{{ item.label }}</span>
        <span class="fa arrow" [ngClass]="{active: selected_item === item}"></span>
      </a>

      <ul class="children collapse" *ngIf="item.children"
          [ngClass]="{'selected': item === selected_item && selected_item === item}">
        <li [ngClass]="{'active': child.selected}" *ngFor="let child of item.children">
          <a (click)="navigate(child)">
            <span *ngIf="child.count" class="pull-right badge badge-primary">{{ child.count }}</span>
            {{ child.label }}</a>
        </li>
      </ul>
    </li>
  </ng-container>

</ul>
