<div class="modal-body text-center">
  <p class="text-center">{{ message || 'Are you shoure?'}}</p>
  <button type="button" class="btn btn-default" (click)="confirmAction()">Yes</button>
  <button type="button" class="btn btn-primary" (click)="cancelAction()">No</button>
</div>
