<div class="signature-wrapper">
  <signature-pad class="signature-pad" [options]="options" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  <br>
  <button type="button" class="btn btn-xs btn-default" (click)="clear()">Clear</button>
</div>
