<div class="pos-rel" *ngIf="form_options">
  <app-search-result
    [sort-result]="false"
    [edit-search]="false"
    search-label="Recently <strong>Viewed</strong>"
    [form-options]="form_options"
    (search)="search($event)"
    [result-count]="search_result_count"
    [result]="search_result"
    [advice-result]="advice_result"
    [client]="client"
    [(gridlist)]="view"
    [form-data]="model"></app-search-result>
  <app-loader [loading]="searching"></app-loader>
</div>
