.one-item-rlisting {
  min-height: 165px;
  margin: 10px 0px;

  .text-left {
    text-align: left;
  }

  .bottomdetailcardsinline {
    p {
      padding-right: 0;
    }
  }

  .imgheight {
    img {
      min-height: 165px;
    }
  }
}
