<div class="modal-header bg-primary" *ngIf="popup_mode && listing">
  <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" (click)="bsModalRef.hide()">
    <i class="icons-office-52"></i></button>
  <a class="pull-right btn-expand m-r-20" [routerLink]="['/listing', listing.advertisement_id, 'details']"
     (click)="bsModalRef.hide()"><i class="fa fa-expand"></i></a>
  <h4 class="modal-title">{{ listing.address }}</h4>
</div>

<div
  class="col-lg-12 col-md-12 mylistingsearch listingdetailcardbottom profil-content m-t-0 page-profil profil-header profil-img"
  [ngClass]="{'listing-details-popup': popup_mode, 'page-profil': popup_mode}"
  *ngIf="listing">
  <div class="row profil-header ld-upper">
    <div class="col-lg-12 col-md-12 multipleprofilepic">
      <div class="row m-l-0">
        <div class="col-xs-4 col-lg-4 profil-img previewlistingimage mb-screen" *ngIf="listing.photos.length">
          <button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button"
                  class="btn-show">
            <img (click)="showMobileMap()" class="icon-show"
                 src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A"
                 style="height: 18px; width: 18px; margin: 11px;">
          </button>
          <figure class="animal effect-zoe magnific" *ngIf="listing.photos.length" [appListingGallery]="listing"
                  [load-more-images]="false">
            <img [src]="listing.getPhoto(0, 'wadmin')" appListingImage/>
          </figure>
        </div>
        <div class="col-lg-4 col-md-12 user-friends previewuserfriends" *ngIf="listing.photos.length > 1">

          <div *ngIf="listing.photos.length === 2">
            <div class="col-sm-12 p-0 profil-img previewlistingimage">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="1"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(1, 'wadmin')" appListingImage/>
              </figure>
            </div>
          </div>

          <div *ngIf="listing.photos.length === 3">
            <div class="p-0 col-sm-6 full-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="1"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(1, 'wadmin')" appListingImage/>
              </figure>
            </div>
            <div class="col-sm-6 full-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="2"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(2, 'wadmin')" appListingImage/>
              </figure>
            </div>
          </div>

          <div *ngIf="listing.photos.length === 4">
            <div class="col-xs-4 full-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="1"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(1, 'wadmin')" appListingImage/>
              </figure>
            </div>
            <div class="col-xs-4 full-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="2"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(2, 'wadmin')" appListingImage/>
              </figure>
            </div>
            <div class="col-xs-4 full-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="3"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(3, 'wadmin')" appListingImage/>
              </figure>
            </div>
          </div>

          <div *ngIf="listing.photos.length === 5">
            <div class="col-sm-6 half-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="1"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(1, 'wadmin')" appListingImage/>
              </figure>
            </div>
            <div class="col-sm-6 half-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="2"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(2, 'wadmin')" appListingImage/>
              </figure>
            </div>
            <div class="col-sm-6 half-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="3"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(3, 'wadmin')" appListingImage/>
              </figure>
            </div>
            <div class="col-sm-6 half-h-img">
              <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="4"
                      [load-more-images]="false">
                <img [src]="listing.getPhoto(4, 'wadmin')" appListingImage/>
              </figure>
            </div>
          </div>

          <div *ngIf="listing.photos.length > 5">
            <div>
              <div class="col-sm-4 half-h-img">
                <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="1"
                        [load-more-images]="false">
                  <img [src]="listing.getPhoto(1, 'wadmin')" appListingImage/>
                </figure>
              </div>
              <div class="col-sm-4 half-h-img">
                <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="2"
                        [load-more-images]="false">
                  <img [src]="listing.getPhoto(2, 'wadmin')" appListingImage/>
                </figure>
              </div>
              <div class="col-sm-4 half-h-img">
                <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="3"
                        [load-more-images]="false">
                  <img [src]="listing.getPhoto(3, 'wadmin')" appListingImage/>
                </figure>
              </div>
              <div class="col-sm-4 half-h-img">
                <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="4"
                        [load-more-images]="false">
                  <img [src]="listing.getPhoto(4, 'wadmin')" appListingImage/>
                </figure>
              </div>
              <div class="col-sm-4 half-h-img">
                <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="5"
                        [load-more-images]="false">
                  <img [src]="listing.getPhoto(5, 'wadmin')" appListingImage/>
                </figure>
              </div>
              <div class="col-sm-4 half-h-img" *ngIf="listing.photos.length > 6">
                <figure class="animal effect-zoe magnific" [appListingGallery]="listing" [gallery-index]="6"
                        [load-more-images]="false">
                  <img [src]="listing.getPhoto(6, 'wadmin')" appListingImage/>
                </figure>
              </div>
            </div>
          </div>
        </div>

        <div class="p-l-0 col-map p-map"
             [ngClass]="{
              'map-visibility': show_mobile_map,
              'col-xs-12': listing.photos.length === 0,
              'mb-screen-hide': listing.photos.length !== 0,
              'col-xs-8': listing.photos.length !== 0,
              'col-lg-4': listing.photos.length > 1
            }">

          <div class="map" [hidden]="streeViewMode">

            <ngui-map #mapView [center]="listing.latitude + ', ' + listing.longitude" [fullscreenControl]="true"
                      [scrollwheel]="false" [zoomControl]="false">
              <marker [position]="listing.latitude + ', ' + listing.longitude"></marker>
            </ngui-map>

            <button class="btn btn-sm btn-success street-view-btn" tooltip="Switch map to street view" container="body"
                    (click)="toogleStreetView()"
                    *ngIf="listing.street_view_available"><i class="fa fa-street-view"></i></button>
          </div>
          <div class="street-view" [hidden]="!streeViewMode">
            <div #streetView></div>

            <button class="btn btn-sm btn-primary street-view-btn" tooltip="Switch street view to map" container="body"
                    (click)="toogleStreetView()"
                    *ngIf="listing.street_view_available"><i class="fa fa-map-marker"></i></button>
          </div>
        </div>

      </div>
      <div class="label-list">
        <span *ngIf="listing.ribbon" class="ribbon"
              [ngStyle]="{background: listing.ribbon.color}">{{ listing.ribbon.text | capitaliseFirst }}</span>
        <span *ngIf="listing.has_360" class="label-360">360</span>
        <span *ngIf="listing.nofee" class="label-nofee">No fee</span>
        <span *ngIf="listing.advertised" class="label-advertised">Advertised</span>
      </div>

      <div class="bg-block-header" [ngClass]="{'sticky-listing-header': is_sticky_header}">
        <div class="col-md-6 sticky_l">
          <div class="name">
            <div class="row col-xs-8 cchange">
              <a class="c-primary" [routerLink]="['/listing', listing.advertisement_id, 'details']">{{ listing.address}}
                , {{ listing.unit }}</a>
              <a class="c-primary" *ngIf="listing.web_url" target="_blank" [attr.href]="listing.web_url">
                <i class="fa fa-external-link" container="body" tooltip="Website"></i>
              </a>
              <a [href]="" [routerLink]="'/building/' + listing.building_id + '/details'" class="c-primary"
                 *ngIf="listing.building_id">
                <i class="fa fa-building" container="body" tooltip="Building details"></i>
              </a>
              <span *ngIf="listing.view_source_info">
               <a [href]="listing.view_source_info.parameters.url" target="_blank" class="c-primary"
                  *ngIf="listing.view_source_info.source_type === 'web'">
                <i class="fa fa-folder-open" container="body" tooltip="Source"></i>
               </a>
                <a [href]="" class="c-primary" (click)="openSourceEmail(sourceEmailTemplate)"
                   *ngIf="listing.view_source_info.source_type === 'email'">
                <i class="fa fa-folder-open" container="body" tooltip="Source"></i>
               </a>
                <a [href]="" class="c-primary" (click)="openSourceJson(sourceJsonTemplate)"
                   *ngIf="listing.view_source_info.source_type === 'json'">
                <i class="fa fa-folder-open" container="body" tooltip="Source"></i>
               </a>
              </span>
            </div>
            <div class="row col-xs-4 resized-icon">
              <div class="col-xs-4 savesearchsidebar">
                <app-saved-listin-icon [item]="listing"></app-saved-listin-icon>
              </div>
              <div class="col-xs-4 schedulesearchsidebar savesearchsidebar">
                <i class="fa fa-calendar schedulesearchsidebar savesearchsidebar not-implemented" container="body"
                   tooltip="Not implemented"></i>
              </div>
              <div class="col-xs-4 savesearchsidebar text-primary cursor-pointer">
                <a [routerLink]="['/listing', listing.advertisement_id, 'edit']" class="c-primary">
                  <i class="fa fa-pencil-square-o" container="body" tooltip="Edit Listing"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="favschedule new-icons ldleft col-sm-12">
              <span *ngIf="listing.bedrooms">{{ listing.getBedroomsText(true) }}</span>
              <span *ngIf="listing.bathrooms">{{ listing.bathrooms }} ba</span>
              <span *ngIf="listing.size">{{ listing.size | number:'.0' }} sqft</span>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div *ngIf="listing.ownership" class="profil-info text-capitalize">{{ listing.ownership }}</div>
              <div *ngIf="listing.building_type" class="profil-info">{{ listing.building_type }}</div>
              <div *ngIf="listing.pet_policy" class="profil-info">{{ listing.pet_policy }}</div>
            </div>
            <div class="col-sm-6">
              <div *ngIf="listing.streets" class="profil-info">{{ listing.streets }}</div>
              <div *ngIf="listing.neighborhood" class="profil-info">{{ listing.neighborhood }}</div>
              <div *ngIf="listing.year_built" class="profil-info">Built: {{ listing.year_built }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 sticky_r">
          <div class="header-nameright">
            <div class="name num-moments c-primary">
              <app-listing-price [item]="listing" [is_short_version]="false"></app-listing-price>
              <sup *ngIf="listing.price_change" [tooltip]="priceHistoryTooltip" containerClass="tooltip-price-history"
                   [ngClass]="{ 'text-success' : listing.price_change>0, 'text-danger': listing.price_change<0 }"
              ><span
                [ngClass]="{ 'glyphicon-arrow-down': listing.price_change < 0, 'glyphicon-arrow-up': listing.price_change > 0}"
                class="glyphicon"></span>{{ listing.price_change | currency:'USD':'symbol-narrow':'1.0-2' }}</sup></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="profil-info bottommaininfo">Available from:
                <span
                  *ngIf="listing.available_from && listing.available_from !== 'Immediate'">{{ listing.available_from | appDateFormat: 'short' }}</span>
                <span
                  *ngIf="listing.available_from && listing.available_from === 'Immediate'">{{ listing.available_from }}</span>
              </div>
              <div class="profil-info bottommaininfo">Listed {{ listing.getDomText() }}</div>
              <div *ngIf="listing.lease_term_info" class="profil-info bottommaininfo">{{ listing.lease_term_info }}
              </div>
              <div *ngIf="listing.getConcession()" class="profil-info bottommaininfo text-danger"
                   [tooltip]="(listing.getConcession() && listing.getConcession().length)>80 ? listing.getConcession():''"
              >{{ listing.getConcession() }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="profil-info bottommaininfo">{{ listing.source_info }}</div>
              <div *ngIf="listing.access_type_info" class="profil-info bottommaininfo">{{ listing.access_type_info }}
              </div>
              <div class="profil-info bottommaininfo">{{ listing.furnished_type }}</div>
              <div class="profil-info bottommaininfo text-danger cursor-pointer" (click)="openModal(open_house)">{{
                listing.open_house_info }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-20">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header">
          <h3>
            <div class="col-md-12">
              <div class="row">
                <span class="col-md-6">
                  <div class="row">
                      <i class="icon-bulb"></i> <strong>Listing</strong> Features
                   </div>
                </span>
              </div>
            </div>
          </h3>

        </div>
        <div class="panel-content">
          <div class="row">
            <div class="section-title">
              <div class="col-md-12 paddingorderdelisted">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <h3><strong>Building</strong> Amenities</h3>
                    <ul>
                      <li *ngFor="let amenity of listing.building_amenities">{{ amenity }}</li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <h3><strong>Apartment</strong> Amenities</h3>
                    <ul>
                      <li *ngFor="let amenity of listing.apartment_amenities">{{ amenity }}</li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="panel">
                      <div class="panel-header panel-controls displaynonecontrol-btn ratepad">
                        <h3 class="ratiestar"><i class="icongoo-star"></i><strong>Rating</strong>
                          Stars</h3>
                      </div>
                      <div class="panel-content morestars">
                        <div class="row">
                          <div class="col-md-6" *ngFor="let rating of getRatings()">
                            <div class="form-group">
                              <label class="form-label">{{ rating[0] }}</label>
                              <div class="m-b-10">
                                <rating name="rating" [readonly]="true" [(ngModel)]="rating[1]" [max]="5"></rating>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 description-section">
      <div class="col-md-6 p-0">
        <div class="panel ">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Description</strong></h3>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="section-title">
                <div class="col-md-12 line-breaker">
                  <p [innerHtml]="getDescription()"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 access-p-0">
        <div class="col-md-12 panel">
          <h3><strong>ACCESS</strong> INFO</h3>
          <div class="col-lg-12 m-b-15">
            {{ listing.access_info }}
          </div>
          <h3><strong>CONTACTS</strong></h3>
          <div *ngIf="listing.viewing_contacts.length === 0">
            No viewing contacts found.
          </div>
          <div *ngIf="listing.viewing_contacts.length > 0">
            <div class="col-lg-12" *ngFor="let contact of listing.viewing_contacts">
              <address class="bd-blue">
                <strong>{{ contact.name }}</strong><br>
                <abbr title="Phone">P:</abbr> {{ contact.phone_number }}<br>
                <span appMailPopup [email]="contact.email">{{ contact.email }}</span><br>
              </address>
            </div>
          </div>
        </div>
      </div>

      <div class="panel col-md-3">
        <div class="col-md-12">
          <div class="row">
            <h3><strong>COMPANY</strong> INFO</h3>
            <div class="col-lg-12">
              <address class="bd-blue">
                <strong>{{ listing.leasing_contact.name }}</strong><br>
                <abbr title="Address">Address:</abbr> {{ listing.leasing_contact.address }}<br>
                <abbr title="Phone">P:</abbr> {{ listing.leasing_contact.phone }}<br>
                <abbr title="Fax">F:</abbr> {{ listing.leasing_contact.fax }}<br>
                <span class="cursor-pointer" appMailPopup
                      [email]="listing.leasing_contact.email">{{ listing.leasing_contact.email }}</span><br>
                <a target="_blank"
                   [attr.href]="listing.leasing_contact.website">{{ listing.leasing_contact.website }}</a>
              </address>
            </div>
            <h3 *ngIf="listing.management_company"><strong>MANAGEMENT</strong> COMPANY</h3>
            <div class="col-lg-12" *ngIf="listing.management_company">
              <address class="bd-blue">
                <strong>{{ listing.management_company.name }}</strong><br>
                <abbr title="Address">Address:</abbr> {{ listing.management_company.address }}<br>
                <abbr title="Phone">P:</abbr> {{ listing.management_company.phone || 'N/A' }}<br>
                <abbr title="Fax">F:</abbr> {{ listing.management_company.fax || 'N/A' }}<br>
                <span class="cursor-pointer" *ngIf="listing.management_company.email" appMailPopup
                      [email]="listing.management_company.email">
                  {{ listing.management_company.email }}
                </span><br>
                <a target="_blank"
                   [attr.href]="listing.management_company.website">{{ listing.management_company.website }}</a>
              </address>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-20">
    <div class="col-md-12 ">
      <div class="panel lrexchange">
        <div class="panel-header panel-controls">
          <h3><i class="fa fa-table"></i> <strong>Matching clients</strong></h3>
        </div>
        <div class="p-tab">
          <div class="dis-inline-b fullwidth">
            <div class="table-responsive">
              <div *ngIf="!matched_clients.length" class="text-center">No Clients</div>
              <table class="table dataTable" *ngIf="matched_clients.length">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Searches for</th>
                  <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">

                <tr *ngFor="let client of matched_clients">
                  <td>{{ client.name }}</td>
                  <td>{{ client.phone }}</td>
                  <td><a class="cursor-pointer" appMailPopup [email]="client.email">{{ client.email }}</a></td>
                  <td>{{ client.search_info }}</td>
                  <td class="text-right actions">
                    <button *ngIf="client.search_id && client.search_suspended" class="btn btn-sm btn-default"
                            container="body"
                            tooltip="Suspend search notifications" (click)="removeSuspend(client)"
                            [disabled]="client.suspending">
                      <i class="fa fa-square-o"></i>&nbsp;Notifications Off
                    </button>
                    <button *ngIf="client.search_id && !client.search_suspended" class="btn btn-sm btn-primary"
                            container="body"
                            tooltip="Unsuspend search notifications" (click)="suspendSearch(client)"
                            [disabled]="client.suspending">
                      <i class="fa fa-check-square"></i>&nbsp;Notifications On
                    </button>
                    <a class="editss btn btn-sm btn-default" *ngIf="client.search_id" tooltip="Select this client"
                       (click)="editSearch(client)"><i class="icon-note"></i></a>
                    <a class="editss btn btn-sm btn-default" *ngIf="client.search_id" (click)="search(client)"
                       tooltip="Perform search">
                      <span class="glyphicon glyphicon-search"></span></a>
                    <a class="btn btn-sm btn-danger" (click)="openModal(delete_client, client)">
                      <i *ngIf="!client.deleting" class="icons-office-52" tooltip="Remove from active clients list"></i>
                      <span *ngIf="client.deleting"
                            class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    </a>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-20">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header panel-controls">
          <h3><strong>Listings in the building</strong></h3>
        </div>
        <div class="panel-content nav-scroll">
          <div class="pull-right">
            <div class="btn-group">
              <label class="btn btn-warning" tooltip="Display inactive listings" *ngIf="active_listings"
                     (click)="active_listings = 0">Inactive</label>
              <label class="btn btn-success" tooltip="Display active listings" *ngIf="!active_listings"
                     (click)="active_listings = 1">Active</label>
            </div>
          </div>
          <tabset>
            <tab [heading]="'For Rent' + (listings_for_rent.length ? ' (' + rentListingsCount() + ')' : '')">
              <div *ngIf="!listings_for_rent.length" class="text-center">No Listings</div>
              <div class="table-responsive">
                <table *ngIf="listings_for_rent.length" class="table table-hover dataTable">
                  <thead>
                  <tr>
                    <th>Apt Number</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Price</th>
                    <th>Company</th>
                    <th>Size</th>
                    <th>Dom</th>
                    <th>Photos</th>
                    <th></th>
                    <th class="text-right">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let l of listings_for_rent"
                      [ngClass]="{info: listing.advertisement_id === l.advertisement_id}">
                    <ng-container *ngIf="l.active === active_listings">
                      <td *ngIf="l.advertisement_id !== listing.advertisement_id">
                        <a [routerLink]="['/listing', l.advertisement_id, 'details']">{{ l.unit }}</a>
                      </td>
                      <td *ngIf="l.advertisement_id === listing.advertisement_id">{{ l.unit }}</td>
                      <td>{{ l.getBedroomsText() }}</td>
                      <td>{{ l.bathrooms }}</td>
                      <td>
                        <app-listing-price [item]="l"></app-listing-price>
                      </td>
                      <td>{{ l.access_type_info }}</td>
                      <td>{{ l.size | number:'.0' }}</td>
                      <td>{{ l.dom }}</td>
                      <td>
                      <span *ngIf="l.photos_count" [appListingGallery]="l">{{ l.photos_count }}
                        <span *ngIf="l.photos_count === 1"> photo</span>
                        <span *ngIf="l.photos_count > 1"> photos</span>
                      </span>
                        <span *ngIf="!l.photos_count">No photo</span>
                      </td>
                      <td>
                        <span class="badge bold " *ngIf="l.ribbon"
                              [ngStyle]="{ 'background-color': l.ribbon.color }">{{ l.ribbon.text | capitaliseFirst }}</span>
                        <span *ngIf="l.has_360s" class="badge bold label-360">360</span>
                        <span *ngIf="l.has_floorplan" class="badge bold label-floorplan" [appListingGallery]="l"
                              [gallery-index-by-url]="l.photo_floorplan.path">Floorplan</span>
                      </td>
                      <td class="text-right actions">
                        <a class="editss btn btn-sm btn-default not-implemented" tooltip="Not implemented"><i
                          class="icon-note"></i></a>
                        <div class="btn-group delete-listing m-l-5" dropdown placement="top"
                             (onShown)="loadingDeleteReason()">
                          <button dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                  aria-controls="dropdown-dropup" tooltip="Remove from market">
                            <i *ngIf="!l.deleting" class="icons-office-52"></i>
                            <span *ngIf="l.deleting"
                                  class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li *ngIf="!delete_reasons.length">Loading...</li>
                            <li *ngFor="let reason of delete_reasons" role="menuitem">
                              <a (click)="deleteListing(l, reason)" class="dropdown-item">{{ reason.label }}</a></li>
                          </ul>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab [heading]="'For Sale' + (listings_for_sales.length ? ' (' + saleListingsCount() + ')' : '')">
              <div *ngIf="!listings_for_sales.length" class="text-center">No Listings</div>
              <div class="table-responsive">
                <table *ngIf="listings_for_sales.length" class="table table-hover dataTable">
                  <thead>
                  <tr>
                    <th>Apt Number</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Price</th>
                    <th>Monthly Cost</th>
                    <th>Company</th>
                    <th>Size</th>
                    <th>Dom</th>
                    <th>Photos</th>
                    <th></th>
                    <th class="text-right">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let l of listings_for_sales"
                      [ngClass]="{info: listing.advertisement_id === l.advertisement_id}">
                    <ng-container *ngIf="l.active === active_listings">
                      <td *ngIf="l.advertisement_id !== listing.advertisement_id">
                        <a [routerLink]="['/listing', l.advertisement_id, 'details']">{{ l.unit }}</a>
                      </td>
                      <td *ngIf="l.advertisement_id === listing.advertisement_id">{{ l.unit }}</td>
                      <td>{{ l.getBedroomsText() }}</td>
                      <td>{{ l.bathrooms }}</td>
                      <td>
                        <app-listing-price [item]="l"></app-listing-price>
                      </td>
                      <td *ngIf="building.ownership === 'Condo'">
                        {{ l.cc + l.monthly | currency:'USD':'symbol-narrow':'1.0-2' }}
                      </td>
                      <td *ngIf="building.ownership !== 'Condo'">
                        {{ l.cc | currency:'USD':'symbol-narrow':'1.0-2' }}
                      </td>
                      <td>{{ l.access_type_info }}</td>
                      <td>{{ l.size | number:'.0' }}</td>
                      <td>{{ l.dom }}</td>
                      <td>
                      <span *ngIf="l.photos_count" [appListingGallery]="l">{{ l.photos_count }}
                        <span *ngIf="l.photos_count === 1"> photo</span>
                        <span *ngIf="l.photos_count > 1"> photos</span>
                      </span>
                        <span *ngIf="!l.photos_count">No photo</span>
                      </td>
                      <td>
                        <span class="badge bold " *ngIf="l.ribbon"
                              [ngStyle]="{ 'background-color': l.ribbon.color }">{{ l.ribbon.text | capitaliseFirst }}</span>
                        <span *ngIf="l.has_360s" class="badge bold label-360">360</span>
                        <span *ngIf="l.has_floorplan" class="badge bold label-floorplan" [appListingGallery]="l"
                              [gallery-index-by-url]="l.photo_floorplan.path">Floorplan</span>
                      </td>
                      <td class="text-right actions">
                        <a class="editss btn btn-sm btn-default not-implemented" tooltip="Not implemented"><i
                          class="icon-note"></i></a>
                        <div class="btn-group delete-listing m-l-5" dropdown placement="top"
                             (onShown)="loadingDeleteReason()">
                          <button dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                  aria-controls="dropdown-dropup" tooltip="Remove from market">
                            <i *ngIf="!l.deleting" class="icons-office-52"></i>
                            <span *ngIf="l.deleting"
                                  class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li *ngIf="!delete_reasons.length">Loading...</li>
                            <li *ngFor="let reason of delete_reasons" role="menuitem">
                              <a (click)="deleteListing(l, reason)" class="dropdown-item">{{ reason.label }}</a></li>
                          </ul>
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-20">
    <div class="col-md-12 ">
      <div class="panel lrexchange">
        <div class="panel-header panel-controls">
          <h3><i class="fa fa-table"></i> <strong>RELATED LISTINGS</strong></h3>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-sm-12">
              <app-search-result-item *ngFor="let item of listing.related_listings" [item]="item" [colspan]="4"
                                      [adMode]="false" [annotationMode]="false"></app-search-result-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader [loading]="loading"></app-loader>

<ng-template #delete_client>
  <div class="modal-body text-center">
    <p>Do you really want to deactivate this client?</p>
    <button type="button" class="btn btn-default" (click)="deleteMatchedClient(client_for_delete)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #open_house>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let open_house of listing.open_house">{{ open_house}}</li>
  </ul>
</ng-template>

<ng-template #priceHistoryTooltip>
  <ul class="list-group list-unstyled">
    <li *ngFor="let item of listing.price_history.slice(0,10); let i = index"
    >
      <span>{{ item.price | currency:'USD':'symbol-narrow':'1.0-2' }}</span>
      <span class="m-l-5 m-r-5">{{ item.time | appDateFormat: 'full' }}</span>
      <span *ngIf="i && (item.price - listing.price_history[i-1].price)>0" class="text-success"
      >
        <span class="glyphicon glyphicon-arrow-up"></span>
        {{ (item.price - listing.price_history[i - 1].price) | currency:'USD':'symbol-narrow':'1.0-2' }}
        <span>{{ percentChangePrice(item, listing.price_history[i - 1]) }}%</span>
      </span>
      <span *ngIf="i && (item.price - listing.price_history[i-1].price) < 0" class="text-danger"
      >
        <span class="glyphicon glyphicon-arrow-down"></span>
        {{ (item.price - listing.price_history[i - 1].price) | currency:'USD':'symbol-narrow':'1.0-2' }}
        <span>{{ percentChangePrice(item, listing.price_history[i - 1]) }}%</span>
      </span>
    </li>
    <li *ngIf="listing.price_history.length > 10">{{ listing.price_history.length - 10 }} more</li>
  </ul>
</ng-template>

<ng-template #sourceJsonTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Source JSON</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre *ngIf="listing.view_source_info.data">{{ listing.view_source_info.data | json }}</pre>
    <div class="text-center" *ngIf="!listing.view_source_info.data">Loading...</div>
  </div>
</ng-template>

<ng-template #sourceEmailTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Source Mail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="listing.view_source_info.data">
      <div class="media-body dis-inline">
        <div class="iframe-content" *ngIf="listing.view_source_info.data.isIframeContent()">
          <iframe [attr.id]="'iframe-'+listing.view_source_info.data.id" src="about:blank" width="100%" height="100%"
                  scrolling="no" frameBorder="0"
                  (load)="putInIframe(listing.view_source_info.data, $event)"></iframe>
        </div>
        <div class="html-content"
             *ngIf="!listing.view_source_info.data.isIframeContent() && listing.view_source_info.data.email_html">
          <div [innerHTML]="listing.view_source_info.data.email_html"></div>
        </div>
        <p class="plain-content line-breaker" *ngIf="!listing.view_source_info.data.email_html">
          {{ listing.view_source_info.data.email_plain || '(no content)' }}
        </p>
      </div>
    </div>
    <div class="text-center" *ngIf="!listing.view_source_info.data">Loading...</div>
  </div>
</ng-template>
