@import "../../../styles/variable";

.map, .street-view {

  background-color: #ffffff;

  &[hidden] {
    display: none;
  }

  ngui-map {
    height: 235px;
  }
}

.street-view {
  & > div {
    height: 235px;
  }
}

.panel-content {
  padding: 20px 20px 10px 20px;
}

rating /deep/ .bs-rating-star {
  font-size: 22px;
}

.panel-content /deep/ .tab-content {
  background-color: #fff;
}

.listing-details-popup {
  background-color: @bacground-light-dark;
}

.panel-header {
  display: block;
  height: auto;
  padding: 6px 15px 6px 18px;
}

.btn-expand {
  color: #fff;
  margin-top: 2px;
}

.ldleft, .ldrght {
  width: 50%;
  min-width: 280px;
}

.listing-details-section {
  padding-left: 15px;
  padding-right: 15px;
}

.description-section {
  .panel {
    min-height: 200px;
  }
  .access-block {
    .panel {
      min-height: 100px;
    }
  }
}

.list-ribbon {
  padding: 2px 8px 2px;
  color: #fff;
  background: #000;;
}

.actions {
  min-width: 155px;
}

.mylistingsearch .panel-content {
  overflow: inherit;
}

.mylistingsearch /deep/ .tab-content {
  overflow: inherit;

}

.panel table .btn-group {
  z-index: inherit;
}

/deep/ .tooltip-price-history {

  .arrow {
    background-color: #ffffff;
  }

  .tooltip-inner {
    border: 1px solid #666666;
    background-color: #ffffff;
    color: #000;
    max-width: 215px;
  }

}

.previewlistingimage {
  img {
    display: block;
    min-height: 250px;
  }
  img.icon-show {
    min-height: unset;
  }
}

.effect-zoe {
  img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

.street-view-btn {
  position: absolute;
  bottom: -10px;
  left: -10px;
  z-index: 1;
}

.favschedule {
  & > span {
    margin-right: 15px;
  }
}

.resized-icon {
  & > div.savesearchsidebar {
    height: inherit;
  }
}

.profil-info {
  float: none !important;

  &.text-danger {
    color: #a94442 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.half-h-img {
  border: 1px solid #ffffff;
  height: 118px !important;
  overflow: hidden;
  padding: 0;

  img {
    width: 100%;
  }
}

.full-h-img {
  border-right: 1px solid #ffffff;
  height: 235px;
  overflow: hidden;
  padding: 0;

  img {
    height: 235px;
    min-width: 100%;
  }
}

/deep/ .page-profil .profil-header .name {
  font-size: 18px !important;
}

/deep/ .page-profil .profil-header .profil-info {
  padding-right: 0px !important;
}

.btn-show {
  display: none;
}



.header-namerightmain {
  padding-right: 15px !important;
}

.p-map {
  padding: 0 15px;
}

@media (max-width: 450px) {
  .mb-screen-hide{
    position: absolute;
    visibility: hidden;

    &.map-visibility{
      visibility: visible;
    }
  }
  .mb-screen{
    width: 100%;
  }
  .icon-show {
    min-height: unset;
  }
  .btn-show {
    background: none rgb(255, 255, 255);
    border: 0px; margin: 10px; padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 0px;
    right: 15px;
    display: block;
  }
}

@media (max-width: 767px) {
  .p-l-40 {
    padding-left: 35px !important;
    margin-left: -15px !important;
  }
}

@media (max-width: 1500px) {
  /deep/ .page-profil .profil-header .profil-img {
    max-height: 235px;
    height: 100%;
  }
  /deep/ .page-profil .profil-header .col-map {
    max-height: 235px;
    height: 100%;
  }
}


@media (min-width: 768px) {
  /deep/ .page-profil .profil-header .name {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .access-block {
    margin-right: 20px;
  }
  .sticky-listing-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 49px;
  }
}
@media (max-width: 991px) {
  .access-p-0 {
    padding: 0px;
  }
}


@media (min-width: 1200px) {
  .description-block {
    margin-right: 20px;
  }
}

@media (width: 1200px) {
  .col-map {
    width: 66.66666667%;
  }
}

.sticky_l {
  background: #ffffff;
  padding: 20px;
  min-height: 140px;
}
.sticky_r {
  background: #E9ECED;
  padding: 20px;
  min-height: 140px;
}

@media (min-width: 1024px) {
  .sticky-listing-header {
    margin-left: -120px;
  }
  .sticky-listing-header .sticky_l {
    padding-left: 140px;
  }
  .sticky-listing-header .sticky_r {
    padding-right: 135px;
  }

  /deep/ .sidebar-collapsed.sidebar-show .sticky-listing-header {
    margin-left: -25px;
  }
  /deep/ .sidebar-collapsed.sidebar-show .sticky-listing-header .sticky_l  {
    padding-left: 45px;
  }
  /deep/ .sidebar-collapsed.sidebar-show .sticky-listing-header .sticky_r {
    padding-right: 40px;
  }

}

.p-tab {
  padding: 0 15px;
  margin-bottom: 15px;
}

/deep/ .mylistingsearch .tab-content {
  padding: 20px 0px;
}

.bg-block-header {
  background: #E9ECED;
}
