<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2>Advertised <strong>Listings</strong></h2>

      </div>
    </div>
  </div>


  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="col-md-4 row ffright">
        <div class="searchtopbread">

          <div class="gridlist m-t-10">
            <a (click)="gridlist = 'grid'" class="m-r-5" [ngClass]="{'gridactive': gridlist === 'grid'}"><i
              class="icon-grid"></i></a>
            <a (click)="gridlist = 'list'" [ngClass]="{'gridactive': gridlist === 'list'}"><i
              class="fa fa-list p-r-10"></i></a>
          </div>
          <div class="centerinnerdropsearch">
            <select class="form-control" data-search="true" [(ngModel)]="sort_data"
                    (change)="sortResult($event)">
              <option *ngFor="let item of sort_list" [ngValue]="item"
                      [selected]="item.field === sort_by && item.dir === sort_dir">{{ item.name }}
              </option>
            </select>
          </div>
          <p class="fourresults" *ngIf="search_result_count">{{ search_result_count | number:'.0' }} Results</p>

        </div>
      </div>
    </div>
    <div class="col-md-12 m-b-10">

      <div *ngIf="gridlist === 'grid'">
        <app-search-result-item *ngFor="let item of result" [item]="item" [adMode]="1"></app-search-result-item>
      </div>
      <div class="dis-inline-b fullwidth" *ngIf="gridlist != 'grid'">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="result.length">
            <thead>
            <tr>
              <th>Address</th>
              <th>Unit</th>
              <th>Price</th>
              <th>Beds</th>
              <th>Baths</th>
              <th>Company</th>
              <th>On Market</th>
              <th>Building</th>
              <th>Location</th>
              <th></th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <app-search-result-item-list *ngFor="let item of result" [item]="item"></app-search-result-item-list>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!result.length && !searching">Listings not found</h2></div>
      <div *ngIf="result.length && result.length != search_result_count"
           class="text-center">
        <button class="btn btn-primary" (click)="loadMore()">Load More</button>
      </div>
    </div>

  </div>
</div>
<app-loader [loading]="searching"></app-loader>
