<div class="card-box  comps-box">
  <div class="card-box-header">
    <h3 class="card-box-title">Comps</h3>
    <div class="filter">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by</button>
      <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a> </div>
    </div>
  </div>
  <div class="card-box-body">
    <ul class="list-unstyled comp-list">
      <li>
        <div class="d-md-flex justify-content-start">
          <div class="d-flex">
            <div class="pic-thumb"><img src="./images/site/comp-pic-thumb.png" alt=""></div>
          </div>
         <div class="flex-grow-1">
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p><strong class="text-blue">345 East 80th St.</strong></p>
                       <p class="text-sm-right">Condo / 1 br 1 ba 700 soft</p>
                    </div>
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p><strong>$3,333</strong></p>
                       <p class="text-sm-right"> Co-Broke, 7.5%, Bold New York </p>
                    </div>
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p>E 91st St and E 92nd St</p>
                       <p class="text-sm-right">Upper East Side</p>
                    </div>
                </div>
        </div>
        <div class="other-info mt-2">
          <p><strong>Other info:</strong> Full Time Doorman / Pets Allowed / Common Outdo… <a href=""><strong>Read More</strong></a></p>
        </div>
      </li>
      <li>
        <div class="d-md-flex justify-content-start">
          <div class="d-flex">
            <div class="pic-thumb"><img src="./images/site/comp-pic-thumb2.png" alt=""></div>
          </div>
         <div class="flex-grow-1">
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p><strong class="text-blue">345 East 80th St.</strong></p>
                       <p class="text-sm-right">Condo / 1 br 1 ba 700 soft</p>
                    </div>
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p><strong>$3,333</strong></p>
                       <p class="text-sm-right"> Co-Broke, 7.5%, Bold New York </p>
                    </div>
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p>E 91st St and E 92nd St</p>
                       <p class="text-sm-right">Upper East Side</p>
                    </div>
                </div>
        </div>
        <div class="other-info mt-2">
          <p><strong>Other info:</strong> Full Time Doorman / Pets Allowed / Common Outdo… <a href=""><strong>Read More</strong></a></p>
        </div>
      </li>
      <li>
        <div class="d-md-flex justify-content-start">
          <div class="d-flex">
            <div class="pic-thumb"><img src="./images/site/comp-pic-thumb1.png" alt=""></div>
          </div>
         <div class="flex-grow-1">
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p><strong class="text-blue">345 East 80th St.</strong></p>
                       <p class="text-sm-right">Condo / 1 br 1 ba 700 soft</p>
                    </div>
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p><strong>$3,333</strong></p>
                       <p class="text-sm-right"> Co-Broke, 7.5%, Bold New York </p>
                    </div>
                   <div class="d-sm-flex justify-content-between comp-list-info">
                       <p>E 91st St and E 92nd St</p>
                       <p class="text-sm-right">Upper East Side</p>
                    </div>
                </div>
        </div>
        <div class="other-info mt-2">
          <p><strong>Other info:</strong> Full Time Doorman / Pets Allowed / Common Outdo… <a href=""><strong>Read More</strong></a></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-box-footer">
    <div class="pagination mt-3 mb-2">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class=""> &lt;&lt; Previous</li>
          <li class=""><a href="#">1...8</a></li>
          <li class="active"><a href="#">9</a></li>
          <li ><a href="#">10</a></li>
          <li ><a href="#">11...20</a></li>
          <li><a href="#">Next &gt;&gt; </a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>