<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="bsModalRef.hide()">
    <i class="icons-office-52"></i></button>
  <h4 class="modal-title"><strong>Create</strong> A Building</h4>
</div>
<div class="modal-body row popupwizard">
  <div>
    <div class="col-md-offset-2 col-md-8">
      <form (ngSubmit)="searchTerm.next(advice_text)" novalidate>
        <label class="text-size">Advice Building</label>

        <span class="input input--hoshi">
           <input class="input__field input__field--hoshi" type="text" id="form-advice" [(ngModel)]="advice_text"
                  (keyup)="searchTerm.emit($event.target.value)"
                  name="advice_text" placeholder="22 e 82 st, MN or 210 Marine Ave, BK"/>
           <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                  for="form-advice"></label>
          <div class="loading-advice" *ngIf="advising">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
          </div>
        </span>
      </form>
    </div>
    <form (ngSubmit)="submitBuilding()" [formGroup]="buildingForm" novalidate>
      <div class="col-md-6">

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.address.valid }">
          <label class="text-size">Address</label>

          <span class="input input--hoshi">
           <input class="input__field input__field--hoshi" type="text" id="form-address"
                  formControlName="address" placeholder="address"/>
           <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                  for="form-address"></label>
        </span>
          <div *ngIf="submitted && !buildingForm.controls.address.valid" class="help-block">Address is required</div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.ownership.valid }">
          <label class="text-size">Ownership</label>

          <span class="input input--hoshi">
            <select class="form-control" formControlName="ownership">
              <option>Rental</option>
              <option>Condo</option>
              <option>Co-op</option>
              <option>Condop</option>
            </select>
        </span>
          <div *ngIf="submitted && !buildingForm.controls.ownership.valid" class="help-block">Ownership is required
          </div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.building_type.valid }">
          <label class="text-size">Building Type</label>

          <span class="input input--hoshi">
           <select class="form-control" formControlName="building_type">
              <option>Full Time Doorman</option>
              <option>Part Time Doorman</option>
              <option>Elevator Only</option>
              <option>Walk Up</option>
            </select>
        </span>
          <div *ngIf="submitted && !buildingForm.controls.building_type.valid" class="help-block">Building type is
            required
          </div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.pet_policy.valid }">
          <label class="text-size">Pet Policy</label>
          <span class="input input--hoshi">
            <select class="form-control" formControlName="pet_policy">
              <option></option>
              <option>No Pets Allowed</option>
              <option>Pets Allowed</option>
              <option>Cats/Small Dogs</option>
              <option>Case by Case</option>
              <option>Cats Only</option>
              <option>Dogs Only</option>
            </select>
        </span>
          <div *ngIf="submitted && !buildingForm.controls.pet_policy.valid" class="help-block">Pet policy is required
          </div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.description.valid }">
          <label class="text-size">Description</label>
          <span class="textarea input--hoshi">
           <textarea class="input__field--hoshi" type="text" id="form-description"
                     formControlName="description" placeholder="description"></textarea>
        </span>
          <div *ngIf="submitted && !buildingForm.controls.description.valid" class="help-block">Description is
            required
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.latitude.valid }">
          <label class="text-size">Latitude</label>
          <span class="input input--hoshi">
         <input class="input__field input__field--hoshi" type="text" id="form-latitude"
                formControlName="latitude" placeholder="latitude"/>
         <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                for="form-latitude"></label>
      </span>

          <div *ngIf="submitted && !buildingForm.controls.latitude.valid" class="help-block">Latitude is required</div>

        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.longitude.valid }">
          <label class="text-size">Longitude</label>
          <span class="input input--hoshi">
         <input class="input__field input__field--hoshi" type="text" id="form-longitude"
                formControlName="longitude" placeholder="longitude"/>
         <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                for="form-longitude"></label>
      </span>
          <div *ngIf="submitted && !buildingForm.controls.longitude.valid" class="help-block">Longitude is required
          </div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.neighborhood_id.valid }">
          <label class="text-size">Neighborhood</label>
          <span class="input input--hoshi">
          <select class="form-control" formControlName="neighborhood_id" id="form-neighborhood_id">
            <optgroup *ngFor="let borough of boroughs" [label]="borough.name">
              <option [value]="neighborhood.neighborhood_id" *ngFor="let neighborhood of borough.neighborhoods">{{ neighborhood.name }}</option>
            </optgroup>
          </select>
          <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                 for="form-neighborhood_id"></label>
          </span>
          <div *ngIf="submitted && !buildingForm.controls.neighborhood_id.valid" class="help-block">Neighborhood is
            required
          </div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.streets.valid }">
          <label class="text-size">Streets</label>
          <span class="input input--hoshi">
         <input class="input__field input__field--hoshi" type="text" id="form-streets"
                formControlName="streets" placeholder="streets"/>
         <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                for="form-streets"></label>
      </span>
          <div *ngIf="submitted && !buildingForm.controls.streets.valid" class="help-block">Streets is required</div>
        </div>

        <div [ngClass]="{ 'has-error': submitted && !buildingForm.controls.zip.valid }">
          <label class="text-size">Zip</label>
          <span class="input input--hoshi">
         <input class="input__field input__field--hoshi" type="text" id="form-zip"
                formControlName="zip" placeholder="zip"/>
         <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                for="form-zip"></label>
      </span>
          <div *ngIf="submitted && !buildingForm.controls.zip.valid" class="help-block">Zip is required</div>
        </div>

      </div>

      <div class="sf-controls clearfix text-right col-md-12">
        <button [disabled]="creating" class="btn btn-large btn-primary pull-right" type="submit">
          <span *ngIf="creating" class="glyphicon glyphicon-refresh glyphicon-refresh-animate m-r-5"></span>
          Create Building
        </button>
      </div>
    </form>

  </div>
</div>
