<div class="builder  saved-listings" id="builder">
  <a class="builder-toggle " (click)="toogleSection()"
  [ngClass]="{'no-selected-client': !this.current_client}"><i class="fa fa-heart text-primary"></i></a>
  <div id="quickview-sidebar2" class="modal fade modal-slideright saved-sidebar" tabindex="-1" role="dialog"
       [ngClass]="{'open in': opened}" aria-hidden="true">
    <div class="modal-backdrop fade in" (click)="toogleSection()"></div>
    <div class="modal-dialog m-r-0">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div>
              <div class="quickview-header2">
                <ul class="nav nav-tabs">
                  <li *ngFor="let item of tabs_menu" [ngClass]="{active : state === item.index}">
                    <a (click)="changeState(item.index)">{{ item.label }}</a></li>
                </ul>
              </div>
              <div class="quickview sidebar-upper">
                <div class="tab-content">
                  <div class="tab-pane fade" id="clientsmail" [ngClass]="{'active in': state === 'saved_searches'}">
                    <div class="sidebar-upper-part">
                      <form class=" form-horizontal">
                        <div class="form-group inputboxrightbar">
                          <label class="col-sm-3 control-label">Client</label>
                          <div class="col-sm-9">
                            <ng-select
                              [dropdownPosition]="'bottom'"
                              [closeOnSelect]="true"
                              [markFirst]="false"
                              placeholder="Select Client"
                              name="client"
                              [items]="clients"
                              bindLabel="name"
                              [(ngModel)]="current_client"
                              (change)="updateClient()"
                            ></ng-select>
                          </div>
                        </div>
                      </form>
                      <div style="height:15px;"></div>
                    </div>

                    <app-saved-search [client]="current_client"></app-saved-search>

                  </div>
                  <div class="tab-pane fade" id="showsheetmail" [ngClass]="{'active in': state === 'listings'}">
                    <div class="sidebar-upper-part">
                      <form class=" form-horizontal">
                        <div class="form-group inputboxrightbar">
                          <label class="col-sm-3 control-label">Client</label>
                          <div class="col-sm-9">
                            <ng-select
                              [dropdownPosition]="'bottom'"
                              [closeOnSelect]="true"
                              [markFirst]="false"
                              placeholder="Select Client"
                              name="client"
                              [items]="clients"
                              bindLabel="name"
                              [(ngModel)]="current_client"
                              (change)="updateClient()"
                            ></ng-select>
                          </div>
                        </div>
                      </form>
                      <div style="height:15px;"></div>
                    </div>

                    <app-saved-listings></app-saved-listings>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
