.saved-sidebar.open{
  display: block;
  z-index: 10000;
}
.no-selected-client{
  background-color: #f2f4f7;
}

.modal-dialog {
  padding-top: 50px;
}

@media screen and (max-width: 320px) {
  .modal-slideright .modal-dialog {
    max-width: 300px;
  }
}

.builder {
  z-index: 200 !important;
}

@media screen and (max-width: 420px) {
  .modal.fade.in.modal-slideright .modal-dialog {
    width: 90% !important;
  }
  #quickview-sidebar2 .quickview {
    width: 100% !important;
  }
}

#quickview-sidebar2 .quickview-header2 .nav > li {
  width: 50%;
}

#quickview-sidebar2 .quickview-header2 {
  width: unset;
}

#quickview-sidebar2 .tab-content {
  padding: 15px 0;
}

/deep/ .builder .layout-option {
  margin-bottom: 0px;
}

#quickview-sidebar2[_ngcontent-c6] .tab-content[_ngcontent-c6] {
  padding: 15px 0 0 0;
}
