<div class="topbar" [ngClass]="{'no-selected-client': !current_client}">
  <div class="row">
    <div class="header-left" style="margin-left: 15px;">
      <div class="topnav">
        <a class="menutoggle" (click)="menutoggle()" data-toggle="sidebar-collapsed"
           [ngStyle]="{backgroundColor: collapsed?logo_background:''}"><span
          class="menu__handle"><span>Menu</span></span></a>
        <ul class="nav nav-icons mb-hide_3">
          <li>
            <a class="toggle-sidebar-top not-implemented" tooltip="Not implemented" placement="bottom">
              <span class="icon-user-following"></span>
            </a>
          </li>
          <li>
            <a routerLink="/mailbox/send" placement="bottom" tooltip="Compose message">
              <span class="octicon octicon-mail-read"></span>
            </a>
          </li>
          <li *ngIf="isCurrentUserSupervisor()">
            <a class="toggle-sidebar-top not-implemented" tooltip="Not implemented" placement="bottom">
              <span class="icon-users"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-hide_5" >
      <div class="header-centerinner header-inline-block">
        <ng-select
          [(ngModel)]="current_client"
          [dropdownPosition]="'bottom'"
          [closeOnSelect]="true"
          [markFirst]="false"
          placeholder="Select Client"
          name="client"
          [items]="clients"
          bindLabel="name"
          (change)="updateClient()"
        ></ng-select>
      </div>
      <div class="header-centerinner header-inline-block">
        <select class="form-control" (change)="navigateTo()" [(ngModel)]="navigate_to_url">
          <option value="">Jump to</option>
          <option *ngFor="let item of jump_to_list" [ngValue]="item.url">{{ item.name }}</option>
        </select>
      </div>
    </div>
    <div class="header-right">
      <ul class="header-menu nav navbar-nav">
        <!-- BEGIN USER DROPDOWN -->
        <li class="m-t-8 searchhead not-implemented mb-hide mb-hide_2" tooltip="Not implemented" placement="bottom">
          <div class="append-icon">
            <input type="text" class="form-control form-white pull-right" id="email-search" placeholder="Search...">
            <i class="icon-magnifier"></i>
          </div>
        </li>
        <!-- END USER DROPDOWN -->
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <li dropdown class="dropdown" id="notifications-header">
          <app-notification></app-notification>
        </li>
        <!-- END NOTIFICATION DROPDOWN -->
        <!-- BEGIN MESSAGES DROPDOWN -->
        <li>
          <app-header-alerts></app-header-alerts>
        </li>
        <!-- END MESSAGES DROPDOWN -->
        
        <!-- CHAT BAR ICON -->
        <li id="quickview-toggle" class="mb-hide_3"><a><i placement="left" tooltip="Not implemented"
                                                          class="icon-bubbles not-implemented"></i></a></li>
      </ul>
    </div>
  </div>

  <!-- header-right -->
</div>
<header class="header">
  <div class="top-header">
    <div class="container-fluid">
      <div class="row justify-content-around align-content-center">
        <div class="col-sm-3 text-center text-sm-left">
          <div class=""><img src="./images/site/logo.png" alt=""></div>
        </div>
        <div class="col-sm-9 ">
          <ul class="top-navgation text-center text-sm-right">
            <li><app-header-alerts></app-header-alerts></li>
            <li><a href="">Deals</a></li>
            <li>
              <a routerLink="/user/profile"><!--<i class="icon-user"></i>--><span>Account</span></a>
            </li>
              <!-- BEGIN USER DROPDOWN -->
        <li id="user-header" *ngIf="user" class="user-login">
          <div dropdown class="dropdown clearfix">
            <a dropdownToggle data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <div class="user-thumb float-left mr-1"> <img *ngIf="user.photo" [src]="user.getPhotoUrl()" alt="User image">
              <img *ngIf="!user.photo" src="./images/avatars/no_picture.png" alt="No user image"> </div>
              <span class="username mb-hide_3">Welcome back, <br>{{ user.first_name }} {{ user.last_name }}!</span>
            </a>
            <ul *dropdownMenu class="dropdown-menu">
              <li>
                <a href="#"><i class="icon-calendar"></i><span>My Calendar</span></a>
              </li>
              <li>
                <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
              </li>
              <li *ngIf="!impersonating">
                <a routerLink="/auth/logout"><i class="icon-logout"></i><span>Logout</span></a>
              </li>
              <li *ngIf="impersonating">
                <a href="#" (click)="restoreSession($event)"><i class="icon-logout"></i><span>Restore session</span></a>
              </li>
            </ul>
          </div>
        </li>
        <!-- END USER DROPDOWN -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navgation">
    <nav class="navbar navbar-expand-md bg-light">
      <div class="container"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fas fa-bars"></i> 
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class=" active"> <a class="nav-link" href="#">Sales</a> </li>
            <li class=""> <a class="nav-link" href="#">Rentals</a> </li>
            <li class=""> <a class="nav-link" href="#">Clients</a> </li>
            <li class=""> <a class="nav-link" href="#">Listings</a> </li>
            <li class=""> <a class="nav-link" href="#">Stats</a> </li>
            <li class=""> <a class="nav-link" href="#">Live Streaming</a> </li>
          </ul>
          <form class="form-inline search-box top-search my-2 my-lg-0">
            <div class="input-group">
              <button class="" ><i class="fas fa-search"></i></button>
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="" ><i class="fas fa-microphone"></i></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
