<header class="header">
  <div class="top-header">
    <div class="container-fluid">
      <div class="row justify-content-around align-content-center">
        <div class="col-sm-3 text-center text-sm-left">
          <div class=""><img src="./images/site/logo.png" alt=""></div>
        </div>
        <div class="col-sm-9 ">
          <ul class="top-navgation text-center text-sm-right">
            <li><app-header-alerts></app-header-alerts></li>
            <li><a href="">Deals</a></li>
            <li>
              <a routerLink="/user/profile"><!--<i class="icon-user"></i>--><span>Account</span></a>
            </li>
              <!-- BEGIN USER DROPDOWN -->
        <li id="user-header" *ngIf="user" class="user-login">
          <div dropdown class="dropdown clearfix">
            <a dropdownToggle data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <div class="user-thumb float-left mr-1"> <img *ngIf="user.photo" [src]="user.getPhotoUrl()" alt="User image">
              <img *ngIf="!user.photo" src="./images/avatars/no_picture.png" alt="No user image"> </div>
              <span class="username mb-hide_3">Welcome back, <br>{{ user.first_name }} {{ user.last_name }}!</span>
            </a>
            <ul *dropdownMenu class="dropdown-menu">
              <li>
                <a href="#"><i class="icon-calendar"></i><span>My Calendar</span></a>
              </li>
              <li>
                <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
              </li>
              <li *ngIf="!impersonating">
                <a routerLink="/auth/logout"><i class="icon-logout"></i><span>Logout</span></a>
              </li>
              <li *ngIf="impersonating">
                <a href="#" (click)="restoreSession($event)"><i class="icon-logout"></i><span>Restore session</span></a>
              </li>
            </ul>
          </div>
        </li>
        <!-- END USER DROPDOWN -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navgation">
    <nav class="navbar navbar-expand-md bg-light">
      <div class="container"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fas fa-bars"></i> 
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class=" active"> <a class="nav-link" href="#">Sales</a> </li>
            <li class=""> <a class="nav-link" href="#">Rentals</a> </li>
            <li class=""> <a class="nav-link" href="#">Clients</a> </li>
            <li class=""> <a class="nav-link" href="#">Listings</a> </li>
            <li class=""> <a class="nav-link" href="#">Stats</a> </li>
            <li class=""> <a class="nav-link" href="#">Live Streaming</a> </li>
          </ul>
          <form class="form-inline search-box top-search my-2 my-lg-0">
            <div class="input-group">
              <button class="" ><i class="fas fa-search"></i></button>
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <ng-select
          [(ngModel)]="current_client"
          [dropdownPosition]="'bottom'"
          [closeOnSelect]="true"
          [markFirst]="false"
          placeholder="Select Client"
          name="client"
          [items]="clients"
          bindLabel="name"
          (change)="updateClient()"
        ></ng-select>
              <button class="" ><i class="fas fa-microphone"></i></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
