<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>Agents</strong></h2>
      </div>
    </div>
  </div>


  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="result.length">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Last active</th>
              <th>Has OAuth token</th>
              <th>Active Listings</th>
              <th>Active Clients</th>
              <th></th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let agent of result" [ngStyle]="{'background-color': agent.active ? 'white' : 'WhiteSmoke'}">
              <td>
                <a href="#" [routerLink]="['/agent', agent.user_id, 'details']">{{ agent.name }}</a>
              </td>
              <td><a class="cursor-pointer" appMailPopup [email]="agent.email">{{ agent.email }}</a></td>
              <td><a [href]="'tel:'+ agent.phone">{{ agent.phone }}</a></td>
              <td>{{ agent.last_active === null ? 'N/A' : (agent.last_active | appDateFormat:'aform':'time') }}</td>
              <td [ngStyle]="{'color': agent.has_oauth_data ? 'green' : 'red'}">{{ agent.has_oauth_data ? "Yes" : "No" }}</td>
              <td>{{ agent.active_listings }}</td>
              <td>{{ agent.active_clients }}</td>
              <td>
                <a class="btn btn-xs btn-primary" tooltip="Log in as this agent" [routerLink]="['/auth', 'login']" [queryParams]="{ 'loginAsId': agent.user_id }">
                  <i class="fas fa-user-friends"></i>
                </a>
                <a class="btn btn-xs btn-primary" tooltip="Event Log" [routerLink]="['/agent', agent.user_id, 'event-log']">
                  <i class="fa fa-link"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!result.length && loaded">Agents not found</h2></div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
