<div class="modal-header bg-primary">
  <div class="p-b-20">
    <h4 class="modal-title pull-left">Please select a client</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-hidden="true">&times;</button>
  </div>
</div>
<div class="modal-body">

  <div class="p-t-20 p-b-20">
    <ng-select
      [dropdownPosition]="'bottom'"
      [closeOnSelect]="true"
      [markFirst]="false"
      placeholder="Select Client"
      name="client"
      [items]="clients"
      bindLabel="name"
      [(ngModel)]="current_client"
      (change)="changeClient()"
    ></ng-select>
  </div>
</div>
