<div *ngIf="invoice && invoice.type === 'rental'">
  <app-invoice-details-rental [invoice]="invoice"></app-invoice-details-rental>
</div>
<div *ngIf="invoice && invoice.type === 'sale'">
  <app-invoice-details-sale [invoice]="invoice"></app-invoice-details-sale>
</div>
<app-loader [loading]="loading"></app-loader>
