<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>Event Log</strong></h2>
      </div>
    </div>
  </div>


  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="result.length">
            <thead>
            <tr>
              <th>Event name</th>
              <th>Client</th>
              <th>Description</th>
              <th>Time</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let event of result">
              <td>{{ event.event_title }}</td>
              <td><a [routerLink]="['/client', event.client.user_id, 'details']"
                     *ngIf="event.client">{{ event.client.name }}</a></td>
              <td>{{ event.description }}</td>
              <td>{{ event.event_time | appDateFormat:'full':'time' }}</td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="total > limit">
            <pagination [totalItems]="total" [itemsPerPage]="limit" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!result.length && loaded">Event logs not found</h2></div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
