<div class="p-30">
  <div class="row">

    <div class="col-md-6 m-b-30 p-r-20" *ngFor="let photo of list[page-1]" (mouseleave)="hideOptions(photo,$event)">
      <div class="btn-toolbar pos-abs" role="toolbar" aria-label="Toolbar annotation options">
        <app-item-annotation [photo]="photo" [saving]="saving"></app-item-annotation>
      </div>

      <div class="listing-photo" (mousemove)="showOptions(photo, $event)"
           [ngStyle]="{'background-image': 'url(' + photo.getUrl(image_sizes.wadmin) +')'}"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-right">
        <button (click)="bsModalRef.hide()" [disabled]="saving" class="btn btn-default">Cancel</button>
        <button *ngIf="page > 1" (click)="page = page- 1" [disabled]="saving" class="btn btn-primary">Back</button>
        <button *ngIf="page < total" (click)="nextStep()" [disabled]="saving" class="btn btn-success">Next</button>
        <button *ngIf="page === total" (click)="save()" [disabled]="saving" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
<progressbar *ngIf="photos" class="progress" [value]="page" [max]="list.length">
  {{ page }}/{{ list.length }}
  ({{ photos.length }} {{ photos.length > 1 ? 'photos' : 'photo' }})
</progressbar>
<app-loader [loading]="saving"></app-loader>
