.listing-photo {
  height: 380px;
  width: 100%;
  background: no-repeat center;
  background-size: auto 100%;
  background-color: #ccc;
}

.btn-toolbar {
  width: 100%;
  padding-right: 35px;
  margin-left: 0;
}

.progress {
  border-radius: 0;
  height: 22px;

  /deep/ .progress-bar{
    line-height: 1.25em;
    font-size: 18px;
  }
}
