<i class="fa fa-heart savesearchsidebar text-success" [tooltip]="withLabel?'':'Sent'"
   [placement]="tooltipPlacement" container="body" *ngIf="savedListingService.isSent(item.advertisement_id)"></i>

<i (click)="toogleListing()"
   class="fa fa-heart savesearchsidebar cursor-pointer" [tooltip]="withLabel?'':'Save'" placement="bottom"
   *ngIf="!savedListingService.isSent(item.advertisement_id)" container="body"
   [ngClass]="{'text-primary' : savedListingService.isSaved(item.advertisement_id)}"></i>

<span *ngIf="withLabel && !item.sent">Save</span>
<span *ngIf="withLabel && item.sent">Sent</span>
