@border-color: rgba(168, 167, 167, 0.534);

.attachment-card {
	width: 90px;
}

.attachment-card__Icon {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-left: 1px solid @border-color;
	border-right: 1px solid @border-color;
	border-top: 1px solid @border-color;
	display: flex;
    flex-flow: column nowrap;
	padding: 0.75em 0;
	
	& > i {
		font-size: 2em;
		margin: auto;
	}

	& > span.attachment-card__Icon--size {
		font-size: 1em;
		margin: auto;
	}
}

.attachment-card__Text {
	height: 60px;
	overflow-y: auto;

	word-break: break-word;
	padding: 0 .5em;
	background-color: #fafafa;
	border-left: 1px solid @border-color;
	border-right: 1px solid @border-color;
	border-bottom: 1px solid @border-color;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}