<div class="attachment-card">
  <div class="attachment-card__Icon" [ngStyle]="{ 'background-color': getCardStyle().backgroundColor }">
      <i [ngClass]="getCardStyle().icon"></i>
      <span class="attachment-card__Icon--size">{{ file.size_estimate }}</span>
  </div>
  <div class="attachment-card__Text">
    {{ file.name }}
  </div>
</div>
