<div class="modal-header bg-primary">
  <div class="p-b-20">
    <h4 class="modal-title pull-left">View Images</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-hidden="true">&times;</button>
  </div>
</div>
<div class="modal-body">
  <div class="view-detailpopupmain">
    <div class="widget widget_slider">
      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slickConfig" *ngIf="photos.length">
        <div ngxSlickItem *ngFor="let slide of photos" class="slide">
          <img src="{{ slide }}" alt="" width="100%">
        </div>
      </ngx-slick>
    </div>
  </div>
</div>
