<!-- <div class="sidebar">
  <div class="logopanel" [ngStyle]="{'background':background}">
    <h1>
      <a routerLink="/app/dashboard">{{ title }}<sub>{{ app_version }}</sub></a>
    </h1>
  </div>

  <div class="sidebar-inner">
    <ng-scrollbar>
      <div class="sidebar-content">
        <div class="sidebar-top">
          <form action="/app/dashboard" method="post" class="searchform not-implemented" id="search-results"
                autocomplete="off" tooltip="Not implemented" placement="bottom">
            <input type="text" class="form-control" name="keyword" placeholder="Search...">
          </form>
          <div class="userlogged clearfix">
            <app-user-details></app-user-details>
          </div>
        </div>

        <app-navigation></app-navigation>
      </div>-->
      <!-- SIDEBAR WIDGET FOLDERS -->

    <!-- </ng-scrollbar>
    <div class="sidebar-footer clearfix">
      <a class="pull-left footer-settings not-implemented"  data-rel="tooltip" placement="right"
         tooltip="Not implemented">
        <i class="icon-settings"></i></a>
      <a class="pull-left toggle_fullscreen" (click)="toggleFullScreen()" placement="top" tooltip="Fullscreen">
        <i class="icon-size-fullscreen"></i></a>
      <a class="pull-left btn-effect" routerLink="/auth/logout" data-modal="modal-1" placement="top" tooltip="Logout">
        <i class="icon-power"></i></a>
    </div>
  </div>
</div> -->
