
// /deep/ .sidebar-collapsed :host .ng-scrollbar-container {
//   overflow: inherit !important;
// }

.logopanel {
  sub {
    font-size: 12px;
    font-family: Arial, serif;
    bottom: -8px;
  }
}

// /deep/ .sidebar-collapsed .sidebar ng-scrollbar {
//   overflow: inherit !important;

//   .ng-scrollbar-container {
//     overflow: inherit !important;

//     .ng-scrollbar-view {
//       overflow: inherit !important;
//     }
//   }
// }

.sidebar-top {
  max-width: 240px;
}

.sidebar-content {
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .sidebar-top {
    display: none;
  }
}
