<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>Deals</strong><span *ngIf="isSupervisor()">Supervisor View</span></h2>

      </div>
    </div>
  </div>

  <div class="col-md-12 m-b-10">
    <button class="btn btn-sm btn-success m-t-10" container="body" tooltip="Create new deal" type="button" (click)="createNewDeal()">
      New Deal
    </button>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div *ngIf="isSupervisor()" class="form-group">
      <div class="m-b-10 col-md-6">
        <label class="control-label">Agent</label>
        <select class="form-control"
                [(ngModel)]="selected_agent_id"
                [ngModelOptions]="{ standalone: true }"
                (change)="loadDeals(true)">
          <option value="-1">All Deals</option>
          <option *ngFor="let agent of agent_list" [value]="agent.user_id">{{ agent.name }}</option>
        </select>
      </div>
      <div class="m-b-10 col-md-6">
        <label class="control-label">Deal status</label>
        <select class="form-control"
                [(ngModel)]="deal_status_filter"
                [ngModelOptions]="{ standalone: true }"
                (change)="loadDeals(true)">
          <option value="all">Any status</option>
          <option value="draft">Draft</option>
          <option value="pending_review">Pending review</option>
          <option value="deal_submitted">Deal submitted</option>
          <option value="pending_op">Pending OP</option>
          <option value="pending_commission_check">Pending commission check</option>
          <option value="payment_sent">Payment sent</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="deals.length">
            <thead>
            <tr>
              <th *ngIf="isSupervisor()">Agent name</th>
              <th>Name</th>
              <th>Address</th>
              <th>Status</th>
              <th>Deal date</th>
              <th style="width: 250px">Actions</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let deal of deals">
              <td *ngIf="isSupervisor()">{{ deal.agent_name }}</td>
              <td>
                <a [routerLink]="['/client', 'deals', deal.deal_sheet_id, 'details']">{{ deal.client_name != '' ? deal.client_name : 'N/A' }}</a>
              </td>
              <td>{{ deal.building_address + (deal.unit ? ', ' + deal.unit : '') }}</td>
              <td>
                <select class="form-control"
                        [(ngModel)]="deal.status"
                        [disabled]="!isSupervisor()"
                        [attr.readonly]="isSupervisor() ? null: true"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onStatusChange($event, deal)">
                      <option value="draft">Draft</option>
                      <option value="pending_review">Pending review</option>
                      <option value="deal_submitted">Deal submitted</option>
                      <option value="pending_op">Pending OP</option>
                      <option value="pending_commission_check">Pending commission check</option>
                      <option value="payment_sent">Payment sent</option>
                </select>
              </td>
              <td>{{ deal.date_submitted | appDateFormat:'aform':'time' }}</td>
              <td>
                <a *ngIf="deal.status === 'draft' || isSupervisor()" class="cursor-pointer btn btn-sm btn-default" [routerLink]="['/client', 'deals', deal.deal_sheet_id, 'edit']">Edit</a>
                <button type="button" class="btn btn-sm btn-danger" (click)="deleteDeal(deal)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!deals.length && loaded">No deals found</h2></div>
      <div *ngIf="deals.length < total"
           class="text-center">
        <button [disabled]="loading" class="btn btn-primary" (click)="loadMore()">Load more</button>
      </div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
