<div dropdown #dropdown="bs-dropdown" (mouseenter)="dropdown.show()" (mouseleave)="dropdown.hide()" class="dropdown"
     id="messages-header">
  <a dropdownToggle data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    Mailbox
    <span *ngIf="is_connected" [ngStyle]="{visibility: count ? 'visible':'visible'}"
          class="">({{ count }})</span>
    <span tooltip="Trying to connect" placement="bottom" container="body" *ngIf="!is_connected" class="visible badge badge-danger badge-header"> ! </span>
  </a>
  <ul *dropdownMenu class="dropdown-menu" [ngClass]="{'hidden':!is_connected}">
    <li class="dropdown-header clearfix">
      <p class="pull-left">You have {{ count }} Messages</p>
    </li>
    <li class="dropdown-body">
      <ul class="dropdown-menu-list withScroll" data-height="220">
        <li class="clearfix" *ngFor="let thread of messages" routerLink="/mailbox" [fragment]="thread.id">
          <span class="pull-left p-r-5">
            <img *ngIf="thread.hasAvatar()" [src]="thread.getAvatarUrl()" alt="avatar 3">
          </span>
          <div class="clearfix">
            <div>
              <strong>{{ thread.getSenderName() }}</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time p-r-5"></span>{{ thread.time_created | amTimeAgo}}
              </small>
            </div>
            <p>{{ thread.snippet | ellipsis:'words':10 }}</p>
          </div>
        </li>

      </ul>
    </li>
    <li class="dropdown-footer clearfix">
      <a routerLink="/mailbox" class="pull-left">See all messages</a>
      <a href="#" class="pull-right"><i class="icon-settings"></i></a>
    </li>
  </ul>
</div>
