<div class="card-box Stats: rental-sales-box">
  <div class="card-box-header">
    <h3 class="card-box-title">Stats: Rentals vs Sales</h3>
    
  </div>
  <div class="card-box-body">
     
    <img src="./images/site/rental-sales.png" alt="">               
  </div>
</div>