<div class="row" *ngIf="!loading">
  <div class="col-md-12" *ngIf="far">
    <h2>
      Find a free agent&nbsp;<span [class]="getBadgeClass(far)" *ngIf="far.status !== 'NEW'"> {{ far.status }}</span>
      <button class="btn btn-primary btn-sm" type="button" [disabled]="loading" (click)="initFAR()">
        <i class="fas fa-refresh"></i> Refresh Free Agent Request
      </button>
    </h2>
    <h3>
      Last updated &mdash; {{ far.time_updated.toLocaleString() }}
    </h3>
    <hr>
    <div *ngFor="let agent of agents">
      <label class="dis-inline">
        <input type="checkbox"
               *ngIf="far.status === 'NEW' || far.status === 'ERROR'"
               [(ngModel)]="agent.selected"
               [ngModelOptions]="{ standalone: true }"
               >
        &nbsp;{{ agent.name }} <span *ngIf="agent.time_updated !== null">&mdash; Last active on {{ agent.time_updated.toLocaleString() }}</span>
      </label>
      <span [class]="getBadgeClass(agent)" *ngIf="agent.status !== 'NEW'">{{ agent.status }} <span *ngIf="agent.status_message">({{ agent.status_message }})</span></span>
    </div>
    <h3 *ngIf="agents.length === 0">
      Sorry, no agents are currently available.
    </h3>
    <form [formGroup]="messageForm" (submit)="sendRequest()" *ngIf="far.status === 'NEW' || far.status === 'ERROR'">
      <hr>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label class="control-label">Date</label>
            <input type="date" formControlName="date" class="form-control">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Time</label>
            <input type="time" formControlName="time" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Subject</label>
            <input type="text" formControlName="subject" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Message</label>
            <textarea formControlName="message" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-md btn-primary" [disabled]="sendDisabled()">Send</button>
        </div>
        <div class="col-md-12">
          <app-templates [context]="'free_agent'" [form-group]="messageForm" [other-params]="params"></app-templates>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12" *ngIf="!far">
    <h2>Could not load current free agent request.</h2>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
