<section>
  <div class="email-subject">
    <h1>
      <a class="btn btn-default" tooltip="Back" container="body" (click)="backToList()"><i class="fa fa-arrow-left"></i></a>
      {{ selected_thread.getSubject() }}</h1>
    <div class="clearfix">
      <div class="go-back-list">
        <i data-rel="tooltip" data-placement="bottom" data-original-title="Back to email list"
           class="icon-arrow-left"></i></div>
      <p>
        <span *ngIf="selected_thread.from_info && selected_thread.from_info.title" class="label bold m-r-10"
              [ngStyle]="{ 'background-color': selected_thread.from_info.bgColor, color: selected_thread.from_info.color }">{{ selected_thread.from_info.title }}</span>
        from <strong><span class="sender" [tooltip]="selected_thread.from_email"
      >{{ selected_thread.getSenderName() }}</span></strong>
        &bull; to <strong><span class="sender" [tooltip]="selected_thread.messages[0].to_email"
      >{{ selected_thread.messages[0].to_name || selected_thread.messages[0].to_email }}</span></strong>
        &bull; <span class="date">{{ selected_thread.time_created | amCalendar:{sameDay:'h:mm A', lastDay: 'DD MMM h:mm A',
                      lastWeek: 'DD MMM h:mm A', thisMonth: 'DD MMM h:mm A'} }}</span>
      </p>
      <div dropdown class="pos-rel pull-left">
        <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
           data-close-others="true"
           data-delay="300">
          <i class=" icon-rounded-arrow-down-thin"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a (click)="delete_thread(selected_thread)" class="reorder-menu">Delete</a></li>
          <li><a href="#" class="hide-top-sidebar not-implemented">Print</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="email-details-inner withScroll" data-height="window" data-padding="155" *ngIf="selected_thread">
    <div class="email-content"
         *ngFor="let thread_message of selected_thread.messages; let is_first = first; let is_last = last"
         [ngClass]="{opened: isOpened(thread_message, is_last)}">
      <div class="panel panel-primary">
        <div class="panel-header cursor-pointer" (click)="thread_message.toogle = !thread_message.toogle">
          <div class="pull-left m-r-5" style="display: flex; width: 100%">
            <img class="sender-img pull-left" *ngIf="thread_message.hasAvatar()" [src]="thread_message.getAvatarUrl()"
                 alt="avatar" width="40">
            <span class="m-l-5 m-t-5 pull-left" style="width: 200px;">
              {{ thread_message.getSenderName() }}
              <i *ngIf="thread_message.hasPayload()" class="fa fa-home" container="body"
                 tooltip="There are listings attached in this message"></i>
            </span>
            <div class="m-l-5 m-t-5 pull-left ellipsis" style="flex: 5" *ngIf="!thread_message.opened">
              <i *ngIf="thread_message.attachments.length" class="icon-paper-clip"></i>
              <span [innerHTML]="getExcerptAsSafeHTML(thread_message.excerpt)"></span>
            </div>
            <div style="flex: 1; width: 0;">
              <div dropdown class="pos-rel pull-right m-l-5" (click)="thread_message.toogle = !thread_message.toogle">
                <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true"
                   data-delay="300">
                  <i class=" icon-rounded-arrow-down-thin"></i>
                </a>
                <ul *dropdownMenu class="dropdown-menu">
                  <li><a (click)="show_forward_form(thread_message)" class="reorder-menu not-implemented">Forward</a>
                  </li>
                  <li><a (click)="show_reply_form(thread_message)" class="reorder-menu">Reply</a></li>
                  <li><a href="#" class="reorder-menu not-implemented">Print</a></li>
                  <li><a (click)="delete_message(thread_message)" class="reorder-menu">Delete</a></li>
                  <li><a (click)="unread_message(thread_message)" class="remove-menu">Mark unread</a></li>
                </ul>
              </div>
              <div dropdown class="pos-rel pull-right m-l-5">
                {{ thread_message.time_created | appDateFormat: 'inbox' : 'time' }}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body" *ngIf="thread_message.opened">
          <div class="media-body dis-inline">
            <div class="iframe-content" *ngIf="thread_message.isIframeContent()">
              <iframe [attr.id]="'iframe-'+thread_message.id" src="about:blank" width="100%" height="100%"
                      scrolling="no" frameBorder="0"
                      (load)="putInIframe(thread_message, $event)"></iframe>
            </div>
            <div class="html-content" *ngIf="!thread_message.isIframeContent() && thread_message.email_html">
              <div [innerHTML]="thread_message.email_html"></div>
            </div>
            <p class="plain-content line-breaker" *ngIf="!thread_message.email_html">
              {{ thread_message.email_plain || '(no content)' }}
            </p>
            <div *ngIf="thread_message.hasAttachment()" class="email-attachment clearfix">
              <div class="attachments">
                <span *ngIf="downloading" class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                <a class="cursor-pointer" *ngFor="let file of thread_message.attachments" [appPreviewAttachment]="file"
                   [message]="thread_message" (downloading)="downloading = $event"><i
                  class="fa fa-file-image-o"></i> {{ file.filename }}
                </a>
              </div>
            </div>
            <div *ngIf="thread_message.hasPayload()">
              <div class="text-right m-t-10">
                <button class="btn btn-default" *ngIf="thread_message.show_payload"
                        (click)="thread_message.show_payload = !thread_message.show_payload">Hide listings
                </button>
                <button class="btn btn-primary" *ngIf="!thread_message.show_payload"
                        (click)="thread_message.show_payload = !thread_message.show_payload">Show listings
                </button>
              </div>
              <div class="payload-listings" *ngIf="thread_message.show_payload">
                <div *ngFor="let item of thread_message.payload.listings"
                     class="col-md-4 subtitle p secondary-textcol-sm-6 col-xs-12"
                     [ngClass]="{'col-md-6': modal, 'col-md-4': !modal}">
                  <app-saved-listings-item [item]="item" [readonly]="true"></app-saved-listings-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="(is_last && !thread_message.forward_form) || thread_message.reply_form" class="write-answer">
        <textarea class="answer-textarea" (change)="thread_message.reply_message = $event.target.value"
                  [disabled]="thread_message.replying"></textarea>
        <div class="m-t-5" *ngIf="client && saved_listings.length">
          <div class="text-right">
            <span class="btn btn-sm btn-default"
                  (click)="thread_message.attach_listings = !thread_message.attach_listings"><i
              class="fa fa-paperclip"></i> Attach saved listings</span>
          </div>
          <div *ngIf="thread_message.attach_listings" class="m-t-5 m-b-15 row">
            <div *ngFor="let item of saved_listings" class="col-sm-3 col-xs-6">
              <app-saved-listings-item [item]="item"
                                       (checked)="selected_listings.push(item.advertisement_id)"
                                       (unchecked)="selected_listings.splice(selected_listings.indexOf(item.advertisement_id), 1)"
              ></app-saved-listings-item>
            </div>
          </div>
        </div>
        <button class="btn btn-primary reply" type="button" (click)="replyMessage(thread_message)"
                [disabled]="thread_message.replying">Reply
        </button>
        <span *ngIf="thread_message.replying" class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <label class="btn btn-primary uploadlabel" for="fileupload">
          <i class="fa fa-paperclip"></i>&nbsp;&nbsp;Attach Files
        </label>
        <br/>
        <input type="file" name="fileupload" id="fileupload" #attachments (change)="onFilesAttached(attachments.files)" multiple>
        <br/>
        <ul class="queuedfiles" *ngIf="attachedFiles && attachedFiles.length > 0">
          <li *ngFor="let file of attachedFiles">
            {{ file.name }} ({{ file.size_estimate }}) <i class="fa fa-times" (click)="removeAttachment(file)" title="Remove attachment"></i>
          </li>
        </ul>
      </div>
      <form *ngIf="thread_message.forward_form" class="write-answer form-horizontal m-r-10">
        <div class="form-group">
          <label class="control-label col-sm-1">To:</label>
          <div class="col-sm-11"><input class="form-control" name="to"></div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">CC:</label>
          <div class="col-sm-11"><input class="form-control" name="cc"></div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1">BCC:</label>
          <div class="col-sm-11"><input class="form-control" name="bcc"></div>
        </div>
        <div class="form-group">
        <textarea class="answer-textarea" (change)="thread_message.forward_message = $event.target.value"
                  [disabled]="thread_message.forwarding"></textarea>
          <button class="btn btn-primary" type="button" (click)="forwardMessage(thread_message)"
                  [disabled]="thread_message.forwarding">Forward
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
