@import "../../../../styles/variable";
@import "../../../../styles/mixins";

.email-content {

  padding-top: 5px;

  &:not(.opened) {
    cursor: pointer;
  }

  .ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }

  .panel {

    background-color: @default-hover;
    margin-bottom: 5px;

    .panel-header {
      min-height: 40px;
    }

    .panel-body {

      .email-attachment {
        display: none;
      }

      .html-content {

        /deep/ .gmail_extra {
          display: none;
        }

        /deep/ div[dir] {
          line-height: 1em;
          height: 1em;
          overflow-y: hidden;
        }
      }

    }
  }

  .write-answer {

    .form-group {

      margin-bottom: 5px;

      .form-control {
        background-color: @mailbox-color-white;
      }
    }

    textarea {
      min-height: 150px;
      resize: vertical;
    }
  }

  &.opened {
    .panel {
      background-color: @mailbox-color-white;

      .panel-body {

        .email-attachment {
          display: block;
        }

        .html-content {

          /deep/ .gmail_extra {
            display: block;
          }

          /deep/ div[dir] {
            line-height: 1em;
            height: auto;
            overflow-y: inherit;
          }
        }
      }
    }
  }

}

.email-subject {
  .label {
    font-size: 16px;
  }
}

.payload-listings {
  border-top: 1px solid #DDD;
  padding-top: 10px;
  margin-top: 10px;
}

.reply {
  float: right;
}

.uploadlabel {
  margin-top: 0 !important;
}

.queuedfiles {
  position: static !important;
  clear: both;
}

/deep/ .download-attachment-btn {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 10000
}
