@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; font-weight: 400;
  color: #3B3B3B;
}

::-webkit-input-placeholder { opacity: 1}
:-ms-input-placeholder { opacity: 1}
::placeholder { opacity: 1}

input:focus, .form-control:focus{outline: none; box-shadow: none; border-color: inherit; color: inherit}
.container {max-width:1540px}
.user-thumb {border-radius: 50%;overflow: hidden;height: 50px;width: 50px; flex: 0 0 50px;}
.user-thumb img {max-width: 50px;}
.btn-yello {color: #000;background-color: #FCB800;border-color: #666666; font-weight: 600; min-width: 100px;}
.btn-yello:hover {color: #fff;background-color: #333;border-color: #333; font-weight: 600;}
.btn-yello-light {background-color: #FFE398;border-color: #666666;}

.text-blue { color:#4866AA}
.no-style-btn {border: none; background:none; padding:0}
img { max-width:100%; height: auto;}

.header {box-shadow: 0 5px 5px rgba(0,0,0,0.1);}

.top-navgation {margin: 0;padding: 0; }
.top-header {background: #44A6EF;box-shadow: 0 5px 5px rgba(0,0,0,0.1); position: relative; z-index: 1; padding: 5px 0;}
.top-header li {display: inline-block; text-align: left;vertical-align: middle; color: #fff; font-weight: 600; padding: 0 7px;}
.top-header li a {color:#fff;}

.navbar-nav li a { color:#000;font-weight: 600 ;padding-left: 10px; padding-right: 10px}
.navbar-nav li.active a { }
.navbar {padding-left: 0;padding-right: 0;}
.search-box {border: 1px solid #ddd;border-radius: 5px;overflow: hidden;}
.search-box .form-control {border: none;}
.search-box button {	background: #fff;border: none; color:#999;}
.top-search {border: 1px solid #ddd;}

.temp-info-bar {text-align: right;}
.temp-info-bar  p { color: #44A6EF; margin: 0}
.temp-info-bar span { padding:0 10px; color: #3B3B3B}
.temp-info-bar span:last-child { padding-right:0;}


.card-box {box-shadow: 0px 0px 5px rgba(0,0,0,0.1);	padding: 15px;margin-bottom: 60px;border: none; border-radius:5px;}
.card-box-header {margin-bottom: 25px;justify-content: space-between;display: flex;}
.card-box-header .dropdown-toggle::after {display: none;}
.card-box-title {font-size: 24px;background: #44A6EF;color: #fff;padding: 4px 15px 5px 15px;display: inline-block;font-weight: 600;	margin-left: -15px; font-family: 'Lato', sans-serif;}
button.btn-add { color:#4866AA; font-weight: 600;}
button.btn-add i { padding-left:10px; color:#4866AA; font-size: 26px; display: inline-block;
vertical-align: middle; }


.pagination {justify-content: center;border: none; margin: 0}
.pagination li {color:#4866AA;padding: 0 10px;}
.pagination li a { color:#4866AA}
.pagination li.active a { font-weight:600;}



.keyword {color: #000;}
blockquote { border-left:10px solid #0093FF; padding-left:15px; position: relative;}
blockquote:after {content: ""; height:30%; position: absolute; bottom: 0PX; left: 0; right: 0; width: 100%; z-index: 111;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.5) 22%, rgba(255,255,255,0.8) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.5) 22%,rgba(255,255,255,0.8) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.5) 22%,rgba(255,255,255,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 );
}




.clients-list .user-thumb { margin-right: 10px;}
.client-info strong {display: block;}

.comp-list .list { margin-bottom: 10px;}
.comp-list > li  { margin-bottom: 40px;}
.comp-list .list-item-right { text-align: right}
.comp-list .list-item-left { }
.comp-list  p { margin: 0}
.comp-list .pic-thumb { margin-right:15px; flex: 0 0 165px;}
.comp-list-info p  { flex-basis: 50% }

.conversations-inquiries-list > li {margin-bottom: 40px;}
.conversations-inquiries-list .user-thumb {	margin-right: 10px;}

.apartments-thumb  { margin-bottom:10px;  position:relative}
.apartments-thumb .post-date {position: absolute;right: 20px;top: -25px;background: #FCB800;padding: 10px 28px;color: #000;font-weight: 600;font-family: 'Lato', sans-serif;}
.newest-apartments-list { margin-top:35px;}
.newest-apartments-list  > li { margin-bottom: 40px;}
.newest-apartments-list  p { margin:0;}
.newest-apartments-list .add-btn button { margin-right:20px}
.newest-apartments-list .add-btn i { margin-right: 5px;}
.newest-apartments-list p  { flex-basis: 50% }

.notifications-list > li {margin-bottom: 40px;}
.notifications-box .icon-thumb { margin-right:10px; width:75px; text-align: center}

.calendar-box { position: relative;}

.calendar-box #calendar-event {
    background:rgba(0,0,0,0.9); color:#fff; padding:25px;
	left: 0 !important;
	right: 0;
	transform: none !important;
	height: 100%; top:0; position: absolute; overflow: auto;
}
.calendar-box #calendar-event ul { margin: 0; padding: 0}
.calendar-box #calendar-event ul li { display: block; margin-bottom: 15px}
.calendar-box #calendar-event ul li a { padding-right:10px; font-weight: 600;}
.calendar-box .close { box-shadow: none; color: #fff; opacity: 1}
.field-width-icon button {
	position: absolute;
	right: 0;
	z-index: 222;
	top: 0;
	color: #fff;
}
#edit-event {position: absolute;height: 100%;top: 0;left: 0;right: 0;padding:100px 35px 0 35px;background: rgba(0,0,0,0.9); overflow: auto;}
.calendar-box #calendar-event .event-list-block button { color:#007bff; font-weight: 600;}
.add-btn button img {max-height: 18px;}
.event-edtit-form input[type="text"], .event-edtit-form input[type="date"] {background: transparent;border: none;border-bottom: 2px solid #ddd;width: 100%;	font-size: 18px;  height: 34px;	color: #fff;opacity: 1; border-radius: 4px;}
.event-edtit-form .field-width-icon input[type="text"] {font-size: 24px; font-weight: 600;}
.event-edtit-form .form-group { margin-bottom: 25px;}
.calendar-box #calendar-event .field-width-icon button { position: absolute; right: 0; color: #999;}
.field-width-icon { position: relative}
.edit-event .close {position: absolute;	top: 20px;right: 20px; z-index: 111;}
.calendar-box #calendar-event .edit-event.close i {color: #fff;	box-shadow: none;}
.event-edtit-form .custom-control-label {color:#fff;}
.event-edtit-form .custom-control-label::before {top: .35rem;}

.announcements-list li {
	margin-bottom: 40px;
	font-weight: 600;
}
.announcements-list li a {
	display: inline-block;
	clear: both;
}

.common-list  li {
	margin-bottom: 20px;
	font-weight: 600;
}




.circle-wrap {
  margin: 50px auto;
  width: 400px;
  height: 400px;
  
  border-radius: 50%;
    background: rgb(163,210,246);
background: -moz-linear-gradient(left,  rgba(163,210,246,1) 0%, rgba(178,216,247,1) 48%, rgba(91,176,241,1) 99%);
background: -webkit-linear-gradient(left,  rgba(163,210,246,1) 0%,rgba(178,216,247,1) 48%,rgba(91,176,241,1) 99%);
background: linear-gradient(to right,  rgba(163,210,246,1) 0%,rgba(178,216,247,1) 48%,rgba(91,176,241,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d2f6', endColorstr='#5bb0f1',GradientType=1 );

}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 400px, 400px, 200px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 202px, 400px, 0px);
 background: rgb(254,219,131);
background: -moz-linear-gradient(left,  rgba(254,219,131,1) 0%, rgba(252,213,116,1) 23%, rgba(249,190,42,1) 99%);
background: -webkit-linear-gradient(left,  rgba(254,219,131,1) 0%,rgba(252,213,116,1) 23%,rgba(249,190,42,1) 99%);
background: linear-gradient(to right,  rgba(254,219,131,1) 0%,rgba(252,213,116,1) 23%,rgba(249,190,42,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedb83', endColorstr='#f9be2a',GradientType=1 );



}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  
}



.circle-wrap .inside-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 75px;
  margin-left: 75px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
.circle-wrap .circle .mask span {
	position: absolute;
	left: 47%;
	right: 0;
	top: 0;
	text-align: center;
	width: 50%;
	height: 100%;
	padding-top: 8%;
	font-weight: 600;
	font-size: 34px;
	z-index: 1;
}

.data-table tr th {white-space: nowrap}
.data-table tr th:nth-child(odd) { background:#FFE5A7;} 
.data-table tr th:nth-child(even) { background:#FFF4DB;} 

.nav-pills {box-shadow: 0px 0px 5px rgba(0,0,0,0.1); border-radius: 5px; overflow: hidden; display: inline-flex; border:1px solid #E8E8E8}
.nav-pills .nav-link {border-radius: 0; }
.nav-pills li a  { background: none; min-width: 125px; text-align: center; color: #000; font-weight: 600;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link  { background: #FCB800; color: #000;}
.nav-pills li + li a { border-left:1px solid #E8E8E8} 

.card-box-header .fa-file-export {
	font-size: 28px;
}

.client_details p {
	margin: 0;
}

.font-size-11 { font-size: 11px;}

.select-client {border: 1px solid  rgba(0,0,0,0);}
.select-client.selected input[type="checkbox"], .select-client.selected input[type="checkbox"]:focus{ opacity: 0; height: 0; outline: none; position: absolute;}
.select-client.selected { background:#FFFAED;  border-radius: 5px;border: 1px solid #eee}
.select-client .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after { background: none; content: "\f00c";font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 32px; color:#44A6EF;top: -13px; }
.select-client .custom-control-input:checked ~ .custom-control-label::before {background: none; border: none; }
.custom-switch {
  padding-left: 2.25rem;
  padding-bottom: 1rem; 
}

.custom-control-label { 
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  height: 1.5rem;
  width: 3.5rem;    
  pointer-events: all;
  border-radius: 1rem; 
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.2rem + 2px);
  width: calc(1.5rem - 4px);  
  height: calc(2rem - 4px);  
  background-color: #adb5bd;
  border-radius: 2rem; 
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; height: 1.3rem;
}
@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(1.8rem); 
  transform: translateX(1.8rem); 
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #000;
	border-color: #000;
	background-color: #FCB800;
}

.notes-field  { position: relative}
.notes-field input { border:none; border-bottom: 1px solid #000; border-radius: 0}
.notes-field button { position: absolute; right: 0; top:5px; color: #95989A}
.attchement-icon i {
	transform: rotate(-45deg);
	font-size: 30px;
	color: #5C5C5C;
	
	display: inline-block;
	vertical-align: middle;
}
.chat_msg {}
.chat-list > li {
	width: 70%;
}
.chat_msg_user {background:#FFFAED; border-radius: 5px; padding: 10px;}
.chat_msg_replay { border: 1px solid #707070; border-radius: 5px; padding: 10px;}
.replay_masg { align-content: flex-end}
.chat-list {
	max-height: 360px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.comp-list.client_listing .card-box-header i { color: #707070; font-size: 28px; display: inline-block; vertical-align: middle}
.applaction-box h4 { margin-bottom: 15px}
.replay_masg {align-self: flex-end;}
.listing-details .custom-control-label {padding: 0;margin: 0;	line-height: 22px;}
.features .card { border-radius:0; border:none;   }
.features .card-header {padding: 5px 10px;font-size: 14px; border:none;  ; background:#FFE5A7; font-weight: 600; border-radius: 0; border-bottom: 1px solid #fff; margin-bottom: 0 !important
}
.features .card:last-child .card-header {border-bottom:none;}

.features .card-header a {color: #000;}
.features .card-header a:hover { text-decoration: none}
.features .card-header i {float:right; font-size: 24px; line-height: 22px;}
.features .accordion  { border:1px solid #ddd; border-radius: 5px; overflow: hidden}
.features  .card .card-header a:not(.collapsed) .rotate-icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.required_documents p {margin:  0 0 10px 0}
.required_documents li { position: relative}
.required_documents .doc_listing {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 7px; height: 100%; 
}
.required_documents a, .required_documents  i{ color:#44A6EF}
.dropdown-menu{
    background: #44A6EF;
}
.user-login{
    min-width: 210px;
}

@media (max-width:1199px) {
 body {font-size: 14px}   
}
    
@media (max-width:1024px) {

    .event-edtit-form .form-group {	margin-bottom: 10px;}
    #edit-event { padding-top: 70px;}
}
.listing-details .card-box-body h3 { color:#000; font-weight: 600;}



@media (max-width:991px) {
.top-search {width: 200px;}
.nav-pills li a { min-width:1px}
    
}
@media (max-width:767px) {
    .navbar {padding-left: 15px;padding-right: 15px;
}
   .top-search {width: 100%;} 
    .card-box-header { flex-wrap: wrap}
    .user-login {margin-top: 10px;}
    .chat-list > li {width: 100%;}
   .client_details .pic-thumb {	margin-bottom: 10px;}
}

@media (max-width:567px) {
.card-box-header .search-box {margin-top: 10px;}
.pagination li {color: #4866AA;	padding: 0 3px;}
    .card-box { margin-bottom: 30px;}
    .comp-list .pic-thumb { margin-bottom: 15px;flex: 0 0 100%;}
}