.multipleprofilepic {
  padding: 0px;
}

.multipleprofilepic .col-xs-4 {
  padding: 0px;
}

.multipleprofilepic .col-lg-4 {
  padding: 0px;
}

.main-content .page-content.mt-20 {
  margin-top: 20px;
}

.main-content .page-content.pd-0 {
  padding: 0px;
}

.page-profil .profil-header .header-name.pd-15 {
  padding: 0px;
}

.page-profil .profil-header .header-name.pd-15 .col-xs-6.header-nameleftmain {
  padding: 16px;
}

.header-nameright {
  overflow: hidden;
}

.header-nameright .num-moments {
  float: left;
}

.header-nameright .profil-info {
  float: left;
  padding-left: 20px;
  padding-top: 7px;
}

.header-namerightmain {
  background: #E9ECED;
  padding: 16px 16px 46px;
}

.displaynonecontrol-btn .control-btn {
  display: none !important;
}

.morestars .col-md-6 {
  padding: 0px 6px;
}

.paddingorderdelisted {
  padding: 0px 30px;
}

.newmailicon {
  margin: 0px 10%;
}

.paddingorderdelisted .panel {
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important;
}

.ratiestar {
  margin-top: 19px !important;
}

.morestars {
  padding-top: 0px !important;
}

.moredetailsbutton {
  text-align: center;
  text-transform: capitalize !important;
}

.titlecardleft {
  width: 66%;
}

.titlecardright {
  float: right;
  width: 32%;
}

.secondaddress-mt-30 {
  margin-top: 30px;
}

.titlecard4 .col-md-12 {
  padding: 0px;
}

.titlecard4 .panel-content {
  padding: 0px 0px 20px 0px !important;
  overflow: hidden;
}

.titlecard4 {
  width: 32%;
}

.titlecard4second {
  margin-left: 2%;
}

.titlecard4third {
  margin-left: 2%;
}

.roundtext {
  display: block;
}

.n4 {
  font-weight: 700;
  font-size: 12px;
  border-radius: 50%;
  padding: 5px 9px;
  background: #0e7539;
  color: #fff;
  margin-bottom: 20px;
  line-height: 30px;
  margin-right: 3px;
}

.card.small, .card.medium, .card.large {
  position: relative;
}

.card {
  overflow: hidden;
  margin: .5rem 0 1rem;
  background-color: #fff;
  border-radius: 2px;
}

.card.small .card-image {
  height: 150px;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  overflow: hidden;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-image .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card-image .card-title {
  color: #fff;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.ripple-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  overflow: hidden;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  font-size: 14px;
  color: inherit;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}

.card .card-action a {
  color: #0097a7;
  margin-right: 20px;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  -ms-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.cardsarea {
  padding: 0px;
}

table .btn.editss {
  margin-right: 0;
}

.DTTT_container.btn-group {
  display: none;
}

#table-editable_wrapper .filter-left {
  display: none;
}

.main-content .page-content .panel .control-btn {
  display: none !important;
}

.rightbartabsmain {
  padding: 0px !important;
}

.inputboxrightbar {
  padding: 0px 15px;
}

.inputboxrightbar .control-label {
  color: #3E484E;
  text-align: left;
  top: 5px;
}

.rightsearchresulttab {
  background-color: #f5f5f5;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.rightsearchresulttab .info {
  width: 60%;
  float: left;
}

.rightsearchresulttab .p-8 {
  padding: 8px;
}

.rightsearchresulttab .h3 {
  margin: 0px;
  font-size: 15px;
  margin-bottom: 3px;
}

.rightsearchresulttab .p {
  font-size: 12px;
}

.media.rightcolumnimage {
  float: left;
  width: 40%;
  margin-top: 0px;
}

.media.rightcolumnimage img {
  height: 122px;
}

.trashmargin {
  margin-right: 33px;
}

.trashicons .fa {
  font-size: 17px;
}

.trashicons .glyphicon {
  font-size: 17px;
  position: relative;
  top: 3px;
}

md-divider {
  border-top-color: rgba(0, 0, 0, 0.12);
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
}

.bottomdetails {
  overflow: hidden;
  padding: 0px 15px;
}

.apartleft {
  float: left;
}

.apartright {
  float: right;
  color: #039be5;
  margin-right: 5px;
}

.rightbartabs .nav > li > a {
  padding: 10px 0px !important;
}

.checkboximage {
  position: absolute;
  right: 20px;
  margin-top: 10px;
  display: none;
}

.showdone {
  display: none;
}

.yessure {
  margin-bottom: 0px !important;
}

.oopsnot {
  margin: 0px !important;
}

.yessure .btn {
  width: 100%;
}

.oopsnot .btn {
  width: 100%;
}

.yessure {
  display: none;
}

.apartright span {
  cursor: pointer;
}

.rightbartabs {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 50px;
}

.rightbartabs ul li {
  width: 50%;
}

.rightbartabs ul li a {
  text-align: center;
}

.fullcal {
  opacity: 0.62 !important;
  font-size: inherit !important;
}

.cappointment {
  font-size: 2rem;
  color: #3E484E;
  font-weight: 400;
  text-align: left;
}

.popupemail {
  width: 100%;
  display: inline-block !important;
}

.pdays {
  font-size: 1.3rem;
  margin: 0px;
}

.unschedulecolor {
  color: red;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
}

.listigtabrightappend {
  padding: 15px 0px;
}

.listigtabrightappend .moredetailsbutton {
  padding: 0px 15px;
}

.listdetailrepeatmain {
  padding: 0px 15px;
}

.mtop15 {
  margin-top: 15px;
}

.listigtabrightappend .moredetailsbutton .btn.btn-primary {
  margin-right: 0px;
}

.multipleprofilepic .animal.effect-zoe.magnific {
  cursor: pointer;
}

.rowupdate {
  margin-left: -5px;
  margin-right: -5px;
}

.card-actionbottomleft {
  float: left;
}

.card-actionbottomright {
  float: right;
}

.searchresultcards {
  overflow: hidden;
}

.searchresultcards .fa {
  font-size: 20px;
  width: 24px;
  height: 24px;
}

.searchresultcards .icon-user {
  font-size: 17px;
  width: 24px;
  height: 24px;
}

.upperimagetext {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .54);
  padding: 12px 20px;
}

.upperimagetext h3 {
  color: #fff;
  margin: 0px !important;
}

.card-titlesearchleft {
  float: left;
}

.card-titlesearchright {
  float: right;
}

.searchrightbar {
  opacity: 0.62 !important;
  font-size: inherit !important;
}

.cardcontenttitle {
  margin: 0px !important;
  margin-bottom: 5px !important;
  font-family: 'Open Sans', sans-serif;
  color: #276ecc;
  font-weight: bold;
}

.bottomdetailcardsinline p {
  display: inline-block;
  padding-right: 5px;
}

.searchcardlist li {
  font-size: 10pt;
}

.threebutton {
  margin-top: 10px;
}

.searchresultheading {
  padding-right: 15px !important;
  padding-left: 15px !important;
  overflow: hidden;
  background: inherit !important;
}

.searchresultheading h2 {
  float: left;
  margin: 20px 0px 10px !important;
}

.searchresultheading p {
  font-weight: bold;
  float: left;
  margin: 6px 0px 0px;
}

.m-1723 {
  margin-top: 18px;
  max-width: 250px;
  float: right;
}

.searchcardlist {
  padding: 0px !important;
}

#saved-sidebar .quickview {
  background: #ffffff;
  bottom: 0;
  color: #818181;
  height: auto;
  left: 0;
  left: auto;
  overflow-x: hidden;
  position: absolute;
  right: auto;
  top: 40px;
  width: 350px;
  z-index: 1;
}

#saved-sidebar .tab-content {
  padding: 15px 0px;
  border-top: none;
}

#saved-sidebar li {
  width: 50%;
  text-align: center;
  background-color: #fff !important;
  margin: 0px !important;
}

#saved-sidebar .nav.nav-tabs > li:hover > a {
  background-color: #fff;
  margin: 0px !important;
}

#saved-sidebar .quickview-header {
  height: 40px;
  width: 350px;
  z-index: 10;
  background: #fff;
}

.mylistingsearch {
  overflow: hidden;
}

.mylistingsearch .panel-content {
  overflow: hidden;
}

.popupwizard .sf-nav-wrap.clearfix.sf-nav-top {
  display: none !important;
}

.popupwizard .input.input--hoshi {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  font-size: inherit;
}

.popupwizard .input__field.input__field--hoshi {
  margin-top: 0px;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 15px;
}

.popupwizard label {
  font-weight: normal;
}

.topfirstwidget {
  display: inline-block;
  width: 100%;
}

.lstwidget {
  margin-top: 20px;
}

.mylistingsearch .card.small {
  background: #f2f4f7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mylistingsearch .tab-content {
  overflow: hidden;
  padding: 15px 20px;
  background: #f5f5f5;
}

.serachresultbox {
  padding: 20px 15px !important;
}

.bedsbaths {
  margin-bottom: 30px;
}

.h3formtop {
  margin-bottom: 10px;
}

.distopenhouse {
  display: block;
  margin-bottom: 20px;
}

.editgenerate {
  overflow: hidden;
}

.editgenerate h3 {
  float: left;
}

.editgenerate .btn.btn-primary {
  float: right;
  margin-top: 15px;
}

.main-content .page-content .panel.boxshadow {
  box-shadow: inherit;
}

.page-wizard .popupwizard .tab-content {
  min-height: inherit;
}

#rooms .tab-content {
  height: auto !important;
}

.firststepp label {
  font-weight: 700;
}

.firststepbg {
  padding: 15px 0px;
}

.main-content .page-wizard.page-content.wizardbg {
  background: #dce1e4 !important;
}

.colordefault {
  color: inherit !important;
}

.mylistingheader {
  overflow: hidden;
}

.mylistingheader h3 {
  float: left;
}

.newapartment {
  float: right;
  width: 50%;
  margin-right: 50px;
}

.sortby {
  float: right !important;
  width: 30%;
}

.sortby .inputboxrightbar {
  overflow: hidden;
  margin-bottom: 0px;
}

.sortby .col-sm-4 {
  text-align: right;
}

.sortby .col-sm-8 {
  padding: 0px;
}

.newapartment .form-white.select2-container .select2-choice {
  background: #4a89dc !important;
  border: 1px solid #4a89dc !important;
  color: #fff;
}

.sf-left {
  float: right;
  margin-right: 20px;
}

.main-content .page-content .panel.boxshad {
  box-shadow: none;
}

.view-detailpopupmain {
  overflow: hidden;
  padding: 0px 20px;
}

.view-detailpopup {
  float: left;
  width: 50%;
}

.searchformpage .rentsale {
  position: relative;
  top: 7px;
}

.searchelements {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

/*.searchelements .ditrinner{padding-left:0px;}*/
.searchelements .icheck-list label {
  margin-bottom: 15px;
  font-weight: normal;
}

.neighborhoodblock {
  display: block;
}

.citylabel {
  margin-bottom: 0px;
}

.cityleft {
  float: left;
  width: 40%;
}

.cityright {
  float: left;
  width: 40%;
}

.cityto {
  float: left;
  margin: 0 7%;
}

.ditrinner label {
  font-weight: normal;
}

.fnormal {
  font-weight: normal !important;
}

.fbold {
  font-weight: 700 !important;
}

.warning .irs-diapason {
  background-color: #4a89dc;
}

.clientprofile {
  padding: 20px 0px;
  overflow: hidden;
}

.widget-member3 {
  margin-top: 0px;
}

.control-btnnews {
  position: absolute;
  right: 13px;
  top: 14px;
  z-index: 2;
}

.financialstock {
  box-shadow: inherit !important;
}

.clientprofile .col-financial-stocks {
  padding: 0px;
}

.clientprofile .tabs-linetriangle .nav.nav-tabs {
  border-bottom: none;
}

.clientprofile .nav-tabs.nav-4 > li {
  width: 12.5%;
}

.clientprofile .tabs-linetriangle .nav.nav-tabs > li > a {
  padding: 12px 10px 16px;
}

.col-small-stats.pv15 {
  padding-left: 15px;
  padding-right: 15px;
}

.leftrightresults {
  overflow: hidden;
}

.leftrightresults h3 {
  float: left;
}

.leftrightresults p {
  float: right;
  margin-right: 30px;
  font-weight: 600;
}

.clientprofile .btn.btn-primary.m-t-10 {
  margin-right: 30px;
  float: right;
}

.clientspro {
  padding: 0px !important;
}

.appheader {
  overflow: hidden;
}

.appheaderinline {
  float: left;
  font-family: 'Lato';
  padding-right: 3%;
  font-size: 17px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.appheaderhead {
  color: #000;
  font-weight: bold;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  margin-bottom: 0px !important
}

.clientlista {
  cursor: pointer;
}

#quickview-sidebar2 h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 25px;
  text-transform: uppercase;
}

#quickview-sidebar2 .quickview-header2 .nav.nav-tabs {
  border-bottom: none
}

#quickview-sidebar2 .quickview-header2 .nav > li {
  text-align: center;
  width: 33%;
  background-color: #fff;
  margin: 0px;
}

#quickview-sidebar2 .quickview-header2 .nav.nav-tabs > li.active > a {
  background-color: #41bcde;
  border-bottom: none;
}

#quickview-sidebar2 .quickview-header2 .nav > li > a {
  padding: 10px 0px;
}

#quickview-sidebar2 .quickview-header2 {
  background-color: #fff;
  height: 40px;
  width: 350px;
  z-index: 10;
}

#quickview-sidebar2 .quickview {
  background: #ffffff;
  bottom: 0;
  color: #818181;
  height: auto;
  left: auto;
  overflow-x: hidden;
  position: absolute;
  right: auto;
  top: 40px;
  width: 350px;
  z-index: 1;
}

#quickview-sidebar2 .tab-content {
  padding: 15px 0px;
  border-top: none;
}

.documentrowleft {
  float: left;
  width: 70%;
}

.documentrowright {
  float: right;
  width: 30%;
  text-align: right;
}

.completereport {
  color: #22b18d;
}

.missingreport {
  color: #f74a24;
}

.documentrow {
  min-height: 20px;
  margin-bottom: 20px;
}

/*.clientmaildetails .col-md-6{padding-left:0px;}*/
.clientmaildetails .col-md-12 {
  padding: 0px;
  float: left !important;
}

.clientmaildetails .icheck-list.m-b-10 {
  min-height: 42px;
}

.cropicons {
  float: left;
  width: 25%;
}

.cropicons p {
  text-align: center;
}

.cardcontenticons {
  margin: 0px !important;
  margin-bottom: 5px !important;
  width: 70%
}

.cardcontenttopbar {
  overflow: hidden;
}

.userimageover {
  float: right;
}

.userimageover img {
  width: 90px;
  height: 90px;
}

.card-contentinner {
  padding: 0px 20px 20px 20px;
  overflow: hidden;
  width: 100%;
}

.panel-accordion.dark-accordion.searchresultcollapse a.collapsed {
  background-color: #f2f4f7;
  border: 0px;
}

.pb-0px {
  padding-bottom: 0px !important;
}

.panel-accordion.searchresultcollapse .panel h4 > a:not(.collapsed) {
  background-color: #f2f4f7;
  border: 0px;
}

.panel-accordion.searchresultcollapse .collapse.in {
  background-color: #f2f4f7;
}

.panel-group.searchresultcollapse {
  margin-bottom: 0px;
}

.searchresultcollapse .panel {
  background: inherit;
}

.hovericons {
  float: right;
  display: none;
}

.hovericons i {
  padding: 0px 5px;
  cursor: pointer;
}

.colinout {
  min-height: 30px;
}

.colinout h4 {
  overflow: hidden;
  margin: 0px;
}

.imageoverimage {
  position: absolute;
  bottom: -30px;
  z-index: 2;
  right: -7px;
}

.overdisplayflex {
  overflow: visible !important;
  display: flex;
}

.overshow .panel-heading {
  padding: 0px 10px;
}

.overshow .panel-heading .colinout h4 > a:after {
  float: left !important;
}

.overshow .panel-heading .colinout h4 > a.collapsed:after {
  float: right;
}

.apppagecard {
  overflow: hidden;
}

.boxaero {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.paddinginner {
  padding: 0px;
}

.widget-member.widgetmt-0 {
  margin-top: .5rem;
}

.johnshowarea .widget-member .col-xlg-6 p {
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 16px;
}

.johnshowarea .widget-member .col-xlg-6 ul {
  font-size: 13px;
}

.paddinginner table tr td {
  line-height: 34px;
}

.fright {
  float: right;
}

.widget-member .member-name.m-b-15m {
  margin-bottom: 15px !important;
}

/*.page-profil .profil-content .item .user .info.newinfo{top: inherit;background: rgba(0,0,0,.54);padding: 10px;
    bottom: 0px;}*/
.page-profil .profil-content .item .user .info.newinfo {
  top: inherit;
  padding: 10px;
  bottom: 0px;
}

.page-profil .profil-content .item .user .info.newinfo div {
  text-align: left;
}

.page-profil .profil-content .item .user .location a {
  color: #FFF !important;
  text-decoration: none !important;
}

.page-profil .profil-content .item .user.ovisible {
  overflow: visible;
  display: block;
  height: 185px;
  max-height: 185px;
}

.page-profil .profil-content .item .user.ovisible .img-user {
  bottom: -20px;
  top: inherit;
  z-index: 3;
  right: 10px;
  left: inherit;
}

.page-profil .profil-content .overshow .item {
  margin: 0px;
  background: #f2f4f7;
  margin-bottom: 30px;
}

.page-profil .profil-content .overshow .item .comment {
  padding: 15px 10px 0px;
  font-family: inherit;
  line-height: 20px;
}

.overshow .pd0 {
  padding: 0px;
  text-align: center;
  font-size: 19px;
}

.colinout a {
  font-family: inherit;
  font-size: 9pt;
  font-weight: 500;
  color: inherit;
  text-decoration: none !important;
}

.page-profil .profil-content .item .more .col-sm-3:first-child {
  padding-left: 15px;
}
.page-profil .profil-content .item .more .col-sm-3 {
  color: #828282;
  font-size: 14px;
  padding: 15px 0 5px 0;
  position: relative;
  text-align: center;
}

.favschedule .fa {
  color: #4a89dc !important;
}

.page-profil .profil-content .item .more .col-sm-3:last-child {
  padding-right: 15px;
}
.anchorch a {
  text-decoration: none !important;
  color: #828282;
}

.anchorch a:hover {
  color: #319DB5;
}

.jstree-icon.jstree-themeicon {
  display: none !important;
}

.spanred {
  color: red;
  margin-top: 5px;
  font-weight: 500;
}

.greencolor {
  color: #39b77b;
}

.treedivide {
  display: inline-block;
  width: 100%;
}

.treedivide .jstree-default .jstree-anchor {
  width: 98%;
  position: relative;
  right: 10px;
}

.treedivide .ctrlicons {
  float: right;
  display: none;
}

/*.treedivide .jstree-default .jstree-checkbox.jstree-clicked {
    background-position: -228px -4px;
}
.treedivide .jstree-default .jstree-checkbox.jstree-undetermined{
       background-position: -196px -4px;
}*/
.jstree-checkbox {
  cursor: pointer;
}

.delrow {
  cursor: pointer;
}

.clientlista .form-inline .form-control {
  width: 135px;
}

.ctrlicons .fa-upload {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.treedivide .ctrlicons a {
  text-decoration: none !important;
  color: #828282;
  cursor: pointer;
}

.treedivide .ctrlicons a:hover {
  color: #319DB5;
}

.treedivide .m-lr-2 {
  margin: 0px 2px;
}

.title .pricefont {
  font-size: 19px;
}

.ovisible .img-responsive.hover-img {
  width: 50%;
  height: 180px;
  float: left;
  object-fit: cover;
}

.overshow .col-md-12 {
  padding: 0px;
}

.fullwidth {
  width: 100%;
}

.paddingcustom {
  width: 100%;
}

.btnactive .btn-primary {
  padding: 0px;
}

.paddingcustom .btn-primary {
  width: 14.28%;
}

.paddingcustom .btn-primary a { /*padding:7px 12px 8px;*/
  text-decoration: none !important;
  color: #fff !important;
}

.clientmaildetails .paddingcustom .btn-primary {
  width: auto;
}

.clientmaildetails .paddingcustom .btn-primary a {
  padding: 7px 13px 8px !important;
}

.btnactive .btn-primary.active {
  background: #41bcde !important;
}

.paddingcustom1 {
  width: 100%;
}

.paddingcustom1 .btn.btn-primary {
  width: 20%;
}

.paddingcustom1 .btn-primary a { /*padding:7px 24px 8px;*/
  text-decoration: none !important;
  color: #fff !important;
}

.clientmaildetails .paddingcustom1 .btn-primary {
  width: auto;
}

.clientmaildetails .paddingcustom1 .btn-primary a {
  padding: 7px 20px 8px !important;
}

.paddingcustom3 {
  width: 100%;
}

.paddingcustom3 .btn-primary {
  width: 33.33%;
}

.paddingcustom3 .btn-primary a { /*padding:7px 24px 8px;*/
  text-decoration: none !important;
  color: #fff !important;
}

.paddingcustom5 {
  width: 100%;
}

.paddingcustom5 .btn-primary {
  width: 25%;
}

.paddingcustom5 .btn-primary a { /*padding:7px 8px 8px;*/
  text-decoration: none !important;
  color: #fff !important;
}

.clientmaildetails .paddingcustom5 .btn-primary {
  width: auto;
}

.clientmaildetails .paddingcustom5 .btn-primary a {
  padding: 7px 8.4px 8px !important;
}

.clientmaildetails .paddingcustom3 .btn-primary {
  width: auto;
}

.clientmaildetails .paddingcustom3 .btn-primary a {
  padding: 7px 25px 8px !important;
}

.paddingcustom2 {
  width: 100%;
}

.paddingcustom2 .btn-primary {
  padding: 0px;
}

.paddingcustom2 .btn-primary {
  width: 33.33%
}

.paddingcustom2 .btn-primary a { /*padding:7px 21px 8px;*/
  text-decoration: none !important;
  color: #fff !important;
}

.clientmaildetails .paddingcustom2 .btn-primary {
  width: auto;
}

.clientmaildetails .paddingcustom2 .btn-primary a {
  padding: 7px 22.3px 8px !important;
}

.paddingcustom4 {
  width: 100%;
}

.paddingcustom4 .btn-primary {
  padding: 0px;
}

.paddingcustom4 .btn-primary a {
  padding: 7px 15px 8px;
  text-decoration: none !important;
  color: #fff !important;
}

.clientmaildetails .paddingcustom4 .btn-primary {
  width: auto;
}

.clientmaildetails .paddingcustom4 .btn-primary a {
  padding: 7px 9.7px 8px !important;
}

.btnactive .btn-primary.lastbutton {
  border-left: 1px solid rgba(12, 12, 12, 0.1) !important;
}

.header-center {
  display: inline-block;
  height: 50px;
}

.header-center .header-centerinner {
  width: 45%;
  margin: 0 auto;
  margin-top: 8px;
  float: left;
}

.header-right.col-md-6 {
  padding: 0px;
}

.header-center.col-md-2 {
  padding: 0px;
}

.header-left.col-md-4 {
  padding: 0px;
}

.topbar .header-right.col-md-6 .header-menu.navbar-nav {
  float: right !important;
}

.page-profil.page-profilelist .profil-content .item .user.ovisible .img-user {
  left: 75px;
}

.profilecardlist p {
  font-size: 15px;
  margin: 0px;
  padding-right: 10px;
}

.searchresultlistshower {
  text-align: center;
  overflow: hidden;
}

.searchresultlistshower .col-sm-4 {
  color: #828282;
  font-size: 19px;
  text-align: center;
  padding: 15px 15px 5px 15px;
  position: relative;
}

.searchresultlistshower .col-sm-4 i {
  display: block;
  font-size: 20px;
  padding-right: 0;
}

.page-profil .profil-content .more.searchresultlistshower .col-sm-4:first-child {
  padding-left: 0px;
}

.page-profil .profil-content .more.searchresultlistshower .col-sm-4:last-child {
  padding-right: 15px;
}

.lastsectionsearchresultlist .roundtext.pricefont {
  float: left;
}

.lastsectionsearchresultlist .roundtext.ccsmallfont {
  float: left;
  margin-top: 6px;
}

.profilecardlist .f19 {
  font-size: 19px;
  margin-top: 10px;
}

.clear {
  clear: both;
}

.page-profilelist .col-md-12.overshow {
  background: #f2f4f7;
  padding-left: 0px;
  webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.spanred.fleft {
  float: left;
}

.gridlist {
  padding: 0px 5px;
  float: right;
}

.gridlist a {
  text-decoration: none !important;
}

.gridlist .icon-grid {
  font-size: 18px !important;
  opacity: inherit !important;
  border-radius: inherit !important;
  margin-right: 0px !important;
  padding: 0px !important;
  -webkit-border-radius: inherit !important;
  -moz-border-radius: inherit !important;
}

.gridlist .fa-list {
  font-size: 20px !important;
  opacity: inherit !important;
  border-radius: inherit !important;
  margin-right: 0px !important;
  padding: 0px !important;
  -webkit-border-radius: inherit !important;
  -moz-border-radius: inherit !important;
  padding-right: 10px !important;
}

.listactive, .gridactive {
  background: #4a89dc;
  color: #fff;
  padding: 10px 8px 5px;
}

.f15 {
  font-size: 14px;
}

.searchresultlistshower.secondshower .col-sm-4 {
  padding: 7px 0 5px 0;
}

.page-profil.page-profilelist .profil-content .overshow .item {
  margin-bottom: 0px;
  box-shadow: none;
}

.multiplesearch .mCSB_container.mCS_no_scrollbar {
  display: table;
  width: 100%;
}

.multiplesearch .builder-container {
  display: table-cell;
  vertical-align: middle;
}

.multiplesearch .layout-option {
  text-align: center;
}

.builder.multiplesearch .layout-option a {
  color: #276ecc;
  margin-bottom: 5px;
}

.pt9 {
  font-size: 9pt;
}

.page-profil .profil-content .item .more .cardrightnewcards .pd0 {
  background: inherit;
  padding: 0px;
  font-size: 19px;
  cursor: inherit;
  text-align: left;
}

.ttright {
  text-align: right;
}

.profilecardlist p.pt10, .pt10 {
  font-size: 10pt;
}

.listfright {
  float: right;
  font-size: 19px !important;
}

.clientmaildetails .input.input--hoshi {
  margin: 0px;
  width: 100%;
  font-size: inherit;
}

.clientmaildetails .input__field.input__field--hoshi {
  margin-top: 0px;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 15px;
}

#showsheetmail .trashmargin {
  margin-right: 33px;
}

.page-profil.page-profilelist .profil-content .item {
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
}

.overshow .col-md-4.padding30 {
  padding: 0px 30px;
}

.serachresultbox.mysearchresultbox {
  padding: 0px !important;
}

.searchtopbread {
}

.m-1723 .append-icon i {
  padding: 0px !important;
  opacity: 1 !important;
  font-size: 14px !important;
}

.centerinnerdropsearch {
  float: right;
  margin-top: 2px;
  padding-right: 7px;
  width: 150px;
}

.page-profil .listingdetailcardbottom.profil-content {
  padding-right: 15px;
}

.favschedule {
  float: right;
  width: 140px;
}

.favschedule .fa {
  cursor: pointer;
  display: block;
}

.favschedule .col-sm-6 {
  color: #4a89dc;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  text-align: center;
  padding: 0px;
  font-weight: 500;
  top: 5px;
}

.page-profil .profil-header .profil-img {
  border-right: 0px;
}

.page-profil .profil-header .col-sm-4:not(.profil-img) {
  border-left: 0px;
  border-top: 0px;
}

.trashicons i {
  cursor: pointer;
}

.messagemodelpopup .conversation-body .img {
  clear: both;
  content: " ";
  display: table;
  margin-bottom: 15px;
  width: 100%;
}

.messagemodelpopup .chat-detail {
  float: left;
  width: 100%;
}

.messagemodelpopup .chat-date {
  color: #636F77;
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: right;
}

.messagemodelpopup .conversation-img {
  float: left;
  margin-right: 15px;
}

.messagemodelpopup .chat-bubble {
  background: #e5e9ec;
  color: #22262e;
  float: right;
  line-height: 20px;
  min-height: 40px;
  padding: 0;
  padding: 10px;
  position: relative;
  white-space: normal;
  width: 90%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.text-align-centerr {
  width: 100%;
  text-align: center;
}

.btn.btn-primary {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.btn.btn-primary:hover {
  background-color: #00a2d9 !important;
}

.header-centerinner .select2-container .select2-choice {
  background-color: #4a89dc !important;
  border: 1px solid #4a89dc !important;
  color: #fff;
}

.main-content .page-content .panel.boxsshadow {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.lrexchange .dataTables_filter {
  float: left;
  width: 100%;
}

.lrexchange .flleft {
  float: left;
}

.lrexchange .flleft .form-control {
  width: auto !important;
}

.lrexchange .flright .form-control {
  width: 100% !important;
}

.lrexchange .flright div.dataTables_filter label {
  float: left;
  width: 100%;
}

.moresame {
  font-size: 14px;
  color: #5b5b5b;
}

.lrexchange .flleft .dataTables_length {
  float: left;
  text-align: left;
}

.usermodelpopup .email-details .write-answer {
  padding-right: 0px;
}

.messagemodelpopup .chat-detail.chat-right img {
  float: right;
}

.messagemodelpopup .chat-detail.chat-right .chat-detail {
  width: 93%;
}

.messagemodelpopup .chat-detail.chat-right .chat-bubble {
  float: left;
  width: 98%;
}

.modal-backdrop {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #000;
  bottom: 0;
  z-index: 1300;
  top: 0;
}

.modal-dialog.usermodelpopup .note-toolbar.btn-toolbar {
  display: none;
}

.modal-dialog.usermodelpopup .email-details .write-answer .note-editable {
  margin-top: 15px;
}

#searchcriteria, #savedapartments, #shown, #scheduled {
  overflow: hidden;
}

.clientdetaillistshower {
  overflow: hidden;
  text-align: center;
}

.clientdetaillistshower .col-sm-6 {
  color: #828282;
  font-size: 18px;
  padding: 16px 0 5px 0;
}

.clientdetaillistshower .col-sm-2 {
  color: #828282;
  font-size: 19px;
  text-align: center;
  padding: 15px 0 5px 0;
  position: relative;
}

.clientdetaillistshower .col-sm-2 i {
  display: block;
  font-size: 20px;
  padding-right: 0;
}

.clientdetaillistshower .col-sm-6:first-child {
  padding-left: 0px;
}

.clientdetaillistshower .col-sm-2:last-child {
  padding-right: 15px;
}

.clientdetailsavedapartment .col-sm-4:first-child {
  padding-left: 0px;
}

.clientdetailsavedapartment .col-sm-4 {
  color: #828282;
  font-size: 16px;
  text-align: center;
  padding: 4px 0 0px 0;
  position: relative;
}

.clientdetailsavedapartment .col-sm-4 i {
  display: block;
  font-size: 18px;
  padding-right: 0px !important;
}

.clientdetailsavedapartment .col-sm-2:first-child {
  padding-left: 0px;
}

.clientdetailsavedapartment .col-sm-2 {
  color: #828282;
  font-size: 16px;
  text-align: center;
  padding: 4px 0 0px 0;
  position: relative;
}

.clientdetailsavedapartment .col-sm-2 i {
  display: block;
  font-size: 18px;
  padding-right: 0px !important;
}

.bgclientdetail {
  background: #f2f4f7;
}

.profilecardlist .f19 a {
  color: #319db5;
}

.profilecardlist .f19 a:hover {
  color: #23527c;
}

.pladvanced {
  padding-left: 15px;
}

.m-t-6 {
  margin-top: 6px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-t-8 .form-control {
  padding: 7px 12px 8px;
  width: 100%;
}

.header-menu.nav > li > a {
  padding: 10px 12px;
}

.fleftslide {
  float: left !important;
}

.roundcircle {
  position: absolute;
  top: -11px;
  background: red;
  border-radius: 50%;
  padding: 1px 7px;
  right: 6px;
}

.elevatorcheckarea, .kitchencheck, .outdoorcheck, .viewscheck {
  display: none;
}

.select2-results .select2-highlighted {
  background-color: #4a89dc;
}

.neighbornotclickable, .neighbornotclickablewest, .midtownnotclickable, .midtownnotclickablewest,
.uptownnotclickable, .uptownnotclickablewest, .uppernotclickable, .uppernotclickablewest {
  pointer-events: none;
}

.neighbornotclickable .warning .irs-diapason, .neighbornotclickablewest .warning .irs-diapason, .midtownnotclickable .warning .irs-diapason, .midtownnotclickablewest .warning .irs-diapason, .uptownnotclickable .warning .irs-diapason, .uptownnotclickablewest .warning .irs-diapason, .uppernotclickable .warning .irs-diapason, .uppernotclickablewest .warning .irs-diapason {
  background-color: #e6e6e6;
}

.clientmaildetails .doormancheck label, .clientmaildetails .elevatorcheckarea label, .clientmaildetails .generalcheck label,
.clientmaildetails .kitchencheck label, .clientmaildetails .outdoorcheck label, .clientmaildetails .viewscheck label {
  margin-bottom: 15px !important;
  font-weight: normal !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.agentcoinfo .col-xs-4 {
  padding: 20px 5px;
}

.agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
  height: 113px;
}

.colorbtn {
  color: #00a2d9;
}

.imgheight img {
  min-height: 120px;
  object-fit: cover;
}

.dashdoubletab .profilecardlist p {
  display: block;
}

.pt88 {
  font-size: 8pt;
}

.listtypeclient {
  float: left;
}

.sapartlastarea {
  margin-left: 10px;
  width: 100%;
  display: table;
}

.displayinherit {
  display: inherit;
}

.lstylenone ul {
}

.bottomdetailcardsinline.m-t-20 .secondary-textp {
  display: block;
}

.searchbtnpr {
  position: relative;
  bottom: 85px;
  margin: 0px 30px;
}

.previewcalender .ui-timepicker-div {
  display: none;
}

.previewcalender .ui-datepicker-buttonpane.ui-widget-content {
  display: none;
}

.previewcalender #inline_datetimepicker_alt {
  display: none;
}

.datepic-footer {
  background: #ECECEC;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  padding: 10px;
}

.datepic-top {
  overflow: hidden;
  border-width: 1px 0 0 0;
  border: 1px solid #cfcfcf;
  margin: 0;
  padding: 15px 10px;
  border-top: 0px;
}

.datepic-topfirst {
  float: left;
  width: 25%;
}

.datepic-topfirst.fsecond {
  width: 50%;
}

.previewcalender .datepic-topfirst label {
  font-weight: normal;
}

.message-item.media.active {
  background: #E4E4E4;
}

.listtypeclient .icon-user {
  position: relative;
  top: 2px;
}

.datepic-topfirst.fsecond input {
  width: 60px;
  border: 0px;
  background-color: inherit !important;
  padding: 0px;
  color: #5b5b5b;
}

.datepic-topfirst.fsecond input::-webkit-input-placeholder {
  color: #5b5b5b;
}

.datepic-topfirst.fsecond input:-moz-placeholder {
  color: #5b5b5b;
}

.datepic-topfirst.fsecond input::-moz-placeholder {
  color: #5b5b5b;
}

.datepic-topfirst.fsecond input:-ms-input-placeholder {
  color: #5b5b5b;
}

.email-details.popupemail .panel-footer.agentcoinfo {
  padding: 10px 14px;
}

.bbottom {
  border-bottom: 1px solid #5b5b5b !important;
  width: 30px !important;
}

.datepic-topfirst.fsecond input:focus {
  outline: none;
}

.floatleft {
  float: left;
}

.plr-15 {
  padding: 0px 15px;
}

.addcal {
  padding: 7px 7px 8px;
  font-size: 13px;
}

.datepic-topfirst.fsecond .select2-arrow {
  display: none;
}

.datepic-topfirst.fsecond .select2-choice {
  background-color: inherit !important;
  border: none !important;
}

.datepic-topfirst.fsecond .select2-chosen {
  margin-right: 0px;
}

.m-t-7 {
  margin-top: 7px !important;
}

.listtypeclient i {
  cursor: pointer;
}

.inviteapply {
  float: left;
  width: 100%;
}

.addopenhouse {
  cursor: pointer;
}

.pdays i {
  cursor: pointer;
}

.mylistlastbox .widget-small {
  max-height: 133px;
}

.dashdoubletab .tab_left > .nav-tabs > li > a {
  min-width: 120px;
}

.dashdoubletab .clientdetaillistshower .col-sm-6 {
  font-size: 14px;
}

.paneldashboard .nav-tabs a::before {
  height: 2px;
  z-index: 2000;
  width: 100%;
  top: 40px;
  left: 0px;
}

.nlistingdashboard .profilecardlist p.pt10, .pt10 {
  font-size: 8pt;
  padding-right: 8px;
}

.nlistingdashboard .clientdetailsavedapartment .col-sm-4:first-child {
  padding-left: 0px;
}

.nlistingdashboard .clientdetailsavedapartment .col-sm-4 {
  color: #828282;
  font-size: 16px;
  text-align: center;
  padding: 0px 0 0px 0;
  position: relative;
}

.nlistingdashboard .clientdetailsavedapartment .col-sm-4 i {
  display: block;
  font-size: 18px;
  padding-right: 0px !important;
}

.nlistingdashboard .imgheight img {
  height: 120px;
  object-fit: cover;
}

.dashwidget .weather-location.clearfix {
  display: none;
}

.dashwidget .weather-forecast.clearfix {
  display: none;
}

.m-t-45 {
  margin-top: 45px !important;
}

.widget-weather .weather .weather-highlighted {
  padding: 10px 10px 12px 10px;
}

.t-align-center {
  text-align: center;
}

.theme-sltl.color-blue .topbar {
  background: #fff;
}

.edit-icon {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.edit-icon .fa {
  font-size: 25px;
  color: #4a89dc;
}

.listfeature {
  float: left;
}

.editlistfeature {
  float: left;
  cursor: pointer;
}

.editlistfeature .fa {
  font-size: 20px;
  color: #4a89dc;
}

.edit-listingul label {
  font-weight: normal;
}

.previewimageedit {
  position: absolute;
  top: 10px;
  z-index: 1;
  left: 10px;
}

.previewimageedit .fa {
  color: #4a89dc;
  font-size: 25px;
  cursor: pointer;
}

.edit-imagess img {
  width: 100%;
}

.photo-grid-item img {
  width: 100% !important;
  height: 100% !important;
}

.editimages #sortableimages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.editimages #sortableimages li {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
}

.editimages img {
  width: 180px;
  height: 150px;
}

.editimages {
  padding: 20px 18px 0px 18px;
  overflow: hidden;
}

.searchhead .form-control.form-white {
  background-color: #f2f4f7 !important;
}

#sortableimages .fa-times {
  position: relative;
  height: 0px;
  width: 0px;
  top: -60px;
  left: 160px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.centerinnerdropsearch .select2-container .select2-choice {
  background-color: #f2f4f7 !important;
  border: 1px solid #f2f4f7 !important;
}

.fourresults {
  float: right;
  margin-right: 10px;
  font-weight: bold;
  margin-top: 7px;
}

.newsearsctop p {
  letter-spacing: 1px;
}

.new_listpopup .profilecardlist p {
  padding-right: 0px !important;
}

.new_listpopup .bottomdetailcardsinline .col-md-4 {
  text-align: left;
}

.new_listpopup .searchresultlistshower {
  overflow: inherit;
}

.new_listpopup .f15 {
  font-size: 18px;
}

.tab-content.popupscrolls {
  height: 400px;
  overflow: auto;
}

.nlistingdashboard {
  margin-bottom: 20px;
}

.nlistingdashboard .panel {
  background: #fff;
  height: 540px;
}

.nnewlistdashboard {
  margin-bottom: 20px;
}

.nnewlistdashboard .panel {
  background: #fff;
  height: 540px;
}

.m-l-15m {
  margin-left: 15px !important;
}

.overlayimagecontent {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0px;
}

.overlayimagecontent a {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  text-decoration: none !important;
}

.overlayimagecontent i {
  color: #fff;
  font-size: 14px;
  padding: 7px 4% !important;
}

.overlayimagecontentinner {
  text-align: center;
}

.overlayimagecontent .m-t-15 {
  margin-top: 13px !important;
}

.widthfullcol {
  width: 100%;
}

/*.dashcalendar .fc-left{display:none;}
.dashcalendar .fc-center{display:none;}*/
.dashcalendar #calendar {
  margin-top: 0px;
}

.dashcalendar .fc-toolbar {
  margin-bottom: 0px;
}

.dashcalendar .fc-month-button {
  display: none;
}

.dashcalendar .fc-agendaWeek-button {
  display: none;
}

.dashcalendar .fc-agendaDay-button {
  display: none;
}

.dashcalendar {
  margin-bottom: 20px;
}

.dashcalendar .panel {
  background: #fff;
  height: 540px;
}

.dashcalendar .fc-time-grid-container.fc-scroller {
  height: 384px !important;
}

.main-content .page-content.page-wizard.wizardbg {
  padding: 0px 15px;
}

.sf-sea .sf-wizard > form {
  padding: 0px !important;
}

.sf-viewport {
  height: auto !important;
}

/***  Singhal  **/
/*------19-05-16-start-------*/
.expand-icon {
  position: absolute;
  color: #4a89dc;
  font-size: 15px;
  width: 100%;
  z-index: 1;
  text-align: right;
  padding: 5px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.close .icons-office-52::before {
  color: #fff;
}

.modal-header .close {
  opacity: 1 !important;
  text-shadow: 0 1px 0 #fff !important;
}

/*--------19-05-16-end-----*/

/*------20-05-16-start-------*/
.col-md-8.txtheight {
  float: right;
  width: 63%;
}

.txtheight p {
  line-height: 18px;
}

.popupscrolls .txtheight .searchresultlistshower .col-sm-4 {
  padding: 5px 15px !important;
}

.popupscrolls .txtheight .bottomdetailcardsinline .col-md-4,
.popupscrolls .txtheight .searchresultlistshower .col-sm-4 {
  padding-left: 0px !important;
}

.col-md-4.nwstclnts {
  margin-left: 12px;
  width: 31%;
}

/*.secondary-textp.pt10.listtypeclient.m-b-0{bottom: 4px;position: relative;}*/

@-moz-document url-prefix() {
  .ctrlicons {
    bottom: 23px;
    position: relative;
  }
}

.sortby.my-sortby {
  display: none;
}

.other-h3 {
  position: relative;
  right: 15px;
}

.date-picker {
  width: 90%;
}

label {
  width: 100%;
}

.icons-imagecontentinner {
  text-align: center;
}

.icons-imagecontent {
  padding: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: none;
}

.icons-imagecontentinner i {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 6% !important;
}

.user-icon a, .calendar-icon a, .trash-icon a,
.user-icon a:hover, .calendar-icon a:hover, .trash-icon a:hover,
.user-icon a:active, .calendar-icon a:active, .trash-icon a:active,
.user-icon a:focus, .calendar-icon a:focus .trash-icon a:focus {
  color: #fff;
  position: relative;
  text-decoration: none;
  top: 1px;
}

.user-icon, .calendar-icon, .trash-icon {
  height: 25px;
  margin: 0 auto;
  text-align: center;
  width: 90px;
  font-size: 14px;
  border: 1px solid #fff;
}

.calendar-icon, .trash-icon {
  margin-top: 10px;
}

.dashboard-load-more {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #319db5 !important;
  font-size: 16px;
  font-weight: 600;
}

.dashboard-load-more2 {
  margin-top: 7px;
}

.dashboard-addshow, .dashboard-save, .mail-addshow, .mail-adddoc {
  margin: 15px 0;
  position: relative;
}

.sidebar-upper-part {
  background: #f5f5f5 none repeat scroll 0 0;
  border-bottom: 2px solid #dce1e4;
  bottom: 15px;
  position: relative;
}

.quickview-header.sidebar-header-top {
  background: #f5f5f5 !important;
}

.sidebar-upper-part .form-horizontal {
  top: 15px;
  position: relative;
}

.btn-width {
  width: 90%;
}

.btn-width-schedule {
  width: 99%;
}

.home-left-tab {
  position: relative;
  top: 45px;
}

.home-cal-rl .fc-day-header.fc-widget-header {
  bottom: 15px;
  position: relative;
  right: 20px;
}

.btn-width-schedule-mail {
  width: 100%;
}

.btn-width-mail {
  width: 87%;
}

.main-section {
  opacity: 1.0;
}

.home-cal-rl .fc-prev-button,
.home-cal-rl .fc-next-button {
  background: #7f7f7f !important;
}

.saved-sidebar.open .quickview-header .nav.nav-tabs li a,
.saved-sidebar.open .quickview-header .nav.nav-tabs li a:hover,
.saved-sidebar.open .quickview-header .nav.nav-tabs li a:active,
.saved-sidebar.open .quickview-header .nav.nav-tabs li a:focus {
  background-color: #4a89dc !important;
  color: #fff !important;
}

.saved-sidebar.open .quickview-header2 .nav.nav-tabs li a,
.saved-sidebar.open .quickview-header2 .nav.nav-tabs li a:hover,
.saved-sidebar.open .quickview-header2 .nav.nav-tabs li a:active,
.saved-sidebar.open .quickview-header2 .nav.nav-tabs li a:focus {
  background-color: #4a89dc;
  color: #fff;
}

.saved-sidebar.open .nav-tabs > li > a {
  border-radius: 0px;
  margin-right: 0px;
}

.dash-price {
  font-size: 16px;
}

.dash-lower-icon {
  padding-right: 0px !important;
}

.text-size {
  font-size: 15px;
}

.home-cal-rl .fc-center h2 {
  font-size: 13px;
}

.home-cal-rl .fc-left {
  width: 100%;
}

.home-cal-rl .fc-button-group {
  float: right !important;
}

.home-cal-rl .fc-center {
  bottom: 15px;
  position: relative;
}

.modal-slideright .modal-dialog {
  max-width: 350px;
}

.fc-view-container {
  bottom: 38px;
  position: relative;
}

.dash-listed {
  text-align: right;
  width: 90%;
}

#clientsmail .btnactive.col-md-12 {
  display: inline !important;
}

.fc .fc-button-group .fc-prev-button, .fc .fc-button-group .fc-next-button {
  background: #7f7f7f none repeat scroll 0 0;
}

.cal-event-popup {
  margin-left: 4%;
  margin-top: 2%;
  width: 50%;
}

.cal-event-popup-day {
  position: relative;
  top: 5px;
}

.tab_left .home-right-tab {
  border-left: 0px !important;
}

.tab_left .home-left-tab {
  border-right: 2px solid #dddddd !important;
}

.rent-content .rent-content-left {
  margin-right: 5%;
}

.overlayimagecontentinner .m-t-10 {
  margin-top: 14px !important;
}

.ld-load-more {
  text-align: left !important;
}

.colinout.ttright {
  text-align: left;
  width: 50px;
}

.colinout.ttright h4 {
  width: 50px;
  margin-top: -4px;
}

.panel-heading h4 > a.collapsed:after {
  width: 18px !important;
  height: 18px !important;
  margin-top: 1px !important;
  color: #319db5 !important;
  opacity: 1 !important;
}

.panel-heading h4 > a.ttright:after {
  width: 18px !important;
  height: 18px !important;
  margin-top: 1px !important;
  color: #319db5 !important;
  opacity: 1 !important;
}

.resized-icon i {
  font-size: 20px !important;
}

.new-icons {
  float: right;
}

.new-icons span, .new-icons .fa {
  color: #828282 !important;
}

.new-icons span {
  font-size: 19px !important;
  font-weight: normal !important;
}

.new-icons-f, .new-icons-s, .new-icons-t {
  height: auto !important;
}

.resized-icon {
  width: 100px !important;
  float: right !important;
}

.dash-list-links {
  background: #7f7f7f none repeat scroll 0 0;
  float: right;
  margin-top: 1.5%;
  width: 23%;
  border-radius: 5px;
}

.dash-btn-lft, .dash-btn-rght {
  background: #7f7f7f;
  border: none;
  color: #fff;
  padding: 3px 6px;
}

.dash-btn-lft {
  margin-left: 9px;
}

.dash-btn-lft span, .dash-btn-rght span {
  margin-top: 6px;
}

.clnt-rent-hdng {
  width: 90%;
}

.roundtext.pricefont.f19.dash-prce {
  font-size: 19px;
}

.dashdoubletab .tab-content {
  padding: 15px 10px !important;
}

.dashdoubletab .tab-content.p-t-0 {
  padding-top: 0px !important;
}

.mail-side .nav > li > a {
  padding: 10px 8px !important;
}

.mail-side {
  margin-top: 20px !important;
  display: block !important;
  float: left !important;
}

.new-icons-f i, .new-icons-s i, .new-icons-t i {
  font-size: 19px !important;
  margin-left: 5px;
}

/**********Singhal***********/

.main-content .page-content .panel .panel-header.ratepad {
  padding: 6px 4px;
}

.dsh-sde-lstng .dash-listed {
  font-size: 19px;
}

.dshmprce .dash-prce {
  font-size: 19px !important;
}

.dshmprce .dash-prce .pt10.m-l-5.pt88 {
  font-size: 9px !important;
}

.dashdoubletab .profilecardlist p {
  display: inline-block;
}

.title .pricefont.fdashnewfont {
  font-size: 19px;
}

.searchcardlist.fdashsearchcardlist li {
  font-size: 10pt;
}

.searchresultlistshower .col-sm-4.fnewcenter {
  font-size: 10pt;
}

.fnewcenter .f15 {
  font-size: 10pt;
}

.searchresultlistshower .col-sm-4.fnewcenter {
  padding: 4px 0 0px 0;
}

.searchresultlistshower .col-sm-4.fnewcenter i {
  font-size: 10pt;
}

.newdashlastsectionsearchresultlist {
  padding: 0px;
}

.newdashspanred {
  font-size: 10pt;
}

/*-------- Singhal 15-06-16-start---------*/

.fa.home-icn {
  display: initial !important;
}

.home-icn-div {
  text-align: left !important;
}

.dshnwlstd {
  text-align: left !important;
}

.dshlft {
  padding-left: 6px !important;
}

.dshnm {
  font-size: 13px;
}

.dshnmdiv {
  text-align: left !important;
}

.dsh-sde-lstng {
  margin-top: 10px !important;
}

.col-sm-4.home-icn-div span, .col-sm-4.home-icn-div i {
  font-size: 9pt !important;
}

.secondary-textp.dshuprsd {
  display: inherit !important;
}

/*--------15-06-16-end-----------*/
.m-t-15m {
  margin-top: 14px !important;
}

.dashclientdetailnew {
  padding: 0px !important;
  box-shadow: none !important;
}

.nlistingdashboard .nav > li > a {
  padding: 10px !important;
}

.btn.creashowheet {
  padding: 7px 15px 8px;
}

.cchange {
  color: #4a89dc;
}

.navbar-nav.searchsearchhead {
  float: right;
}

.ffright {
  float: right;
  padding: 0px;
}

.ptoprel {
  position: relative;
  top: 1px;
}

@media (max-width: 1500px) {
  .page-profil .profil-header .profil-img.previewlistingimage img {
    height: auto;
    width: 100%;
  }

  .page-profil .profil-header .previewuserfriends .col-sm-4:not(.profil-img) img {
    width: 100%;
    max-width: 100%;
    height: stretch;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: 98px;
  }
}

@media (min-width: 768px) {
  .modal-dialog.usermodelpopup {
    width: 750px;
  }
}

@media (min-width: 10px) and (max-width: 480px) {
  .dropzone .dz-default.dz-message {
    background: url(../images/spritemap.png);
    width: 250px;
    height: 70px;
    margin-left: -130px;
  }
}

@media (min-width: 10px) and (max-width: 990px) {
  .ditrinner {
    margin-bottom: 10px;
  }

  .respwidth .col-md-6 .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popupwizard .input__field.input__field--hoshi {
    max-width: 100%;
  }

  .popupwizard .input.input--hoshi {
    max-width: 100%;
  }

  .resp50 {
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }

  .resp50.p0r {
    padding: 0px;
  }

  .resp50.resp40 {
    width: 40%;
  }

  .searchbtnpr {
    bottom: inherit;
  }

  .p0rr {
    padding: 0px;
  }

  .resp33 {
    float: left;
    width: 33%;
  }

  .resp75 {
    width: 75%;
    float: left;
  }

  .resp25 {
    width: 25%;
    float: left;
  }

  .resp100 {
    width: 100%;
  }

  .resp33 {
    width: 33%;
    float: left;
  }

  .resp66 {
    width: 66%;
    float: left;
  }

  .searchtopbread {
    display: block !important;
  }

  .centerinnerdropsearch {
    width: 120px;
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  .header-menu.nav > li > a {
    padding: 10px;
  }

  .nlistingdashboard .nav > li > a {
    padding: 10px !important;
  }

}

@media (min-width: 991px) and (max-width: 1199px) {
  .resp666 {
    width: 66%;
    float: left;
  }

  .newdashlastsectionsearchresultlist {
    width: 100%;
    padding: 0px 30px;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    padding-right: 5px;
  }

  .resp333 {
    float: left;
    width: 33%;
  }

  .resp6666 {
    width: 66% !important;
    float: left;
  }

  .resp5050 {
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }

  .respp0 {
    margin: inherit !important;
  }

  .col-md-4.nwstclnts {
    margin-left: 0px;
  }

  .imgheight img {
    height: 140px;
    width: 100%;
    min-height: auto;
  }

  .centerinnerdropsearch {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .resp50 {
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }

  .resp5050 {
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }

  .resp66 {
    width: 66%;
    float: left;
  }

  .resp6666 {
    width: 66% !important;
    float: left;
  }

  .resp33 {
    float: left;
    width: 33%;
  }

  .resp333 {
    float: left;
    width: 33%;
  }

  .resp75 {
    width: 75%;
    float: left;
  }

  .resp25 {
    width: 25%;
    float: left;
  }

  .header-menu.nav > li > a {
    padding: 10px 2px;
  }

  .header-right.col-md-6 {
    width: 56%;
  }

  .newdashlastsectionsearchresultlist {
    padding: 0px 35px;
  }

  .nlistingdashboard .panel {
    height: auto;
  }

  .respp0 {
    margin: inherit !important;
  }

  .col-md-4.nwstclnts {
    margin-left: 0px;
  }

  .imgheight img {
    height: 140px;
    width: 100%;
    min-height: auto;
  }

}

@media (min-width: 10px) and (max-width: 767px) {

  .titlecardleft {
    width: 100%;
  }

  .titlecardright {
    float: inherit;
    width: 100%;
  }

  .titlecard4 {
    width: inherit;
  }

  .titlecard4second {
    margin-left: 0px;
  }

  .titlecard4third {
    margin-left: 0px;
  }

  .header-nameleftmain {
    width: 100%;
  }

  .header-namerightmain {
    width: 100%;
  }

  .topbar {
    height: 100px;
  }


}

@media (min-width: 768px) and (max-width: 1024px) {
  .titlecardleft {
    width: inherit;
  }

  .titlecardright {
    float: inherit;
    width: 100%;
  }

  .titlecard4 {
    width: inherit;
  }

  .titlecard4second {
    margin-left: 0px;
  }

  .titlecard4third {
    margin-left: 0px;
  }

  .page-profil .profil-header .header-name {
    overflow: hidden;
  }

  .popupwizard .form-group.col-md-3 {
    width: 45%;
    float: left;
    margin-left: 2%;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .overflowhidden {
    overflow: hidden;
  }

  .card.small .card-image {
    height: 120px;
  }

  .topbar .header-left ul.nav-icons li {
    padding: 10px;
  }

  .nav > li > a {
    padding: 10px 5px;
  }

  .topfirstwidget .respwidth {
    width: 50% !important;
  }

  .dnoneresp {
    display: none;
  }

  .nlistingdashboard .panel {
    height: auto;
    overflow: hidden;
  }

  .nnewlistdashboard .panel {
    height: auto;
  }

  .header-menu.nav > li > a {
    padding: 10px 5px;
  }

  .m-t-8 .form-control {
    width: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header-nameright .profil-info {
    padding-top: 10px;
    padding-right: 5px !important;
    font-size: 14px !important;
  }

  .page-profil .profil-header .header-nameleftmain .profil-info {
    font-size: 15px;
  }

  .header-namerightmain {
    padding-right: 5px;
  }

  .header-namerightmain .bottommaininfo {
    font-size: 15px !important;
  }

  .lastsectdispnone {
    display: none;
  }

  .displayfullshow {
    width: 50%;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .treedivide .ctrlicons a {
    margin: 0px 5px;
  }

  .pt9 {
    font-size: 10pt;
  }

  .title .pricefont {
    font-size: 19px;
  }

  .page-profil .profil-header .profil-info {
    padding-right: 4%;
  }

  .rightbartabsmain .trashicons .glyphicon {
    font-size: 15px;
  }

  .rightbartabsmain .trashmargin {
    margin-right: 23px;
  }

  .rightbartabsmain .trashicons .fa {
    font-size: 15px;
  }

  .pt88 {
    font-size: 10pt;
    margin-left: 10px !important;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    font-size: 10pt;
    padding-right: 5%;
  }

  .agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
    height: 111px;
  }

  .f-13 {
    font-size: 12px !important;
  }

  .lastsectdispnone {
    display: none;
  }

  .displayfullshow {
    width: 50%;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {
  .page-profil .profil-header .profil-img.previewlistingimage img {
    height: auto;
    width: 100%;
  }

  .page-profil .profil-header .previewuserfriends .col-sm-4:not(.profil-img) img {
    width: 100%;
    max-width: 100%;
    height: 117px;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: auto;
  }
}

@media (min-width: 1601px) and (max-width: 1900px) {

  .cardcontenticons {
    width: 100%;
    float: left;
  }

  .page-profil .profil-header .profil-info {
    padding-right: 6%;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: 118.6px;
  }

  .rightbartabsmain .rightbartabs {
    width: 21.5%;
  }

  .rightbartabsmain .trashicons .glyphicon {
    font-size: 20px;
    top: 5px;
  }

  .rightbartabsmain .trashmargin {
    margin-right: 30px;
  }

  .rightbartabsmain .trashicons .fa {
    font-size: 20px;
  }

  .rightbartabsmain .rightsearchresulttab .p {
    font-size: 13px;
  }

  .rightbartabsmain .rightsearchresulttab .h3 {
    font-size: 18px;
  }

  .page-profil .profil-header .profil-img.previewlistingimage img {
    height: auto;
    width: 100%;
  }

  .page-profil .profil-header .previewuserfriends .col-sm-4:not(.profil-img) img {
    width: 100%;
    max-width: 100%;
    height: 120px;
  }

  .card.small .card-image {
    height: 200px;
  }

  .ctrlicons .fa-upload {
    margin: 0px;
  }

  .treedivide .ctrlicons a {
    margin: 0px 5px;
  }

  .paddingcustom4 .btn-primary a {
    padding: 7px 33px 8px;
  }

  .page-profil .profil-content .item .user .info.newinfo div {
    font-size: 17px;
  }

  .pt9 {
    font-size: 10pt;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    font-size: 11pt !important;
    padding-right: 12%;
  }

  .pt88 {
    font-size: 10pt;
    margin-left: 10px !important;
  }

  .agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
    height: 110px;
  }

  .f-13 {
    font-size: 12px !important;
  }

  .icons-imagecontentinner i {
    font-size: 20px;
  }

  .listfright {
    font-size: 19px !important;
  }

}

@media (min-width: 1901px) and (max-width: 2100px) {

  .cardcontenticons {
    width: 100%;
    float: left;
  }

  .page-profil .profil-header .profil-info {
    padding-right: 8%;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: 118.6px;
  }

  .page-profil .profil-header .profil-img img {
    width: 100%;
    height: auto;
  }

  .rightbartabsmain .rightsearchresulttab .h3 {
    font-size: 21px;
  }

  .rightbartabsmain .rightsearchresulttab .p {
    font-size: 16px;
  }

  .rightbartabsmain .rightbartabs {
    width: 21.9%;
  }

  .rightbartabsmain .trashicons .glyphicon {
    font-size: 24px;
    top: 5px;
  }

  .rightbartabsmain .trashmargin {
    margin-right: 34px;
  }

  .rightbartabsmain .trashicons .fa {
    font-size: 24px;
  }

  .card.small .card-image {
    height: 250px;
  }

  .page-profil .profil-content .item .user .info.newinfo div {
    font-size: 17px;
  }

  .pt9 {
    font-size: 10pt;
  }

  .treedivide .ctrlicons a {
    margin: 0px 5px;
  }

  .paddingcustom4 .btn-primary a {
    padding: 7px 41px 8px;
  }

  .ctrlicons .fa-upload {
    margin: 0px;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    font-size: 11pt !important;
    padding-right: 16%;
  }

  .nlistingdashboard .imgheight img {
    min-height: 80px;
    width: 100%;
    height: 120px;
  }

  .pt88 {
    font-size: 10pt;
    margin-left: 10px !important;
  }

  .agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
    height: 108px;
  }

  .f-13 {
    font-size: 12px !important;
  }

  .icons-imagecontentinner i {
    font-size: 23px;
  }

  .listfright {
    font-size: 19px !important;
  }

}

@media (min-width: 2101px) and (max-width: 3000px) {

  .cardcontenticons {
    width: 100%;
    float: left;
  }

  .page-profil .profil-header .profil-info {
    padding-right: 10%;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: 118.6px;
  }

  .page-profil .profil-header .profil-img img {
    width: 100%;
    height: auto;
  }

  .rightbartabsmain .rightsearchresulttab .h3 {
    font-size: 30px;
  }

  .rightbartabsmain .rightsearchresulttab .p {
    font-size: 23px;
    margin: 7px 0px;
  }

  .rightbartabsmain .trashicons .glyphicon {
    font-size: 30px;
    top: 5px;
  }

  .rightbartabsmain .trashmargin {
    margin-right: 55px;
  }

  .rightbartabsmain .trashicons .fa {
    font-size: 30px;
  }

  .rightbartabsmain .rightbartabs {
    width: 22.7%;
  }

  .card.small .card-image {
    height: 300px;
  }

  .page-profil .profil-content .item .user .info.newinfo div {
    font-size: 17px;
  }

  .pt9 {
    font-size: 10pt;
  }

  .treedivide .ctrlicons a {
    margin: 0px 5px;
  }

  .paddingcustom4 .btn-primary a {
    padding: 7px 66px 8px;
  }

  .ctrlicons .fa-upload {
    margin: 0px;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    font-size: 11pt !important;
    padding-right: 20%;
  }

  .nlistingdashboard .imgheight img {
    min-height: 80px;
    width: 100%;
    height: 120px;
  }

  .pt88 {
    font-size: 10pt;
    margin-left: 10px !important;
  }

  .agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
    height: 107px;
  }

  .f-13 {
    font-size: 12px !important;
  }

  .listfright {
    font-size: 19px !important;
  }

}

@media (min-width: 3001px) and (max-width: 4000px) {

  .cardcontenticons {
    width: 100%;
    float: left;
  }

  .page-profil .profil-header .profil-info {
    padding-right: 12%;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: 118.6px;
  }

  .page-profil .profil-header .profil-img img {
    width: 100%;
    height: auto;
  }

  .rightbartabsmain .rightsearchresulttab .h3 {
    font-size: 30px;
  }

  .rightbartabsmain .rightsearchresulttab .p {
    font-size: 23px;
    margin: 7px 0px;
  }

  .rightbartabsmain .trashicons .glyphicon {
    font-size: 30px;
    top: 5px;
  }

  .rightbartabsmain .trashmargin {
    margin-right: 55px;
  }

  .rightbartabsmain .trashicons .fa {
    font-size: 30px;
  }

  .rightbartabsmain .rightbartabs {
    width: 23.4%;
  }

  .card.small .card-image {
    height: 400px;
  }

  .page-profil .profil-content .item .user .info.newinfo div {
    font-size: 17px;
  }

  .pt9 {
    font-size: 10pt;
  }

  .treedivide .ctrlicons a {
    margin: 0px 5px;
  }

  .paddingcustom4 .btn-primary a {
    padding: 7px 66px 8px;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    font-size: 11pt !important;
    padding-right: 25%;
  }

  .nlistingdashboard .imgheight img {
    min-height: 80px;
    width: 100%;
    height: 140px;
  }

  .nlistingdashboard .panel, .nnewlistdashboard .panel {
    height: 620px;
  }

  .ctrlicons .fa-upload {
    margin: 0px;
  }

  .pt88 {
    font-size: 10pt;
    margin-left: 10px !important;
  }

  .agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
    height: 111px;
  }

  .f-13 {
    font-size: 12px !important;
  }

  .listfright {
    font-size: 19px !important;
  }

}

@media (min-width: 4001px) and (max-width: 6000px) {

  .cardcontenticons {
    width: 100%;
    float: left;
  }

  .page-profil .profil-header .profil-info {
    padding-right: 14%;
  }

  .page-profil .profil-header .col-sm-4:not(.profil-img) {
    height: 118.6px;
  }

  .page-profil .profil-header .profil-img img {
    width: 100%;
    height: auto;
  }

  .rightbartabsmain .rightsearchresulttab .h3 {
    font-size: 30px;
  }

  .rightbartabsmain .rightsearchresulttab .p {
    font-size: 23px;
    margin: 7px 0px;
  }

  .rightbartabsmain .trashicons .glyphicon {
    font-size: 30px;
    top: 5px;
  }

  .rightbartabsmain .trashmargin {
    margin-right: 55px;
  }

  .rightbartabsmain .trashicons .fa {
    font-size: 30px;
  }

  .rightbartabsmain .rightbartabs {
    width: 23.8%;
  }

  .card.small .card-image {
    height: 500px;
  }

  .page-profil .profil-content .item .user .info.newinfo div {
    font-size: 17px;
  }

  .pt9 {
    font-size: 10pt;
  }

  .treedivide .ctrlicons a {
    margin: 0px 5px;
  }

  .paddingcustom4 .btn-primary a {
    padding: 7px 66px 8px;
  }

  .ctrlicons .fa-upload {
    margin: 0px;
  }

  .nlistingdashboard .profilecardlist p.pt10, .pt10 {
    font-size: 11pt !important;
    padding-right: 42%;
  }

  .nlistingdashboard .imgheight img {
    min-height: 80px;
    width: 100%;
    height: 120px;
  }

  .pt88 {
    font-size: 10pt;
    margin-left: 10px !important;
  }

  .agentcoinfo .bg-blue, .agentcoinfo .bg-primary {
    height: 111px;
  }

  .f-13 {
    font-size: 12px !important;
  }

  .listfright {
    font-size: 19px !important;
  }

}

@media (min-width: 1601px) and (max-width: 6000px) {
  .addcal {
    font-size: 14px;
    padding: 7px 18px 8px;
  }

  #notifications-header {
    padding: 0px 20px;
  }

  .searchhead {
    width: 300px;
    padding-right: 20px;
  }

  .dashdoubletab .lstylenone ul li {
    font-size: 11pt !important;
  }

  .searchresultlistshower .col-sm-4.fnewcenter {
    font-size: 12pt !important;
  }

  .fnewcenter .f15 {
    font-size: 12pt !important;
  }

  .pt10.p99 {
    font-size: 12pt !important;
  }

  .searchcardlist.fdashsearchcardlist li {
    font-size: 12pt !important;
  }

  .searchresultlistshower .col-sm-4.fnewcenter i {
    font-size: 12pt !important;
  }

  .newdashspanred {
    font-size: 12pt !important;
  }

  .dashdoubletab .profilecardlist p {
    font-size: 12pt !important;
  }

  .dashdoubletab .lstylenone ul li {
    font-size: 12pt !important;
  }

  .nwstclnts .f15 {
    font-size: 12pt !important;
  }

}

@media (min-width: 1401px) and (max-width: 1600px) {
  .dashdoubletab .profilecardlist .f19 {
    font-size: 15px !important;
    margin-top: 5px;
  }

  .dsh-sde-lstng .dash-listed {
    font-size: 15px !important;
  }

  .dashdoubletab .profilecardlist .pt10.m-l-5.pt88 {
    font-size: 12px !important;
  }

  .dashdoubletab .profilecardlist p {
    padding-right: 10px;
    font-size: 10pt;
  }

  .dashdoubletab .spanred.fleft.m-l-0 {
    font-size: 8pt;
  }

  .dashdoubletab .lstylenone ul li {
    font-size: 10pt !important;
  }

  #notifications-header {
    padding: 0px 20px;
  }

  .searchhead {
    width: 200px;
    padding-right: 20px;
  }

  .clientdetailsavedapartment.newdasshh .col-sm-2 {
    font-size: 10pt;
  }

  .nwstclnts .f15 {
    font-size: 10pt;
  }

  .title .pricefont.fdashnewfont {
    font-size: 15px;
  }

  .listfright.fdashnewfontlis {
    font-size: 15px !important;
  }

  .searchresultlistshower .col-sm-4.fnewcenter {
    font-size: 10pt;
  }

  .fnewcenter .f15 {
    font-size: 10pt;
  }

  .pt10.p99 {
    font-size: 10pt;
  }

  .searchcardlist.fdashsearchcardlist li {
    font-size: 10pt;
  }

  .searchresultlistshower .col-sm-4.fnewcenter i {
    font-size: 10pt;
  }

  .newdashspanred {
    font-size: 10pt;
  }
}

@media screen and (min-width: 1024px) {
  .mailbox .topbar .header-left .topnav .menutoggle {
    width: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .dashdoubletab .profilecardlist .f19 {
    font-size: 15px !important;
    margin-top: 5px;
  }

  .dashdoubletab .profilecardlist .pt10.m-l-5.pt88 {
    font-size: 8pt !important;
  }

  .dashdoubletab .profilecardlist p {
    padding-right: 10px;
    font-size: 9pt;
  }

  .dashdoubletab .spanred.fleft.m-l-0 {
    font-size: 8pt;
  }

  .dashdoubletab .lstylenone ul li {
    font-size: 10px;
  }

  .dsh-sde-lstng .dash-listed-list .m-b-0 {
    font-size: 9pt !important;
  }

  .nwstclnts .f15 {
    font-size: 9pt;
  }

  .dsh-sde-lstng .dash-listed {
    font-size: 15px !important;
  }

  .clientdetailsavedapartment.newdasshh .col-sm-2 {
    font-size: 9pt;
  }

  .icons-imagecontentinner i {
    font-size: 14px;
  }

  .title .pricefont.fdashnewfont {
    font-size: 15px;
  }

  .listfright.fdashnewfontlis {
    font-size: 15px !important;
  }

  .searchresultlistshower .col-sm-4.fnewcenter {
    font-size: 9pt;
  }

  .fnewcenter .f15 {
    font-size: 9pt;
  }

  .pt10.p99 {
    font-size: 9pt;
  }

  .searchcardlist.fdashsearchcardlist li {
    font-size: 9pt;
  }

  .searchresultlistshower .col-sm-4.fnewcenter i {
    font-size: 9pt;
  }

  .newdashspanred {
    font-size: 9pt;
  }
}

@media (max-width: 1300px) {

  .newmailicon {
    margin: 0;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .colinout.ttright {
    margin-left: 5px;
  }
}

@media (min-width: 1601px) and (max-width: 1899px) {
  .colinout.ttright {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2100px) {
  .colinout.ttright {
    margin-left: 33px;
  }
}

@media only screen and (min-width: 2101px) and (max-width: 3000px) {
  .colinout.ttright {
    margin-left: 70px;
  }
}

.dash-listed {
  font-size: 19px !important;
}

.dsh-sde-lstng .dash-listed-list .m-b-0 {
  font-size: 12px;
}

.ldleft {
  float: left;
  height: auto;
  width: 35%;
}

.ldrght {
  float: right;
  width: 60%;
}

.srch .nav > li > a {

  padding: 10px !important;

}

.new-txt .input.input--hoshi {
  font-size: 14px !important;
  margin: 0 !important;
}

.new-txt .input__field.input__field--hoshi {
  margin: 0 !important;
  padding: 0.4em 0.15em 0.999em !important;
  font-weight: normal !important;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

