@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700");
@import "../../../../styles/variable.less";

:host {
  padding-top: 50px;
}

.drop-container {
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  min-height: 350px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #C0C4C7;

  &.is-drop-over {
    background-color: @bacground-lighter;
    border: 2px dashed @primary;
  }

  app-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    /deep/ .loader-overlay {
      position: absolute;
    }
  }

  .info-block {
    position: absolute;
    top: 0;
    right: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: @primary;
    position: absolute;
    right: 15px;
    top: 15px;

    .upload-button {
      display: inline;
      border: none;
      outline: none;
      cursor: pointer;
      color: #5754A3;

      input {
        display: none;
      }
    }
  }
}

.remove-photo {
  top: 0;
  right: 0;
}

.has-error {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.select-room {
  display: block;
}

.marks {
  position: absolute;
  left: 0;
  top: 5px;
  line-height: 14px;
  font-size: 14px;

  & > div {
    background: #bbb;
    color: #FFF;
    padding: 3px 5px;
    min-width: 65px;
    margin-bottom: 2px;

    &.mark-360 {
      background-color: #00aa00;
    }

    &.mark-featured {
      background-color: #9B7ED1;
    }

    &.mark-floorplan {
      background-color: #0A246A;
    }
  }
}

.disabled-photos{
  li {
    img{
      height: 115px;
      max-width: 260px;
    }
  }
}

.enabled-photos{
  li {
    img{
      height: 125px;
      max-width: 300px;
    }
  }
}

.ngx-dnd-container {
  width: 100%;
  min-height: 350px;
  padding-top: 30px;
  border: none;
  background-color: transparent;

  .ngx-dnd-item {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
