<div class="row">
  <div class="enabled-photos col-sm-8 panel panel-default p-r-0 m-b-0">
    <div class="panel-heading">Enabled Photos</div>
    <div class="panel-body">
      <div class="drop-container" ngFileDrop [options]="uploaderOptions"
           (uploadOutput)="onUploadOutput($event)"
           [ngClass]="{ 'is-drop-over': dragOver }"
           [uploadInput]="uploadInput">

        <app-loader *ngIf="loading" [loading]="loading"></app-loader>
        <p>
          Drag a file here or <label class="upload-button">
          <input type="file" ngFileSelect [options]="uploaderOptions" (uploadOutput)="onUploadOutput($event)"
                 [uploadInput]="uploadInput" multiple> browse</label> to upload.
        </p>
        <ul class="list-group dis-block ngx-dnd-container" ngxDroppable="photos" (drop)="moveEnabledPhoto($event)">
          <li class="dis-inline-b ngx-dnd-item" ngxDraggable [model]="photo"
              *ngFor="let photo of listing.getEnabledPhotos();">
            <div class="m-r-10 m-b-10 pos-rel" [contextMenu]="photoMenu" [contextMenuSubject]="photo">
              <img class="cursor-pointer" height="125" (click)="openPhotos(photo)" [src]="listing.getPhotoUrl(photo)"/>
              <span class="marks">
                    <div *ngIf="is360(photo)" class="mark-360">360</div>
                    <div *ngIf="photo.properties.featured" class="mark-featured">Featured</div>
                    <div *ngIf="photo.properties.role === 'floorplan'" class="mark-floorplan">Floor plan</div>
                  </span>
              <button *ngIf="!photo.loading" class="btn btn-sm btn-default pos-abs remove-photo m-0"
                      (click)="confirmDeletion(delete_photo, photo)">
                <span class="glyphicon glyphicon-trash text-danger"></span>
              </button>
              <app-loader *ngIf="photo.loading" [loading]="photo.loading"></app-loader>
              <div *ngIf="photo.has_error" class="has-error text-danger"><span
                class="glyphicon glyphicon-remove" tooltip="Upload error"></span>
              </div>
              <select class="form-control select-room" (change)="changeRoom(photo)"
                      [(ngModel)]="photo.properties.room_id">
                <option *ngFor="let room of listing.getRoomOptions()"
                        [value]="room.room_id">{{ room.title }}
                </option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="disabled-photos col-sm-4 p-l-0 panel panel-default">
    <div class="panel-heading">Disabled Photos</div>
    <div class="panel-body">
      <div class="drop-container">
        <app-loader *ngIf="loading" [loading]="loading"></app-loader>
        <ul class="list-group dis-block ngx-dnd-container" ngxDroppable="photos" (drop)="moveDisabledPhoto($event)">
          <li class="dis-inline-b ngx-dnd-item" ngxDraggable [model]="photo"
              *ngFor="let photo of listing.getDisabledPhotos()">
            <div class="m-r-10 m-b-10 pos-rel" [contextMenu]="disabledPhotoMenu" [contextMenuSubject]="photo">
              <img class="cursor-pointer" height="125" (click)="openPhotos(photo)" [src]="listing.getPhotoUrl(photo)"/>
              <button *ngIf="!photo.loading" class="btn btn-sm btn-default pos-abs remove-photo m-0"
                      (click)="confirmDeletion(delete_photo, photo)">
                <span class="glyphicon glyphicon-trash text-danger"></span>
              </button>
              <app-loader *ngIf="photo.loading" [loading]="photo.loading"></app-loader>
              <div *ngIf="photo.has_error" class="has-error text-danger"><span
                class="glyphicon glyphicon-remove" tooltip="Upload error"></span>
              </div>
              <select class="form-control select-room" (change)="changeRoom(photo)"
                      [(ngModel)]="photo.properties.room_id">
                <option *ngFor="let room of listing.getRoomOptions()"
                        [value]="room.room_id">{{ room.title }}
                </option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 panel panel-default m-b-0">
    <div class="panel-heading">360s</div>
    <div class="panel-body">
      <div class="drop-container" ngFileDrop [options]="uploaderOptions"
           (uploadOutput)="onUpload360Output($event)"
           [ngClass]="{ 'is-drop-over': drag360Over }"
           [uploadInput]="upload360Input">

        <app-loader *ngIf="loading360" [loading]="loading360"></app-loader>
        <div class="row">
          <div class="col-sm-12 info-block">
            <p>
              Drag a file here or <label class="upload-button">
              <input type="file" ngFileSelect [options]="uploaderOptions"
                     #upload360input (onUpload)="upload360input.value=''"
                     (uploadOutput)="onUpload360Output($event)"
                     [uploadInput]="upload360Input"> browse</label> to upload.
            </p>
          </div>
          <div class="col-sm-12 p-l-30 p-r-30 m-t-60">
            <ul class="list-group dis-block">
              <li class="dis-inline-b" *ngFor="let photo of getUploaded360()">
                <div class="m-r-10 m-b-10 pos-rel">
                  <img class="cursor-pointer" height="125" (click)="open360Photos(photo)"
                       [src]="listing.getPhotoUrl(photo)"/>
                  <button *ngIf="!photo.loading" class="btn btn-sm btn-default pos-abs remove-photo m-0"
                          (click)="confirmDeletion(delete_photo, photo)">
                    <span class="glyphicon glyphicon-trash text-danger"></span>
                  </button>
                  <div *ngIf="photo.has_error" class="has-error text-danger"><span
                    class="glyphicon glyphicon-remove" tooltip="Upload error"></span>
                  </div>
                  <select class="form-control select-room" (change)="changeRoom(photo)"
                          [(ngModel)]="photo.properties.room_id">
                    <option *ngFor="let room of listing.getRoomOptions()"
                            [value]="room.room_id">{{ room.title }}
                    </option>
                  </select>
                  <app-loader *ngIf="photo.loading || !photo.media_item_id" [loading]="photo.loading"></app-loader>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #delete_photo>
  <div class="modal-body text-center">
    <p>Do you really want to delete this photo?</p>
    <button type="button" class="btn btn-default" (click)="deletePhoto(photo_for_delete)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #upload360modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Please choose a room</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close360Modal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let photo of getPending360Photos()">
      <div class="m-r-10 m-b-10 pos-rel">
        <img class="cursor-pointer" width="100%" [src]="listing.getPhotoUrl(photo)"/>
        <div *ngIf="photo.has_error" class="has-error text-danger"><span
          class="glyphicon glyphicon-remove" tooltip="Upload error"></span>
        </div>
        <select class="form-control select-room"
                [(ngModel)]="photo.properties.room_id">
          <option value="">Please choose a room</option>
          <option *ngFor="let room of listing.getRoomOptions()"
                  [value]="room.room_id">{{ room.title }}
          </option>
        </select>

        <div *ngIf="!checkUniqRoom(photo)"  class="alert alert-danger m-t-10" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          There are already 360 photo for this room
        </div>
        <div class="text-right">
          <button class="btn btn-danger m-t-10" type="button" (click)="removePanding360(photo)">Remove</button>
          <button *ngIf="checkUniqRoom(photo)" class="btn btn-primary m-t-10" type="button"
                  [disabled]="!photo.properties.room_id"
                  (click)="uploadPending360Photo(photo)">Upload
          </button>
          <button *ngIf="!checkUniqRoom(photo)" class="btn btn-primary m-t-10" type="button"
                  (click)="uploadPending360Photo(photo, true)">Replace
          </button>
        </div>
        <app-loader *ngIf="photo.loading" [loading]="photo.loading"></app-loader>
      </div>
    </div>
  </div>
</ng-template>

<context-menu #photoMenu [menuClass]="'photo-context'">
  <ng-template contextMenuItem (execute)="markAsFeatured($event.item)"><i class="fa fa-circle-o c-purple"></i>Mark as
    featured
  </ng-template>
  <ng-template contextMenuItem [visible]="isNotFloorplan"
               (execute)="markAsFloorplan($event.item)"><i class="fa fa-circle-o c-blue"></i>Mark as floorplan
  </ng-template>
  <ng-template contextMenuItem [visible]="isFloorplan"
               (execute)="unMarkAsFloorplan($event.item)"><i class="fa fa-circle-o c-blue"></i>Unmark as floorplan
  </ng-template>
  <ng-template contextMenuItem (execute)="disablePhoto($event.item)"><i class="fa fa-minus-circle c-red"></i>Disable
  </ng-template>
</context-menu>

<context-menu #disabledPhotoMenu [menuClass]="'photo-context'">
  <ng-template contextMenuItem (execute)="enablePhoto($event.item)"><i class="fa fa-plus-circle c-green"></i>Enable
  </ng-template>
</context-menu>
