<div class="builder-container">
  <div class="layout-option">

    <tabset class="nav nav-tabs">
      <tab heading="Saved Listings">
        <div class="tab-pane fade active in">
          <div class="bottomdetails mtop15 ph-10">

            <div class="savedapart mb-10">
              <p class="apartleft">{{ saved_listings.length }} Saved Apartments</p>
              <p class="apartright" *ngIf="saved_listings.length">
                  <span *ngIf="selected_listings.length" tooltip="Remove all selected" placement="bottom"><i
                    class="fa fa-trash trashmargin" (click)="removeAllSelectedSaved()"></i></span>
                <span class="showcheckbox" (click)="selectAllSaved()"
                      *ngIf="saved_listings.length !== selected_listings.length">Select All</span>
                <span class="showcheckbox" (click)="unselectAllSaved()"
                      *ngIf="saved_listings.length === selected_listings.length">Unselect All</span>
              </p>
            </div>
          </div>

          <div class="repeatmain listdetailrepeatmain">
            <app-saved-listings-item *ngFor="let item of saved_listings" [item]="item"
                                     (checked)="selected_listings.push(item)"
                                     (unchecked)="selected_listings.splice(selected_listings.indexOf(item), 1)"
            ></app-saved-listings-item>
            <div *ngIf="saved_listings.length">
              <h3 class="moredetailsbutton yessure" style="display: block;">
                <button [disabled]="!selected_listings.length" type="button" class="btn btn-primary m-r-0"
                        (click)="sendListings()"> Send to
                  Client
                </button>
              </h3>
            </div>

          </div>
        </div>
      </tab>
      <tab heading="Sent Listings">
        <div class="tab-pane fade active in">
          <div class="bottomdetails mtop15 ph-10">

            <div class="savedapart mb-10">
              <p class="apartleft">{{ sent_listings.length }} Sent Apartments</p>
            </div>
          </div>

          <div class="repeatmain listdetailrepeatmain">
            <app-saved-listings-item *ngFor="let item of sent_listings" [item]="item"></app-saved-listings-item>
          </div>
        </div>
      </tab>
    </tabset>
  </div>

</div>
