<form (ngSubmit)="submitClient()" [formGroup]="clientForm" novalidate>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && clientForm.get('first_name').invalid }">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" id="first_name" placeholder="Enter first name"
                 name="first_name" formControlName="first_name">
          <span *ngIf="submitted && clientForm.get('first_name').invalid"
                class="help-block">First name is required</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && clientForm.get('last_name').invalid }">
          <label for="last_name">Last name:</label>
          <input type="text" class="form-control" id="last_name" placeholder="Enter last name"
                 name="last_name" formControlName="last_name">
          <span *ngIf="submitted && clientForm.get('last_name').invalid" class="help-block">Last name is required</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && clientForm.get('email').invalid }">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" disabled
                 name="email" formControlName="email">
          <!-- <span *ngIf="submitted && clientForm.get('email').invalid" class="help-block">Email is required</span> -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && clientForm.get('phone').invalid }">
          <label for="phone">Phone:</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter phone number"
                 name="phone" formControlName="phone">
          <span *ngIf="submitted && clientForm.get('phone').invalid" class="help-block">Phone is invalid</span>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && clientForm.get('year_born').invalid }">
          <label for="year_born">Year born:</label>
          <input type="number" class="form-control" id="year_born" placeholder="Enter year born"
                 name="year_born" formControlName="year_born">
          <span *ngIf="submitted && clientForm.get('year_born').invalid" class="help-block">Year born is invalid</span>
        </div>
      </div> -->

      <!-- <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && clientForm.get('gender').invalid }">
          <label for="gender">Gender:</label>

          <div class="form-group">
            <div class="btn-group m-0" id="gender" btnRadioGroup formControlName="gender" style="display: flex">
              <label btnRadio="m" class="btn btn-default dis-inline" tabindex="0" role="button">Male</label>
              <label btnRadio="f" class="btn btn-default dis-inline" tabindex="0" role="button">Female</label>
            </div>
          </div>

          <span *ngIf="submitted && clientForm.get('gender').invalid" class="help-block">Gender is invalid</span>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="text-danger m-b-10" *ngIf="errorMsg">{{ errorMsg }}</div>
        <button [disabled]="submitting" type="submit"
                class="btn btn-primary">Submit
        </button>
        <span *ngIf="submitting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>

      </div>
    </div>
  </div>

</form>
