<div class="container" id="login-block">
  <i class="user-img icons-faces-users-03"></i>
  <div class="account-form">
    <form class="form-password" role="form" (ngSubmit)="f.form.valid && reset_password()" #f="ngForm" novalidate>
      <h3><strong>Reset</strong> your password</h3>
      <h3 class="has-success" *ngIf="suceessMsg"><span class="help-block">New password has been sent to your email.</span></h3>
      <div class="append-icon m-b-20" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <input type="email" name="email" class="form-control form-white username" placeholder="Email"
               [(ngModel)]="model.email" #email="ngModel" required>
        <i class="icon-user"></i>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>

      <div class="has-error" *ngIf="errorMsg"><span class="help-block">Email is incorrect</span></div>

      <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left"
              [disabled]="loading">Send Password Reset Link</button>
      <span *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      <div class="clearfix m-t-60">
        <p class="pull-left m-t-20 m-b-0"><a id="login" routerLink="/auth/login">Have an account? Sign In</a></p>
      </div>
    </form>
  </div>

</div>
