<div class="col-md-12">

  <div class="row header searchresultheading">
    <div class="col-xs-12">
      <h2 [innerHTML]="search_label"></h2>
    </div>
    <div class="col-xs-6 m-1723">
      <ul class="header-menu nav searchsearchhead">
        <li class="m-t-0 m-l-20" *ngIf="!client">
          <div class="append-icon">
            <input type="text" class="form-control form-white pull-right" id="email-search" placeholder="Search..."
                   name="search_text_input" [value]="form_data.search" (change)="searchText($event)">
            <i class="icon-magnifier" (click)="search.emit()"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-12" *ngIf="tags_details">
      <ng-container *ngFor="let tag of form_options.tag_cloud_definition">
        <button class="btn tag-btn" type="button" (click)="setTag(tag)"
                [ngClass]="{'btn-dark': tag.selected, 'btn-primary': !tag.selected}"
                *ngIf="tags_details[tag.type] > 0">{{ tag.title }} ({{ tags_details[tag.type] }})
        </button>
      </ng-container>
    </div>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="col-sm-4 row newsearsctop">
        <p class="filter-list">
          <span *ngIf="advice_result">{{ advice_result.title }}</span>
          <i *ngIf="edit_search" (click)="showSearchForm()" class="fa fa-pencil-square-o ptoprel cursor-pointer"></i>
        </p>
      </div>
      <div class="col-sm-8 row ffright">
        <div class="searchtopbread">

          <div class="gridlist m-t-10">
            <a (click)="changeView('grid')" class="m-r-5" [ngClass]="{'gridactive': gridlist === 'grid'}"><i
              class="icon-grid"></i></a>
            <a (click)="changeView('list')" [ngClass]="{'gridactive': gridlist === 'list'}"><i
              class="fa fa-list p-r-10"></i></a>
          </div>
          <div class="centerinnerdropsearch" *ngIf="sort_result">
            <select class="form-control" data-search="true" [(ngModel)]="sort_data"
                    (change)="sortResult($event)">
              <option *ngFor="let item of sort_list" [ngValue]="item"
                      [selected]="item.field === form_data.sort_by && item.dir === form_data.sort_dir">{{ item.name }}
              </option>
            </select>
          </div>
          <p class="fourresults" *ngIf="total">{{ total | number:'.0' }} Results</p>

        </div>
      </div>
    </div>
    <div class="dis-inline-b fullwidth" *ngIf="gridlist === 'grid'">
      <app-search-result-item *ngFor="let item of result" [item]="item" [colspan]="4"
                              [adMode]="form_data.advertising_mode"
                              [annotationMode]="form_data.annotation_mode"></app-search-result-item>
    </div>
    <div class="dis-inline-b fullwidth" *ngIf="gridlist != 'grid'">
      <div class="table-responsive">
        <table class="table table-hover dataTable" *ngIf="result.length">
          <thead>
          <tr>
            <th>Address</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Beds</th>
            <th>Baths</th>
            <th>Company</th>
            <th>On Market</th>
            <th>Building</th>
            <th>Location</th>
            <th></th>
          </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all">
          <app-search-result-item-list *ngFor="let item of result" [item]="item"
                                       [colspan]="4"></app-search-result-item-list>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center"><h2 *ngIf="!result.length">Listings not found</h2></div>
    <div class="text-center" *ngIf="needPagination()">
      <pagination [totalItems]="total" [itemsPerPage]="form_data.limit"
                  [boundaryLinks]="true" [(ngModel)]="page" (pageChanged)="pageChanged($event)" [maxSize]="10"></pagination>
    </div>

  </div>
</div>
