<!--<h3 class="m-t-5" *ngIf="!inquiry.is_broker && !inquiry.in_error">Status: {{ inquiry.status.charAt(0).toUpperCase() + inquiry.status.slice(1).toLowerCase() }}</h3>-->
<div class="form-group">
  <label class="control-label">Status:&nbsp;</label>
  <select class="form-control"
          [disabled]="!canEdit()"
          (change)="updateInquiryStatus($event.target.value)"
          [(ngModel)]="inquiry.status"
          [ngModelOptions]="{ standalone: true }">
    <option [value]="'NEW'">New</option>
    <option [value]="'PROGRESS'" [disabled]="!is_supervisor">Progress</option>
    <option [value]="'MADE_APPOINTMENT'">Made appointment</option>
    <option [value]="'CLOSED'">Closed</option>
    <option [value]="'DEAD_LEAD'">Dead lead</option>
    <option [value]="'IGNORED'">Ignored</option>
  </select>
</div>
