<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2><strong>DOS Form</strong> details <span *ngIf="dos_form">&mdash; {{ dos_form.client_name }}</span></h2>
  </div>

  <div class="col-md-12 m-b-10">
    <a *ngIf="dos_form" [routerLink]="['/client', 'dos', dos_form.form_id, 'edit']" class="btn btn-sm btn-success m-t-10" container="body" tooltip="Edit this form">
      Edit DOS Form
    </a>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10" *ngIf="dos_form">
        <div class="dis-inline-b fullwidth">
          <div class="panel panel-primary">
            <div class="panel-heading">Basic info</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">DOS Form Status</label>
                    <select class="form-control" [(ngModel)]="dos_form.status" [ngModelOptions]="{ standalone: true }" disabled readonly>
                      <option value="new">New</option>
                      <option value="done">Completed</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Broker in interest of landlord as:</label>
                    <label for="lala">
                      <input disabled readonly id="lala" type="radio" [value]="'lala'" [(ngModel)]="dos_form.data.broker_in_interest_of" [ngModelOptions]="{ standalone: true }"> Landlord's Agent
                    </label>
                    <br>
                    <label for="laba">
                      <input disabled readonly id="laba" type="radio" [value]="'laba'" [(ngModel)]="dos_form.data.broker_in_interest_of" [ngModelOptions]="{ standalone: true }"> Broker's Agent
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Broker in interest of tenant as:</label>
                    <label for="tata">
                      <input disabled readonly id="tata" type="radio" [value]="'tata'" [(ngModel)]="dos_form.data.broker_in_interest_of" [ngModelOptions]="{ standalone: true }"> Tenant's Agent
                    </label>
                    <br>
                    <label for="taba">
                      <input disabled readonly id="taba" type="radio" [value]="'taba'" [(ngModel)]="dos_form.data.broker_in_interest_of" [ngModelOptions]="{ standalone: true }"> Broker's Agent
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Dual agent</label>
                    <label for="da">
                      <input disabled readonly id="da" type="radio" [value]="'da'" [(ngModel)]="dos_form.data.broker_in_interest_of" [ngModelOptions]="{ standalone: true }"> Dual Agent
                    </label>
                    <br>
                    <label for="dadsa">
                      <input disabled readonly id="dadsa" type="radio" [value]="'dadsa'" [(ngModel)]="dos_form.data.broker_in_interest_of" [ngModelOptions]="{ standalone: true }"> Dual agent with designated sales agent
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dos_form.data.broker_in_interest_of && dos_form.data.broker_in_interest_of.includes('da')">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="pos-rel dis-inline text-nowrap">
                      <input type="checkbox" [(ngModel)]="dos_form.data.advance_informed_consent" disabled readonly> Advance informed consent to dual agency with designated sales agents
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dos_form.data.broker_in_interest_of && dos_form.data.broker_in_interest_of === 'dadsa'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label h3formtop">Represents tenant</label>
                    <input class="form-control" type="text" [value]="represents_tenant" disabled readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label h3formtop">Represents landlord</label>
                    <input class="form-control" type="text" [value]="represents_landlord" disabled readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary" *ngIf="!!dos_form.data.client_data_signature.url">
            <div class="panel-heading">Client Signature</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <img [src]="dos_form.data.client_data_signature.url">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col-lg-12">
        <div class="panel panel-primary m-b-0 row">
          <div class="panel-content m-t-10 m-l-20 m-r-20 action-btns overflowvisible">
            <div class="btn-group m-b-10" dropdown container="body">
              <button id="button-basic" dropdownToggle type="button" class="btn btn-success dropdown-toggle"
                      aria-controls="dropdown-basic">
                Send <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="send('web')" >Send via web</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="send('pdf')" >Send as PDF</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
