<div class="photo-actions">
  <div class="photo-actions-item" *ngIf="annotate_mode !== true">
    <div class="btn-group">
      <button class="btn btn-sm btn-default m-b-0" container="body" placement="bottom"
        type="button" (click)="toggleDetectedObjects()"
        *ngIf="getDetectedObjects().length !== 0">
        <span *ngIf="showDetectedObjects">Hide</span>
        <span *ngIf="!showDetectedObjects">Show</span>
        detected objects
      </button>
      <a class="btn btn-sm btn-primary m-b-0" [routerLink]="['/listing', item.advertisement_id, 'edit']" fragment="data"
         container="body" placement="bottom" (click)="closeGallery()">
        <i class="icon-pencil"></i> Edit Listing
      </a>
      <a class="btn btn-sm btn-success m-b-0" [routerLink]="['/listing', item.advertisement_id, 'edit']"
         fragment="media"
         container="body" placement="bottom" (click)="closeGallery()">
        <i class="icon-grid"></i> Edit Media
      </a>
      <a class="btn btn-sm btn-default m-b-0" [href]="getPhotoUrl()" target="_blank">
        <i class="icon-download"></i> Download
      </a>
      <button class="btn btn-sm btn-warning m-b-0" tooltip="Disable photo" container="body" placement="bottom"
              type="button" (click)="disablePhoto()">
        <i class="icon-ban"></i> Disable
      </button>
      <button class="btn btn-sm btn-danger m-b-0" tooltip="Delete photo" container="body" placement="bottom"
              type="button"
              (click)="deletePhoto()">
        <i class="icon-close"></i> Delete
      </button>
      <button class="btn btn-sm btn-default m-b-0" tooltip="Close Gallery" container="body" type="button"
              placement="bottom"
              (click)="closeGallery()">Close
      </button>
    </div>
  </div>
  <div class="photo-actions-item" *ngIf="annotate_mode !== true">
    <div class="btn-group">
      <button class="btn btn-success m-b-0 m-r-5" (click)="annotate_mode = true" tooltip="Annotate mode"
              container="body">
        <i class="glyphicon glyphicon-edit"></i>Annotation
      </button>
      <ng-container *ngIf="photos">
        <ng-container *ngIf="getPhoto() && !getPhoto().isAnnotateIgnore()">
          <ng-container *ngFor="let i of getAnnotations()">
            <button class="btn btn-dark m-b-0" disabled="disabled"
                    [ngClass]="{'btn-primary': getPhoto() && !getPhoto().isAutoAnnotate(i.type)}"
            >{{ i.value }}</button>
          </ng-container>
        </ng-container>
        <button class="btn btn-danger m-b-0" disabled="disabled"
                *ngIf="getPhoto() && getPhoto().isAnnotateIgnore()">Ignored
        </button>
      </ng-container>
    </div>
  </div>
  <div class="photo-actions-item" *ngIf="annotate_mode === true">
    <button class="btn btn-sm btn-success m-b-0 m-r-5" (click)="annotate_mode = false" tooltip="Gallery mode"
            container="body">
      <i class="glyphicon glyphicon-edit"></i>Gallery
    </button>
    <app-item-annotation [photo]="getPhoto()" (ignore)="ignoreAnnotation()"
                         (change)="changeAnnotation()"></app-item-annotation>
  </div>
</div>

<div class="detection-container" *ngIf="!!coef && showDetectedObjects">
  <div class="detection-container-inner">
    <div *ngFor="let i of getDetectedObjects()">
      <div class="detected-object" [ngStyle]="{ 
        'left': i.bbox[0]*coef+'px', 
        'top': i.bbox[1]*coef+'px', 
        'width': (i.bbox[2]-i.bbox[0])*coef+'px', 
        'height': (i.bbox[3]-i.bbox[1])*coef+'px',
        'borderColor': getColor(i.type),
        'color': getColor(i.type) 
      }">
      {{i.type}}
      </div>  
    </div>
  </div>
</div>

<div class="page-profil">
  <div class="profil-content">
    <div class="item">
      <div class="more anchorch">
        <div class="row">
          <div class="col-sm-3 resp25">
            <span class="savesearchsidebar text-center">
                  <app-saved-listin-icon [item]="item" [withLabel]="true"></app-saved-listin-icon>
              </span>
          </div>
          <div class="col-sm-3 schedulesearchsidebar savesearchsidebar resp25"
               data-toggle="modal" data-target="#saved-sidebar">
            <i class="fa fa-calendar schedulesearchsidebar savesearchsidebar not-implemented"
               tooltip="Not implemented" container="body"></i>
            Appointment
          </div>
          <div class="col-sm-3 resp25">
            <i class="icon-share not-implemented" container="body" tooltip="Not implemented"></i> Share
          </div>
          <div class="col-sm-3 resp25" data-toggle="modal" data-target="#colored-headeruser">
            <i class="icon-user not-implemented" tooltip="Not implemented" container="body"></i> Contact
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
