:host {
  .page-profil {

    .profil-content {
      margin-top: 0;

      .item {
        position: fixed;
        width: 350px;
        left: 50%;
        margin-left: -175px;
        bottom: 0;
        margin-bottom: 0;
      }
    }
  }

}

.detection-container {
  position: absolute;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  .detection-container-inner {
    position: relative;
    width: 100%;
    height: 100%;

    .detected-object {
      position: absolute;
      border: 1px solid black;
      padding: 2px 5px;
    }
  }
}

.photo-actions {
  color: #FFF;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1000;
  width: 100%;
  min-width: 350px;
  text-align: right;

  .photo-actions-item {
    width: 100%;
    text-align: right;
  }

  .photo-actions-item > div {
    display: inline-block;
  }
}

/deep/ bs-tooltip-container {
  z-index: 100000 !important;
}

/deep/ app-gallery-actions {
  .btn-group {
    justify-content: flex-end;
    margin-left: 0 !important;
  }
}

:host /deep/ .btn-ignore {
  right: -40px !important;
  top: 0 !important;
}

@media (max-width: 590px) {
  /deep/ .mfp-img {
    min-width: 550px;
  }
}
