<div class="col-md-6 nlistingdashboard">
  <div style="height: 100%" class="panel panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="panel-header">
      <h3><i class="icon-list"></i> <strong>New</strong> Listings</h3>

    </div>
    <div class="panel-content widget-news">
      <app-loader [loading]="loading"></app-loader>
      <div *ngIf="!loading">
        <div class="col-md-12 p-0">
          <div class="text-center" *ngIf="!data.length">
            <h4 class="m-20">
              There are no recently viewed listings. Do you have any active saved search
              defined for your clients?</h4>
          </div>
          <tabset class="nav nav-tabs">
            <tab [heading]="listing.client.first_name + ' ' + listing.client.last_name" class="p-l-10 p-r-10"
                 *ngFor="let listing of data">
                <div class="row m-b-10 bgclientdetail"
                     *ngFor="let item of (listing.listings ? listing.listings.slice(0,3): []); let i=index"
                     (mouseenter)="item.mouseenter = true" (mouseleave)="item.mouseenter = false">
                     <app-search-result-item [item]="item" [colspan]="12"></app-search-result-item>
                </div>
                <button type="button" *ngIf="listing.listings.length>3"
                        class="m-b-10 dashboard-load-more dashboard-load-more2"
                        (click)="goToSearch(listing.client.user_id)">Show all
                </button>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
