@import "../../../../styles/variable";

.text-success{
  color: #3c763d;
}

.hover-img{
  width: 100%;
  background-size: cover !important;
}

.text-left {
  text-align: left !important;
}

.widget-news /deep/ app-loader{
  position: initial;

  .loader-overlay{
    position: absolute;
  }
}

.no-image {

  .user.ovisible {
    display: block;
  }
}

.item-sent {
  position: absolute;
  right: 10px;
  font-size: 24px;
  bottom: 10px;
  z-index: 10;
}

.dom {
  color: #fff;
}
.avail{
  margin-right: 8px;
  color: #f88;
  font-weight: 600;
}

.streets {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expand-icon {
  width: inherit;
}

.anchorch {
  background-color: #fff;
}

.more {

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.disabled{
  background-color: #ccc  ;
}


@media (max-width: 767px) {
  .nlistingdashboard .panel {
    height: auto !important;
  }

  .mb-image {
    width: 100% !important;
  }
  .mb-image-hide {
    display: none !important;
  }
}