.textarea.input--hoshi{
  width: 100%;
  resize: both;
  max-width: 400px;

  textarea{
    height: 100%;
  }
}

.btn-primary.active {
  background: #41bcde !important;
}

.input__field {
  line-height: 34px;
}

.paddingcustom .btn-primary {
  width: initial;
}