
<div class="col-md-12 ">
  <div class="header searchresultheading p-b-0">
    <h2 class="p-b-0 m-b-0">Create <strong>New Listing</strong></h2>
  </div>
</div>

<div class="row sf-sea">
  <div class="col-lg-12">
    <div class="wizard-div current wizard-sea popupwizard">
      <form class="wizard" (ngSubmit)="submitListings()" [formGroup]="listingForm" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <div class="tab-pane fade in active firststepp">
              <div class="col-lg-12">
                <div class="panel firststepbg">
                  <div class="row m-b-10">
                    <div class="col-md-12">
                      <div class="topfirstwidget m-b-20">
                          <div class="form-group col-md-12 col-lg-6"
                                [ngClass]="{ 'has-error': submitted && !listingForm.controls.building.valid }">
                                <label class="text-size">Building</label>
                                <ng-select
                                class="col-sm-9 p-0"
                                formControlName="building"
                                [dropdownPosition]="'bottom'"
                                [closeOnSelect]="true"
                                [hideSelected]="true"
                                [selectOnTab]="true"
                                [markFirst]="false"
                                placeholder="Address"
                                name="address"
                                [items]="buildings"
                                [multiple]="false"
                                bindLabel="address"
                                bindValue="building_id"
                                [loading]="buildings_to_loading"
                                [typeahead]="buildingsToTypeahead"
                                (change)="updateBuilding($event)"
                                (clear)="buildings_to_loading = false"
                              ></ng-select>
                            <div class="col-sm-3">
                              <button type="button" class="btn btn-primary" (click)="addBuilding()">Create Building
                              </button>
                            </div>
                            <div>
                              <div *ngIf="submitted && !listingForm.controls.building.valid" class="help-block">Building
                                is
                                required
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-lg-6">
                            <div class="address-details"
                                  *ngIf="listingForm.value.building">
                              <strong class="m-l-15m">Building info</strong>
                              <div class="row">
                                <div class="col-md-6">
                                  <ul class="list-group">
                                    <li class="list-group-item">{{ building.building_type }}&nbsp;</li>
                                    <li class="list-group-item">{{ building.ownership }}&nbsp;</li>
                                    <li class="list-group-item">{{ building.pet_policy }}&nbsp;</li>
                                  </ul>
                                </div>
                                <div class="col-md-6">
                                  <ul class="list-group">
                                    <li class="list-group-item">{{ building.neighborhood }}, {{ building.borough }}</li>
                                    <li class="list-group-item">{{ building.streets }}&nbsp;</li>
                                    <li class="list-group-item">{{ building.zip }}, {{ building.city }} {{ building.state
                                      }}
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
  
                          </div>
                      </div>
                    </div>
  
                    <div class="col-md-12">
                      <div class="topfirstwidget m-b-20">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="form-group col-md-12 col-lg-6 "
                                [ngClass]="{ 'has-error': submitted && !listingForm.controls.apartment_id.valid }">
                              <label class="text-size">Unit</label>
                              <!-- <div class="col-md-12"> -->
                                <div class="row">
                                  <div class="col-sm-9">
    
                                  <span class="input input--hoshi">
                                      <input class="input__field input__field--hoshi" type="text" id="form-unit"
                                            formControlName="unit"
                                            (keyup)="unitTerm.next($event.target.value)" placeholder="Unit"/>
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                            for="form-unit"></label>
                                    </span>
    
                                    <span *ngIf="search_apartment"
                                          class="glyphicon glyphicon-refresh glyphicon-refresh-animate pull-right"></span>
                                    <div *ngIf="submitted && !listingForm.controls.apartment_id.valid"
                                        class="help-block">Unit is required
                                    </div>
                                    <div *ngIf="existing_ad" class="help-block">
                                      <a style="color: red; font-size: 1.2em;" href="" target="_blank" [routerLink]="['/listing', existing_ad.advertisement_id, 'details']">
                                        An active {{ listingForm.get('ad_type').value }} listing already exists in this unit. <i class="fas fa-external-link-alt"></i>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="col-sm-3">
                                    <button type="button" [disabled]="!building" class="btn btn-primary"
                                            (click)="addApartment()">
                                      Create Unit
                                    </button>
                                  </div>
                                </div>
                              <!-- </div> -->
                            </div>
                            <div class="col-md-12 col-lg-6">
                              <div class="address-details"
                                  *ngIf="apartment">
                                <strong class="m-l-15m">Unit info</strong>
                                <div class="row">
                                  <div class="col-md-6">
                                    <ul class="list-group">
                                      <li class="list-group-item"><span>Unit:</span> {{ apartment.unit }}</li>
                                      <li class="list-group-item"><span>Size:</span> {{ apartment.getformatedSize() }}
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-md-6">
                                    <ul class="list-group">
                                      <li class="list-group-item"><span>Bedrooms:</span> {{ apartment.getBedroomsText() }}
                                      </li>
                                      <li class="list-group-item"><span>Bathrooms:</span> {{ apartment.bathrooms }}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
    
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
  
                    <div class="col-md-12">
                        <div class="topfirstwidget m-b-20">
                            <!-- <div class=""> -->
                              <div class="col-md-6 ditrinner "
                                   [ngClass]="{ 'has-error': submitted && !listingForm.controls.ad_type.valid }">
                                    <span class="input input--hoshi">
                                        <label class="text-size"><b>Type</b></label>
                                        <div class="btn-group paddingcustom">
                                          <button type="button" class="btn btn-primary"
                                                  [ngClass]="{ 'active': listingForm.get('ad_type').value === 'rental' }"
                                                  (click)="setAdType('rental')">
                                            Rental
                                          </button>
                                          <button type="button" class="btn btn-primary"
                                                  [ngClass]="{ 'active': listingForm.get('ad_type').value === 'sale' }"
                                                  (click)="setAdType('sale')">
                                            Sale
                                          </button>
                                        </div>
                                      </span>
                                    <div *ngIf="submitted && !listingForm.controls.ad_type.valid" class="help-block">Type is
                                      required
                                    </div>
        
                                  <!-- </div> -->
                                <!-- </div> -->
                              </div>
                            <!-- </div> -->
                          </div>
                    </div>
                  </div>

                  <div class="row m-b-10">
                    <div class="col-md-12 col-lg-4">
                      <div class="topfirstwidget m-b-20">
                        <!-- <div class=""> -->
                          <div class="col-md-12 ditrinner "
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.price.valid }">
                            <!-- <div class="col-sm-9 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="form-group input input--hoshi">
                                      <label class="text-size"><b>Price</b></label>
                                      <input class="input__field input__field--hoshi" type="number" id="form-price"
                                             formControlName="price"
                                             placeholder="Price"/>
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-price"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.price.valid" class="help-block">Price is
                                  required
                                </div>
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                        <!-- </div> -->
                      </div>
    
                      <div class="topfirstwidget m-b-20">
                        <!-- <div class=""> -->
                          <div class="col-md-12 ditrinner "
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.access_type.valid }">
                            <!-- <div class="col-sm-9 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="input input--hoshi">
                                      <label class="text-size"><b>Access Type</b></label>
                                      <select class="input__field input__field--hoshi" id="form-access_type"
                                              formControlName="access_type">
                                        <option *ngFor="let value of options.access_type_options">{{ value }}</option>
                                      </select>
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-access_type"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.access_type.valid" class="help-block">
                                  Access type is required
                                </div>
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                        <!-- </div> -->
                      </div>
    
                      <div class="topfirstwidget m-b-20">
                        <!-- <div class=""> -->
                          <div class="col-md-12 ditrinner "
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.furnished_type.valid }">
                            <!-- <div class="col-sm-9 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="input input--hoshi">
                                      <label class="text-size"><b>Furnished Type</b></label>
                                      <select class="input__field input__field--hoshi" id="form-furnished_type"
                                              formControlName="furnished_type">
                                        <option *ngFor="let value of options.furnished_options">{{ value }}</option>
                                      </select>
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-furnished_type"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.access_type.valid" class="help-block">
                                  Furnished
                                  type is required
                                </div>
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                        <!-- </div> -->
                      </div>
                    </div>
  
                    <div class="col-md-12 col-lg-4">
                      <div class="topfirstwidget m-b-20">
                        <!-- <div class=""> -->
                          <div class="col-md-6 ditrinner "
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.available_from.valid }">
                            <!-- <div class="col-sm-9 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="input input--hoshi">
                                      <label class="text-size"><b>Available from</b></label>
                                      <input type="date" class="input__field input__field--hoshi" id="form-available_from"
                                              formControlName="available_from" [value]="today()">
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-available_from"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.available_from.valid" class="help-block">
                                  Available from is required
                                </div>
    
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                          <div class="col-md-6 ditrinner "
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.first_showing_date.valid }">
                            <!-- <div class="col-sm-9 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="input input--hoshi">
                                      <label class="text-size"><b>First showing date</b></label>
                                      <input type="date" class="input__field input__field--hoshi" id="form-first_showing_date"
                                              formControlName="first_showing_date" [value]="today()">
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-first_showing_date"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.first_showing_date.valid" class="help-block">
                                  First showing date is required
                                </div>
    
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                        <!-- </div> -->
                      </div>

                      <div class="topfirstwidget m-b-20" *ngIf="listingForm.get('ad_type').value === 'rental'">
                        <div class="col-md-6 ditrinner "
                            [ngClass]="{ 'has-error': submitted && !listingForm.controls.min_lease_period.valid }">
                          <!-- <div class="col-sm-9 resp50 p0r"> -->
                            <!-- <div class="row"> -->
                                  <span class="form-group input input--hoshi">
                                    <label class="text-size"><b>Min lease period</b></label>
                                    <input type="number" class="input__field input__field--hoshi" id="form-min_lease_period"
                                            formControlName="common_charges" [value]="12" [min]="0">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                            for="form-min_lease_period"></label>
                                  </span>
                              <div *ngIf="submitted && !listingForm.controls.min_lease_period.valid" class="help-block">
                                Minimum lease period is invalid
                              </div>
                            <!-- </div> -->
                          <!-- </div> -->
                        </div>
                        <div class="col-md-6 ditrinner "
                              [ngClass]="{ 'has-error': submitted && !listingForm.controls.max_lease_period.valid }">
                          <!-- <div class="col-sm-9 resp50 p0r"> -->
                            <!-- <div class="row"> -->
                                  <span class="form-group input input--hoshi">
                                    <label class="text-size"><b>Max lease period</b></label>
                                    <input type="number" class="input__field input__field--hoshi" id="form-max_lease_period"
                                            formControlName="common_charges" [value]="12" [min]="0">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                            for="form-max_lease_period"></label>
                                  </span>
                              <div *ngIf="submitted && !listingForm.controls.max_lease_period.valid" class="help-block">
                                Maximum lease period is invalid
                              </div>
                            <!-- </div> -->
                          <!-- </div> -->
                        </div>
                      </div>

                      <div class="topfirstwidget m-b-20" *ngIf="listingForm.get('ad_type').value === 'sale'">
                          <!-- <div class=""> -->
                            <div class="ditrinner "
                                 [ngClass]="{ 'has-error': submitted && !listingForm.controls.common_charges.valid,
                                              'col-md-6' : showMonthlyTaxes(),
                                              'col-md-12': !showMonthlyTaxes() }">
                              <!-- <div class="col-sm-9 resp50 p0r"> -->
                                <!-- <div class="row"> -->
                                     <span class="form-group input input--hoshi">
                                        <label class="text-size"><b>CC/Maintenance Fee</b></label>
                                        <input type="text" class="input__field input__field--hoshi" id="form-common_charges"
                                                formControlName="common_charges" currencyMask [options]="priceMaskConfig">
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                               for="form-common_charges"></label>
                                      </span>
                                  <div *ngIf="submitted && !listingForm.controls.common_charges.valid" class="help-block">
                                    Common Charges is invalid
                                  </div>
                                <!-- </div> -->
                              <!-- </div> -->
                            </div>
                            <div class="col-md-6 ditrinner " *ngIf="showMonthlyTaxes()"
                                 [ngClass]="{ 'has-error': submitted && !listingForm.controls.monthly_taxes.valid }">
                              <!-- <div class="col-sm-9 resp50 p0r"> -->
                                <!-- <div class="row"> -->
                                     <span class="form-group input input--hoshi">
                                        <label class="text-size"><b>Monthly taxes</b></label>
                                        <input type="text" class="input__field input__field--hoshi" id="form-monthly_taxes"
                                               formControlName="common_charges" currencyMask [options]="priceMaskConfig">
                                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                               for="form-monthly_taxes"></label>
                                      </span>
                                  <div *ngIf="submitted && !listingForm.controls.monthly_taxes.valid" class="help-block">
                                    Monthly taxes is invalid
                                  </div>
                                <!-- </div> -->
                              <!-- </div> -->
                            </div>
                          <!-- </div> -->
                      </div>

                      <div class="topfirstwidget m-b-20">
                        <!-- <div class=""> -->
                          <div class="ditrinner "
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.fee_structure.valid,
                                            'col-md-6' : listingForm.get('fee_structure').value === 'Co-Broke',
                                            'col-md-12': listingForm.get('fee_structure').value !== 'Co-Broke' }">
                            <!-- <div class="col-sm-9 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="input input--hoshi">
                                      <label class="text-size"><b>Fee Structure</b></label>
                                      <select class="input__field input__field--hoshi" id="form-fee_structure"
                                              formControlName="fee_structure">
                                        <option *ngFor="let value of options.fee_structure_options">{{ value }}</option>
                                      </select>
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-fee_structure"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.fee_structure.valid" class="help-block">
                                  Furnished type is required
                                </div>
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                          <div class="col-md-6 ditrinner "
                               *ngIf="listingForm.get('fee_structure').value === 'Co-Broke'"
                               [ngClass]="{ 'has-error': submitted && !listingForm.controls.commission_structure.valid }">
                            <!-- <div class="col-md-2 resp50 p0r"> -->
                              <!-- <div class="row"> -->
                                   <span class="form-group input input--hoshi">
                                      <label class="text-size"><b>Commission Structure</b></label>
                                      <input type="text" class="input__field input__field--hoshi" id="form-commission_structure"
                                              formControlName="commission_structure" currencyMask [options]="priceMaskConfig">
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-commission_structure"></label>
                                    </span>
                                <div *ngIf="submitted && !listingForm.controls.commission_structure.valid" class="help-block">
                                  Commission structure is required
                                </div>
                              <!-- </div> -->
                            <!-- </div> -->
                          </div>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>

                  <div class="row m-b-10">
                    <div class="col-md-12 col-lg-4">
                        <div class="topfirstwidget m-b-20">
                            <!-- <div> -->
                              <div class="col-md-12 ditrinner ">
                                <!-- <div class="col-sm-9 resp50 p0r"> -->
                                  <!-- <div class="row"> -->
                                    <span class="input input--hoshi">
                                      <label class="text-size"><b>Exposures</b></label>
                                      <div class="btn-group paddingcustom">
                                        <button type="button" class="btn btn-primary" *ngFor="let exposure of options.exposure_options"
                                                [ngClass]="{ 'active': exposureSelected(exposure) }"
                                                (click)="toggleExposure(exposure)">
                                          {{ exposure }}
                                        </button>
                                      </div>
                                    </span>
                                  <!-- </div> -->
                                <!-- </div> -->
                              </div>
                            <!-- </div> -->
                        </div>

                        <div class="topfirstwidget m-b-20">
                            <!-- <div class=""> -->
                              <div class="col-md-12 ditrinner ">
                                <!-- <div class="col-sm-9 resp50 p0r"> -->
                                  <!-- <div class="row"> -->
                                        <span class="input input--hoshi" [ngClass]="{ 'has-error': submitted && !listingForm.controls.rls_condition.valid }">
                                          <label class="text-size"><b>RLS Condition</b></label>
                                          <select class="input__field input__field--hoshi" id="form-rls_condition"
                                                  formControlName="rls_condition">
                                            <option *ngFor="let value of options.rls_condition_options">{{ value }}</option>
                                          </select>
                                          <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                                  for="form-rls_condition"></label>
                                        </span>
                                    <div *ngIf="submitted && !listingForm.controls.rls_condition.valid" class="help-block">
                                      RLS Condition is required
                                    </div>
                                  <!-- </div> -->
                                <!-- </div> -->
                              </div>
                            <!-- </div> -->
                          </div>

                        <div class="topfirstwidget m-b-20">
                            <!-- <div class=""> -->
                              <div class="col-md-12 ditrinner "
                                    [ngClass]="{ 'has-error': submitted && !listingForm.controls.nofee.valid }">
                                <div class="col-sm-9">
                                  <div class="row" style="position: relative;">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-nofee" formControlName="nofee"
                                      (checked)="listingForm.get('nofee').patchValue(1)"
                                      (unchecked)="listingForm.get('nofee').patchValue(0)"
                                      />
                                      <b>No fee</b>
                                    </label>
        
                                    <div *ngIf="submitted && !listingForm.controls.nofee.valid" class="help-block">No Fee is
                                      invalid
                                    </div>
                                  </div>
                                  <div class="row" style="position: relative;">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-advertise" formControlName="advertise"
                                      (checked)="listingForm.get('advertise').patchValue(1)"
                                      (unchecked)="listingForm.get('advertise').patchValue(0)"
                                      />
                                      <b>Advertise immediately</b>
                                    </label>
        
                                    <div *ngIf="submitted && !listingForm.controls.advertise.valid" class="help-block">
                                      Advertise immediately is invalid
                                    </div>
                                  </div>
                                  <div class="row" style="position: relative;">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-include_in_rls" formControlName="include_in_rls"
                                      (checked)="listingForm.get('include_in_rls').patchValue(1)"
                                      (unchecked)="listingForm.get('include_in_rls').patchValue(0)"
                                      />
                                      <b>Include in RLS</b>
                                    </label>
        
                                    <div *ngIf="submitted && !listingForm.controls.include_in_rls.valid" class="help-block">
                                      Include in RLS is invalid
                                    </div>
                                  </div>
                                  <div class="row" style="position: relative;">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-co_exclusive" formControlName="co_exclusive"
                                      (checked)="listingForm.get('co_exclusive').patchValue(1)"
                                      (unchecked)="listingForm.get('co_exclusive').patchValue(0)"
                                      />
                                      <b>Co-Exclusive</b>
                                    </label>
        
                                    <div *ngIf="submitted && !listingForm.controls.co_exclusive.valid" class="help-block">
                                      Co-Exclusive is invalid
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <div class="topfirstwidget m-b-20" *ngIf="listingForm.get('ad_type').value === 'rental' && listingForm.get('fee_structure').value === 'Owner Pays'">
                            <!-- <div class=""> -->
                              <div class="col-lg-8 col-md-12"
                                   [ngClass]="">
                                <!-- <div class="col-sm-9 resp50 p0r"> -->
                                  <app-concession-editor (concessionUpdated)="onConcessionUpdate($event)" [price]="listingForm.get('price').value"></app-concession-editor>
                                <!-- </div> -->
                              </div>
                            <!-- </div> -->
                            </div> 
                    </div> 
                  </div>     

                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="sf-controls clearfix text-right col-md-12">
          <button [disabled]="creating" class="btn btn-large btn-primary pull-right" type="submit">
            <span *ngIf="creating" class="glyphicon glyphicon-refresh glyphicon-refresh-animate m-r-5"></span>
            Next
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
