:host {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  line-height: 1.42857143;
}

.large-line {
  font-size: 15px;
}

.small-multiline {
  font-size: 12px;
}

.list-ribbon{
  color: #fff;
  white-space: nowrap;
  padding: 5px 10px;
}

.label-list{
  position: inherit;
}
