<td class="large-line" nowrap><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.address }}</a>
</td>
<td class="large-line" nowrap>
  <a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.unit }}</a>
</td>
<td class="large-line" nowrap>
  <app-listing-price [item]="item"></app-listing-price>
</td>
<td class="large-line" nowrap>{{ item.getBedroomsText() }}</td>
<td class="large-line" nowrap>{{ item.bathrooms }}</td>
<td class="small-multiline">
  <span *ngIf="item.access_type_info">{{ item.access_type_info }}</span>
  <span *ngIf="item.concession">, {{ item.concession }}</span>
  <span>, {{ item.open_house_info }}</span>
</td>
<td class="small-multiline"><span>{{ item.dom }}</span>
  <span class="avail"
        *ngIf="item.available_from && item.available_from !== 'Immediate'">, {{ item.available_from }}</span></td>
<td class="small-multiline">
  <span>{{ item.ownership }}</span>
  <span *ngIf="item.building_type">, {{ item.building_type }}</span>
  <span *ngIf="item.pet_policy">, {{ item.pet_policy }}</span>
  <span *ngIf="item.outdoor_space_info">, {{ item.outdoor_space_info }}</span>
</td>
<td class="small-multiline">{{ item.streets }}, {{ item.neighborhood }}</td>
<td class="small-multiline">
  <div class="label-list">
    <span *ngIf="item.ribbon" class="ribbon"
          [ngStyle]="{background: item.ribbon.color}">{{ item.ribbon.text | capitaliseFirst }}</span>
    <span *ngIf="item.has_360" class="label-360">360</span>
    <span *ngIf="item.nofee" class="label-nofee">No fee</span>
    <span *ngIf="item.advertised" class="label-advertised">Advertised</span>
  </div>
</td>
