<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Edit <strong>Invoice</strong> &mdash; {{ invoice? invoice.data.date + ' (' + invoice.data.invoice_no + ')' : '' }}</h2>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10" *ngIf="invoice_form">
      <form class="wizard" data-style="sea" role="form" (submit)="sendForm()" [formGroup]="invoice_form" novalidate>
        <div class="dis-inline-b fullwidth">
          <div class="panel panel-primary">
            <div class="panel-heading">Basic info</div>
            <div class="panel-body" formGroupName="data" *ngIf="invoice_form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">Invoice Status</label>
                    <select class="form-control"
                            [disabled]="!is_supervisor"
                            [attr.readonly]="is_supervisor ? null : true"
                            [value]="invoice.data.status"
                            (change)="invoice_form.get('data.status').patchValue($event.target.value)">
                      <option value="new">New</option>
                      <option value="op_received">OP Received</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Management company</label>
                    <input type="text" formControlName="management_company" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Management address line 1</label>
                    <input type="text" formControlName="management_address_1" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Management address line 2</label>
                    <input type="text" formControlName="management_address_2" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Contact name</label>
                    <input type="text" class="form-control" formControlName="contact_name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Contact email</label>
                    <input type="text" class="form-control" formControlName="contact_email">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Contact phone</label>
                    <input type="tel" class="form-control" formControlName="contact_phone">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Lease info</div>
            <div class="panel-body" formGroupName="data" *ngIf="invoice_form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">
                      <span tooltip="If multiple, separate names with a comma (,)" placement="top" container="body">Tenant(s)<sup>*</sup></span>
                    </label>
                    <input type="text" class="form-control" formControlName="tenants">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="form-label h3formtop">Address</label>
                    <input type="text" class="form-control" formControlName="address">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label h3formtop">Unit</label>
                    <input type="text" class="form-control" formControlName="unit">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Price</label>
                    <input type="text" class="form-control" formControlName="price" placeholder="$ " currencyMask [options]="priceMaskConfig">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label h3formtop">Lease start date</label>
                    <input type="date" class="form-control" formControlName="lease_start_date">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label h3formtop">Commission amount</label>
                    <input type="text" class="form-control" formControlName="commission_amount" placeholder="$ " currencyMask [options]="priceMaskConfig">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-primary m-b-0 row">
            <div class="panel-content m-t-10 m-l-20 m-r-20 action-btns overflowvisible">
              <button type="submit" class="btn btn-lg btn-primary"
                      tooltip="Apply and save current changes">Save
              </button>
              <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                      (click)="cancel()">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
