<div class="pos-rel" *ngIf="form_options">
  <app-search-result
    [form-options]="form_options"
    (search)="search($event)"
    [result-count]="search_result_count"
    [result]="search_result"
    [advice-result]="advice_result"
    [client]="client"
    [(gridlist)]="view"
    [tags-available]="tags_available"
    [search-id]="search_id"
    (search-tag)="search(false)"
    [form-data]="model"></app-search-result>
  <app-loader [loading]="searching"></app-loader>
</div>
