<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="bsModalRef.hide()">
    <i class="icons-office-52"></i></button>
  <h4 class="modal-title"><strong>Create</strong> new client</h4>
</div>
<div class="email-details popupemail">
  <div class="col-sm-12">
    <div class="m-20">
      <form (ngSubmit)="createClient()" [formGroup]="clientForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': submitted && !clientForm.controls.email.valid }">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                 formControlName="email">
          <div *ngIf="clientForm.controls.email.errors">
            <span *ngIf="submitted && clientForm.controls.email.errors.required"
                  class="help-block">Email is required</span>
            <span *ngIf="submitted && clientForm.value.email.length && clientForm.controls.email.errors.email" class="help-block">Email is invalid</span>
          </div>
        </div>

        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="first_name"
                 formControlName="first_name">
        </div>

        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name"
                 formControlName="last_name">
        </div>

        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" class="form-control" id="phone" placeholder="Enter phone" name="phone"
                 formControlName="phone">
        </div>

        <div class="text-danger m-b-10" *ngIf="errorMsg">{{ errorMsg }}</div>
        <button [disabled]="clientForm.invalid" type="submit" class="btn btn-primary">Submit</button>
        <span *ngIf="submitting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      </form>
    </div>
  </div>
</div>
