<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Edit <strong>DOS Form</strong> &mdash; {{ dos_form? dos_form.client_name : '' }}</h2>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10" *ngIf="dos_form">
      <form class="wizard" data-style="sea" role="form" method="post" [formGroup]="form" (submit)="save()" novalidate>
        <div class="dis-inline-b fullwidth">
          <div class="panel panel-primary">
            <div class="panel-heading">Basic info</div>
            <div class="panel-body" formGroupName="data" *ngIf="form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">DOS Form Status</label>
                    <select class="form-control" [value]="dos_form.status" (change)="form.get('status').patchValue($event.target.value)">
                      <option value="new">New</option>
                      <option value="done">Done</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Broker in interest of landlord as:</label>
                    <label for="lala">
                      <input id="lala" type="radio" [value]="'lala'" formControlName="broker_in_interest_of"> Landlord's Agent
                    </label>
                    <br>
                    <label for="laba">
                      <input id="laba" type="radio" [value]="'laba'" formControlName="broker_in_interest_of"> Broker's Agent
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Broker in interest of tenant as:</label>
                    <label for="tata">
                      <input id="tata" type="radio" [value]="'tata'" formControlName="broker_in_interest_of"> Tenant's Agent
                    </label>
                    <br>
                    <label for="taba">
                      <input id="taba" type="radio" [value]="'taba'" formControlName="broker_in_interest_of"> Broker's Agent
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Dual agent</label>
                    <label for="da">
                      <input id="da" type="radio" [value]="'da'" formControlName="broker_in_interest_of"> Dual Agent
                    </label>
                    <br>
                    <label for="dadsa">
                      <input id="dadsa" type="radio" [value]="'dadsa'" formControlName="broker_in_interest_of"> Dual agent with designated sales agent
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="form.get('data.broker_in_interest_of').value && form.get('data.broker_in_interest_of').value.includes('da')">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="pos-rel dis-inline text-nowrap">
                      <input type="checkbox" formControlName="advance_informed_consent"> Advance informed consent to dual agency with designated sales agents
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="form.get('data.broker_in_interest_of').value && form.get('data.broker_in_interest_of').value === 'dadsa'">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label h3formtop">Represents tenant</label>
                    <ng-select
                      [formControlName]="'represents_tenant'"
                      [dropdownPosition]="'bottom'"
                      [closeOnSelect]="true"
                      [hideSelected]="true"
                      [selectOnTab]="true"
                      [markFirst]="true"
                      placeholder="Represents tenant"
                      name="represents_tenant"
                      [items]="typeaheads.represents_tenant.values"
                      [multiple]="false"
                      [loading]="typeaheads.represents_tenant.loading"
                      [typeahead]="typeaheads.represents_tenant.typeahead"
                      bindLabel="name"
                      bindValue="value"
                      [addTag]="false"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label h3formtop">Represents landlord</label>
                    <ng-select
                      [formControlName]="'represents_landlord'"
                      [dropdownPosition]="'bottom'"
                      [closeOnSelect]="true"
                      [hideSelected]="true"
                      [selectOnTab]="true"
                      [markFirst]="true"
                      placeholder="Represents landlord"
                      name="represents_landlord"
                      [items]="typeaheads.represents_landlord.values"
                      [multiple]="false"
                      [loading]="typeaheads.represents_landlord.loading"
                      [typeahead]="typeaheads.represents_landlord.typeahead"
                      bindLabel="name"
                      bindValue="value"
                      [addTag]="false"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-primary m-b-0 row">
            <div class="panel-content m-t-10 m-l-20 m-r-20 action-btns overflowvisible">
              <div class="btn-group m-b-10" dropdown container="body">
                <button id="button-basic" dropdownToggle type="button" class="btn btn-lg btn-success dropdown-toggle"
                        aria-controls="dropdown-basic">
                  Submit <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="submit('web')" >Send via web</a></li>
                  <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="submit('pdf')" >Send as PDF</a></li>
                </ul>
              </div>
              <button type="submit" class="btn btn-lg btn-primary"
                      tooltip="Apply and save current changes">Save
              </button>
              <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                      (click)="cancel()">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
