<section class="app">
  <aside class="aside-sm emails-list" *ngIf="!modal">
    <section>
      <div class="mailbox-page clearfix">
        <div class="append-icon">
          <input type="text" class="form-control form-white pull-right" id="email-search" placeholder="Search..."
                 (keyup)="searchTerm.next($event.target.value)">
          <i class="icon-magnifier"></i>
        </div>
      </div>
      <ul class="nav nav-tabs text-right">
        <li class="emails-action">
          <i class="icon-rounded-arrow-curve-left"></i>
          <i class=" icon-rounded-heart"></i>
          <div dropdown class="pos-rel dis-inline">
            <a dropdownToggle class="dropdown-toggle">
              <i class=" icon-rounded-arrow-down-thin"></i>
            </a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li><a (click)="selectAll()" class="reorder-menu">Select All</a></li>
            </ul>
          </div>
        </li>
        <li class="f-right" *ngFor="let sort of sortData" [ngClass]="{ active:sortField === sort.field }"><a
          (click)="sortContacts(sort.field)">{{ sort.label }}</a></li>
      </ul>
      <div class="tab-content">
        <div id="alphabetically">
          <div class="messages-list">
            <ng-scrollbar [style.height]="'calc(100vh - 250px)'">
              <div class="message-item media" *ngFor="let contact of contacts"
                   (click)="toogleContact(contact)"
                   [ngClass]="{selected:messageForm.controls.to.value && messageForm.controls.to.value.indexOf(contact.email) > -1}">
                <div class="media">
                  <img *ngIf="contact.hasAvatar()" [src]="contact.getAvatarUrl()" alt="avatar 3" width="40"
                       class="sender-img">
                  <div class="media-body">
                    <div class="sender">{{ contact.name }}</div>
                    <div class="email">{{ contact.email }}</div>
                  </div>
                </div>
              </div>
              <div class="text-center" *ngIf="contacts.length === (page+1) * per_oage">
                <button class="btn btn-primary" (click)="loadMore()">Load More</button>
              </div>
              <div *ngIf="!contacts.length" class="m-5 text-center">Contacts not found</div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </section>
  </aside>
  <div class="email-details">
    <section>
      <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" novalidate>

        <div class="email-subject" *ngIf="!modal">
          <h1><strong>Send</strong> Mail</h1>
          <div class="clearfix">
            <p>from <strong><span class="sender">Me</span></strong> &bull; <span class="date-send"></span></p>
          </div>
        </div>
        <div class="email-details-inner withScroll" data-height="window" data-padding="200">
          <div class="answers">
            <div class="answer-subject">
              <h2 class="answer-title"></h2>
              <p>from <strong>me</strong> &bull; <span class="answer-date"></span></p>
            </div>
            <div class="answer-content"></div>
          </div>
          <div class="send-to m-t-10">
            <div class="form-group">
              <div class="pos-rel"
                   [ngClass]="{ 'has-error': submitted && !messageForm.controls.to.valid, 'with-cc': isCC}">
                <ng-select
                  formControlName="to"
                  [dropdownPosition]="'bottom'"
                  [closeOnSelect]="true"
                  [hideSelected]="true"
                  [selectOnTab]="true"
                  [markFirst]="false"
                  placeholder="To"
                  name="to"
                  [items]="search_contacts"
                  [multiple]="true"
                  bindLabel="name"
                  bindValue="email"
                  [loading]="contacts_to_loading"
                  [typeahead]="contactsToTypeahead"
                  (blur)="makeContactIfValid()"
                  (remove)="clearToMail()"
                  (focus)="onFocus()"
                  (change)="changeToMail()"
                >
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label"><img *ngIf="item.photo" [src]="item.getAvatarUrl()" width="20px"
                                                      height="20px"> {{item.name}} <{{item.email}}></span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <img *ngIf="item.photo" [src]="item.getAvatarUrl()" width="20px" height="20px"> {{item.name}}
                  </ng-template>
                </ng-select>

                <div *ngIf="submitted && messageForm.get('to').errors && messageForm.get('to').errors.required"
                     class="help-block">Email is required
                </div>
                <div
                  *ngIf="submitted && messageForm.get('to').errors && messageForm.get('to').value && messageForm.get('to').errors.email"
                  class="help-block">Email is invalid
                </div>
                <div class="top-right pos-abs">
                  <button class="btn btn-outline-secondary btn-sm" type="button" *ngIf="!isCC" (click)="isCC = true">
                    CC
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="isCC">
              <div [ngClass]="{ 'has-error': submitted && !messageForm.controls.cc.valid }">
                <ng-select
                  formControlName="cc"
                  [dropdownPosition]="'bottom'"
                  [closeOnSelect]="true"
                  [hideSelected]="true"
                  [selectOnTab]="true"
                  [markFirst]="false"
                  placeholder="CC"
                  name="cc"
                  [items]="search_contacts"
                  [addTag]="addContact"
                  [multiple]="true"
                  bindLabel="name"
                  bindValue="email"
                  [loading]="contacts_cc_loading"
                  [typeahead]="contactsCcTypeahead">
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label"><img *ngIf="item.photo" [src]="item.getAvatarUrl()" width="20px"
                                                      height="20px"> {{item.name}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <img *ngIf="item.photo" [src]="item.getAvatarUrl()" width="20px" height="20px"> {{item.name}}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && !messageForm.controls.cc.valid" class="help-block">Email is invalid</div>
              </div>
            </div>
            <div class="form-group" *ngIf="isBcc">
              <div [ngClass]="{ 'has-error': submitted && !messageForm.controls.bcc.valid }">
                <ng-select
                  formControlName="bcc"
                  [dropdownPosition]="'bottom'"
                  [closeOnSelect]="true"
                  [hideSelected]="true"
                  [selectOnTab]="true"
                  [markFirst]="false"
                  placeholder="Bcc"
                  name="bcc"
                  [items]="search_contacts"
                  [addTag]="addContact"
                  [multiple]="true"
                  bindLabel="name"
                  bindValue="email"
                  [loading]="contacts_bcc_loading"
                  [typeahead]="contactsBccTypeahead">
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label"><img *ngIf="item.photo" [src]="item.getAvatarUrl()" width="20px"
                                                      height="20px"> {{item.name}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <img *ngIf="item.photo" [src]="item.getAvatarUrl()" width="20px" height="20px"> {{item.name}}
                  </ng-template>
                </ng-select>
                <div *ngIf="submitted && !messageForm.controls.bcc.valid" class="help-block">Email is invalid</div>
              </div>
            </div>
          </div>
          <div class="subject m-t-10">
            <div [ngClass]="{ 'has-error': submitted && !messageForm.controls.subject.valid }">
              <input class="form-control form-white" type="text" name="subject" formControlName="subject"
                     placeholder="Subject" required>
              <div *ngIf="submitted && !messageForm.controls.subject.valid" class="help-block">Subject is empty</div>
            </div>
          </div>
          <div class="write-answer">
            <textarea class="answer-textarea" name="body" formControlName="body"></textarea>
            <div class="m-t-5" *ngIf="saved_listings.length">
              <div class="text-right">
            <span class="btn btn-sm btn-default" [ngClass]="{active: attach_listings}"
                  (click)="attach_listings = !attach_listings"><i
              class="fa fa-paperclip"></i> Attach saved listings</span>
              </div>
              <div *ngIf="attach_listings" class="m-t-5 m-b-15 row">
                <div *ngFor="let item of saved_listings" class="col-md-4 subtitle p secondary-textcol-sm-6 col-xs-12"
                     [ngClass]="{'col-md-6': modal, 'col-md-4': !modal}">
                  <app-saved-listings-item [item]="item"
                                           [checked]="item.checked"
                                           (checked)="selected_listings.push(item.advertisement_id)"
                                           (unchecked)="selected_listings.splice(selected_listings.indexOf(item.advertisement_id), 1)"
                  ></app-saved-listings-item>
                </div>
              </div>
            </div>
            <div class="m-t-5 container aform-file-container" *ngIf="aformDetails">
              <h4>Application form for <strong>{{ aformDetails.client.name }}</strong></h4>
              <div class="row">
                <div class="col-sm-12">
                  <label for="attach-pdf">
                    <input type="checkbox" name="attach-pdf" id="attach-pdf" [(ngModel)]="attach_aform_pdf"
                           [ngModelOptions]="{ 'standalone': true }">
                    Attach application PDF
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let field of applicable_fields; let i = index;">
                  <label [for]="'aform_field_'+ field.name">
                    <input type="checkbox"
                           [disabled]="field.disabled"
                           name="aform_field_{{ field.name }}"
                           [(ngModel)]="applicable_fields[i].send"
                           [ngModelOptions]="{ 'standalone': true }">
                    &nbsp;
                    <span *ngIf="field.disabled">{{ field.label }} &lt;no file&gt;</span>
                    <a *ngIf="!field.disabled" [href]="field.url" target="_blank">{{ field.label }}</a>
                  </label>
                </div>
              </div>
            </div>
            <div class="m-t-5 container aform-file-container" *ngIf="dosFormId">
              <input type="checkbox" checked disabled readonly> Send DOS form as PDF
            </div>
            <div class="m-t-5 container aform-file-container" *ngIf="invoiceId">
              <input type="checkbox" checked disabled readonly> Send OP Invoice as PDF
            </div>
            <div class="container aform-file-container">
              <div class="col-sm-6">
                <label class="btn btn-primary uploadlabel" for="fileupload">
                  <i class="fa fa-paperclip"></i>&nbsp;&nbsp;Attach Files
                </label>
                <input type="file" name="fileupload" id="fileupload" #attachments
                       (change)="onFilesAttached(attachments.files)" multiple>
              </div>
              <div class="col-sm-6">
                <button id="save" [disabled]="sending" class="btn btn-primary" type="submit">Send
                  <span *ngIf="sending" class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </button>
              </div>
            </div>
            <ul class="queuedfiles"
                *ngIf="messageForm.get('attachments').value && messageForm.get('attachments').value.length > 0">
              <li *ngFor="let file of messageForm.get('attachments').value">
                <app-attachment-card [file]="file"></app-attachment-card>
                <i class="fa fa-times" (click)="removeAttachment(file)" title="Remove attachment"></i>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </section>
  </div>
</section>
