@import "../../../styles/variable";
@import "../../../styles/mixins";

.selected{
  background-color: @default-hover;
}

.top-right{
  z-index: 1000;
  top: 5px;
  right: 0;
}

:host /deep/ .ng-select.ng-select-opened .ng-select-container{
  z-index: 1000;
}

.answer-textarea{
  min-height: 300px;
  resize: vertical;
}

.aform-file-container {
  width: 100%;
}

.queuedfiles {
  overflow-x: auto;

  & > li {
    position: relative;

    & > i {
      position: absolute;
      top: 3px;
      right: 3px;
    }
  }
}

/deep/ [name="to"] .ng-select-container{
  padding-right: 60px;
}

/deep/ .with-cc [name="to"] .ng-select-container{
  padding-right: 0;
}

/deep/ .ng-arrow-wrapper{
  display: none;
}
