<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="replyToInquiry(inquiry.inquiry_id)" [formGroup]="messageForm">
      <h3>Reply to this inquiry</h3>
      <hr>
      <div class="form-group">
        <label class="control-label">CCs (optional):&nbsp;</label>
        <ng-select
          formControlName="ccs"
          [dropdownPosition]="'bottom'"
          [closeOnSelect]="true"
          [hideSelected]="true"
          [selectOnTab]="true"
          [markFirst]="false"
          placeholder="CC"
          name="cc"
          [items]="search_contacts"
          [multiple]="true"
          bindLabel="name"
          bindValue="email"
          [loading]="contacts_cc_loading"
          [typeahead]="contactsCcTypeahead"></ng-select>
      </div>
      <div class="form-group">
        <label class="control-label">Message:&nbsp;</label>
        <textarea class="form-control" rows="6" formControlName="message"></textarea>
      </div>
      <button type="submit" class="btn btn-md btn-primary" [disabled]="messageForm.invalid || loading">Send</button>
      <app-templates [context]="'inquiry'" [form-group]="messageForm"></app-templates>
    </form>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
