<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Invoice <strong>Details</strong> &mdash; {{ invoice? invoice.data.date + ' (' + invoice.data.invoice_no + ')' : '' }}</h2>
  </div>

  <div class="col-md-12 m-b-10">
    <a *ngIf="invoice" [routerLink]="['/invoices', invoice.invoice_id, 'edit']" class="btn btn-sm btn-success m-t-10" container="body" tooltip="Edit this invoice">
      Edit Invoice
    </a>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10" *ngIf="invoice">
      <div class="dis-inline-b fullwidth">
        <div class="panel panel-primary">
          <div class="panel-heading">Basic info</div>
          <div class="panel-body" *ngIf="invoice">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label h3formtop">Invoice Status</label>
                  <select class="form-control" [value]="invoice.data.status" disabled readonly>
                    <option value="new">New</option>
                    <option value="op_received">OP Received</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Seller</label>
                  {{ invoice.data.management_company }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Seller address line 1</label>
                  {{ invoice.data.management_address_1 }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Seller address line 2</label>
                  {{ invoice.data.management_address_2 }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Contact name</label>
                  {{ invoice.data.contact_name }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Contact email</label>
                  {{ invoice.data.contact_email || 'N/A' }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Contact phone</label>
                  {{ invoice.data.contact_phone || 'N/A' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Deal info</div>
          <div class="panel-body" *ngIf="invoice">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label h3formtop">Buyer</label>
                  {{ invoice.data.buyer || 'N/A' }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label h3formtop">Commission amount</label>
                  {{ (invoice.data.commission_amount | currency) || 'N/A' }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="form-label h3formtop">Address</label>
                  {{ invoice.data.address || 'N/A' }}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label h3formtop">Unit</label>
                  {{ invoice.data.unit || 'N/A' }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">Sale Price</label>
                  {{ (invoice.data.sales_price | currency) || 'N/A' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
