<div class="col-md-12">
  <div class="header searchresultheading">
    <h2>Client <strong>Profile</strong> <span *ngIf="client">{{ client.name }}</span></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel lrexchange p-20">

        <div class="panel-content nav-scroll">

          <tabset *ngIf="client">
            <tab [active]="!opened_tab || opened_tab === 'personal_info'" heading="Personal info">
              <div class="panel-body p-0">
                <div class="pull-right">
                  <button class="btn btn-primary" type="button" *ngIf="state !== 'edit'" (click)="state = 'edit'">Edit
                  </button>
                  <button class="btn btn-success" type="button" *ngIf="state !== 'view'" (click)="state='view'">View
                  </button>
                  <button *ngIf="!client.deleted" class="btn btn-danger" type="button" (click)="deleteClient()">Delete
                  </button>
                </div>
                <div *ngIf="state ==='view'">
                  <div class="text-center col-xs-2" *ngIf="client.photo">
                    <img [src]="client.getAvatarUrl()" class="img-responsive" width="125">
                  </div>
                  <div class="clearfix col-xs-10">
                    <h2 class="c-dark w-600">{{ client.name }}</h2>
                    <p class="c-gray f-16">Email:
                      <a class="cursor-pointer" appMailPopup [email]="client.email">{{ client.email }}</a></p>
                    <p class="c-gray m-b-0" *ngIf="client.phone">Phone: {{ client.phone }}</p>
                    <!-- <p class="c-gray m-b-0" *ngIf="client.year_born">Year born: {{ client.year_born }}</p> -->
                    <p class="c-gray m-b-0">Status:
                      <strong class="badge bold dis-inline-b"
                              [ngStyle]="{ 'background-color': client.status_color }">{{ client.status | capitaliseFirst:true }}</strong>
                    </p>
                    <!-- <p *ngIf="client.gender"
                       class="c-gray m-b-0">Gender: {{ client.gender.toLowerCase() === 'f' ? 'Female' : 'Male' }}</p> -->
                  </div>
                </div>
                <div *ngIf="state !=='view'">
                  <app-edit-client [client]="client" (afterSaving)="state = $event"></app-edit-client>
                </div>
              </div>
            </tab>
            <tab [active]="opened_tab === 'new_listings'" heading="New listings" [disabled]="new_listings === null">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Address</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Size</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="new_listings">
                  <tr *ngFor="let item of new_listings" [routerLink]="['/listing', item.advertisement_id, 'details']"
                      class="cursor-pointer">
                    <td>{{ item.address }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.price | currency:'USD':'symbol-narrow':'1.0-2' }}</td>
                    <td>{{ item.getBedroomsText(false, true) }}</td>
                    <td>{{ item.bathrooms }} ba</td>
                    <td><span *ngIf="item.size">{{ item.size | number:'.0' }} sqft</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="new_listings && new_listings.length < new_listings_total"
                   class="text-center">
                <button class="btn btn-primary" *ngIf="!loading_new_listing" (click)="loadMoreNewListings()">Load More
                </button>
                <button class="btn btn-primary" disabled *ngIf="loading_new_listing">Loading...</button>
              </div>
              <app-loader *ngIf="new_listings_total === null"></app-loader>
            </tab>
            <tab [active]="opened_tab === 'saved_listings'" heading="Saved listings">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Address</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Size</th>
                    <th>
                      <button *ngIf="hasSelectedListings()" (click)="sendListings()"
                              class="btn btn-primary send-listing-btn">Send to the client
                      </button>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of client.agent_saved" [ngClass]="{'active': item.sent}">
                    <td><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.address }}</a></td>
                    <td><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.unit }}</a></td>
                    <td>{{ item.price | currency:'USD':'symbol-narrow':'1.0-2' }}</td>
                    <td>{{ item.getBedroomsText(false, true) }}</td>
                    <td>{{ item.bathrooms }} ba</td>
                    <td><span *ngIf="item.size">{{ item.size | number:'.0' }} sqft</span></td>
                    <td><span class="pos-rel">
                      <input type="checkbox" appIcheck (checked)="item.checked = 1" [(ngModel)]="item.checked"
                             (unchecked)="item.checked = 0"></span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab [active]="opened_tab === 'saved_search'" heading="Saved search" class="row" [disabled]="!search">
              <div class="col-md-12" *ngIf="search">
                  <div class="col-md-7">
                    <div class="row">
                      <div class="more anchorch clientdetaillistshower border-bottom clnt-rent-hdng col-md-12">
                        <div class="col-sm-6 ">
                          <label class="form-label moresame">For {{ search_query.ad_type }}</label><br>
                          <span *ngIf="search_query.min_price"
                                class="dash-price">{{ search_query.min_price | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                          <span
                            *ngIf="search_query.min_price && search_query.max_price">&nbsp;&nbsp;to &nbsp;&nbsp;</span>
                          <span *ngIf="search_query.max_price"
                                class="dash-price">{{ search_query.max_price | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                        </div>
                        <div class="col-sm-2 border-right border-left" *ngIf="search_query.bedrooms">
                          {{ getBedrooms() }}<i class="fa fa-bed m-t-5 m-b-5 dash-lower-icon"
                                                aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-2 border-right" *ngIf="search_query.bathrooms">
                          {{ search_query.bathrooms }} ba<i class="fa fa-tty m-t-5 m-b-5 dash-lower-icon"
                                                            aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-md-12 m-t-20">
                        <div class="row">
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.building_type.length">
                            <label class="form-label m-b-0">Building type:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.building_type.length">
                            <p class="m-b-0">{{ search_query.building_type.join(', ')}}</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.pets">
                            <label class="form-label m-b-0">Pets:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.pets">
                            <p class="m-b-0">{{ search_query.pets }}</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.neighborhood.length">
                            <label class="form-label m-b-0">Neighborhoods:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.neighborhood.length">
                            <p class="m-b-0">{{ search_query.neighborhood.join(', ') }}</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.ratings != 0">
                            <label class="form-label m-b-0">Rating:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.ratings != 0">
                            <p class="m-b-0">{{ search_query.ratings }}</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.has_photos">
                            <label class="form-label m-b-0">Photo:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.has_photos">
                            <p class="m-b-0">With photo</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.furnished">
                            <label class="form-label m-b-0">Furnished:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.furnished">
                            <p class="m-b-0">{{ search_query.furnished }}</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.company_name">
                            <label class="form-label m-b-0">Company:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.company_name">
                            <p class="m-b-0">{{ search_query.company_name }}</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.has_concession">
                            <label class="form-label m-b-0">Concession:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.has_concession">
                            <p class="m-b-0">With concession</p>
                          </div>
                          <div class="col-md-3 col-xlg-2" *ngIf="search_query.fee_structure">
                            <label class="form-label m-b-0">Fee Structure:</label>
                          </div>
                          <div class="col-md-9 col-xlg-10" *ngIf="search_query.fee_structure">
                            <p class="m-b-0">{{ search_query.fee_structure }}</p>
                          </div>
                          <p>&nbsp;</p>
                          <div class="col-md-4" style="margin-right:2%;">
                            <label class="form-label m-b-0">Results<span
                              style="float:right">{{ search.results_count }}</span></label>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                      <br>
                      <div class="col-md-7">
                        <button type="button" class="btn btn-primary m-b-0" (click)="editSearchCriteria()">Edit</button>
                        <a type="button" class="btn btn-primary m-b-0"
                           [routerLink]="['/search','criteria', search.search_id]">Load</a>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="row">

                      <div class="col-md-12 resp100" *ngIf="search_query.ownership.length">
                        <div class="form-group">
                          <label class="form-label m-b-5">Ownership:</label>
                          <ul>
                            <li class="col-md-3" *ngFor="let ownership of search_query.ownership">{{ ownership }}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 resp100" *ngIf="search_query.amenities.length">
                        <div class="form-group">
                          <label class="form-label m-b-5">Amenities:</label>
                          <ul>
                            <li class="col-md-4" *ngFor="let amenity of search_query.amenities">{{ amenity }}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 resp100" *ngIf="search_query.exposures.length">
                        <div class="form-group">
                          <label class="form-label m-b-5">Exposures:</label>
                          <ul>
                            <li class="col-md-2" *ngFor="let exposure of search_query.exposures">{{ exposure }}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 resp100" *ngIf="search_query.other.length">
                        <div class="form-group">
                          <label class="form-label m-b-5">Others:</label>
                          <ul>
                            <li class="col-md-4" *ngFor="let other of search_query.other">{{ other }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </tab>
            <tab [active]="opened_tab === 'inquiries'" heading="Inquiries" class="row" [disabled]="!client.inquiries || !client.inquiries.length">
              <accordion [closeOthers]="true">
                <accordion-group class="cursor-pointer col-md-6"
                                 *ngFor="let inquiry, let i = index of client.inquiries"
                                 [isOpen]="i === 0"
                                 [heading]="inquiry.subject + ' // ' + (inquiry.date | appDateFormat:'aform':'time')">
                  <div class="inquiry col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <h3 *ngIf="inquiry.listing">
                          <a class="cursor-pointer has-link" [routerLink]="['/listing', inquiry.listing.advertisement_id, 'details']">{{ inquiry.listing.address }}, {{ inquiry.listing.unit }}</a>
                          <span *ngIf="inquiry.listing.ad_type">// {{ inquiry.listing.ad_type.charAt(0).toUpperCase() + inquiry.listing.ad_type.slice(1) }}</span>
                          <span class="badge badge-danger" *ngIf="inquiry.in_error">Error</span>
                          <span class="badge badge-light" *ngIf="inquiry.data.is_broker">Broker Source</span>
                          <span [class]="'badge ' + inquiry.src_type">{{ getBadgeText(inquiry.src_type) }}</span>
                        </h3>
                        <h3 *ngIf="!inquiry.listing" style="cursor:default;">
                          {{ inquiry.subject }}
                          <span class="badge badge-danger" *ngIf="inquiry.in_error">Error</span>
                          <span class="badge badge-light" *ngIf="inquiry.data.is_broker">Broker Source</span>
                          <span [class]="'badge ' + inquiry.src_type">{{ getBadgeText(inquiry.src_type) }}</span>
                        </h3>
                        <button type="button" class="dis-inline btn btn-sm btn-primary" (click)="refreshInquiry(inquiry.inquiry_id)">
                          <i class="fas fa-refresh"></i> Refresh Inquiry
                        </button>
                        <app-inquiry-status [inquiry]="inquiry"></app-inquiry-status>
                        <h3>(<b>{{ inquiry.data.message_count }}</b> {{ inquiry.data.message_count | i18nPlural: msgPlural }})</h3>
                        <b>From:</b>&nbsp;
                        <span>{{ inquiry.data.parse_result.name || 'Unknown' }}{{ inquiry.data.parse_result.email ? ' (' + inquiry.data.parse_result.email + ')' : ''}}</span>
                        <span class="date">{{ inquiry.date | appDateFormat:'aform':'time' }}</span>
                        <div *ngIf="inquiry.assigned">
                          <b>Assigned to:</b>&nbsp;
                          <span>{{ inquiry.assigned.first_name }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <br>
                      <div class="col-xs-12 messages">
                        <div *ngFor="let message of inquiry.data.messages" [class]="'message ' + message.type.toLowerCase()">
                          <div class="text" *ngIf="!message.error_message && !message.is_reminder">
                            {{ message.message || '&lt;No message&gt;' }}
                            <br>
                            <span class="time">{{ message.type.toLowerCase() === 'outbound' ? message.first_name + ', ' : '' }}{{ message.time | appDateFormat:'aform':'time' }}</span>
                            <br>
                          </div>
                          <alert type="info" *ngFor="let notice of message.notices">
                            <i class="fas fa-info-circle"></i> {{ notice }}
                          </alert>
                          <alert type="warning" *ngIf="message.is_reminder">
                            <i class="fas fa-exclamation-triangle"></i> Reminder for {{ message.account }}
                          </alert>
                          <alert type="danger" *ngIf="message.error_message">
                            <i class="fas fa-warning"></i> {{ message.error_message }}
                          </alert>
                        </div>
                      </div>
                      <br>
                      <div class="col-xs-12 messages">
                        <app-inquiry-reply [inquiry]="inquiry" (replySent)="initClient(client.user_id)"></app-inquiry-reply>
                      </div>
                    </div>
                  </div>
                </accordion-group>
              </accordion>
            </tab>
            <tab [active]="opened_tab === 'comps'" heading="Comps" [disabled]="!compsTabEnabled()">
              <div class="col-xs-12" *ngIf="!comps">
                <h3>Loading comps...</h3>
              </div>
              <div class="col-xs-12" *ngIf="!comps?.length">
                <h3>No comps found</h3>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Address</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Beds</th>
                    <th>Baths</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="comps?.length > 0">
                  <tr *ngFor="let item of comps">
                    <td><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.address }}</a></td>
                    <td><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.unit }}</a></td>
                    <td>{{ item.price | currency:'USD':'symbol-narrow':'1.0-2' }}</td>
                    <td>{{ item.getBedroomsText(false, true) }}</td>
                    <td>{{ item.bathrooms }} ba</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab [active]="opened_tab === 'ffa'" *ngIf="client && is_supervisor" [heading]="getFFATabHeading()" [disabled]="!FFATabEnabled()"  class="row">
              <div class="col-xs-12 messages">
                <app-find-free-agent [clientId]="client.user_id"></app-find-free-agent>
              </div>
            </tab>
            <tab [active]="opened_tab === 'signin_details'" heading="Signin Details" class="row" [disabled]="!client.signin">
              <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow" *ngIf="client.signin">
                <div class="col-md-12 m-b-10">
                  <div class="dis-inline-b fullwidth">
                    <div class="panel panel-primary">
                      <div class="panel-heading">Agent info</div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="form-label h3formtop">Agent name</label>
                              {{ client.signin.agent_name }}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="form-label h3formtop">Agent email</label>
                              {{ client.signin.agent_email }}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="form-label h3formtop">Agent phone</label>
                              {{ client.signin.agent_phone }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-primary">
                      <div class="panel-heading">Form data</div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">First name</label>
                              {{ client.signin.form_data.first_name }}
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Last name</label>
                              {{ client.signin.form_data.last_name }}
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Email</label>
                              {{ client.signin.form_data.email }}
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Phone</label>
                              {{ client.signin.form_data.phone }}
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="client.signin.form_data.with_broker">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Broker name</label>
                              {{ client.signin.form_data.broker_name }}
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Broker firm</label>
                              {{ client.signin.form_data.broker_firm }}
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Broker email</label>
                              {{ client.signin.form_data.broker_email }}
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="form-label h3formtop">Broker phone</label>
                              {{ client.signin.form_data.broker_phone }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-label h3formtop">Pets</label>
                              {{ client.signin.form_data.pets.charAt(0).toUpperCase() + client.signin.form_data.pets.slice(1) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-primary">
                      <div class="panel-heading">Listings</div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                            <tr>
                              <th>Address</th>
                              <th>Unit</th>
                              <th>Price</th>
                              <th>Beds</th>
                              <th>Baths</th>
                              <th>Size</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of client.signin.listings" [ngClass]="{'active': item.sent}">
                              <td><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.address }}</a></td>
                              <td><a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.unit }}</a></td>
                              <td>{{ item.price | currency:'USD':'symbol-narrow':'1.0-2' }}</td>
                              <td>{{ item.getBedroomsText(false, true) }}</td>
                              <td>{{ item.bathrooms }} ba</td>
                              <td><span *ngIf="item.size">{{ item.size | number:'.0' }} sqft</span></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>

        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
