@import "../../../styles/variable";

tab {
  min-height: 250px;

  app-loader /deep/ {
    .loader-overlay {
      position: absolute;
    }
  }

  .send-listing-btn{
    position: absolute;
    right: 0;
    top: 75px;
  }
}

/deep/ a.nav-link.disabled, /deep/ a.nav-link.disabled:hover {
  color: #777 !important;
  text-decoration: line-through !important;
}

/deep/ .panel-title {
  font-size: 16px !important;
}

/deep/ .tab-content {
  padding: 20px 0px;
}

.btn-primary.active {
  background: #41bcde !important;
}

.inquiry {

& .btn.btn-primary {
  margin: 0;
}

& .badge {
    border-radius: 4px;

    font-size: 0.85em;

    font-weight: bold;
    text-transform: uppercase;
  
    padding: 3px 6px;

    float: right;

    margin: 0 2px;
  
    &.error {
      color: white;
      background-color: red;
    }

    &.unknown {
      color: white;
      background-color: rgb(206, 169, 4);
    }

    &.new {
	  color: rgb(32, 32, 128);
      background-color: yellow;
    }

    &.broker {
      color: black;
      background-color: rgb(216, 215, 215);
    }

    &.street_easy_inquiry {
      color: white;
      background-color: blue;
    }

    &.rent_hop_inquiry {
      color: white;
      background-color: #2fac1e;
    }

  }
  

  & h2, & h3 {
    margin: 6px 0;
  }

  & .messages {

    padding: 6px 10px;

    border-top: 2px solid #dfdfdf;

    background-color: #f5f5f5;

    & .message {
      margin: 6px;

      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;

      width: 75%;

      & /deep/ .alert {
        margin-bottom: 0;

        word-break: break-word;

        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      & .text {
        padding: 15px;
      }

      &.inbound {
        background-color: white;
        color: black;

        float: left;

        border-top-left-radius: 0;
        border-top-right-radius: 12px;

        & .time {
          padding: 0 15px;
          font-style: italic;

          float: right;
        }
      }

      &.outbound {
        background-color: darkblue;
        color: white;

        float: right;

        border-top-right-radius: 0;
        border-top-left-radius: 12px;

        & .time {
          padding: 0 15px;
          font-style: italic;

          float: right;
        }
      }
    }

  }

}

@media (max-width: 491px) {
  .inquiry .messages .message.outbound .time {
    float: none;
  }
}
