
/deep/ div.floating-alert {
  top: 4em !important;
  z-index: 10000 !important;

  .close {
    margin-left: 10px;
  }
}

/deep/ .not-implemented {
  cursor: not-allowed !important;
  position: relative;

  &input, input {
    pointer-events: none;
  }

  &:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f05e" !important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    color: #bf2828;
    font-size: 16px;
  }
}

/deep/ .label-list {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 1;

  & > span {
    display: block;
    padding: 2px 8px 2px;
    // margin-bottom: 3px;
    color: #fff;
    background: #000;
    width: 100px;

    &.label-360 {
      background: #32c5d2;
    }

    &.matching-clients {
      background: #e6c706;
      position: absolute;
      left: 100px;
    }

    &.label-nofee {
      background: #f60;
    }

    &.label-advertised {
      background: #18A689;
    }
  }
}

/deep/ .label-floorplan {
  background: #0A246A;
  padding: 2px 8px 2px;
  color: #fff;
}

/deep/ .input-loader {
  position: absolute;
  right: 25px;
  top: 35px;
}

/deep/ .nav-scroll .nav-item {
  min-width: 130px;
  min-height: 42px;
  text-align: center;
}

/deep/ .nav-scroll ul.nav.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: flex-end;
}
