<router-outlet *ngIf="loaded"></router-outlet>

<toast-message-component  *ngIf="loaded" [alerts]="messageList"></toast-message-component>

<div class="loader-overlay" [ngClass]="{'loaded': loaded}">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
