<div dropdown #dropdown="bs-dropdown" (mouseenter)="dropdown.show()" (mouseleave)="dropdown.hide()">
  <a dropdownToggle data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    <span *ngIf="notifications.length" class="badge badge-danger badge-header">{{ notifications.length }}</span>
  </a>
  <ul *dropdownMenu class="dropdown-menu">
    <li *ngIf="!notifications.length" class="dropdown-header clearfix">
      <p class="pull-left">No Notifications</p>
    </li>
    <li *ngIf="notifications.length" class="dropdown-header clearfix">
      <p class="pull-left">{{ notifications.length }} Notifications</p>
    </li>
    <li>
      <ul class="dropdown-menu-list withScroll" data-height="220">
        <li *ngFor="let noification of notifications">
          <a (click)="configuration[noification.type]? configuration[noification.type].action():false">
            <i *ngIf="configuration[noification.type]"
               [class]="'fa p-r-10 f-18 ' + configuration[noification.type].icon + ' ' + configuration[noification.type].color"></i>
            {{ noification.title }}
            <span class="dropdown-time"></span>
          </a>
        </li>
      </ul>
    </li>
    <!--<li class="dropdown-footer clearfix">-->
    <!--<a href="#" class="pull-left">See all notifications</a>-->
    <!--<a href="#" class="pull-right">-->
    <!--<i class="icon-settings"></i>-->
    <!--</a>-->
    <!--</li>-->
  </ul>
</div>
