<div class="card-box clients-box">
    <div class="card-box-header">
      <h3 class="card-box-title">Clients</h3>
      <div class="filter">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by</button>
        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> </div>
      </div>
    </div>
    <div class="card-box-body">
      <div class="clients-list">
        <div class="d-sm-flex justify-content-between mb-5">
          <div class="d-flex">
            <div class="user-thumb"><img src="./images/site/user-pic.png" alt=""></div>
            <div class=""><strong>John Doe</strong><br>Status: New</div>
          </div>
          <div class="text-sm-right">
              <a href="tel:555-555-5555">555-555-5555</a><br>
            <a href="mailto:john.doe@gmail.com">john.doe@gmail.com</a> 
            </div>
        </div>
        <div class="d-sm-flex justify-content-between mb-5">
          <div class="d-flex">
            <div class="user-thumb"><img src="./images/site/user-pic1.png" alt=""></div>
            <div class=""><strong>John Doe</strong><br>Status: New</div>
          </div>
          <div class="text-sm-right">
              <a href="tel:555-555-5555">555-555-5555</a><br>
            <a href="mailto:john.doe@gmail.com">john.doe@gmail.com</a> 
            </div>
        </div>
        <div class="d-sm-flex justify-content-between mb-5">
          <div class="d-flex">
            <div class="user-thumb"><img src="./images/site/user-pic5.png" alt=""></div>
            <div class=""><strong>John Doe</strong><br>Status: New</div>
          </div>
          <div class="text-sm-right">
              <a href="tel:555-555-5555">555-555-5555</a><br>
            <a href="mailto:john.doe@gmail.com">john.doe@gmail.com</a> 
            </div>
        </div>
      </div>
    </div>
    <div class="card-box-footer">
      <div class="pagination mt-3 mb-2">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class=""> &lt;&lt; Previous</li>
            <li class=""><a href="#">1...8</a></li>
            <li class="active"><a href="#">9</a></li>
            <li ><a href="#">10</a></li>
            <li ><a href="#">11...20</a></li>
            <li><a href="#">Next &gt;&gt; </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>