@import "../../../../styles/variable";

.no-image {

  .user.ovisible {
    display: block;
  }
}

.item-sent {
  position: absolute;
  right: 10px;
  font-size: 24px;
  bottom: 10px;
  z-index: 10;
}

.dom {
  color: #fff;
}
.avail{
  margin-right: 8px;
  color: #f88;
  font-weight: 600;
}

.streets {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expand-icon {
  width: inherit;
}

.anchorch {
  background-color: #fff;
}

.more {

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.disabled{
  background-color: #ccc  ;
}

.pbcv-status{
  right: 0;
  left: inherit;

  .ribbon{
    width: inherit;
  }
}

@media (max-width: 767px) {
  .mb-image {
    width: 100% !important;
  }
  .mb-image-hide {
    display: none !important;
  }
  .mb-hide {
    padding-bottom: 15px !important;
  }
  /deep/ .mb-hide span {
    display: none;
  }

}

