<div class="overshow resp50 resp100 p-l-5 p-r-5" [ngClass]="{'no-image': !item.photos.length }"
     (mouseenter)="item.mouseenter = true" (mouseleave)="item.mouseenter = false">
  <div class="col-md-12">

    <div class="item hover-effect">
      <div class="user ovisible">
        <div>
          <a *ngIf="item.photos.length" [appListingGallery]="item">
            <span data-toggle="modal" data-target="#view-images" [hidden]="!item.mouseenter">
              <div class="expand-icon">
                <i class="fa fa-expand" aria-hidden="true"></i>
              </div>
            </span>
          </a>
          <a>
            <div class="label-list">
              <span *ngIf="item.matching_clients_count"
                    [ngStyle]="{left: (item.ribbon || item.has_360 || item.nofee || item.advertised)?85:0}"
                    class="matching-clients" [ngPlural]="item.matching_clients_count">
                 <ng-template ngPluralCase="=0">No Clients</ng-template>
                 <ng-template ngPluralCase="=1">1 Client</ng-template>
                 <ng-template ngPluralCase="other">{{ item.matching_clients_count }} Clients</ng-template>
              </span>
              <span *ngIf="item.ribbon" class="ribbon"
                    [ngStyle]="{background: item.ribbon.color}">{{ item.ribbon.text | capitaliseFirst }}</span>
              <span *ngIf="item.has_360" class="label-360">360</span>
              <span *ngIf="item.nofee" class="label-nofee">No fee</span>
              <span *ngIf="item.advertised" class="label-advertised">Advertised</span>
            </div>
            <img appListingImage [src]="item.getUrlByPath(item.featured_photo)"
                 class="img-responsive hover-img cursor-pointer mb-image"
                 [appListingGallery]="item" [gallery-index-by-url]="item.featured_photo">
            <img [appListingGallery]="item" [gallery-index-by-url]="item.photo_floorplan" appListingImage
                 *ngIf="item.photo_floorplan"
                 [src]="item.getUrlByPath(item.photo_floorplan)" class="img-responsive hover-img cursor-pointer mb-image-hide">
            <img [appListingGallery]="item" [gallery-index-by-url]="item.photo_featured_2" appListingImage
                 *ngIf="!item.photo_floorplan"
                 [src]="item.getUrlByPath(item.photo_featured_2)"
                 class="img-responsive hover-img cursor-pointer mb-image-hide">
            <div class="label-list pbcv-status">
              <span *ngIf="item.pbcv_status" class="ribbon"
                    [ngStyle]="{background: item.getAnotationColor() }">{{ item.getAnotationLabel() }}</span>
            </div>
          </a>
        </div>

        <div class="info newinfo">
          <div class="row">
            <div class="location col-xs-7 p-r-0 p-l-10">
              <a [routerLink]="['/listing', item.advertisement_id, 'details']">{{ item.address }}, {{ item.unit }}</a>
            </div>

            <div class="col-xs-5 p-l-0">
              <a [routerLink]="['/listing', item.advertisement_id, 'details']">
                <div class="dom pull-right">DOM: {{ item.dom }}</div>
                <div *ngIf="item.available_from && item.available_from !== 'Immediate'"
                     class="avail pull-right">Avail: {{ item.available_from }}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    <div class="comment more">
      <div class="row">
        <div class="col-sm-6 p-r-0 resp50 p-l-10">
          <div class="title">
            <span class="roundtext pricefont m-b-5">
              <app-listing-price [item]="item"></app-listing-price>
            <sup class="bold m-l-5" *ngIf="item.price_change"
                  [tooltip]="'Last changed: ' + ((item.price_change_ts | amFromUnix) | amCalendar)"
                  [ngClass]="{'text-success': item.price_change>0,'text-danger':item.price_change<0}"
            ><span
              [ngClass]="{ 'glyphicon-arrow-down': item.price_change < 0, 'glyphicon-arrow-up': item.price_change > 0}"
              class="glyphicon"></span> {{ item.price_change | currency:'USD':'symbol-narrow':'1.0-2'}}</sup></span>
            <span class="roundtext pt9 streets ellipsis">{{ item.ownership }}&nbsp;</span>
            <span class="roundtext pt9 streets ellipsis">{{ item.access_type_info }}&nbsp;</span>
            <span class="roundtext pt9 streets ellipsis">{{ item.streets }}&nbsp;</span>
            <span class="roundtext pt9 ellipsis">{{ item.neighborhood }}&nbsp;</span>
          </div>
        </div>
        <div class="col-md-6 cardrightnewcards resp50">
          <div class="row">
            <div class="col-sm-12 pd0 resp100 ellipsis m-b-5">
              {{ item.getBedroomsText(true) }}&nbsp;&nbsp;{{ item.bathrooms }} ba&nbsp;&nbsp;
              <span *ngIf="item.size">
                {{ item.size | number:'.0' }} sqft
              </span>
            </div>
          </div>
          <div class="row">
            <div>
              <span class="roundtext pt9 ellipsis">{{ item.building_type }}&nbsp;</span>
              <span class="roundtext pt9 ellipsis">{{ item.pet_policy }}&nbsp;</span>
              <span class="roundtext pt9 ellipsis">{{ item.outdoor_space_info }}&nbsp;</span>
              <span class="roundtext pt9 ellipsis">{{ item.open_house_info }}&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12 p-r-15 resp50 p-l-10">
          <div>
            <div class="col-sm-12 pd0">
              <span class="roundtext pt9 text-danger ellipsis"
                    [tooltip]="(item.concession && item.concession.length)>80 ? item.concession:''">{{ item.concession | slice: 0 : 100 }}&nbsp;</span>
            </div>
            <div class="col-sm-12 pd0">
              <span class="roundtext pt9 text-info ellipsis">{{ item.pbcv_floorplan_sizes}}&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="more anchorch">
        <div class="row">
          <div *ngIf="!advertisingMode && !annotationMode" class="col-sm-3 resp25 mb-hide">
            <div (click)="savedListingService.toogleListing(item.advertisement_id)" class="savesearchsidebar text-center" [ngClass]="{'cursor-pointer': !item.sent}">
                <app-saved-listin-icon [item]="item" [withLabel]="true"></app-saved-listin-icon>
            </div>
          </div>
          <div *ngIf="annotationMode" class="col-sm-3 resp25 mb-hide">
            <div [appListingAnnotation]="item" class="savesearchsidebar text-center cursor-pointer">
              <i class="glyphicon glyphicon-edit" tooltip="Anotate the listing"></i> <span>Annotation</span>
            </div>
          </div>
          <div *ngIf="advertisingMode" class="col-sm-3 resp25 mb-hide">
            <div *ngIf="!item.advertised" (click)="advertise()" class="savesearchsidebar text-center cursor-pointer">
              <i class="glyphicon glyphicon-cloud-upload" tooltip="Advertise to 3rd party sites"></i> <span>Advertise</span>
            </div>
            <div *ngIf="item.advertised" (click)="unadvertise()" class="savesearchsidebar text-center cursor-pointer">
              <i class="glyphicon glyphicon-cloud-download" tooltip="Remove ad from 3rd party sites"></i> <span>Remove Ad</span>
            </div>
          </div>
          <div class="col-sm-3 schedulesearchsidebar savesearchsidebar resp25 mb-hide" data-toggle="modal" data-target="#saved-sidebar">
            <i class="fa fa-calendar schedulesearchsidebar savesearchsidebar not-implemented" tooltip="Not implemented"></i> <span>Appointment</span>
          </div>
          <a class="col-sm-3 resp25 mb-hide cursor-pointer" [routerLink]="['/', 'listing', item.advertisement_id, 'edit']">
            <i class="fa fa-pencil-square-o" tooltip="Edit this listing"></i> <span>Edit</span>
          </a>
          <div class="col-sm-3 resp25 mb-hide" [appListingContact]="item">
            <i class="icon-user"></i> <span>Contact</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
