<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Create <strong>Invoice</strong></h2>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10" *ngIf="invoice_form">
      <form class="wizard" data-style="sea" role="form" method="post" [formGroup]="invoice_form" (submit)="submit()" novalidate>
        <div class="dis-inline-b fullwidth">
          <div class="panel panel-primary" *ngIf="is_supervisor">
            <div class="panel-heading">Agent</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-label h3formtop">Agent</label>
                    <select class="form-control" [(ngModel)]="selected_agent" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let agent of agent_list" [value]="agent.user_id">{{ agent.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Basic info</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label h3formtop">Type</label>
                    <select class="form-control" [(ngModel)]="type" [ngModelOptions]="{ standalone: true }">
                      <option [value]="'rental'">Rental</option>
                      <option [value]="'sale'">Sale</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">{{ type === 'rental' ? 'Management company' : 'Seller' }}</label>
                    <input type="text" formControlName="management_company" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label h3formtop">{{ type === 'rental' ? 'Management' : 'Seller' }} address line 1</label>
                  <input type="text" formControlName="management_address_1" class="form-control">
                </div>
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">{{ type === 'rental' ? 'Management' : 'Seller' }} address line 2</label>
                    <input type="text" formControlName="management_address_2" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Contact name</label>
                    <input type="text" class="form-control" formControlName="contact_name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Contact email</label>
                    <input type="email" class="form-control" formControlName="contact_email">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label h3formtop">Contact phone</label>
                    <input type="tel" class="form-control" formControlName="contact_phone">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-primary m-b-0 row">
            <div class="panel-content m-t-10 m-l-20 m-r-20 action-btns overflowvisible">
              <button type="submit" class="btn btn-lg btn-primary"
                      tooltip="Create invoice">Create
              </button>
              <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                      (click)="cancel()">Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
