.templates-container {
  display: flex;
  flex-flow: column wrap;

  background-color: rgb(245, 245, 245);

  & .template-item {
    padding: 4px 8px;

    background-color: white;
    border: 1px solid white;

    border-radius: 4px;

    margin: 3px;
  }
}
