<div class="templates-container">
  <h3>Pick a template message:&nbsp;</h3>
  <br>
  <span class="template-item cursor-pointer" *ngFor="let template of templates" (click)="templateSelected(template)">
    <span class="bold" *ngIf="template.subject">{{ template.subject }}<br></span>
    {{ template.message }}
  </span>
</div>
