<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="bsModalRef.hide()">
    <i class="icons-office-52"></i></button>
  <h4 class="modal-title"><strong>Create</strong> a Unit</h4>
</div>
<div class="modal-body row popupwizard">
  <form (ngSubmit)="submitApartment()" [formGroup]="apartmentForm" novalidate>
    <div class="col-md-offset-2 col-md-8">

      <div [ngClass]="{ 'has-error': submitted && !apartmentForm.controls.unit.valid }">
        <label class="text-size">Unit</label>

        <span class="input input--hoshi">
           <input class="input__field input__field--hoshi" type="text" id="form-unit"
                  formControlName="unit" placeholder="unit"/>
           <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                  for="form-unit"></label>
        </span>
        <div *ngIf="submitted && !apartmentForm.controls.unit.valid" class="help-block">Unit is required</div>
      </div>

      <div [ngClass]="{ 'has-error': submitted && !apartmentForm.controls.size.valid }">
        <label class="text-size">Size</label>

        <span class="input input--hoshi">
           <input class="input__field input__field--hoshi" type="number" id="form-size"
                  formControlName="size" placeholder="size"/>
           <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                  for="form-size"></label>
        </span>
        <div *ngIf="submitted && !apartmentForm.controls.size.valid" class="help-block">Size is required</div>
      </div>

      <div [ngClass]="{ 'has-error': submitted && !apartmentForm.controls.bedrooms.valid }">
        <label class="text-size">Bedrooms</label>

        <span class="input input--hoshi">
           <select class="input__field input__field--hoshi" type="number" id="form-bedrooms"
                   formControlName="bedrooms" placeholder="bedrooms">
               <option></option>
               <option *ngFor="let value of options.bedrooms_options">{{ value }}</option>
           </select>
           <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                  for="form-bedrooms"></label>
        </span>
        <div *ngIf="submitted && !apartmentForm.controls.bedrooms.valid" class="help-block">Bedrooms is required</div>
      </div>

      <div [ngClass]="{ 'has-error': submitted && !apartmentForm.controls.bathrooms.valid }">
        <label class="text-size">Bathrooms</label>

        <span class="input input--hoshi">
           <select class="input__field input__field--hoshi" type="number" id="form-bathrooms"
                   formControlName="bathrooms" placeholder="bathrooms">
                <option></option>
                <option *ngFor="let value of options.bathrooms_options">{{ value }}</option>
           </select>
           <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                  for="form-bathrooms"></label>
        </span>
        <div *ngIf="submitted && !apartmentForm.controls.bathrooms.valid" class="help-block">Bathrooms is required</div>
      </div>

    </div>

    <div class="sf-controls clearfix text-right col-md-12">
      <button [disabled]="creating" class="btn btn-large btn-primary pull-right" type="submit">
        <span *ngIf="creating" class="glyphicon glyphicon-refresh glyphicon-refresh-animate m-r-5"></span>
        Create Unit
      </button>
    </div>
  </form>
</div>
