<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div class="bg-light">
  <section class="main-section">
    <!-- <app-sidenav></app-sidenav> -->

    
      <app-header></app-header>
      <section class="main pt-4 pb-4">
        <div class="container">
        <router-outlet></router-outlet>
      </div>
    </section>
      <app-footer></app-footer>
   
  </section>
</div>
<app-quickview></app-quickview>
