.btn-group {
  display: flex;
  overflow-x: visible;
  justify-content: start;
  width: 100%;

  .select-md, .select-lg, .select-sm {
    display: block;
    float: left;
    margin-left: 1px;

    &:first-child {
      margin-left: 0;
    }

    .btn {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .select-lg {
    min-width: 245px;
  }

  .select-sm, .select-md {
    .list-group{
      width: 100%;
    }
  }

  .btn-danger {
    background-color: #cd4c48;
  }

  .btn-danger.active {
    background-color: #780009;
  }

  .btn {
    margin-bottom: 0;
    border-radius: 0;
    padding: 2px 8px 3px;

    & > span {
      display: block;
      text-align: center;
      font-size: 0.8em;
      font-weight: 800;
      text-transform: lowercase;
      font-variant: small-caps;
    }
  }

  .option-section {
    display: flex;
    max-height: 450px;
    overflow-y: auto;

    &.hidden {
      display: flex !important;
      visibility: hidden !important;
    }
  }

  .list-group {
    color: #5B5B5B;
    max-height: 300px;
    margin-bottom: 0;

    .list-group-item {
      cursor: pointer;
      padding: 0 5px;
      height: 25px;
    }
  }
}

.btn-ignore {
  background: #e48686;
  border-color: #e48686;
  position: absolute;
  right: 25px;
  top: -25px;

  &.active {
    background: #b03b3b;
    border-color: #b03b3b;
  }
}


