<button class="btn btn-sm btn-danger btn-ignore" placement="bottom"
        [ngClass]="{active: photo.isAnnotateIgnore(), bold: photo.isAnnotateIgnore()}"
        (click)="toogleIgnore()" tooltip="Ignore the photo">x
</button>

<section class="btn-group" (mousemove)="showOptions($event)">
  <ng-container *ngFor="let option of annotate_options">
    <div *ngIf="option.canShow(photo)" class="select" [ngClass]="{
              'select-md': option.editor === 'select' || option.type ==='classify_by_type',
              'select-sm': option.editor === 'select_sm' || (option.type ==='classify_by_light_conditions' || option.type ==='classify_by_size'),
              'select-lg': option.editor === 'select_lg' || option.type ==='classify_photos'
              }">
      <button class="btn" [ngClass]="{
            'btn-default': photo.getAnnotateValue(option.type) === photo.not_available,
            'btn-dark': photo.isAutoAnnotate(option.type),
            'btn-primary': !photo.isAutoAnnotate(option.type) && photo.getAnnotateValue(option.type) !== photo.not_available,
            'btn-warning': photo.isInvalidAnnotation(option.type)}"
              [disabled]="photo.isAnnotateIgnore() || saving">
        <span>{{ option.title }}</span>
        {{ photo.getAnnotateValue(option.type) }}
      </button>

      <div class="option-section"
        [ngClass]="{'hidden': photo.isAnnotateIgnore() || !photo.properties.show_options || saving}">
        <div class="list-group" *ngFor="let options of option.list_options">
          <div class="list-group-item"
              *ngFor="let o of options"
              [ngClass]="{'list-group-item-info': photo.getAnnotateOriginValue(option.type) === o,
                active: photo.getAnnotateValue(option.type) === o}"
              (click)="changeAnnotation(option.type, o)"
          >{{ o }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</section>