<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>DOS</strong> forms<span *ngIf="isSupervisor()">Supervisor View</span></h2>

      </div>
    </div>
  </div>

  <div class="col-md-12 m-b-10">
    <button class="btn btn-sm btn-success m-t-10" container="body" tooltip="Create new deal" type="button" (click)="createNewDosForm()">
      New DOS Form
    </button>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div *ngIf="isSupervisor()" class="form-group">
      <div class="m-b-10">
        <select class="form-control"
                [(ngModel)]="selected_agent_id"
                [ngModelOptions]="{ standalone: true }"
                (change)="loadDosForms(true)">
          <option value="-1">All DOS forms</option>
          <option *ngFor="let agent of agent_list" [value]="agent.user_id">{{ agent.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="dos_forms.length">
            <thead>
            <tr>
              <th *ngIf="isSupervisor()">Agent name</th>
              <th>Status</th>
              <th>Name</th>
              <th>Email</th>
              <th>Deal date</th>
              <th style="width: 250px">Actions</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let dos_form of dos_forms">
              <td *ngIf="isSupervisor()">{{ dos_form.agent_name }}</td>
              <td>{{ getFormattedStatus(dos_form) }}</td>
              <td>
                <a [routerLink]="['/client', 'dos', dos_form.form_id, 'details']">{{ dos_form.client_name != '' ? dos_form.client_name : 'N/A' }}</a>
              </td>
              <td><a class="cursor-pointer" appMailPopup [email]="dos_form.client_email">{{ dos_form.client_email }}</a></td>
              <td>{{ dos_form.date | appDateFormat:'aform':'time' }}</td>
              <td>
                <button type="button" class="btn btn-xs btn-primary" (click)="sendViaWeb(dos_form)" tooltip="Send via web" placement="bottom">
                  <i class="fas fa-envelope"></i>
                </button>
                <button type="button" class="btn btn-xs btn-primary" (click)="sendAsPdf(dos_form)" tooltip="Send as PDF" placement="bottom">
                  <i class="fas fa-file-pdf"></i>
                </button>
                <a class="cursor-pointer btn btn-xs btn-default" tooltip="Edit this form" placement="bottom" [routerLink]="['/client', 'dos', dos_form.form_id, 'edit']">
                  <i class="fas fa-edit"></i>
                </a>
                <button type="button" class="btn btn-xs btn-danger" tooltip="Delete DOS form" placement="bottom" (click)="deleteDosForm(dos_form)">
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!dos_forms.length && loaded">No DOS forms found</h2></div>
      <div *ngIf="dos_forms.length < total"
           class="text-center">
        <button [disabled]="loading" class="btn btn-primary" (click)="loadMore()">Load more</button>
      </div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
