<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>Applications</strong><span *ngIf="isSupervisor()">Supervisor View</span></h2>

      </div>
    </div>
  </div>


  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div *ngIf="isSupervisor()" class="form-group">
      <div class="m-b-10">
        <select class="form-control"
                [(ngModel)]="selected_agent_id"
                [ngModelOptions]="{standalone: true}"
                (change)="loadApplications(true)">
          <option value="-1">All Applications</option>
          <option *ngFor="let agent of agent_list" [value]="agent.id">{{ agent.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="result.length">
            <thead>
            <tr>
              <th *ngIf="isSupervisor()">Agent name</th>
              <th>Name</th>
              <th>Address</th>
              <th>Time submitted</th>
              <th style="width: 250px">Actions</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let application of result">
              <td *ngIf="isSupervisor()">{{ application.agent.name }}</td>
              <td>
                <a [routerLink]="['/application', application.application_form_id, 'details']">{{ application.client.name }}</a>
              </td>
              <td>{{ application.building_address + ', ' + application.unit }}</td>
              <!-- <td>{{ (application.time_created | amFromUnix) | amDateFormat: 'MMM DD, h:mm A' }}</td> -->
              <td>{{ application.time_created | appDateFormat:'aform':'time' }}</td>
              <td>
                <a [href]="application.getDownloadUrl()" class="btn btn-sm btn-default">Download</a>
                <button class="btn btn-sm btn-primary" (click)="sendApplication(application.application_form_id)">Send</button>
                <button class="btn btn-sm btn-danger" [appDeleteApplication]="application" (deleted)="removeApplication($event)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!result.length && loaded">Applications not found</h2></div>
      <div *ngIf="result.length < total"
           class="text-center">
        <button [disabled]="loading" class="btn btn-primary" (click)="loadMore()">Load more</button>
      </div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
