.label-inline {
  display: inline;
}

/deep/ .panel-title {
  font-size: 16px !important;
}

/deep/ .panel-title:hover {
  cursor: pointer;
}

/deep/ .card.filled .card-header {
  background-color: #319DB5;
  color: white;
}
