<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>Comps</strong></h2>
      </div>
    </div>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxshadow">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth" *ngIf="comps && comps?.base_listings?.length">
        <div class="table-responsive">
          <table class="table table-hover dataTable">
            <thead>
              <tr>
                <th>Address</th>
                <th>Unit</th>
                <th>Beds</th>
                <th>Min. price</th>
                <th>Max. price</th>
                <th>Bld. Type</th>
                <th>Pets</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <tr *ngFor="let listing of getFilteredCompsListings()" [class.bg-light]="getCompsListingsCount(listing) === 0">
                <td>{{ listing.address }}</td>
                <td>{{ listing.unit }}</td>
                <td>{{ listing.getBedroomsText(true) }} {{ listing.bathrooms }} ba</td>
                <td>
                  <input class="form-control"
                         type="text" placeholder="$ "
                         [(ngModel)]="listing.search.min_price"
                         [ngModelOptions]="{ standalone: true }"
                         currencyMask [options]="priceMaskConfig">
                </td>
                <td>
                  <input class="form-control"
                         type="text" placeholder="$ "
                         [(ngModel)]="listing.search.max_price"
                         [ngModelOptions]="{ standalone: true }"
                         currencyMask [options]="priceMaskConfig">
                </td>
                <td style="min-width: 150px;">
                  <select class="form-control" [(ngModel)]="listing.search.building_type">
                    <option [value]="'All'">All</option>
                    <option [value]="'Full Time Doorman'">Full Time Doorman</option>
                    <option [value]="'Elevator'">Elevator</option>
                    <option [value]="'Walk Up'">Walk Up</option>
                  </select>
                </td>
                <td style="min-width: 150px;">
                  <select class="form-control" [(ngModel)]="listing.search.pets">
                    <option [value]="null">None</option>
                    <option [value]="'Cats'">Cats</option>
                    <option [value]="'Dogs'">Dogs</option>
                  </select>
                </td>
                <td>
                  <button class="btn btn-md btn-primary" type="button" (click)="search(listing)">Search</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="dis-inline-b fullwidth" *ngIf="comps && !comps?.base_listings?.length">
        <h3>No comps found</h3>
      </div>
    </div>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxshadow" *ngIf="is_supervisor">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth" *ngIf="comps">
        <div>
          <accordion [closeOthers]="true">
            <accordion-group
              *ngFor="let building of getFilteredCompsBuildings()"
              [heading]="building.address + ' (' + building.comps_buildings.length + ')'"
              [panelClass]="building.comps_buildings.length > 0 ? 'filled' : null"
              [isOpen]="open_building_accordion_group === building.building_id"
              (click)="open_building_accordion_group = building.building_id">
              <div class="row">
                <form (submit)="addCompsToBuilding(building.building_id)">
                  <div class="col-md-10">
                    <div class="form-group">
                      <label class="control-label">Add new building</label>
                      <ng-select
                        [(ngModel)]="buildings_to_add[building.building_id]"
                        [ngModelOptions]="{ standalone: true }"
                        [dropdownPosition]="'bottom'"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        [selectOnTab]="true"
                        [markFirst]="true"
                        [multiple]="false"
                        [items]="buildings_autocomplete.values"
                        [typeahead]="buildings_autocomplete.typeahead"
                        [loading]="buildings_autocomplete.loading"
                        bindLabel="name"
                        bindValue="value"
                      ></ng-select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">&nbsp;</label>
                      <button type="submit" class="btn btn-md btn-success">Add Comps</button>
                    </div>
                  </div>
                </form>
              </div>
              <table class="table table-hover dataTable">
                <thead>
                <tr>
                  <th>Address</th>
                  <th>Management</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let comp_building of building.comps_buildings">
                  <td>{{ comp_building.address }}</td>
                  <td>{{ comp_building.management }}</td>
                  <td>
                    <a class="btn btn-sm btn-primary" [routerLink]="['/building', comp_building.building_id, 'details']">
                      <i class="fas fa-external-link-alt"></i>
                    </a>
                    <button type="button"
                            (click)="deleteComp(building.building_id, comp_building.building_id)"
                            class="btn btn-sm btn-danger"
                            [class.ladda-button]="comps_loading">
                      <i class="fas fa-remove"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
    <app-loader [loading]="comps_loading"></app-loader>
  </div>

</div>
<app-loader [loading]="loading"></app-loader>
