<div class="container" id="login-block">
  <i class="user-img icons-faces-users-03"></i>
  <div class="account-form">
   	<h3><strong>Sign in</strong> to your account</h3>
    <button class="btn btn-lg btn-dark btn-rounded ladda-button" (click)="googleLogin()" [disabled]="loading">
      <i class="fab fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign in with Google
    </button>
    <div class="has-error" *ngIf="errorMsg"><span class="help-block">Login failed</span></div>
    <span *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <br>
    <span>Log in with your <b>PocketBroker</b> account</span>
  </div>
</div>