 <div class="bottomdetails ph-10 clientmaildetails pos-rel" id="client-search-details"
     *ngIf="(formOptions && client && client.searches && client.searches.length)"
     (click)="autosave()" (keyup)="autosave()">
  <h2 class="m-b-20 m-t-10 text-align-center cappointment">Search Criteria</h2>
  <div style="position: absolute; top: 10px;right: 10px;">
    <button *ngIf="client_search && client_search.suspended" class="btn btn-sm btn-default" container="body"
            tooltip="Turn on notifications" (click)="removeSuspend()" [disabled]="suspending">
            <i class="fa fa-square-o"></i>&nbsp;Notifications off
    </button>
    <button *ngIf="client_search && !client_search.suspended" class="btn btn-sm btn-primary" container="body"
            tooltip="Turn off notifications" (click)="suspendSearch()" [disabled]="suspending">
            <i class="fa fa-check-square"></i>&nbsp;Notifications on
    </button>
  </div>

  <div class="btnactive col-md-12">
    <label class="fullwidth text-size">Type</label>
    <div class="btn-group paddingcustom">
        <button type="button" class="btn btn-primary"
                [ngClass]="{ active: model.ad_type === 'rental' }"
                (click)="model.ad_type = 'rental'">
                <a href="javascript:void(0)">
                  Rent
                </a>
        </button>
        <button type="button" class="btn btn-primary"
                [ngClass]="{ active: model.ad_type === 'sale' }"
                (click)="model.ad_type = 'sale'">
                <a href="javascript:void(0)">
                  Sale
                </a>
        </button>
    </div>
  </div>

  <div class="btnactive col-md-12">
    <label class="fullwidth text-size">Ownership</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let ownership of formOptions.ownership.rental"
              [ngClass]="{active: model.ownership.indexOf(ownership) > -1}"
              (click)="setOwnership(ownership)"
      ><a href="javascript:void(0)">{{ ownership }}</a></button>
    </div>
  </div>

  <div class="m-t-0 m-b-10 col-md-12">
    <div class="form-group citylabel">
      <label class="neighborhoodblock text-size">Price Range</label>
      <div class="cityleft">
          <span class="input input--hoshi">
              <input class="input__field input__field--hoshi" currencyMask [options]="priceMaskConfig" [(ngModel)]="model.min_price"/>
              <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
          </span>
      </div>
      <span class="cityto m-t-10">to</span>
      <div class="cityright">
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" currencyMask [options]="priceMaskConfig" [(ngModel)]="model.max_price"/>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
          </span>
      </div>
    </div>
  </div>

  <div class="btnactive col-md-12">
    <label class="fullwidth text-size">Beds</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let bedroom of formOptions.bedrooms"
              [ngClass]="{active: model.bedrooms === bedroom}"
              (click)="model.bedrooms = model.bedrooms === bedroom ? null: bedroom"><a
        href="javascript:void(0)">{{ bedroom }}</a></button>
    </div>
  </div>

  <div class="btnactive col-md-12 m-t-0">
    <label class="fullwidth text-size">Baths</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let bathroom of formOptions.bathrooms"
              [ngClass]="{active: model.bathrooms === bathroom}"
              (click)="model.bathrooms = model.bathrooms === bathroom ? null : bathroom"
      ><a href="javascript:void(0)">{{ bathroom }}</a></button>
    </div>
  </div>

  <div class="btnactive col-md-12 m-t-0">
    <label class="fullwidth text-size">Pets</label>

    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let pet of formOptions.pets"
              [ngClass]="{active: model.pets === pet}"
              (click)="model.pets = model.pets === pet ? null : pet"
      ><a href="javascript:void(0)">{{ pet }}</a></button>
    </div>
  </div>


  <div class="btnactive col-md-12 m-t-0 mail-side">
    <label class="fullwidth text-size">Building type</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" [ngClass]="{ active: model.building_type.indexOf('') > -1 }"
              (click)="setBuildingType('')"
      ><a href="javascript:void(0)">All</a></button>
      <button type="button" class="btn btn-primary" *ngFor="let building_type of formOptions.building_type"
              [ngClass]="{ active: model.building_type.indexOf(building_type) > -1 }"
              (click)="setBuildingType(building_type)"
      ><a href="javascript:void(0)">{{ building_type }}</a></button>
    </div>
  </div>

  <div class="btnactive col-md-12 m-t-0 mail-side">
    <label class="fullwidth text-size">Apartment Amenities</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let amenity of formOptions.amenities"
              [ngClass]="{active: model.amenities.indexOf(amenity) > -1}"
              (click)="setAmenitities(amenity)"
      ><a href="javascript:void(0)">{{ amenity }}</a></button>
    </div>

  </div>

  <div class="btnactive col-md-12 m-t-0 mail-side">
    <label class="fullwidth text-size">Furnished</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let furnished of formOptions.furnished"
              [ngClass]="{active: model.furnished === furnished}"
              (click)="model.furnished = model.furnished === furnished ? null : furnished"
      ><a href="javascript:void(0)">{{ furnished }}</a></button>
    </div>

  </div>

  <div class="col-md-12 btnactive m-t-20 mail-side">
    <div class="form-group col-md-12">

      <label class="fullwidth text-size">Neighborhoods</label>
      <tabset>
        <tab *ngFor="let borough of formOptions.boroughs" [heading]="borough.name">
          <div *ngIf="borough && borough.neighborhoods.length">
          <span class="neighborhood-item" *ngFor="let neighborhood of borough.neighborhoods">
                      <label class="pos-rel dis-inline text-nowrap">
                        <input name="neighborhoods" appIcheck type="checkbox"
                               [checked]="neighborhood.selected"
                               (checked)="neighborhood.selected = true; autosave()"
                               (unchecked)="neighborhood.selected = false; autosave()"
                               [(ngModel)]="neighborhood.selected"
                               [value]="neighborhood.abbreviation">
                        <span>{{ neighborhood.name }}</span>
                      </label>
                    </span>
          </div>
        </tab>
      </tabset>

    </div>

  </div>
  <div class="col-md-12 btnactive">
    <label class="fullwidth text-size">Company</label>
    <div>
      <ng-select
        [(ngModel)]="model.company_name"
        [dropdownPosition]="'bottom'"
        [closeOnSelect]="true"
        [hideSelected]="true"
        [selectOnTab]="true"
        [markFirst]="false"
        placeholder="Company name"
        name="company_name"
        [items]="search_companies"
        [multiple]="true"
        [loading]="companies_to_loading"
        [typeahead]="companiesToTypeahead"
        bindLabel="name"
        bindValue="value"
        [addTag]="false"
      >
      </ng-select>
    </div>
  </div>

  <div class="form-group">
    <label class="text-size"></label>
    <div class="input input--hoshi m-t-12">
      <label>
        <input name="has_concession" type="checkbox" appIcheck value="1" [ngModel]="model.has_concession"
               [checked]="model.has_concession"
               (checked)="model.has_concession = 1;autosave()"
               (unchecked)="model.has_concession = null;autosave()">
        With Concession
      </label>
    </div>
  </div>
  <div class="col-md-12 btnactive">
    <label class="fullwidth text-size">Fee Structure</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let fee of formOptions.fee_structure"
              [ngClass]="{active: model.fee_structure === fee}"
              (click)="model.fee_structure = model.fee_structure === fee ? null : fee"
      ><a href="javascript:void(0)">{{ fee }}</a></button>
    </div>
  </div>
  <div class="col-md-12 btnactive">
    <label class="fullwidth text-size">Exposures</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let exposure of formOptions.exposures"
              [ngClass]="{ active: model.exposures.indexOf(exposure) > -1 }"
              (click)="setExposure(exposure)"
      ><a href="javascript:void(0)">{{ exposure }}</a></button>
    </div>
  </div>

  <div class="btnactive col-md-12 m-t-0 mail-side">
    <label class="fullwidth text-size">Others</label>
    <div class="btn-group paddingcustom">
      <button type="button" class="btn btn-primary" *ngFor="let other of formOptions.other"
              [ngClass]="{active: model.other.indexOf(other) > -1}"
              (click)="setOther(other)"
      ><a href="javascript:void(0)">{{ other }}</a></button>
    </div>
  </div>

  <div class="btnactive col-md-12 m-t-0 mail-side">
    <label class="fullwidth text-size">Rating</label>
    <div class="row-fluid">
      <div class="col-sm-6">
        <rating name="rating" [(ngModel)]="model.ratings" [max]="5"></rating>
        <span tooltip="Clear rating" class="text-danger" *ngIf="model.ratings">
        <i (click)="model.ratings = null" class="fa fa-minus-circle"></i></span>
      </div>
      <div class="col-sm-6">
        <label>
          <input name="has_photos" type="checkbox" appIcheck value="1"
                 [checked]="model.has_photos"
                 [(ngModel)]="model.has_photos"
                 (checked)="model.has_photos = 1; autosave()"
                 (unchecked)="model.has_photos = 0; autosave()">
          Has photos
        </label>
      </div>
    </div>
  </div>

  <hr/>

  <h3 class="moredetailsbutton">
    <button type="button" class="btn btn-primary btn-width-schedule-mail m-t-20" (click)="search()">Search</button>
  </h3>

  <div class="updated-mark" *ngIf="client.searches.length" [ngClass]="{'highlight': highlight}">
    <div class="pos-rel p-l-10">
      <span
        class="m-r-10">Last Modified: {{ client.searches[0].last_modified | amFromUnix | amCalendar:nextDay }}</span>
      <span>Results: {{ client.searches[0].results_count }}</span>
    </div>
  </div>
</div>

<div class="row-fluid" *ngIf="(!client || !client.searches || !client.searches.length) && !create">
  <div class="col-sm-12">
    <h2 class="text-primary text-center">No saved searches</h2>
  </div>

  <h3 class="moredetailsbutton m-20 p-r-30 p-l-30" *ngIf="client">
    <button type="button" class="btn btn-primary btn-width-schedule-mail" (click)="createSearchCriteria()">Create Search
      Criteria
    </button>
  </h3>
</div>
