<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>Payments</strong><span *ngIf="isSupervisor()">Supervisor View</span></h2>

      </div>
    </div>
  </div>


  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div *ngIf="isSupervisor()" class="form-group">
      <div class="m-b-10">
        <select class="form-control"
                [(ngModel)]="selected_agent_id"
                [ngModelOptions]="{standalone: true}"
                (change)="loadPayments(true)">
          <option value="-1">All Payments</option>
          <option *ngFor="let agent of agent_list" [value]="agent.user_id">{{ agent.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="payments.length">
            <thead>
            <tr>
              <th *ngIf="isSupervisor()">Agent name</th>
              <th>Name</th>
              <th>Email</th>
              <th>Card vendor</th>
              <th>Last 4</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Time submitted</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let payment of payments">
              <td *ngIf="isSupervisor()">{{ payment.agent_name }}</td>
              <td>{{ payment.client_name }}</td>
              <td><a class="cursor-pointer" appMailPopup [email]="payment.client_email">{{ payment.client_email }}</a></td>
              <td>{{ payment.card_type }}</td>
              <td>{{ payment.last4 }}</td>
              <td>{{ payment.getAmountFormatted() }}</td>
              <td *ngIf="payment.status != 'error'">{{ payment.status }}</td>
              <td *ngIf="payment.status == 'error'" (click)="showErrorDetails(payment)" style="cursor: pointer">{{ payment.status }}</td>
              <td>{{ payment.time_updated | appDateFormat:'aform':'time' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!payments.length && loaded">Payments not found</h2></div>
      <div *ngIf="payments.length < total"
           class="text-center">
        <button [disabled]="loading" class="btn btn-primary" (click)="loadMore()">Load more</button>
      </div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
