@import "../../../styles/mixins.less";
@import "../../../styles/variable.less";

.btn-primary.active {
  background: #41bcde !important;
}

rating {

  /deep/ .bs-rating-star {
    font-size: 25px;

    &.active {
      color: @tm-blue;
    }
  }

  /deep/ [role="slider"] {
    outline: none;
  }
}

.edit-listing /deep/ .nav-tabs > li.active a:hover, .edit-listing /deep/ .nav-tabs > li.active a:focus, .edit-listing /deep/ .nav-tabs > li.active a:active {
  background-color: #ffffff;
}

.general-tabs {

  .nav-item {
    min-width: 100px;
    text-align: center;

    &.active {
      span {
        font-weight: bold;
      }
    }
  }

}

.action-btns {

  position: fixed;
  right: 30px;
  bottom: 30px;

  .btn-default {
    border: 1px solid #bbb;
    background-color: #ccc;
  }

}

.nav-toolbar {
  background-color: #fff;
  border: none;
  color: #939393;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 30px;

  & > button {
    margin-right: 25px;
  }
  & > button:last-child {
    margin-right: 0;
  }
}

.input--hoshi {
  min-width: 100%;
}

.house-list {

  .panel {
    min-height: 300px;
  }
}

/deep/ .bs-datepicker-body table td span, .bs-datepicker-head button.next span {
  text-align: center;
}

.open-h-inp {
  width: 180px;
}

.open-h-sel{
  width: 100px;
}

.has-error{
  border: 1px solid red;
}

@media screen and (max-width: 776px) {
  .mb-title h2 {
    font-size: 18px;
    line-height: 35px;
  }
  .searchresultheading h2 {
    margin-bottom: 0px !important;
    padding-bottom: 0px;
  }
}

.mb-nav-item {
  min-width: 120px !important;
}

.nav-toolbar[_ngcontent-c17] {
  padding-left: 0px;
  padding-right: 0px;
  padding-right: 0px;
}
.nav-toolbar[_ngcontent-c17] > button[_ngcontent-c17] {
  margin-right: 0px;
}

.mb-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: flex-end;
}
