<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Edit <strong>Listings</strong> <span *ngIf="listing">{{ listing.address }}, {{ listing.unit }} - {{ listing.getBedroomsText() }} - {{ listing.price |
        currency:'USD':'symbol-narrow':'1.0-2' }}</span></h2>
  </div>
  <div class="row edit-listing" *ngIf="listing">


    <div class="col-lg-12 m-b-15">
      <button *ngIf="!listing.advertised" (click)="advertise()" type="button" [disabled]="advertising"
              class="btn btn-sm btn-success m-t-10" tooltip="Advertise to 3rd party sites" container="body">
        <span *ngIf="advertising" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        Advertise
      </button>
      <button *ngIf="listing.advertised" (click)="removeAdvertise()" type="button" [disabled]="advertising"
              class="btn btn-sm btn-danger m-t-10" tooltip="Remove listing from 3rd party sites"
              container="body">
        <span *ngIf="advertising" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        Remove Ad
      </button>
      <button type="button" class="btn btn-sm btn-primary m-t-10" (click)="generateDescription()">
        Generate description
      </button>
      <!-- <button *ngIf="!listing.published" (click)="publishListing()" type="button" [disabled]="publishing"
              class="btn btn-sm btn-primary m-t-10">
        <span *ngIf="publishing" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        Publish
      </button> -->
      <div *ngIf="listing.published" class="btn-group delete-listing" dropdown placement="top"
           (onShown)="loadingDeleteReason()">
        <button dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle"
                aria-controls="dropdown-dropup" tooltip="Remove listing from market" container="body">
          <span *ngIf="publishing" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
          Permanently remove
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li *ngIf="!delete_reasons.length">Loading...</li>
          <li *ngFor="let reason of delete_reasons" role="menuitem">
            <a (click)="unpublishListing(reason)" class="dropdown-item">{{ reason.label }}</a></li>
        </ul>
      </div>
    </div>


    <div class="col-lg-12">
      <ul class="nav nav-tabs general-tabs mb-scroll">
        <li class="nav-item" (click)="selected_tab='data'" [ngClass]="{active:selected_tab==='data'}">
          <a class="nav-link" href="javascript:void(0);"><span>Data</span></a>
        </li>
        <li class="nav-item" (click)="selected_tab='media'" [ngClass]="{active:selected_tab==='media'}">
          <a class="nav-link" href="javascript:void(0);"><span>Media</span></a>
        </li>
        <li class="nav-item mb-nav-item" (click)="selected_tab='open_house'" [ngClass]="{active:selected_tab==='open_house'}">
          <a class="nav-link" href="javascript:void(0);"><span>Open house</span></a>
        </li>
        <li class="nav-item" *ngIf="listing.ad_type === 'rental'" (click)="selected_tab='concession'" [ngClass]="{active:selected_tab==='concession'}">
          <a class="nav-link" href="javascript:void(0);"><span>Concession</span></a>
        </li>
      </ul>
      <div class="wizard-div current wizard-sea popupwizard m-b-100" *ngIf="listingForm">

        <form class="wizard" data-style="sea" role="form" method="post" *ngIf="selected_tab === 'data'"
              [formGroup]="listingForm" (submit)="saveListing()" novalidate>
          <div class="row">
            <div class="tab-pane fade in active firststepp">
              <div class="col-lg-12">
                <div class="panel row">
                  <div class="panel-content m-l-20 m-r-20">
                    <div class="col-md-12">
                      <div class="row p-t-20" formGroupName="basic" *ngIf="listing">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="form-label h3formtop">Price</label>
                            <input class="form-control" type="number" formControlName="price"/>
                          </div>
                          <div class="topfirstwidget">
                            <div class="">
                              <div
                                [ngClass]="{ 'has-error': submitted && !listingForm.get('basic').controls.access_type.valid }">
                                <div class="col-sm-12 p0r">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">Access Type</label>
                                    <select class="input__field input__field--hoshi" id="form-access_type"
                                            formControlName="access_type">
                                      <option *ngFor="let value of listing_options.access_type_options"
                                              [selected]="value === listingForm.get('basic.access_type').value">{{ value }}</option>
                                    </select>
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-access_type"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.access_type.valid"
                                         class="help-block">Access
                                      type is required
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="topfirstwidget">
                            <div class="">
                              <div
                                [ngClass]="{ 'has-error': submitted && !listingForm.get('basic').controls.furnished_type.valid }">
                                <div class="col-sm-12 p0r">
                                  <div class="row">
                                 <span class="input input--hoshi">
                                    <label class="text-size">Furnished Type</label>
                                    <select class="input__field input__field--hoshi" id="form-furnished_type"
                                            formControlName="furnished_type">
                                      <option *ngFor="let value of listing_options.furnished_options"
                                              [selected]="value === listingForm.get('basic.furnished_type').value">{{ value }}</option>
                                    </select>
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-furnished_type"></label>
                                  </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.access_type.valid"
                                         class="help-block">Furnished
                                      type is required
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="topfirstwidget">
                            <div class="">
                              <div>
                                <div class="col-sm-4 p0r">
                                  <div class="row">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-nofee" formControlName="nofee"
                                             (checked)="setNoFee(1)" (unchecked)="setNoFee(0)"
                                             [checked]="listingForm.get('basic.nofee').value"/>
                                      <b>No fee</b>
                                    </label>
                                  </div>
                                </div>
                                <div class="col-sm-4 p0r">
                                  <div class="row">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-co_exclusive" formControlName="co_exclusive"
                                             (checked)="setCoExclusive(1)" (unchecked)="setCoExclusive(0)"
                                             [checked]="listingForm.get('basic.co_exclusive').value"/>
                                      <b>Co-Exclusive</b>
                                    </label>
                                  </div>
                                </div>
                                <div class="col-sm-4 p0r">
                                  <div class="row">
                                    <label class="text-size">
                                      <input type="checkbox" appIcheck id="form-include_in_rls" formControlName="include_in_rls"
                                             (checked)="setIncludeInRLS(1)" (unchecked)="setIncludeInRLS(0)"
                                             [checked]="listingForm.get('basic.include_in_rls').value"/>
                                      <b>Include in RLS</b>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="topfirstwidget">
                            <div class="">
                              <div
                                [ngClass]="{ 'has-error': submitted && !listingForm.get('basic').controls.fee_structure.valid }">
                                <div [ngClass]="listingForm.get('basic.fee_structure').value === 'Co-Broke' ? 'col-sm-6': 'col-sm-12'" class="p0r">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">Fee Structure</label>
                                    <select class="input__field input__field--hoshi" id="form-fee_structure"
                                            formControlName="fee_structure">
                                      <option></option>
                                      <option *ngFor="let value of listing_options.fee_structure_options"
                                              [selected]="value === listingForm.get('basic.fee_structure').value">{{ value }}</option>
                                    </select>
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-fee_structure"></label>
                                  </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.fee_structure.valid"
                                         class="help-block">Fee structure is required
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6 p0r" *ngIf="listingForm.get('basic.fee_structure').value === 'Co-Broke'">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">Commission Structure</label>
                                    <input type="number" class="input__field input__field--hoshi" id="form-commission_structure"
                                           formControlName="commission_structure">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-commission_structure"></label>
                                  </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.commission_structure.valid"
                                         class="help-block">Commission structure is required if fee structure is set to 'Co-Broke'.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="topfirstwidget">
                            <div class="">
                              <div
                                [ngClass]="{ 'has-error': submitted && !listingForm.get('basic').controls.available_from.valid }">
                                <div class="col-sm-6 p0r">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">Available From</label>
                                    <input type="date" class="input__field input__field--hoshi" id="form-available_from"
                                           formControlName="available_from">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-available_from"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.available_from.valid"
                                         class="help-block">Available from is required
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6 p0r">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">First Showing Date</label>
                                    <input type="date" class="input__field input__field--hoshi" id="form-first_showing_date"
                                           formControlName="first_showing_date">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-first_showing_date"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.first_showing_date.valid"
                                         class="help-block">First Showing Date is required
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="topfirstwidget" *ngIf="listing.ad_type === 'sale'">
                            <div class="">
                              <div
                                [ngClass]="{ 'has-error': submitted && !listingForm.get('basic').controls.fee_structure.valid }">
                                <div [ngClass]="building.ownership === 'Condo' ? 'col-sm-6': 'col-sm-12'" class="p0r">
                                  <div class="row">
                                    <span class="input input--hoshi">
                                      <label class="text-size">CC/Maintenance Fee</label>
                                      <input type="text" class="input__field input__field--hoshi" id="form-common_charges"
                                             formControlName="common_charges">
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-common_charges"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.common_charges.valid"
                                         class="help-block">CC/Maintenance Fee is required
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6 p0r" *ngIf="building.ownership === 'Condo'">
                                  <div class="row">
                                    <span class="input input--hoshi">
                                      <label class="text-size">Monthly Taxes</label>
                                      <input type="text" class="input__field input__field--hoshi" id="form-monthly_taxes"
                                             formControlName="monthly_taxes">
                                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                             for="form-monthly_taxes"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.monthly_taxes.valid"
                                         class="help-block">Monthly taxes are required.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="topfirstwidget" *ngIf="listing.ad_type === 'rental'">
                            <div class="">
                              <div
                                [ngClass]="{ 'has-error': submitted && !listingForm.get('basic').controls.available_from.valid }">
                                <div class="col-sm-6 p0r">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">Min Lease Period</label>
                                    <input type="number" [value]="12" class="input__field input__field--hoshi" id="form-min_lease_period"
                                           formControlName="min_lease_period">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-min_lease_period"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.min_lease_period.valid"
                                         class="help-block">Min Lease Period is required
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6 p0r">
                                  <div class="row">
                                  <span class="input input--hoshi">
                                    <label class="text-size">Max Lease Period</label>
                                    <input type="number" [value]="12" class="input__field input__field--hoshi" id="form-max_lease_period"
                                           formControlName="max_lease_period">
                                    <label class="input__label input__label--hoshi input__label--hoshi-color-1"
                                           for="form-max_lease_period"></label>
                                    </span>
                                    <div *ngIf="submitted && !listingForm.get('basic').controls.max_lease_period.valid"
                                         class="help-block">Max Lease Period is required
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label h3formtop">Description</label>
                            <textarea class="form-control" rows="12" formControlName="description"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-content nav-scroll" formArrayName="rooms">
                  <tabset class="m-b-40">
                    <tab *ngFor="let room of listing.rooms_advice; let i = index;" [formGroupName]="i" [heading]="room.title">
                      <div class="row" style="min-height: 400px;">
                        <div class="col-md-9">
                          <div class="row">
                            <div class="col-md-4"
                                 *ngFor="let field of listing_options.getRoomFields(room.room_type, [],['stars', 'checkboxes'], ['notice'])">
                              <label class="form-label h3formtop">{{ field.title || field.field }}</label>
                              <div *ngIf="field.editor_type === 'dropdown'">
                                <div class="form-group">
                                  <div class="m-b-10">
                                    <select class="form-control" [formControlName]="field.field">
                                      <option></option>
                                      <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="field.editor_type === 'textarea'">
                                <div class="form-group">
                                  <div class="m-b-10">
                                    <textarea rows="4" class="form-control" style="resize: vertical;"
                                              [formControlName]="field.field"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="field.editor_type === 'exposures'">
                                <div class="btn-group paddingcustom">
                                  <button type="button" class="btn btn-primary" *ngFor="let exposure of ['N','S','W','E']"
                                          [ngClass]="{ 'active': exposureSelected(exposure) }"
                                          (click)="toggleExposure(exposure)">
                                    {{ exposure }}
                                  </button>
                                </div>
                              </div>
                              <div *ngIf="field.editor_type === 'text' || field.editor_type === 'exposure'">
                                <div class="form-group">
                                  <div class="m-b-10">
                                    <input class="form-control" [formControlName]="field.field"/>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12"
                                 *ngFor="let field of listing_options.getRoomFields(room.room_type, ['checkboxes'],[], ['notice'])">
                              <label class="form-label h3formtop">{{ field.title }}</label>
                              <div *ngIf="field.editor_type === 'checkboxes'">
                                <div class="icheck-list">
                                  <label class="pos-rel col-md-3" *ngFor="let option of field.options">
                                    <input data-checkbox="icheckbox_minimal-blue" type="checkbox" appIcheck
                                           [checked]="listingForm.get('rooms.'+i+'.'+field.field).value.indexOf(option)>-1"
                                           (checked)="checkedCheckbox('rooms',i,field.field,option)"
                                           (unchecked)="uncheckedCheckbox('rooms',i,field.field,option)">
                                    {{ option }}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div
                            *ngFor="let field of listing_options.getRoomFields(room.room_type, ['stars'], [], ['notice'])">
                            <label class="form-label h3formtop">{{ field.title }}</label>
                            <div *ngIf="field.editor_type === 'checkboxes'">
                              <div class="icheck-list">
                                <label class="pos-rel col-md-6" *ngFor="let option of field.options; let o = index"
                                       [formGroupName]="o">
                                  <input data-checkbox="icheckbox_minimal-blue" type="checkbox" appIcheck
                                         [(ngModel)]="listing.rooms_details[room.room_type][field.field]"
                                         (checked)="checkedCheckbox('rooms',i,field.field,option)"
                                         (unchecked)="uncheckedCheckbox('rooms',i,field.field,option)">
                                  {{ option }}
                                </label>
                              </div>
                            </div>
                            <div *ngIf="field.editor_type === 'stars'">
                              <div class="form-group" *ngFor="let option of field.options">
                                <label class="form-label">{{ option }}</label>
                                <div class="m-b-10" formGroupName="ratings">
                                  <rating [formControlName]="option" [max]="5"></rating>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tab>
                  </tabset>
                </div>
                <div class="panel-content text-right m-t-10 action-btns">
                  <button [disabled]="!has_changes" type="submit" class="btn btn-lg btn-primary"
                          tooltip="Save current changes">Save
                  </button>
                  <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                          (click)="resetForm()"
                          [disabled]="!has_changes">Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>

        <div class="row" *ngIf="selected_tab === 'media'">
          <div class="tab-pane fade in active firststepp">
            <div class="col-lg-12">
              <div class="panel">
                <div class="panel-content">
                  <div class="row">
                    <div class="col-sm-12 m-t-15">

                      <app-media-management [listing]="listing" [options]="listing_options"></app-media-management>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="selected_tab === 'open_house'">
          <div class="tab-pane fade in active firststepp">
            <div class="col-lg-12">
              <div class="panel">
                <div class="panel-content house-list">
                  <div class="row">
                    <div class="col-sm-6 p-r-0">
                      <div class="panel panel-primary p-r-0 m-b-0">
                        <div class="panel-heading">Internal</div>
                        <div class="panel-body">
                          <div class="text-right">
                            <button class="btn btn-primary" (click)="show_open_house_form = !show_open_house_form">Add
                              new
                            </button>
                          </div>
                          <div *ngIf="show_open_house_form" class="list-group-item">
                            <div class="m-t-10 m-b-5">
                              <input type="text" placeholder="Open house date" class="form-control open-h-inp m-b-10"
                                     [ngClass]="{'has-error': newOpenHouse.submitted && !newOpenHouse.date }" required
                                     bsDatepicker [bsConfig]="dateBsConfig" [(ngModel)]="newOpenHouse.date">
                              from
                              <select name="time_from" class="form-control open-h-sel m-b-10" required=""
                                      [ngClass]="{'has-error': newOpenHouse.submitted && newOpenHouse.time_from ===''}"
                                      [(ngModel)]="newOpenHouse.time_from">
                                <option *ngFor="let time of calendarTimes">{{ time }}
                                </option>
                              </select>
                              to
                              <select name="time_to" class="form-control open-h-sel m-b-10" required=""
                                      [ngClass]="{'has-error': newOpenHouse.submitted && newOpenHouse.time_to ===''}"
                                      [(ngModel)]="newOpenHouse.time_to">
                                <option *ngFor="let time of calendarTimes">{{ time }}</option>
                              </select>
                              <label class="checkbox-inline m-b-5" style="width: auto"><input
                                [(ngModel)]="newOpenHouse.appointment_only" type="checkbox"> appointment only </label>
                            </div>
                            <div class=" text-right">
                              <button class="btn btn-warning" (click)="show_open_house_form = false">Cancel</button>
                              <button class="btn btn-success" [disabled]="adding" (click)="addNewOpenHouse()">Add
                                <span *ngIf="adding"
                                      class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                              </button>
                            </div>
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of internalCalendarItems">
                              <span class="m-r-10">{{ item.start_time | amParse:'YYYY-MM-DD HH:mm' | amDateFormat: 'MMMM D YYYY' }}</span>
                              <span class="m-r-10">from {{ item.start_time | amParse:'YYYY-MM-DD HH:mm' | amDateFormat: 'HH:mm' }}</span>
                              <span class="m-r-10">to {{ item.end_time | amParse:'YYYY-MM-DD HH:mm' | amDateFormat: 'HH:mm' }}</span>
                              <span *ngIf="item.by_appointment_only">by appointment only</span>
                              <span class="pull-right">
                                <button class="btn btn-sm btn-primary"
                                        (click)="item.edit_state = !item.edit_state">Edit</button>
                                <button class="btn btn-sm btn-danger" (click)="removeOpenHouse(item)">Remove
                                  <span *ngIf="item.deleting"
                                        class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                </button>
                              </span>

                              <div *ngIf="item.edit_state" class="list-group-item">
                                <div class="m-t-10 m-b-5">
                                  <input type="text" placeholder="Open house date" class="form-control open-h-inp m-b-10"
                                         bsDatepicker [bsConfig]="dateBsConfig" [ngClass]="{'has-error': item.submitted && !item.date}"
                                         [(ngModel)]="item.date" required>
                                  from
                                  <select name="time_from" class="form-control open-h-sel m-b-10" required
                                          [(ngModel)]="item.time_from" [ngClass]="{'has-error': item.submitted && item.time_from ===''}">
                                    <option *ngFor="let time of calendarTimes"
                                            [selected]="time === item.time_from">{{ time }}
                                    </option>
                                  </select>
                                  to
                                  <select name="time_to" class="form-control open-h-sel m-b-10" required
                                          [ngClass]="{'has-error': item.submitted && item.time_to ===''}"
                                          [(ngModel)]="item.time_to">
                                    <option *ngFor="let time of calendarTimes"
                                            [selected]="time === item.time_to">{{ time}}
                                    </option>
                                  </select>
                                  <label class="checkbox-inline m-b-5" style="width: auto"><input
                                    [(ngModel)]="item.appointment_only" type="checkbox"> appointment only </label>
                                </div>
                                <div class=" text-right">
                                  <button class="btn btn-warning" (click)="item.edit_state = false">Cancel</button>
                                  <button class="btn btn-success" [disabled]="item.editing" (click)="editOpenHouse(item)">
                                    Edit
                                    <span *ngIf="item.editing"
                                          class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                  </button>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item text-center no-border" *ngIf="!internalCalendarItems.length">
                              No open house
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 p-l-0">
                      <div class="panel panel-default p-r-0 m-b-0">
                        <div class="panel-heading">External</div>
                        <div class="panel-body">
                          <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of externalCalendarItems">
                              <span class="m-r-10">{{ item.start_time | amParse:'YYYY-MM-DD HH:mm' | amDateFormat: 'MMMM D YYYY' }}</span>
                              <span class="m-r-10">from {{ item.start_time | amParse:'YYYY-MM-DD HH:mm' | amDateFormat: 'HH:mm' }}</span>
                              <span class="m-r-10">to {{ item.end_time | amParse:'YYYY-MM-DD HH:mm' | amDateFormat: 'HH:mm' }}</span>
                              <span *ngIf="item.by_appointment_only">by appointment only</span>
                            </li>
                            <li class="list-group-item text-center no-border" *ngIf="!externalCalendarItems.length">
                              No open house
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="listing.ad_type === 'rental' && selected_tab === 'concession'">
          <div class="tab-pane fade in active firststepp" [formGroup]="listingForm">
            <div class="col-lg-12">
              <div class="panel">
                <div class="panel-content">
                  <div class="row">
                    <div class="col-md-5 col-md-push-3 col-sm-12 m-t-15">
                      <form class="row panel panel-primary panel-body" formGroupName="concession_definition" (keyup)="updateConcessionModel()" (change)="updateConcessionModel()" novalidate>
                        <div class="col-sm-8">
                          <div class="form-group">
                            <div class="m-b-10" [ngClass]="{ 'has-error': !opMonthsValid }" *ngIf="commissionType === 'months'">
                              <label class="form-label h3formtop">OP Months</label>
                              <input type="text" (keyup)="validateOpMonths($event)" class="form-control" formControlName="op_months"/>
                            </div>
                            <span class="concessiontxt" *ngIf="commissionType === 'months' && opMonthsValid">
                            {{ (+listingForm.get('concession_definition.op_months').value * listingForm.get('basic.price').value) | currency:'USD':'symbol':'1.0-0' }}
                          </span>
                            <div class="m-b-10" *ngIf="commissionType === 'amount'">
                              <label class="form-label h3formtop">OP Amount</label>
                              <input type="text" class="form-control" formControlName="op_amount"/>
                            </div>
                            <span class="concessiontxt" *ngIf="commissionType === 'amount'">
                            {{ listingForm.get('concession_definition.op_amount').value | currency:'USD':'symbol':'1.0-0' }}
                          </span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <div class="m-b-10">
                              <label class="form-label h3formtop">&nbsp;</label>
                              <select class="form-control"
                                      (change)="toggleCommissionType($event)"
                                      [(ngModel)]="commissionType"
                                      [ngModelOptions]="{ standalone: true }">
                                <option value="months">Months</option>
                                <option value="amount">Fixed amount</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <input type="radio" id="form-and" formControlName="and_or" value="and">
                          <label class="text-size" style="width: initial;"><b>And</b></label>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <input type="radio" id="form-or" formControlName="and_or" value="or">
                          <label class="text-size" style="width: initial;"><b>Or</b></label>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label class="form-label h3formtop">Free Months</label>
                            <select class="form-control" formControlName="free_months">
                              <option *ngFor="let value of getFreeMonths()" [value]="value">{{ value }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-2" style="padding: 1.5em 0; text-align: center;">On a lease for</div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label class="form-label h3formtop">Months Lease</label>
                            <select class="form-control" formControlName="free_on_lease">
                              <option *ngFor="let value of getMonthsLease()" [value]="value">{{ value }}</option>
                            </select>
                          </div>
                        </div>
                      </form>
                      <div class="col-md-12" style="padding: .5em 1em;" *ngIf="opMonthsValid">
                        {{ concessionText }} <br/>
                        <span *ngIf="netEffectivePrice && netEffectivePrice > 0">{{ netEffectivePrice | currency:'USD':'symbol':'1.0-0' }} Net effective</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-content text-right m-t-10 action-btns">
                  <button [disabled]="!has_changes" type="submit" class="btn btn-lg btn-primary"
                          tooltip="Save current changes">Save
                  </button>
                  <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                          (click)="resetForm()"
                          [disabled]="!has_changes">Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-loader [loading]="loading"></app-loader>
</div>
