<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="bsModalRef.hide()">
    <i class="icons-office-52"></i></button>
  <h4 class="modal-title"><strong>Write</strong> an email</h4>
</div>
<div class="email-details popupemail">
  <app-send
    [modal]="true"
    (afterSend)="afterSend()"
    [attachedListings]="items"
    [aformDetails]="aformDetails"
    [prefilledEmail]="email"
    [prefilledSubject]="subject"
    [prefilledMessage]="message"
    [dosFormId]="dosFormId"
    [invoiceId]="invoiceId"
  ></app-send>
</div>
