@import "../../../styles/mixins.less";
@import "../../../styles/variable.less";

.btn-group.buttons-list {
  display: flex;
  flex-direction: row;

  button {
    flex-grow: 1;

    a {
      color: #fff;
    }
  }
}

.submit-section .text-right{
  text-align: right;
}

.chart-group, .tables-container {
  .chart-col {
    > div {
      width: 100%;
      min-height: 300px;
    }
  }

  td:first-child {
    font-weight: bold;
  }

  @media(min-width: 992px) {
    display: table;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .btn-group.buttons-list {
    display: inline-block;

    button {
      padding: 0 20px;
    }
  }
}

rating {

  /deep/ .bs-rating-star {
    font-size: 25px;

    &.active {
      color: @tm-blue;
    }
  }

  /deep/ [role="slider"] {
    outline: none;
  }
}

.neighborhood-item, .display-option-item {

  & > label {
    padding-right: 15px;
  }

  /deep/ .icheckbox_minimal-blue {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.search_r {
  position: absolute;
  right: 15px;
  top: -4px;
}
