<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2>Details for agent <strong *ngIf="agent">{{ agent.name }}</strong></h2>
      </div>
    </div>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-6 m-b-10">
      <div class="dis-inline-b fullwidth" *ngIf="agent">
        <div class="table-responsive">
          <table class="table table-hover dataTable">
            <thead>
            <tr>
              <th>Counts</th>
              <th>Applications</th>
              <th>Inquiries</th>
              <th>Sent messages</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr>
              <td>
                <b>Last month</b>
              </td>
              <td class="text-center">
                {{ agent.counts.applications.month }}
              </td>
              <td class="text-center">
                {{ agent.counts.inquiries.month }}
              </td>
              <td>
                {{ agent.counts.messages.se.month }} SE / {{ agent.counts.messages.rh.month }} RH
              </td>
            </tr>
            <tr>
              <td>
                <b>Last week</b>
              </td>
              <td class="text-center">
                {{ agent.counts.applications.week }}
              </td>
              <td class="text-center">
                {{ agent.counts.inquiries.week }}
              </td>
              <td>
                {{ agent.counts.messages.se.week }} SE / {{ agent.counts.messages.rh.week }} RH
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel searchformpage firststepbg popupwizard firststepp" *ngIf="performances.closed_inquiries">
    <div class="col-md-12">
      <h3>Apply filters</h3>
    </div>
    <form [formGroup]="filterForm" (submit)="initCharts()">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Time</label>
          <select formControlName="since" class="form-control">
            <option [value]="'last_week'">Last week</option>
            <option [value]="'last_month'">Last month</option>
            <option [value]="'last_year'">Last year</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit">Apply</button>
      </div>
    </form>
    <div class="chart-group">
      <div class="col-xs-12">
        <h2 class="text-center">New Inquiries/Time</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12 m-b-20 chart-col">
            <label>
              New Inquiries/Time
            </label>
            <div>
              <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="performances.new_inquiries.data"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="performances.new_inquiries.legend"
                [autoScale]="true"
              ></ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="chart-group">
        <div class="col-xs-12">
          <h2 class="text-center">Closed Inquiries/Time</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="col-md-12 m-b-20 chart-col">
              <label>
                Closed Inquiries/Time
              </label>
              <div>
                <ngx-charts-line-chart
                  [scheme]="colorScheme"
                  [results]="performances.closed_inquiries.data"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="performances.closed_inquiries.legend"
                  [autoScale]="true"
              ></ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart-group">
      <div class="col-xs-12">
        <h2 class="text-center">Messages Sent/Time</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-12 m-b-20 chart-col">
            <label>
              Messages Sent/Time
            </label>
            <div>
              <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="performances.messages_sent.data"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="performances.messages_sent.legend"
                [autoScale]="true"
              ></ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
