<span container="body" [tooltip]="is_short_version?getGrossPriceLabel():null"
>{{ getPrice() | currency:'USD':'symbol-narrow':'1.0-2'  }}
  <span class="label label-default" *ngIf="item.net_effective_price">NET</span>
  <span class="gross-price-label" *ngIf="!is_short_version">{{ getGrossPriceLabel() }}</span>
</span>
