<div class="card-box newest-apartments-box">
  <div class="card-box-header">
    <h3 class="card-box-title">Newest Apartments</h3>
  </div>
  <div class="card-box-body">
    <ul class="list-unstyled newest-apartments-list">
      <li>
        <div class="apartments-thumb ">
          <div class="post-date">3/12/20</div>
          <img src="./images/site/newest-apartments-3.png" alt=""> </div>
        <div class="apartments-info">  
        <div class="d-sm-flex justify-content-between">
         <p><strong class="text-blue">345 East 80th St.</strong></p>
         <p class="text-sm-right">Condo / 1 br 1 ba 700 soft</p>
        </div>
          <div class="d-sm-flex justify-content-between">
         <p><strong>$3,333</strong></p>
         <p class="text-sm-right">Co-Broke, 7.5%, Bold New York </p>
        </div>
          <div class="d-sm-flex justify-content-between">
         <p>E 91st St and E 92nd St</p>
         <p class="text-sm-right">Upper East Side</p>
        </div>
        </div>
        <div class="other-info mt-2 mb-3">
          <p><strong>Other info:</strong> Full Time Doorman / Pets Allowed / Common Outdo… <a href="">Read More</a></p>
        </div>
        <div class="add-btn ">
          <button class="no-style-btn"><i class="far fa-star"></i>Add to fav</button>
          <button class="no-style-btn"><img src="./images/site/add-contact-icon.png" alt=""> Contact</button>
        </div>
      </li>
      <li>
        <div class="apartments-thumb ">
          <div class="post-date">3/12/20</div>
          <img src="./images/site/newest-apartments-1.png" alt=""> </div>
        <div class="apartments-info">  
        <div class="d-sm-flex justify-content-between">
         <p><strong class="text-blue">345 East 80th St.</strong></p>
         <p class="text-sm-right">Condo / 1 br 1 ba 700 soft</p>
        </div>
          <div class="d-sm-flex justify-content-between">
         <p><strong>$3,333</strong></p>
         <p class="text-sm-right">Co-Broke, 7.5%, Bold New York </p>
        </div>
          <div class="d-sm-flex justify-content-between">
         <p>E 91st St and E 92nd St</p>
         <p class="text-sm-right">Upper East Side</p>
        </div>
        </div>
        <div class="other-info mt-2 mb-3">
          <p><strong>Other info:</strong> Full Time Doorman / Pets Allowed / Common Outdo… <a href="">Read More</a></p>
        </div>
        <div class="add-btn ">
          <button class="no-style-btn"><i class="far fa-star"></i>Add to fav</button>
          <button class="no-style-btn"><img src="./images/site/add-contact-icon.png" alt=""> Contact</button>
        </div>
      </li>
      <li>
        <div class="apartments-thumb ">
          <div class="post-date">3/12/20</div>
          <img src="./images/site/newest-apartments-2.png" alt=""> </div>
        <div class="apartments-info">  
        <div class="d-sm-flex justify-content-between">
         <p><strong class="text-blue">345 East 80th St.</strong></p>
         <p class="text-sm-right">Condo / 1 br 1 ba 700 soft</p>
        </div>
          <div class="d-sm-flex justify-content-between">
         <p><strong>$3,333</strong></p>
         <p class="text-sm-right">Co-Broke, 7.5%, Bold New York </p>
        </div>
          <div class="d-sm-flex justify-content-between">
         <p>E 91st St and E 92nd St</p>
         <p class="text-sm-right">Upper East Side</p>
        </div>
        </div>
        <div class="other-info mt-2 mb-3">
          <p><strong>Other info:</strong> Full Time Doorman / Pets Allowed / Common Outdo… <a href="">Read More</a></p>
        </div>
        <div class="add-btn ">
          <button class="no-style-btn"><i class="far fa-star"></i>Add to fav</button>
          <button class="no-style-btn"><img src="./images/site/add-contact-icon.png" alt=""> Contact</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-box-footer">
    <div class="pagination mt-3 mb-2">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class=""> &lt;&lt; Previous</li>
          <li class=""><a href="#">1...8</a></li>
          <li class="active"><a href="#">9</a></li>
          <li ><a href="#">10</a></li>
          <li ><a href="#">11...20</a></li>
          <li><a href="#">Next &gt;&gt; </a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>