<div class="col-md-12">
  <div class="header searchresultheading">
    <h2>Edit <strong>Profile</strong></h2>
  </div>

  <div class="nav-scroll">
      <div class="wizard-div current wizard-sea popupwizard">

        <tabset class="nav nav-tabs">
          <tab heading="Profile settings">
            <div class="row">
              <div class="col-md-6">

                <form (ngSubmit)="updateUser()" [formGroup]="userForm" novalidate>

                  <div class="form-group"
                       [ngClass]="{ 'has-error': userModel && userForm.get('first_name').invalid }">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Enter first name"
                           name="first_name"
                           formControlName="first_name">
                    <span *ngIf="userModel && userForm.get('first_name').invalid"
                          class="help-block">First name is required</span>
                  </div>

                  <div class="form-group"
                       [ngClass]="{ 'has-error': userModel && userForm.get('last_name').invalid }">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name"
                           formControlName="last_name">
                    <span *ngIf="userModel && userForm.get('last_name').invalid"
                          class="help-block">Last name is required</span>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': userModel && userForm.get('phone').invalid }">
                    <label for="phone">Phone:</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Enter phone" name="phone"
                           formControlName="phone">
                    <span *ngIf="userModel && userForm.get('phone').invalid" class="help-block">Phone is invalid</span>
                  </div>

                  <div class="form-group">
                    <label for="position">Position:</label>
                    <input type="text" class="form-control" id="position" placeholder="Agent position" name="position"
                           formControlName="position">
                    <span *ngIf="userModel && userForm.get('position').invalid" class="help-block">Position is invalid</span>
                  </div>

                  <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" placeholder="Enter description" name="description"
                              formControlName="description"></textarea>
                  </div>

                  <div class="text-danger m-b-10" *ngIf="errorMsg">{{ errorMsg }}</div>
                  <button [disabled]="submit_disabled || submitting" type="submit"
                          class="btn btn-primary">Submit
                  </button>
                  <span *ngIf="submitting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </form>
              </div>
              <div class="col-md-3">
                <div class="drop-container p-20 " ngFileDrop [options]="uploaderOptions" *ngIf="userModel"
                     (uploadOutput)="onUploadOutput($event)"
                     [ngClass]="{ 'is-drop-over': dragOver }"
                     [uploadInput]="uploadInput">

                  <app-loader *ngIf="uploading" [loading]="uploading"></app-loader>
                  <label class="upload-button">
                    <input #uploadinput class="dis-none" type="file" ngFileSelect [options]="uploaderOptions"
                           (uploadOutput)="onUploadOutput($event)"
                           [uploadInput]="uploadInput" multiple> <i
                    class="fa fa-pencil cursor-pointer c-primary"></i></label>

                  <i *ngIf="!userModel.photo" class="icon-user-face icon icons-faces-users-01"></i>
                  <img *ngIf="userModel.photo" [src]="userModel.getPhotoUrl('wadmin')" class="img img-responsive"/>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Preferences">
            <div class="row">
              <div class="col-md-6">

                <form (ngSubmit)="changePreferences()" *ngIf="userModel" [formGroup]="preferenceForm" novalidate>

                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_notification_email">
                      <input appIcheck type="checkbox" id="agent_notification_email" name="agent_notification_email"
                             [checked]="preferenceForm.get('agent_notification_email').value"
                             (checked)="preferenceForm.get('agent_notification_email').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_notification_email').patchValue(0)"
                      >Receive email notifications</label>
                  </div>
                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_notification_push">
                      <input appIcheck type="checkbox" id="agent_notification_push" name="agent_notification_push"
                             [checked]="preferenceForm.get('agent_notification_push').value"
                             (checked)="preferenceForm.get('agent_notification_push').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_notification_push').patchValue(0)"
                      >Receive push notifications</label>
                  </div>
                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_show_on_signin_form">
                      <input appIcheck type="checkbox" id="agent_show_on_signin_form" name="agent_show_on_signin_form"
                             [checked]="preferenceForm.get('agent_show_on_signin_form').value"
                             (checked)="preferenceForm.get('agent_show_on_signin_form').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_show_on_signin_form').patchValue(0)"
                      >Show on signin form</label>
                  </div>
                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_publish_ad_se">
                      <input appIcheck type="checkbox" id="agent_publish_ad_se" name="agent_publish_ad_se"
                             [checked]="preferenceForm.get('agent_publish_ad_se').value"
                             (checked)="preferenceForm.get('agent_publish_ad_se').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_publish_ad_se').patchValue(0)"
                      >Publish advertisements to StreetEasy</label>
                  </div>
                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_publish_ad_na">
                      <input appIcheck type="checkbox" id="agent_publish_ad_na" name="agent_publish_ad_na"
                             [checked]="preferenceForm.get('agent_publish_ad_na').value"
                             (checked)="preferenceForm.get('agent_publish_ad_na').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_publish_ad_na').patchValue(0)"
                      >Publish advertisements to Naked Apartments</label>
                  </div>
                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_publish_ad_rh">
                      <input appIcheck type="checkbox" id="agent_publish_ad_rh" name="agent_publish_ad_rh"
                             [checked]="preferenceForm.get('agent_publish_ad_rh').value"
                             (checked)="preferenceForm.get('agent_publish_ad_rh').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_publish_ad_rh').patchValue(0)"
                      >Publish advertisements to Rent Hop</label>
                  </div>
                  <div class="checkbox m-b-20">
                    <label class="p-l-0" for="agent_rh_bot_enabled">
                      <input appIcheck type="checkbox" id="agent_rh_bot_enabled" name="agent_rh_bot_enabled"
                             [checked]="preferenceForm.get('agent_rh_bot_enabled').value"
                             (checked)="preferenceForm.get('agent_rh_bot_enabled').patchValue(1)"
                             (unchecked)="preferenceForm.get('agent_rh_bot_enabled').patchValue(0)"
                      >Enable Rent Hop bot</label>
                  </div>
                  <div class="m-b-20 form-group">
                    <label class="p-l-0 control-label" for="agent_rh_bot_username">Rent Hop username</label>
                    <input type="text" class="form-control" id="agent_rh_bot_username" name="agent_rh_bot_username" formControlName="agent_rh_bot_username">
                  </div>
                  <div class="m-b-20 form-group">
                    <label class="p-l-0 control-label" for="agent_rh_bot_password">Rent Hop password&nbsp;
                      <i class="cursor-pointer fas" [class.fa-eye-slash]="show_rh_pwd" [class.fa-eye]="!show_rh_pwd" (click)="toggleRhPasswordShow()"> </i>
                    </label>
                    <input [type]="show_rh_pwd ? 'text' : 'password'" class="form-control" id="agent_rh_bot_password" name="agent_rh_bot_password" formControlName="agent_rh_bot_password">
                  </div>
                  <div class="m-b-20 form-group">
                    <label class="p-l-0 control-label" for="agent_license_number">License Number</label>
                    <input type="text" class="form-control" id="agent_license_number" name="agent_license_number" formControlName="agent_license_number">
                  </div>
                  <div class="m-b-20 form-group">
                    <label class="p-l-0 control-label" for="agent_aliases">Aliases (separate with comma ",")</label>
                    <input type="text" class="form-control" id="agent_aliases" name="agent_aliases" formControlName="agent_aliases">
                  </div>

                  <div class="text-danger m-b-10" *ngIf="preferenceErrorMsg">{{ preferenceErrorMsg }}</div>
                  <button [disabled]="submit_preference_disabled || submitting" type="submit"
                          class="btn btn-primary">Save preferences
                  </button>
                  <span *ngIf="submitting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </form>
              </div>
            </div>
          </tab>
          <tab heading="Signature">
            <div class="row">
              <div class="col-md-6">
                <form (ngSubmit)="updateAgentSignature()" *ngIf="userModel" [formGroup]="signatureForm" novalidate>

                  <div class="m-b-20">
                    <label class="p-l-0">Signature</label>
                    <app-signature-editor [dataUrl]="existing_signature" (drawn)="onSignatureDrawn($event)"></app-signature-editor>
                  </div>

                  <button [disabled]="submitting" type="submit"
                          class="btn btn-primary">Save signature
                  </button>
                  <span *ngIf="submitting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>

                </form>
              </div>
            </div>
          </tab>
        </tabset>

      </div>

  </div>
</div>

<app-loader [loading]="!userModel"></app-loader>
