@import "../../../styles/mixins.less";
@import "../../../styles/variable.less";

.drop-container {
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  min-height: 350px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  border: 2px dashed #C0C4C7;
  text-align: center;
  display: flex;

  &.is-drop-over {
    background-color: @bacground-lighter;
    border: 2px dashed @primary;
  }

  app-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    /deep/ .loader-overlay {
      position: absolute;
    }
  }

  .upload-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;

    input[type="file"] {
      display: none !important;
    }
    i {
      font-size: 24px;

      &:hover {
        color: @primary-hover;
      }
    }
  }

  .icon-user-face {
    font-size: 180px;
  }
}

tabset /deep/ .nav-tabs {
  .nav-link, .nav-link:focus, .nav-link:active {
    background-color: #fff !important;
  }
}

/deep/ .wizard-div.current.wizard-sea.popupwizard .tab-content {
  padding: 20px 15px !important;
}
