
<div class="row align-items-start">
  <div class="col-lg-7 pr-xl-5">
  <app-inquiries></app-inquiries>
  <app-desh-comps></app-desh-comps>
  <app-desh-newestapartments></app-desh-newestapartments>
  </div>
  <div class="col-lg-5 pl-xl-5">
  <app-desh-clients></app-desh-clients>
  <app-desh-rentalsalesstates></app-desh-rentalsalesstates>
  </div>
  <!-- <app-new-listings></app-new-listings> -->

  

</div>
