<div *ngIf="invoice && invoice.type === 'rental'">
  <app-edit-invoice-rental [invoice]="invoice"></app-edit-invoice-rental>
</div>
<div *ngIf="invoice && invoice.type === 'sale'">
  <app-edit-invoice-sale [invoice]="invoice"></app-edit-invoice-sale>
</div>
<app-loader [loading]="loading"></app-loader>
