
  <div class="card-box inquiries-box">
    <div class="card-box-header">
      <h3 class="card-box-title">
        <!-- <i class="icon-list"></i> -->
        Listing <strong>Inquiries</strong>
        
      </h3>
      <div class="filter">
        <button type="button" class="btn btn-outline-secondary" (click)="initInquiries()">
          <i class="fas fa-refresh"></i> Refresh Inquiries
        </button>
      </div>
    </div>
    <div class="card-box-body">
      <app-loader [loading]="loading"></app-loader>
      <div *ngIf="!loading">
        <div class="col-md-12 p-0">
          <div class="text-center" *ngIf="!inquiries.length">
            <h4 class="m-20">There are currently no inquiries.</h4>
          </div>
          <div class="inquiries-list">
            <!-- <div class="inquiry-item p-10 m-b-10"
             [class.unread]="needsResponse(inquiry)"
             [class.has-reminder]="inquiry.has_reminder && inquiry.status === 'PROGRESS'"
             [class.broker]="inquiry.is_broker || inquiry.has_error"
             *ngFor="let inquiry of inquiries"
        > -->
        <div class="inquiry-item p-10 m-b-10"
        *ngFor="let inquiry of inquiries"
   >
        <div class="needs-response" [tooltip]="'A response is needed'" [container]="'body'" *ngIf="needsResponse(inquiry)"></div>
        <span *ngIf="inquiry.ad_type"><strong>For {{ inquiry.ad_type.charAt(0).toUpperCase() + inquiry.ad_type.slice(1) }}</strong></span>
        <a *ngIf="inquiry.listing_id"
              class="cursor-pointer has-link"
              [routerLink]="['/listing', inquiry.listing_id, 'details']">{{ inquiry.address ? inquiry.address + ', ' + inquiry.unit : inquiry.subject }}</a>
        <p class="text-sm-right">{{ inquiry.date | appDateFormat:'aform':'time' }}</p>
        <span *ngIf="!inquiry.listing_id">{{ inquiry.address ? inquiry.address + ', ' + inquiry.unit : inquiry.subject }}</span>
        <span *ngIf="inquiry.message_count && !inquiry.is_broker">&nbsp;(<b>{{ inquiry.message_count }}</b> {{ inquiry.message_count | i18nPlural: msgPlural }})</span>
        <!-- <span class="badge error" *ngIf="inquiry.has_error">Error</span> -->
        <!-- <span class="badge broker" *ngIf="inquiry.is_broker">Broker</span> -->
        <span class="badge new" *ngIf="inquiry.message_count == 1 && !inquiry.is_broker && !inquiry.has_error ">New</span>
        <div class="d-sm-flex justify-content-between">
          <p class=""> <strong>Source:</strong> <span [class]="'badge ' + inquiry.src_type">{{ getBadgeText(inquiry.src_type) }}</span> </p>
          <p class="text-sm-right"> <strong>From:</strong> <a class="cursor-pointer has-link" *ngIf="inquiry.client_id" [routerLink]="['/client', inquiry.client_id, 'details']" [queryParams]="{ 'opened_tab': 'inquiries' }">{{ inquiry.name}}</a></p>
        </div>
        <div class="d-sm-flex justify-content-between">
          <p> <strong>Phone:</strong> 555-555-5555 </p>
          <p class="text-sm-right"> <strong> Email:</strong> {{ inquiry.email ? ' (' + inquiry.email + ')' : ''}} </p>
        </div>
        <!-- <app-inquiry-status [inquiry]="inquiry"></app-inquiry-status> -->

        <!-- <hr> -->
			  
			  <!-- <span *ngIf="inquiry.client_id || inquiry.name || inquiry.email">&nbsp;
				<b>From:</b>
				<a class="cursor-pointer has-link" *ngIf="inquiry.client_id" [routerLink]="['/client', inquiry.client_id, 'details']" [queryParams]="{ 'opened_tab': 'inquiries' }">{{ inquiry.name}}</a>
				<span *ngIf="!inquiry.client_id">{{ inquiry.name }}</span>
			  </span> -->
        <div class="message-box">
          <div class="message">
            <p><strong>Message:</strong></p>
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id metus
              odio. Orci varius natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Cras placerat et risus ac iaculis. Sed ornare augue
              Reply to message Send </blockquote>
          </div>
          <div class="form-group row ">
            <div class="col-8  mr-2"><input class="form-control " type="text" placeholder="Reply to message"></div>
            <button class="btn btn-yello col-2">Send</button>
          </div>
          <div class="keyword"> <strong>Keywords:</strong> tincidunt non faucibus vitae elementum eu nisl etiam at consequat
            enim Aenean vitae purus in nulla lobortis tristique </div>
        </div>
			  <!-- <span *ngIf="inquiry.assigned"><b>Assigned to:</b>
          <span>{{ inquiry.assigned.name}}</span>
			  </span> -->

              <div [class.alarm]="inquiry.alarm" class="time-ago" *ngIf="inquiry.last_message_time && !inquiry.is_broker">Last message {{ getDateFromTimestamp(inquiry.last_message_time) | amTimeAgo }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
