@import '../../../../styles/variable.less';

.widget-news /deep/ app-loader{
  position: initial;

  .loader-overlay{
    position: absolute;
  }
}

hr {
  margin: 6px 0;
}

.inquiry-list {
  /* border-top: 2px solid #dfdfdf;*/

  background-color: #ffffff;
}

.inquiry-item {
  position: relative;

  border-radius: 4px;

  background-color: white;

  &.unread {
    border: 1px solid @timeline-color-blue;
  }

  &.has-reminder {
    border: 1px solid @mailbox-color-red;
  }

  &.broker {
    background-color: #ededf0;
    color: #878787;
  }

  & .has-link {
    color: @timeline-color-blue;
  }

  & div.needs-response {
    position: absolute;

    top: -6px;
    left: -6px;

    width: 12px;
    height: 12px;
    
    border-radius: 50%;

    margin: 0;
    padding: 0;

    background-color: @timeline-color-blue;
  }

  & .time-ago {
    text-align: right;
    font-style: italic;
  }

  & .alarm {
    color: #C00;
  }

  & .date {
    float: right;

    font-style: italic;
  }

  & .badge {
    border-radius: 4px;

    font-size: 0.85em;

    font-weight: bold;
    text-transform: uppercase;
  
    padding: 3px 6px;

    float: right;

    margin: 0 2px;
  
    &.error {
      color: white;
      background-color: red;
    }

    &.unknown {
      color: white;
      background-color: rgb(206, 169, 4);
    }

    &.new {
	  color: rgb(32, 32, 128);
      background-color: yellow;
    }

    &.broker {
      color: black;
      background-color: rgb(216, 215, 215);
    }

    &.street_easy_inquiry {
      color: white;
      background-color: blue;
    }

    &.rent_hop_inquiry {
      color: white;
      background-color: #2fac1e;
    }
  }
}

@media (max-width: 492px) {
  .inquiry-item .badge {
    float: none;
  }
}

@media (max-width: 767px) {
    .nlistingdashboard .panel {
      height: auto !important;
    }
}
