<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-xs-6 p-0">
        <h2><strong>Building</strong></h2>
    </div>
    <div class="col-xs-6 p-0 m-1723">
        <ul class="header-menu nav searchsearchhead">
          <li class="m-t-0 m-l-20">
            <div class="append-icon">
              <input class="form-control form-white pull-right" name="search_text_input" placeholder="Search..."
                     type="text" (keyup)="searchTerm.emit($event.target.value)">
              <i class="icon-magnifier" *ngIf="!searching"></i>
              <i *ngIf="searching" class="p-0 glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
            </div>
          </li>
        </ul>
      </div>
  </div>


  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="result.length">
            <thead>
            <tr>
              <th>Address</th>
              <th>Neighborhood</th>
              <th>Ownership</th>
              <th>Building type</th>
              <th>Pet policy</th>
              <th>Rentals</th>
              <th>Sales</th>
              <th></th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr *ngFor="let building of result">
              <td>{{ building.address }}</td>
              <td>{{ building.neighborhood }}</td>
              <td>{{ building.ownership }}</td>
              <td>{{ building.building_type }}</td>
              <td>{{ building.pet_policy }}</td>
              <td>{{ building.rentals }}</td>
              <td>{{ building.sales }}</td>
              <td class="text-center">
                <a [routerLink]="['/building', building.building_id, 'details']" class="btn btn-sm btn-primary">View</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!result.length && loaded">Buildings not found</h2></div>
      <div *ngIf="result.length < total"
           class="text-center">
        <button [disabled]="loading" class="btn btn-primary" (click)="loadMore()">Load More</button>
      </div>
    </div>
    <div class="row" *ngIf="loaded && result.length">
      <div class="col-md-6">
        <div aria-live="polite" class="dataTables_info" role="status">
          Showing entries 1 through {{ result.length }} out of {{ total }}
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
