.account2{
  min-height: 100vh;
  background: url("../../../images/gallery/login.jpg");
  background-size: cover;

  &:before {
    background-color: rgba(15, 15, 15, 0.6);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
