<section class="app">
  <aside class="aside-md emails-list" [ngClass]="{ 'opened-message' : displayed_thread }">
    <section>
      <div class="mailbox-page clearfix">
        <div class="col-xs-12 col-sm-6">
          <h1 *ngIf="folder_model" class="pull-left">{{ folder_model.name || '' | capitaliseFirst:true }}
            <span class="text-info f-26" *ngIf="q_filter">({{ q_filter }})</span></h1>
          <a target="_blank" (click)="composeMessage()" class="btn btn-danger m-l-20">Compose</a>
        </div>
        <div class="col-xs-12 col-sm-6 md-width">
          <div class="append-icon">
            <input type="text" class="form-control form-white pull-right" id="email-search" placeholder="Search..."
                   (keyup)="searchTerm.next($event.target.value)">
            <i class="icon-magnifier"></i>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs text-right"  *ngIf="threads.length">
        <li class="emails-action">
          <div dropdown class="pos-rel dis-inline m-l-5 p-l-10 m-b-5">
            <input type="checkbox" appIcheck [(ngModel)]="select_all" (checked)="selectAllMessages()"
                   (unchecked)="unselectAllMessages()"
                   [is_partial]="is_partial_select"/>
          </div>
          <div class="dis-inline-b btn-group m-l-10" *ngIf="selected_threads.length > 0">
            <a [href] class="btn btn-xs btn-danger mb-action-btn m-b-5" (click)="deleteMessages()">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <div dropdown class="pos-rel dis-inline m-l-10" *ngIf="selected_threads.length > 0">
            <a dropdownToggle class="btn btn-xs btn-primary mb-action-btn m-b-5">
              <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li><a [href] class="remove-menu" (click)="markAs('seen')">Mark as read</a></li>
              <li><a [href] class="hide-top-sidebar" (click)="unmarkAs('seen')">Mark as unread</a></li>
              <li><a [href] class="hide-top-sidebar" (click)="markAs('flagged')">Mark as importan</a></li>
              <li><a [href] class="hide-top-sidebar" (click)="unmarkAs('flagged')">Mark as unimportant</a></li>
            </ul>
          </div>
        </li>
        <li class="f-right" *ngFor="let sort of sortData" [ngClass]="{ active:sortField === sort.field }"><a
          (click)="sortMessages(sort.field)">{{ sort.label }}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="recent" *ngIf="threads.length">
          <ng-scrollbar [style.height.px]="scroll_height-200">
            <div class="messages-list withScroll show-scroll" data-padding="180" data-height="window">
              <div class="message-item media" *ngFor="let thread of threads"
                   [contextMenu]="basicMenu" [contextMenuSubject]="thread"
                   [ngClass]="{unread: !thread.seen, seen: thread.seen, opened: displayed_thread === thread }">
                <div class="message-select">
                  <input class="pos-rel" type="checkbox" appIcheck
                         (checked)="selectThread(thread)"
                         (unchecked)="unselectThread(thread)"
                         [(ngModel)]="thread.selected"
                  />
                </div>
                <div class="pos-rel media m-l-20" (click)="openMessage(thread)">
                  <img *ngIf="thread.hasAvatar()" [src]="thread.getAvatarUrl()" alt="avatar"
                       width="40" class="sender-img">
                  <div class="message-item-body m-l-0">
                    <div class="sender">{{ thread.getSenderName() }}
                      <span *ngIf="thread.thread_count>1">({{ thread.thread_count }})</span></div>
                    <div class="subject">
                      <span *ngIf="thread.from_info && thread.from_info.title" class="label"
                            [ngStyle]="{ 'background-color': thread.from_info.bgColor, color: thread.from_info.color }">{{ thread.from_info.title }}</span>
                      <i *ngIf="thread.hasAttachment()" class="icon-paper-clip"></i>
                      <span class="subject-text">
                        <i *ngIf="thread.hasPayload()" class="fa fa-home" container="body"
                           tooltip="There are listings attached in this thread"></i>
                        <span class="inner-subject">{{ thread.getSubject() }}</span> &mdash; <span [innerHTML]="getSnippetAsSafeHTML(thread.snippet | ellipsis:'characters':128)"></span></span>
                    </div>
                    <div class="date">{{ thread.time_created | amCalendar:{sameDay:'h:mm A', lastDay: 'MMM D',
                      lastWeek: 'MMM D', thisMonth: 'MMM D'} }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center m-t-20" *ngIf="next_page_token">
              <strong *ngIf="loading_more">Loading...</strong>
              <button *ngIf="!loading_more" class="btn btn-primary" (click)="loadMore()">Load more</button>
            </div>
          </ng-scrollbar>

        </div>
        <div *ngIf="threads.length === 0">
          <div class="text-center m-t-40 m-b-60 f-28">No messages</div>
        </div>
      </div>
    </section>
  </aside>
  <div class="email-details" *ngIf="displayed_thread">
    <app-message-details [thread]="displayed_thread" (syncAllMessages)="syncAllMessages()"></app-message-details>
  </div>
</section>
<app-loader [loading]="loading"></app-loader>
<context-menu #basicMenu [menuClass]="'email-context'">
  <ng-template contextMenuItem (execute)="addMessageTag($event.item, 'client')"><i class="fa fa-circle-o c-green"></i>
    Client
  </ng-template>
  <!--<ng-template contextMenuItem (execute)="removeMessageTag($event.item)" )><i class="fa fa-circle-o c-gray"></i> No tag-->
  <!--</ng-template>-->
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="removeMessage($event.item)"><i class="fa fa-times"></i> Remove Email
  </ng-template>
</context-menu>
