@import "../../../styles/variable";
@import "../../../styles/mixins";

@mailbox-color-black: #212121;

.mb-action-btn {
  min-width: 30px;
  margin: 0;

  & > i {
    color: white;
    padding: 0;
    font-size: 13px;

    &:hover {
      color: white;
    }
  }
}

.line-breaker {
  white-space: pre-line;
}

.subject-text {
  font-weight: 400;

  .inner-subject {
    color: @mailbox-color-dark;
  }
}

.seen {
  .sender, .subject-text .inner-subject {
    font-weight: 400;
    color: @mailbox-color-black;
  }
  .date {
    color: @mailbox-color-black;
  }
}

.unread {
  background-color: @mailbox-color-white;

  .sender {
    color: @mailbox-color-black;
  }

  .subject-text {

    .inner-subject {
      color: @mailbox-color-black;
      font-weight: 600;
    }
  }
  .date {
    color: @mailbox-color-black;
    font-weight: 600;
  }
}

.opened {
  background-color: @default-hover;
}

.ng-scrollbar {
  min-height: 400px;
}

.message-select {
  position: absolute;
  left: 16px;
  top: 5px;
}

.opened-message {
  display: none;
}

/deep/ .icheckbox_minimal-blue.partial {
  background-position: -20px 0;

  &:after {
    content: "-";
    color: #2b89c5;
    display: inline-block;
    z-index: 1;
    margin-top: -6px;
    font-size: 36px;
    margin-left: 3px;
  }

  //&.checked {
  //  background-position: -40px 0;
  //
  //  &:after {
  //    display: none;
  //  }
  //}
}
@media (max-width: 767px) {
  .emails-list .mailbox-page input {
    max-width: 100% !important;
  }
}

.app aside {
  padding-right: 0px !important;
}

@media (max-width: 767px) {
  /deep/ .page-app.mailbox .message-item .sender {
    margin-left: 0px !important;
    min-width: unset !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
