<div class="col-md-12">
  <div class="row header searchresultheading">
    <h2>Create <strong>Deal</strong><span *ngIf="is_supervisor"> &mdash; Supervisor</span></h2>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="panel panel-primary">
          <div class="panel-heading">Choose a client</div>
          <div class="panel-body" *ngIf="!loading">
            <div class="form-group">
              <label class="form-label h3formtop">Select client</label>
              <ng-select
                [(ngModel)]="client_data.selected"
                [ngModelOptions]="{ standalone: true }"
                [dropdownPosition]="'bottom'"
                [closeOnSelect]="true"
                [hideSelected]="true"
                [selectOnTab]="true"
                [markFirst]="true"
                placeholder="Client name"
                [items]="client_data.values"
                [multiple]="false"
                [loading]="client_data.loading"
                [typeahead]="client_data.typeahead"
                (change)="client_data.on_change($event)"
                bindLabel="name"
                bindValue="value"
                [addTag]="client_data.create"
                [addTagText]="'Create new client:'"
              >
              </ng-select>
            </div>
            <div *ngIf="is_supervisor">
              <span *ngIf="checking_source">Checking source...</span>
              <span *ngIf="!checking_source && client_data?.values[0]?.name">Source: {{ client_source === null ? 'No known source' : client_source }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-primary m-b-0 row">
          <div class="panel-content m-t-10 m-l-20 m-r-20 action-btns">
            <button type="button"class="btn btn-lg btn-primary" tooltip="Create new deal"
                    (click)="submit()"
                    [disabled]="false">Submit
            </button>
            <button type="button" class="btn btn-lg btn-default" tooltip="Cancel changes"
                    (click)="cancel()"
                    [disabled]="false">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
