<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2><strong>OP</strong> invoices &mdash; {{ type === 'rental' ? 'Rentals' : 'Sales' }}<span *ngIf="isSupervisor()">Supervisor View</span></h2>

      </div>
    </div>
  </div>

  <div class="col-md-12 m-b-10">
    <button class="btn btn-sm btn-success m-t-10" container="body" tooltip="Create new invoice" type="button" (click)="createNewInvoice()">
      New OP Invoice
    </button>
  </div>

  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow">
    <div *ngIf="isSupervisor()" class="form-group">
      <div class="m-b-10 col-md-6">
        <label class="control-label">Agent</label>
        <select class="form-control"
                [(ngModel)]="selected_agent_id"
                [ngModelOptions]="{ standalone: true }"
                (change)="loadInvoices(true)">
          <option value="-1">All Invoices</option>
          <option *ngFor="let agent of agent_list" [value]="agent.user_id">{{ agent.name }}</option>
        </select>
      </div>
      <div class="m-b-10 col-md-6">
        <label class="control-label">Invoice status</label>
        <select class="form-control"
                [(ngModel)]="invoice_status_filter"
                [ngModelOptions]="{ standalone: true }"
                (change)="loadInvoices(true)">
          <option value="all">Any status</option>
          <option value="new">New</option>
          <option [value]="type === 'rental' ? 'op_received' : 'received'"><span *ngIf="type === 'rental'">OP </span>Received</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="table-responsive">
          <table class="table table-hover dataTable" *ngIf="invoices.length">
            <thead>
              <tr>
                <th *ngIf="isSupervisor()">Agent name</th>
                <th>Invoice no.</th>
                <th>Status</th>
                <th>Management</th>
                <th>Property address</th>
                <th>Contact name</th>
                <th>Contact email</th>
                <th>Contact phone</th>
                <th>Invoice date</th>
                <th style="width: 250px">Actions</th>
              </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <tr *ngFor="let invoice of invoices">
                <td *ngIf="isSupervisor()">{{ invoice.agent_name }}</td>
                <td>
                  <a [routerLink]="['/invoices', invoice.invoice_id, 'details']">{{ invoice.invoice_no }}</a>
                </td>
                <td>
                  <select class="form-control"
                          [(ngModel)]="invoice.status"
                          [disabled]="!isSupervisor()"
                          [attr.readonly]="isSupervisor() ? null: true"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="onStatusChange($event, invoice)">
                    <option value="new">New</option>
                    <option [value]="type === 'rental' ? 'op_received' : 'received'"><span *ngIf="type === 'rental'">OP </span>Received</option>
                  </select>
                </td>
                <td>
                  {{ invoice.management_company }}
                </td>
                <td>
                  {{ invoice.property_address + (invoice.property_unit ? ', ' + invoice.property_unit : '') }}
                </td>
                <td>
                  {{ invoice.contact_name }}
                </td>
                <td>
                  <a *ngIf="invoice.contact_email" class="cursor-pointer" appMailPopup [email]="invoice.contact_email">{{ invoice.contact_email }}</a>
                  <span *ngIf="!invoice.contact_email">N/A</span>
                </td>
                <td>{{ invoice.contact_phone || 'N/A' }}</td>
                <td>{{ invoice.date | appDateFormat:'aform':'time' }}</td>
                <td>
                  <button type="button" class="btn btn-xs btn-primary" tooltip="Send as PDF" placement="bottom" (click)="sendAsPdf(invoice)">
                    <i class="fas fa-envelope"></i>
                  </button>
                  <a [href]="invoice.getDownloadUrl()" type="button" class="btn btn-xs btn-primary" tooltip="Download PDF" placement="bottom">
                    <i class="fas fa-file-pdf"></i>
                  </a>
                  <a class="cursor-pointer btn btn-xs btn-default" tooltip="Edit this invoice" placement="bottom" [routerLink]="['/invoices', invoice.invoice_id, 'edit']">
                    <i class="fas fa-edit"></i>
                  </a>
                  <button type="button" class="btn btn-xs btn-danger" tooltip="Delete invoice" placement="bottom" (click)="deleteInvoice(invoice)">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center"><h2 *ngIf="!invoices.length && loaded">No invoices found</h2></div>
      <div *ngIf="invoices.length < total"
           class="text-center">
        <button [disabled]="loading" class="btn btn-primary" (click)="loadMore()">Load more</button>
      </div>
    </div>

  </div>
</div>
<app-loader [loading]="!loaded"></app-loader>
