<i *ngIf="!user.photo" class="icon-user-face icon icons-faces-users-01"></i>
<div class="user-details">
  <img class="pull-left" *ngIf="user.photo" [src]="user.getPhotoUrl()">
  <h4>{{ user.first_name }} {{ user.last_name }}</h4>
</div>
