<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2>Application <strong>Details</strong></h2>
      </div>
    </div>
    <div class="action-block">
      <a *ngIf="application && checkSignature()" [href]="application.getDownloadUrl()" class="btn btn-sm btn-default">Download</a>
      <button class="btn btn-sm btn-danger" [appDeleteApplication]="application"
              (deleted)="removeApplication($event)">Delete
      </button>
    </div>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 m-b-0 boxsshadow" *ngIf="application && !checkSignature()">
    <div class="col-md-12 m-b-0">
      <div class="dis-inline-b fullwidth">
        <div class="panel panel-danger">
          <div class="panel-heading">Warning</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                This application form is not signed! It cannot be downloaded until it is signed.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow" *ngIf="application">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="panel panel-primary" *ngFor="let name of objectKeys(sections)">
          <div class="panel-heading">{{ name }}</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 field-item p-5 m-0" *ngFor="let item of sections[name]"
                   [tooltip]="item.error.length ? item.error.join('. ') : ''"
                   [ngClass]="{ 'alert alert-danger': item.error.length }">
                <span *ngIf="item.field.type !== 'file'">
                  <div class="col-md-6 title">{{ item.field.title }}</div>
                  <div class="col-md-6 value">{{ item.value }}</div>
                </span>
                <span *ngIf="item.field.type === 'file' && item.field.title !== 'Signature'">
                  <div class="col-md-6 title">{{ item.field.title }}</div>
                  <div class="col-md-6 value">
                    <a target="_blank" *ngIf="item.value" [href]="item.value.url">{{ item.value.filename }}</a>
                    <label class="upload-button inline-i">
                      <input class="dis-none" type="file" #file (change)="onUploadOutput(file.files, item.field.field)">
                      <i class="fa fa-pencil cursor-pointer c-primary" [tooltip]="item.value ? 'Update file' : 'Upload file'"></i>
                    </label>
                  </div>
                </span>
                <span *ngIf="item.field.type === 'file' && item.field.title === 'Signature' && item.value?.url">
                  <img [src]="item.value.url">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
