.field-item {

  .title {
    font-weight: bold;
  }

}

.action-block {
  position: absolute;
  right: 0;
  background: #fff;
  padding: 8px 20px;
  bottom: 0;
}

.dis-none {
  display: none;
}

.inline-i {
  display: inline !important;
  padding-left: 6px;
}