<div class="col-md-12">

  <div class="header searchresultheading">
    <div class="col-md-12">
      <div class="row">
        <h2>Deal <strong>Details</strong></h2>
      </div>
    </div>
    <div class="action-block" *ngIf="deal_details && (is_supervisor || deal_details.draft)">
      <a [routerLink]="['/client', 'deals', deal_details.deal_sheet_id, 'edit']" class="btn btn-sm btn-default">Edit</a>
    </div>
  </div>
  <div class="panel mylistingsearch serachresultbox profil-content m-t-0 boxsshadow" *ngIf="deal_details">
    <div class="col-md-12 m-b-10">
      <div class="dis-inline-b fullwidth">
        <div class="panel panel-primary">
          <div class="panel-heading">Basic info</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label h3formtop">Status</label>
                  <select class="form-control" [(ngModel)]="deal_details.status" [ngModelOptions]="{ standalone: true }" readonly disabled>
                    <option value="draft">Draft</option>
                    <option value="pending_review">Pending review</option>
                    <option value="deal_submitted">Deal submitted</option>
                    <option value="pending_op">Pending OP</option>
                    <option value="pending_commission_check">Pending commission check</option>
                    <option value="payment_sent">Payment sent</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">Agent name</div>
                  <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.agent_name }}</div>
                </span>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">Date</div>
                  <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.date }}</div>
                </span>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">Deal no.</div>
                  <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.deal_no }}</div>
                </span>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                  <div class="col-md-6 title">Address</div>
                  <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.apt_address }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                  <div class="col-md-6 title">Apt.</div>
                  <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.apt_unit }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                  <div class="col-md-6 title">Price</div>
                  <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.apt_price | currency:'USD':'symbol' }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <div class="col-md-6 title">Management</div>
                <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.management }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <div class="col-md-6 title">Lease start</div>
                <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.lease_start }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                &nbsp;
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <div class="col-md-6 title">Client name</div>
                <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.client_name }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <div class="col-md-6 title">Phone</div>
                <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.client_phone }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <div class="col-md-6 title">Email</div>
                <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.client_email }}</div>
              </div>
              <div class="col-md-4 field-item p-5 m-0">
                <div class="col-md-6 title">Roommates</div>
                <div class="col-md-6 value">{{ deal_details.deal_sheet.basic_info.roommates }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Paperwork</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">Lease page 1</div>
                  <div class="col-md-6 value">
                    <span *ngIf="!deal_details.deal_sheet.paperwork.lease_pages.value">Not uploaded</span>
                    <a *ngIf="deal_details.deal_sheet.paperwork.lease_pages.value"
                       [href]="deal_details.deal_sheet.paperwork.lease_pages.url">
                      {{ deal_details.deal_sheet.paperwork.lease_pages.filename }}
                    </a>
                  </div>
                </span>
              </div>
              <div class="col-md-3 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">Lease page 2</div>
                  <div class="col-md-6 value">
                    <span *ngIf="!deal_details.deal_sheet.paperwork.lease_pages_2.value">Not uploaded</span>
                    <a *ngIf="deal_details.deal_sheet.paperwork.lease_pages_2.value"
                       [href]="deal_details.deal_sheet.paperwork.lease_pages_2.url">
                      {{ deal_details.deal_sheet.paperwork.lease_pages_2.filename }}
                    </a>
                  </div>
                </span>
              </div>
              <div class="col-md-3 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">DOS</div>
                  <div class="col-md-6 value">
                    <span *ngIf="!deal_details.deal_sheet.paperwork.dos.value">Not uploaded</span>
                    <a *ngIf="deal_details.deal_sheet.paperwork.dos.value"
                       [href]="deal_details.deal_sheet.paperwork.dos.url">
                      {{ deal_details.deal_sheet.paperwork.dos.filename }}
                    </a>
                  </div>
                </span>
              </div>
              <div class="col-md-3 field-item p-5 m-0">
                <span>
                  <div class="col-md-6 title">Commission check</div>
                  <div class="col-md-6 value">
                    <span *ngIf="!deal_details.deal_sheet.paperwork.commission_check.value">Not uploaded</span>
                    <a *ngIf="deal_details.deal_sheet.paperwork.commission_check.value"
                       [href]="deal_details.deal_sheet.paperwork.commission_check.url">
                      {{ deal_details.deal_sheet.paperwork.commission_check.filename }}
                    </a>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Commissions</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="p-t-20">
                  <div class="dis-inline-b fullwidth">
                    <div class="table-responsive">
                      <table class="table table-hover dataTable">
                        <thead>
                        <tr>
                          <th>Description</th>
                          <th>Fee</th>
                          <th>OP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let commission of deal_details.deal_sheet.commissions">
                          <td class="form-label">
                            {{ commission.description }}
                          </td>
                          <td>
                            <input class="form-control" type="text" [value]="formatCommissionValue(commission, 'fee')" readonly>
                          </td>
                          <td>
                            <input class="form-control" type="text" [value]="formatCommissionValue(commission, 'op')" readonly>
                          </td>
                        </tr>
                        <tr>
                          <td>Commission due to agent</td>
                          <td>
                            <input class="form-control" type="text" [value]="feeCommissionSum" readonly>
                          </td>
                          <td>
                            <input class="form-control" type="text" [value]="opCommissionSum" readonly>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Funds</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="p-t-20">
                  <label class="funds-status">Funds&nbsp;
                    <div class="btn-group">
                    <span class="btn btn-default"
                          [ngClass]="{ 'active': deal_details.deal_sheet.funds.paid }">have been</span>
                      <span class="btn btn-default"
                            [ngClass]="{ 'active': !deal_details.deal_sheet.funds.paid }">will be</span>
                    </div>
                    paid by:
                  </label>
                  <div class="row">
                    <div class="col-md-4" *ngFor="let method of deal_details.deal_sheet.funds.methods">
                    <span class="method-item">
                      <label class="pos-rel dis-inline text-nowrap">
                        <i class="far"
                           [ngClass]="{
                           'fa-check-square': method.checked,
                           'fa-square' : !method.checked
                         }"></i>
                        &nbsp;{{ method.label }}
                      </label>
                    </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <hr>
                    </div>
                    <div class="col-md-12">
                      Have you already given or deposited funds to PocketBroker?&nbsp;
                      <div class="btn-group">
                        <span class="btn btn-sm btn-default"
                              [ngClass]="{ 'active': deal_details.deal_sheet.funds.funds_previously_deposited }">Yes</span>
                        <span class="btn btn-sm btn-default"
                              [ngClass]="{ 'active': !deal_details.deal_sheet.funds.funds_previously_deposited }">No</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
<app-loader [loading]="loading"></app-loader>
